.speakers {
// ============================================================
// @speakers
// subhero
.speakers .subhero .container {
	padding-bottom: 10px;
	@media (max-width: 550px) {
		padding-bottom: 0;
	}
}
// speakers intro
.speakers-intro {
	margin-bottom: 30px;
}
.speakers-intro .speakers-signup {
	margin-top: -76px;
	margin-right: 0;
	float: right;
	@media (max-width: 960px) {
		margin: 20px 0 15px 0;
		float: none;
		display: table;
		width: auto;
	}
}
.speakers-intro .speakers-signup a {
	font-size: 16px;
	font-weight: 500;
	background: #fff;
	border: 1px solid #89be2e;
	display: block;
}
.speakers-intro .speakers-signup a button {
	border: none;
	background: none;
	padding: 4px 10px;
		font-family: 'Verlag A', 'Verlag B', verlag;
	
		margin-bottom:0;
		color:$linkcolor;
}
.speakers-intro .speakers-signup a:hover {
	background: #89be2e;
	color: #fff;
}

.speakers-intro .speakers-signup a:hover button {
	color:#fff;
}
.speakers-intro p {
	font-size: 18px;
}
// current-speakers
.current-speakers {
	display: table;
	width: 980px;
	margin-left: -15px;
	display: table;
	@media (max-width: 960px) {
		display:block;
		width:auto;
	}
	@media (max-width: 550px) {
		width: auto;
		padding-bottom: 0;
	}
}
.current-speakers a.current-speaker {
	display: block;
	float: left;
	background: #fff;
	margin-bottom:30px;
	color: #777;
	position: relative;
	box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1) inset, -1px -1px 0 rgba(0, 0, 0, 0.1) inset;
	@media (max-width: 960px) {
		display:block;
		width:auto;
		margin-bottom:20px;
	}
	@media (max-width: 550px) {
		margin-left: 20px;
		margin-bottom: 20px;
	}
}
.current-speakers a.current-speaker:after {
	display:none;
	border-radius: 100%;
	margin-right: 10px;
	margin-bottom: 12px;
	opacity: .9;
	padding: 8px 14px;
	background: #fff;
	color: #777;
	font-weight: 300;
	content: '...';
	float: right;
	position: absolute;
	right: 0;
	bottom: 0;
	width: 39px;
	overflow: hidden;
	text-align: right;
	white-space: nowrap;
	@media (max-width: 550px) {
		content: "More...";
		font-weight: bold;
		width: auto;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		color: #89BE2E;
		background: #fff;
		border: 1px solid #89BE2E;
	}
}
.current-speakers a.current-speaker:hover:after {
	color: #89be2e;
	opacity: 1;
}
.current-speakers a.current-speaker .speaker {
	width: 308px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 15px 18px 15px 15px;
	@media (max-width: 550px) {
		width:auto;
		padding-right:0;
		border: 1px solid #89BE2E;
	}
}
// @@
.current-speakers a.current-speaker:nth-of-type(3) {
	@media (min-width: 960px) {
		margin-right:0;
	}
}
.current-speakers a.current-speaker:nth-of-type(6) {
	@media (min-width: 960px) {
		margin-right:0;
	}
}
.current-speakers a.current-speaker:nth-of-type(9) {
	@media (min-width: 960px) {
		margin-right:0;
	}
}
.current-speakers a.current-speaker:nth-of-type(12) {
	@media (min-width: 960px) {
		margin-right:0;
	}
}
.current-speakers a.current-speaker:nth-of-type(15) {
	@media (min-width: 960px) {
		margin-right:0;
	}
}
.current-speakers a.current-speaker:nth-of-type(18) {
	@media (min-width: 960px) {
		margin-right:0;
	}
}
.current-speakers a.current-speaker:nth-of-type(21) {
	@media (min-width: 960px) {
		margin-right:0;
	}
}
.current-speakers a.current-speaker:nth-of-type(24) {
	@media (min-width: 960px) {
		margin-right:0;
	}
}
.current-speakers a.current-speaker:nth-of-type(27) {
	@media (min-width: 960px) {
		margin-right:0;
	}
}
.current-speakers a.current-speaker:nth-of-type(30) {
	@media (min-width: 960px) {
		margin-right:0;
	}
}
.current-speakers a.current-speaker:nth-of-type(33) {
	@media (min-width: 960px) {
		margin-right:0;
	}
}
.current-speakers a.current-speaker:nth-of-type(36) {
	@media (min-width: 960px) {
		margin-right:0;
	}
}
.current-speakers a.current-speaker:nth-of-type(39) {
	@media (min-width: 960px) {
		margin-right:0;
	}
}
.current-speakers a.current-speaker:nth-of-type(42) {
	@media (min-width: 960px) {
		margin-right:0;
	}
}
.current-speakers a.current-speaker:nth-of-type(45) {
	@media (min-width: 960px) {
		margin-right:0;
	}
}


.current-speakers a.current-speaker .speaker .speaker-top {
	@include clearfix;
}
.current-speakers a.current-speaker .speaker .speaker-top .speaker-image {
	width: 130px;
	height: 157px;
	margin-right: 10px;
	float:left;
	@media (max-width: 550px) {
		width: 120px;
		height: 145px;
	}
}
.current-speakers a.current-speaker .speaker .speaker-top .speaker-top-info {
	font-family: 'Verlag Cond A', 'Verlag Cond B', 'verlag condensed';
	margin-bottom: 0;
	float:right;
	width:135px;
	@include clearfix;
	@media (max-width: 550px) {
		float:left;
		margin-left:0;
		width:128px;
	}
}
.current-speakers a.current-speaker .speaker .speaker-top .speaker-top-info .speaker-name {
	font-size: 26px;
	color: #000;
	line-height: 29px;
	margin-bottom: 8px;
	font-weight: 400;
	@media (max-width: 550px) {
		font-size:22px;
	}
}
.current-speakers a.current-speaker .speaker .speaker-top .speaker-top-info .speaker-title {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 300;
	margin-right: 0;
	line-height: 18px;
	color: #999;
	margin-bottom: 8px;
}
.current-speakers  .speaker-company {
	font-size: 24px;
	color: #999;
	line-height: 24px;
	@media (max-width: 550px) {
		font-size:22px;
	}
}
a[href$="ClausLehmann"] {
	.speaker-company {
		font-size:20px;
	}
}
a[href$="DanielRajkumar"] {
	.speaker-company {
		font-size:20px;
		font-family: 'Verlag Comp A', 'Verlag Comp B', 'verlag compressed';
		

	}
}

.current-speakers a.current-speaker:hover {
	background: #fff;
	box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2) inset, -1px -1px 0 rgba(0, 0, 0, 0.2) inset;
}
.current-speakers a.current-speaker:active {
	opacity: .8;
}
.current-speakers a.current-speaker {
	margin-right: 20px;
	@media (max-width: 767px) {
		margin-left:10px;
		margin-right:0;
	}
	@media (max-width: 550px) {
		margin-right: 0;
	}
}
.current-speakers a.current-speaker:last-of-type {
	@media (min-width:960px) {
		margin-right:0;
		margin-left: 0;
	}
}
.current-speaker-bio {
	padding-bottom: 0;
	overflow: hidden;
	height: 100%;
}
.show-more-height {
	height:0;
}
// past-speakers
.past-speakers {
	background: #fff;
	max-width: 1207px;
	margin: auto;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	@media (max-width: 550px) {
		border: none;
	}
}
.past-speakers .container {
	margin-left: -40px;
	padding-bottom: 30px;
	width: 1000px;
	margin: auto;
	@media (max-width: 960px) {
		display:block;
		width:auto;
	}
	@media (max-width: 550px) {
		width: auto;
	}
}
.past-speakers .container h2 {
	padding-left: 20px;
	font-family: 'Verlag A', 'Verlag B', 'verlag';
	font-weight: 600;
	font-size: 18px;
	text-transform: uppercase;
	margin-top: 40px;
	margin-bottom: 10px;
	@media (max-width: 550px) {
		font-size: 20px;
		margin-top: 30px;
		margin-bottom: 20px;
		padding-left: 0;
	}
}
.past-speakers .container .speaker {
	width: 180px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 270px;
	padding: 15px 15px 15px 15px;
	margin: 5px 8px 20px 5px;
	float: left;
	@media (max-width: 550px) {
		width: auto;
		border: 1px solid #89BE2E;
		float: none;
		margin: 0;
		padding: 10px 0 10px 10px;
		height: 140px;
		margin-bottom: 15px;
		position: relative;
	}
}
.past-speakers .container .speaker:after {
	@media (max-width: 550px) {
		display:none;
		content: "More...";
		font-weight: bold;
		width: auto;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		color: #89BE2E;
		background: #fff;
		position: absolute;
		right: 0;
		bottom: 8px;
		margin-right: 10px;
		float: right;
	}
}
.past-speakers .container .speaker a {
	color: #777;
}
.past-speakers .container .speaker a:hover {
	text-decoration: none;
	color: #777;
}
.past-speakers .container .speaker .speaker-top .speaker-image {
	height: 150px;
	width: 150px;
	display: block;
	margin-bottom: 8px;
	@media (max-width: 550px) {
		float: left;
		width: 120px;
		height: 120px;
	}
}
.past-speakers .container .speaker .speaker-top .speaker-top-info .speaker-name {
	font-weight: 600;
	color: #000;
}
.past-speakers .container .speaker .speaker-top .speaker-top-info {
	@media (max-width: 550px) {
		margin-left: 0;
		float: left;
		margin-left: 10px;
		width: 140px;
	}
}
.past-speakers .container .speaker .speaker-top .speaker-bio {
	display: none;
}
.past-speakers .container .speaker:hover {
	box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2) inset, -1px -1px 0 rgba(0, 0, 0, 0.2) inset;
	background: #fafafa;
}
.past-speakers .container .speaker:hover a {
	text-decoration: none;
}
.past-speakers .container .speaker:active {
	opacity: .8;
}
.past-speakers .container .speaker:active a {
	text-decoration: none;
}
// cbox
#cboxWrapper {
	@media (max-width: 550px) {
		max-width: 320px;
		position: fixed;
	}
}
#cboxContent {
	@media (max-width: 550px) {
		max-width: 320px;
		height: 530px !important;
		box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
	}
}
#cboxOverlay {
	top: 0 !important;
	height: 100%;
	position: absolute;
	width: 100%;
	opacity: .12;
	background: #fff;
	z-index: 1031;
	@media (max-width: 550px) {
		opacity: 1 !important;
	}
}
#colorbox {
	outline: none;
	background: rgba(0, 0, 0, 0.15);
	z-index: 1032;
	@media (max-width: 550px) {
		top: 0 !important;
		max-width: 320px;
		background: none;
		left: 50% !important;
		margin-left: -160px;
	}
}
#cboxCurrent {
	display: none !important;
}
#cboxPrevious {
	top: 45px;
	left: 301px;
	position: absolute;
	border: none;
	background: none;
	color: #89be2e;
	text-transform: capitalize;
	font-weight: 300;
	font-family: 'Verlag A', 'Verlag B', 'verlag';
	padding:0;
	
	@media (max-width: 550px) {
		left: 0px;
		top: 0;
		font-weight: 600;
		font-size: 20px;
		font: 0/0 a;
		text-shadow: none;
		color: transparent;
		height: 42px;
		width: 42px;
	}
}
#cboxPrevious:before {
	content: '\f104';
	padding-right: 5px;
	float: left;
	font-family: fontawesome;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	@media (max-width: 550px) {
		content: '\f104';
		font-size: 46px;
		line-height: .8em;
		top: 5px;
		width: 60px;
		position: absolute;
		left: 20px;
		font-family: fontawesome;
		display: block;
		height: 38px;
		color: #89BE2E;
		font-weight: 100;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		background: #eee;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	}
}
#cboxNext {
	top: 45px;
	right: 307px;
	position: absolute;
	border: none;
	background: none;
	color: #89be2e;
	text-transform: capitalize;
	font-weight: 300;
	font-family: 'Verlag A', 'Verlag B', 'verlag';
	padding:0;
	
	@media (max-width: 550px) {
		right: 180px;
		font-weight: 600;
		font-size: 20px;
		top: 0;
		height: 42px;
		width: 42px;
		font: 0/0 a;
		text-shadow: none;
		color: transparent;
	}
}
#cboxNext:after {
	float: right;
	padding-left: 5px;
	content: '\f105';
	font-family: fontawesome;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
#cboxNext:before {
	@media (max-width: 550px) {
		content: '\f105';
		font-size: 46px;
		line-height: .8em;
		top: 5px;
		width: 60px;
		position: absolute;
		left: 0;
		font-family: fontawesome;
		display: block;
		height: 38px;
		color: #89BE2E;
		font-weight: 100;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		background: #eee;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	}
}
#cboxClose {
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
	background: url(close-colorbox.png) 10px 8px no-repeat;
	background-size: 14px;
	right: 45px;
	top: 44px;
	position: absolute;
	border: none;
	height: 34px;
	width: 34px;
	@media (max-width: 550px) {
		top: 4px;
		right: 15px;
		width: 60px;
		height: 40px;
		background-size: 28px;
		background-color: #eee;
		background-position: 15px 7px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	}
}
.speaker-colorbox-title {
	position: absolute;
	top: 32px;
	font-weight: 600;
	text-transform: uppercase;
	@media (max-width: 550px) {
		font-size: 20px;
		text-align: left;
		position: static;
		width: 100%;
		margin-top: 20px;
		margin-bottom: 15px;
	}
}
#colorbox #cboxWrapper #cboxLoadedContent {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	@media (max-width: 550px) {
		max-width: 320px;
		border: 1px solid #fff;
		height: 530px !important;
		border-top: 48px solid #fff;
	}
}
#colorbox #cboxWrapper #cboxLoadedContent:before {
	@media (max-width: 550px) {
		content: '\00A0';
		position: absolute;
		top: 12px;
		padding-top: 2px;
		font-weight: 600;
		text-transform: uppercase;
		text-align: center;
		display: block;
		width: 100%;
		padding-bottom: 11px;
		border-bottom: 1px solid #ddd;
	}
}
#colorbox #cboxWrapper #cboxLoadedContent .speaker-container {
	position: relative;
	margin: 15px 15px 0 15px;
	height: 400px;
	padding: 30px;
	background: #fff;
	box-sizing: border-box;
	@include clearfix;
	@media (max-width: 550px) {
		height: auto;
		margin: 0;
		padding: 0 20px;
		overflow: visible;
		font-size: 18px;
	}
}
#colorbox #cboxWrapper #cboxLoadedContent .speaker-container:before {
	content: '\00A0';
	text-transform: uppercase;
	display: block;
	font-family: 'Verlag A', 'Verlag B', verlag;
	font-weight: 600;
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 20px;
	z-index: 2;
	@media (max-width: 550px) {
		display: none;
	}
}
#colorbox #cboxWrapper #cboxLoadedContent .speaker-container .speaker-top-info {
	float: left;
	vertical-align: top;
	width: 150px;
	@media (max-width: 550px) {
		width: auto;
		float: none;
	}
}
#colorbox #cboxWrapper #cboxLoadedContent .speaker-container .speaker-top-info .speaker-image {
	height: 150px;
	width: 150px;
	margin-bottom: 10px;
	margin-top: 8px;
	@media (max-width: 550px) {
		width: 187px;
		height: 187px;
	}
}
#colorbox #cboxWrapper #cboxLoadedContent .speaker-container .speaker-top-info .speaker-image-lg {
	width: 137px;
	height: 166px;
	margin-bottom: 10px;
	margin-top: 8px;
	@media (max-width: 550px) {
		width: 182px;
		height: 221px;
	}
}
#colorbox #cboxWrapper #cboxLoadedContent .speaker-container .speaker-top-info .speaker-name {
	font-weight: 600;
	color: #000;
}
#colorbox #cboxWrapper #cboxLoadedContent .speaker-container .speaker-bio-mask {
	background: #c00;
	position: absolute;
	border-bottom: 0;
	background: #fff;
	width: 520px;
	right: 20px;
	top: 0;
	height: 80px;
	@media (max-width: 550px) {
		width: 275px;
		left: 0;
		display: none;
	}
}
#colorbox #cboxWrapper #cboxLoadedContent .speaker-container .speaker-bio-text {
	background: url(modal-shadow.png) 0 80px no-repeat;
	position: relative;
	float: left;
	vertical-align: top;
	top: 0;
	right: 0;
	position: absolute;
	padding-top: 76px;
	width: 530px;
	padding-right: 40px;
	height: 400px;
	overflow: auto;
	@media (max-width: 550px) {
		width: auto;
		position: static;
		padding-top: 20px;
		float: none;
		height: auto;
		padding-right: 0;
		background: #fff;
	}
}
#colorbox #cboxWrapper #cboxLoadedContent .speaker-container .speaker-bio-text .speaker-bio-text-inner {
	margin-top: 70px;
	background: url(modal-shadow-cover.png) 0 0 no-repeat;
	margin-top: 2px;
	padding-bottom: 40px;
	@media (max-width: 550px) {
		background: none;
	}
}
}
