


.conferences {
	//@agenda
	.home-agenda {
		> h2 {
			margin-top:0;
			text-align:center;
			border-bottom:1px solid #ddd;
			padding-top:.5em;
			padding-bottom:.5em;
			margin:0;
		}

	}
	.home-agenda-tabs {
		display:table;
		width:100%;
		margin:0;
		h3 {
			font-family: 'Verlag A', 'Verlag B', verlag;
			margin:0;
			color:#89be2e;
			display:table-cell;
			width:50%;
			vertical-align:middle;
			text-align:center;
			text-transform:uppercase;
			font-size:16px;
			font-weight:600;
			padding:10px 12px;
			border-bottom:1px solid #ddd;
			background:#eee;
			cursor:pointer;
			cursor:hand;
			border-left:1px solid #ddd;
			&:hover {
				background:#89be2e;
				color:#fff;
			}
			&:first-of-type {
				border-left:none;
			}
			&.on {
				background:#fff;
				border-bottom:none;
				color:#333;
			}
		}
	}
	.off {
		display: none;
	}
	.home-agenda {
		table[class$="agenda"] {
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			border:none;
			tr {
				background:none;
			}
			td {
				vertical-align:top;
				padding-top:9px;
				padding-bottom:9px;
				font-size:1em;
			}
			tr:first-of-type td {
				padding-top:20px;
			}
			tr:last-of-type td {
				padding-bottom:20px;
			}
			td:first-of-type {
				font-weight:200;
				color:#999;
				min-width:90px;
				text-align:right;
				padding-right:12px;
			}
			td:last-of-type {
				padding-right:12px;
				font-weight:600;
			}
		}
	}
	// hero
	// hero buttons/announcements
	// button register
	.button-register {
		margin-top: 10px;
		background: rgba(0, 0, 0, 0.3);
		@media (max-width: 960px) {
			display: inline-block;
			width: auto;
			box-shadow: none;
			background: none;
			text-align: left;
			width: 94%;
		}
		@media (max-width: 767px) {
			float: right;
			margin-right: 8px;
			margin-bottom: 8px;
			width: 152px;
		}
		@media (max-width: 550px) {
			margin-bottom: 0;
			margin-left: 0;
			float: none;
			margin-right: 0;
			text-align: center;
			display: inline-block;
		}
	}
	.button-register a {
		box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 rgba(255, 255, 255, 0.3) inset;
		padding: 10px 0 8px 15px;
		display: block;
		text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
		@media (max-width: 960px) {
			padding: 10px;
			text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2);
			opacity: .9;
			-webkit-border-radius: 2px;
			-moz-border-radius: 2px;
			border-radius: 2px;
			background: #89BE2E;
			background: -moz-radial-gradient(center, ellipse cover, #9eda00 0%, #66be29 100%);
			/* FF3.6+ */
			background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #9eda00), color-stop(100%, #66be29));
			/* Chrome,Safari4+ */
			background: -webkit-radial-gradient(center, ellipse cover, #9eda00 0%, #66be29 100%);
			/* Chrome10+,Safari5.1+ */
			background: -o-radial-gradient(center, ellipse cover, #9eda00 0%, #66be29 100%);
			/* Opera 12+ */
			background: -ms-radial-gradient(center, ellipse cover, #9eda00 0%, #66be29 100%);
			/* IE10+ */
			background: radial-gradient(ellipse at center, #9eda00 0%, #66be29 100%);
			/* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9eda00', endColorstr='#66be29', GradientType=1 );
			box-shadow: none;
			padding-left: 15px;
		}
		@media (max-width: 550px) {
			padding-left: 10px;
		}
	}
	.button-register a:before {
		margin-left: -50px;
		margin-top: -10px;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		background: url(fontawesome-angle.png) -52px center no-repeat;
		float: right;
		width: 46px;
		content: '\00A0';
		height: 65px;
		box-shadow: -1px 0 0 rgba(255, 255, 255, 0.3);
		opacity: .95;
		@media (max-width: 960px) {
			display: none;
		}
	}
	.button-register a:hover {
		background: #000;
		text-decoration: none;
		box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.4) inset, 0 1px 0 rgba(255, 255, 255, 0.4) inset;
		@media (max-width: 960px) {
			background:#86bd33;
			opacity: 1;
			box-shadow: none;
		}
	}
	.button-register a:hover:before {
		opacity: 1;
		background-position: 18px center;
		transition: all .2s ease-in-out;
		box-shadow: 1px 0 0 rgba(255, 255, 255, 0.4);
		background-color: #91E41D;
	}
	.button-register a span {
		color: #fff;
		text-transform: uppercase;
		display: block;
		font-weight: 500;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		@media (max-width: 960px) {
			font-family: 'Verlag A', 'Verlag B', verlag;
			line-height: 20px;
			font-size: 14px;
			color: #000;
			font-size: 13px;
			font-weight: 600;
		}
	}
	.button-register a strong {
		color: #89be2e;
		display: block;
		font-size: 20px;
		font-weight: 400;
		color: #91E41D;
		font-family: 'Verlag Cond A', 'Verlag Cond B', 'verlag condensed';
		font-size: 36px;
		line-height: 1em;
		@media (max-width: 960px) {
			font-size: 18px;
			line-height: 24px;
			font-family: 'Verlag Cond A', 'Verlag Cond B', 'verlag condensed';
			color: #000;
			font-family: 'Verlag Cond A', 'Verlag Cond B', 'verlag condensed';
			font-weight: 600;
		}
	}
	.button-register a:before {
		height: 75px;
	}
	// button recap
	.button-recap {

		margin-top: 10px;
		background: rgba(0, 0, 0, 0.3);
		@media (max-width: 960px) {
			display: inline-block;
			width: auto;
			box-shadow: none;
			background: none;
			text-align: left;
			width: 94%;
		}
		@media (max-width: 767px) {
			float: right;
			margin-right: 8px;
			margin-bottom: 8px;
			width: 152px;
		}
		@media (max-width: 550px) {
			margin-bottom: 0;
			margin-left: 0;
			float: none;
			margin-right: 0;
			text-align: center;
			display: inline-block;
		}
	}
	.button-recap a {
		box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 rgba(255, 255, 255, 0.3) inset;
		padding: 10px 0 8px 15px;
		display: block;
		text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
		@media (max-width: 960px) {
			padding: 10px;
			text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2);
			opacity: .9;
			-webkit-border-radius: 2px;
			-moz-border-radius: 2px;
			border-radius: 2px;
			background: #89BE2E;
			background: -moz-radial-gradient(center, ellipse cover, #9eda00 0%, #66be29 100%);
			/* FF3.6+ */
			background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #9eda00), color-stop(100%, #66be29));
			/* Chrome,Safari4+ */
			background: -webkit-radial-gradient(center, ellipse cover, #9eda00 0%, #66be29 100%);
			/* Chrome10+,Safari5.1+ */
			background: -o-radial-gradient(center, ellipse cover, #9eda00 0%, #66be29 100%);
			/* Opera 12+ */
			background: -ms-radial-gradient(center, ellipse cover, #9eda00 0%, #66be29 100%);
			/* IE10+ */
			background: radial-gradient(ellipse at center, #9eda00 0%, #66be29 100%);
			/* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9eda00', endColorstr='#66be29', GradientType=1 );
			box-shadow: none;
			padding-left: 15px;
		}
		@media (max-width: 550px) {
			padding-left: 10px;
		}
	}
	.button-recap a:before {
		margin-left: -50px;
		margin-top: -9px;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		background: url(fontawesome-angle.png) -52px center no-repeat;
		float: right;
		width: 46px;
		content: '\00A0';
		height: 66px;
		box-shadow: -1px 0 0 rgba(255, 255, 255, 0.3);
		opacity: .95;
		@media (max-width: 960px) {
			display: none;
		}
	}
	.button-recap a:hover {
		background: #000;
		text-decoration: none;
		box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.4) inset, 0 1px 0 rgba(255, 255, 255, 0.4) inset;
		@media (max-width: 960px) {
			background:#86bd33;
			opacity: 1;
			box-shadow: none;
		}
	}
	.button-recap a:hover:before {
		opacity: 1;
		background-position: 18px center;
		transition: all .2s ease-in-out;
		box-shadow: 1px 0 0 rgba(255, 255, 255, 0.4);
		background-color: #91E41D;
	}
	.button-recap a span {
		color: #fff;
		text-transform: uppercase;
		display: block;
		font-weight: 500;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		@media (max-width: 960px) {
			font-family: 'Verlag A', 'Verlag B', verlag;
			line-height: 20px;
			font-size: 14px;
			color: #000;
			font-size: 13px;
			font-weight: 600;
		}
	}
	.button-recap a strong {
		color: #89be2e;
		display: block;
		font-size: 20px;
		font-weight: 400;
		color: #91E41D;
		font-family: 'Verlag Cond A', 'Verlag Cond B', 'verlag condensed';
		@media (max-width: 960px) {
			font-size: 18px;
			line-height: 24px;
			font-family: 'Verlag Cond A', 'Verlag Cond B', 'verlag condensed';
			color: #000;
			font-family: 'Verlag Cond A', 'Verlag Cond B', 'verlag condensed';
			font-weight: 600;
		}
	}
	// save date
	.save-date {
		margin-top: 5px;
		@media (max-width: 960px) {
			display: inline-block;
			width: auto;
			box-shadow: none;
			background: none;
			text-align: left;
			display: block;
			padding-left: 10px;
			margin-top: 0;
		}
		@media (max-width: 767px) {
			margin-top: 10px;
			float: left;
		}
		@media (max-width: 550px) {
			margin: 0;
			padding-left: 0;
			text-align: center;
			float: none;
		}
	}
	.save-date > div {
		padding: 10px 0 8px 15px;
		display: block;
		text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
		@media (max-width: 960px) {
			padding: 10px;
			text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2);
		}
		@media (max-width: 767px) {
			padding-right: 0;
		}
		@media (max-width: 550px) {
			padding-left: 0;
		}
	}
	.save-date span {
		color: #fff;
		text-transform: uppercase;
		display: block;
		font-weight: 500;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		@media (max-width: 960px) {
			font-family: 'Verlag A', 'Verlag B', verlag;
			line-height: 20px;
			font-size: 14px;
			font-size: 13px;
			font-weight: 600;
		}
	}
	.save-date strong {
		color: #89be2e;
		display: block;
		font-size: 20px;
		font-weight: 400;
		color: #91E41D;
		font-family: 'Verlag Cond A', 'Verlag Cond B', 'verlag condensed';
		color: #fff;
		@media (max-width: 960px) {
			font-size: 18px;
			line-height: 24px;
			font-family: 'Verlag Cond A', 'Verlag Cond B', 'verlag condensed';
			font-family: 'Verlag Cond A', 'Verlag Cond B', 'verlag condensed';
			font-weight: 600;
		}
	}
	// homepage main content
	// homepage col1
	.container .col1 {
		float: left;
		width: 540px;
		@media (max-width: 960px) {
			float: none;
			width: auto;
		}
	}
	.container .col1 .intro {
		font-weight: 500;
	}
	.container .col1 .secondary {
		font-size: 16px;
		@media (max-width: 550px) {
			font-size: 18px !important;
			line-height: 130%;
			font-weight: 400;
			margin: 1em 0;
		}
	}
	.container .col1 .secondary a {
		font-weight: bold;
	}
	// homepage col2
	.container .col2 {
		float: right;
		width: 300px;
		@media (max-width: 960px) {
			margin-top:25px;
			float: none;
			width: auto;
			&:before {
				font-size: 24px;
				font-family: 'Verlag Cond A', 'Verlag Cond B', 'verlag condensed';
				font-weight: 600;
				margin-top: 20px;
				display: block;
			}
		}
	}
	.container .col2 p {
		font-weight: 500;
	}
	.col2 ul {
		@media (max-width: 550px) {
			padding-left: 18px;
		}
	}
	.col2 li {
		margin-bottom: 4px;
		@media (max-width: 550px) {
			margin-bottom: .4em;
			line-height: 1.25em;
		}
	}
}
