
// begin home
// ============================================================
.conferences {
	padding: 0 0 0 0;
	@media (max-width: 767px) {
		padding: 0 0 0 0;
	}
	@media (max-width: 550px) {
		padding: 0 0 0 0;
	}
	main {
		background: #eee;
		@media (max-width: 550px) {
			background: none;
		}
	}
	section {
		background: #fff;
		max-width: 1207px;
		margin: auto;
		padding-top:40px;
		padding-bottom: 50px;
		border-left: 1px solid #ccc;
		border-right: 1px solid #ccc;
	}
	h1 {
		margin-top: 0;
		margin-bottom: .75em;
		color: #000;
		font-size: 38px;
		@media (max-width: 550px) {
			font-size: 24px;
			padding: 0;
			padding-top: 30px;
			margin-left: 15px;
			margin-bottom: 0;
			margin-bottom: 10px;
			margin-right: 15px;
			border: none;
			background: #fff;
			text-align: center;
		}
	}
	h1 span {
		font-family: 'Verlag Cond A', 'Verlag Cond B', 'verlag condensed';
		font-weight: 200;
	}
	// nav
	nav .container .nav-logo {
		display: none;
	}
	nav .container ul {
		margin-top: 20px;
	}
	// header
	header {
		min-width: 960px;
		background: #eeeeee url(https://s3-us-west-2.amazonaws.com/lendit/home/hero-2014-london.jpg) center center no-repeat;
		background-size: 1207px 451px;
		min-height: 400px;
		@media (max-width: 960px) {
			min-width: 0;
			display: table;
			width: 100%;
			background-position: -180px -50px;
			min-height: 0;
		}
		@media (max-width: 550px) {
			background-position: -910px -130px;
			background-size: 2173px 812px;
		}
	}
	header.nyc {
		background: #eeeeee url(https://s3-us-west-2.amazonaws.com/lendit/hero-2015-nyc.jpg) center center no-repeat;
		background-size: 1207px 451px;
	}
	header .container {
		width: 960px;
		height: 400px;
		margin: auto;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		@media (max-width: 960px) {
			width: auto;
			display: table-cell;
			vertical-align: bottom;
			padding-right: 0;
			padding-left: 0;
			height: 380px;
			background: url(LendIt-tagline-white-2.png) 20px 80px no-repeat;
			// background: url(https://s3-us-west-2.amazonaws.com/lendit/LendIt-tagline.png) 20px 80px no-repeat;
			background-size: 374px ;
			width: auto;
			padding-top: 0;
		}
		@media (max-width: 550px) {
			background-position: center 60px;
			background-size: 300px ;
			height: 350px;
		}
	}
	header .container .logo {
		margin-top: 110px;
		background: url(LendIt-tagline-white-2.png) left center no-repeat;
		// background: url(https://s3-us-west-2.amazonaws.com/lendit/LendIt-tagline.png) left center no-repeat;
		background-size: 415px ;
		padding-left: 210px;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		width: 420px;
		padding-top: 28px;
		height: 148px;
		float: left;
		font-family: 'Verlag A', 'Verlag B', verlag;
		font-size: 32px;
		font-weight: 550;
		color: #fff;
		text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
		@media (max-width: 960px) {
			display: none;
			float: none;
			margin: 0 0 30px 0;
			padding-top: 0;
		}
	}
	header .container .logo i {
		color: #89be2e;
		font-weight: 200;
	}
	header .container .header-buttons {
		height: 400px;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		background: rgba(0, 0, 0, 0.5);
		box-shadow: -1px 0 0 rgba(255, 255, 255, 0.2), 1px 0 0 rgba(255, 255, 255, 0.2);
		padding-top: 125px;
		width: 300px;
		float: right;
		width: 300px;
		@media (max-width: 960px) {
			width: auto;
			height: 400px;
			padding-top: 100px;
			width: 29%;
			min-width: 230px;
			display: block;
			text-align: center;
			box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
		}
		@media (max-width: 767px) {
			width: 100%;
			height: auto;
			padding-top: 0;
		}
	}
	// ============================================================
	// end home
}

