$hero-button-grey:#ddd;
$hero-button-green:#89be2e;
$hero-button-orange:orange;
.hero {
	display: table;
	//		background: url(hero-2015-china.jpg) top center no-repeat;
	background-size: cover;
	min-height: 340px;
	width: 100%;
	margin-bottom: 40px;
}
.hero-inner {
	display: table-cell;
	vertical-align: middle;
	padding-top: 30px;
	padding-bottom: 30px;
}
.hero-content {
	display: table;
	margin: auto;
}
@media screen and (min-width: 700px) {
	.hero-content {
		width: 85%;
	}
}
@media screen and (min-width: 700px) {
	.hero-content > div {
		vertical-align: middle;
		display: table-cell;
		width:50%;
	}
	.hero-content > ul {
		vertical-align: middle;
		display: table-cell;
		width:50%;
	}
	
}
.logo-image {
	display: table;
	margin: 0 auto;
}
@media screen and (max-width: 700px) {
	.logo-image {
		margin: 0 auto 30px auto;
	}
}
.logo-image img {
	max-width: 310px;
	@media screen and (max-width: 500px) {
		max-width: 260px;
	}
	margin-left: 30px;
	margin-right: 30px;
}
.hero-content ul {
	list-style-type:none;
	margin:0;
	padding:0;
	font-family:'Open Sans', sans-serif;
	li {
		padding:0;
		margin:0;
		display:table;
		width:100%;
		padding-left:6px;
		padding-right:6px;
		max-width:300px;
		margin:10px auto;
		a, span {
			text-rendering: optimizeLegibility;
			-webkit-border-radius: 2px;
			-moz-border-radius: 2px;
			border-radius: 2px;
			vertical-align:middle;
			display:table-cell;
			line-height:1.1em;
			font-size:16px;
			padding:7px 10px 7px 46px;
			height: 46px;
			position:relative;
			&:before {
				content: '\f0a9';
				-webkit-font-smoothing: antialiased;
				-webkit-transform: matrix(1, 0, 0, 1, 0, 0);
				font-family: FontAwesome;
				font-size: 28px;
				font-stretch: normal;
				font-style: normal;
				font-variant: normal;
				font-weight: normal;
				height: 28px;
				line-height: 28px;
				text-rendering: auto;
				transform: matrix(1, 0, 0, 1, 0, 0);
				width: 26px;
				position:absolute;
				top:9px;
				left:8px;
				width: 30px;
				text-align:center;
			}
			label {
				text-rendering: optimizeLegibility;
				text-transform:uppercase;
				letter-spacing:.5px;
				line-height:1.2em;
				display:block;
				font-size:12px;
				padding-bottom:2px;
			}
		}
		span {
			background: rgba(61, 61, 51, .95)  ;
			box-shadow:0 0 1px $hero-button-grey;
			color:$hero-button-grey;
			&:before {
				content: '\f05a';
				color:#ddd;
			}
			label {
				color:#ddd;
			}
		}
		a {
			border:1px solid lighten($hero-button-green, 20%);
			box-shadow:0 2px 4px rgba(0, 0, 0, 0.3)  ;
			text-shadow:0 1px 2px rgba(0, 0, 0, 0.4);
			background-color:$hero-button-green;
			color:#fff;
			font-weight:600;
			&:before {
				text-shadow:0 1px 2px rgba(0, 0, 0, 0.3);
				content: '\f0a9';
				color:#fff;
			}
			label { 
				color:#fff;
			}
			&:hover,
			&:focus,
			&:active {
				background-color:darken($hero-button-green,8%);
				text-decoration:none;
			}
		}
	}
	.green {
		span {
			color:lighten($hero-button-green,10%);
			&:before {
				color:lighten($hero-button-green,10%);
			}
			label {
				color:lighten($hero-button-green,10%);
			}
		}
	}
	.grey,.gray {
		span {
			color:$hero-button-grey;
			&:before {
				color:$hero-button-grey;
			}
			label {
				color:$hero-button-grey;
			}
		}
		a {
			background-color:$hero-button-grey;
			border:1px solid lighten($hero-button-grey, 20%);
			color:#fff;
			&:hover,
			&:focus,
			&:active {
				background-color:darken($hero-button-grey,8%);
				text-decoration:none;
			}
		}
	}
	.orange {
		span {
			color:$hero-button-orange;
			&:before {
				color:$hero-button-orange;
			}
			label {
				color:$hero-button-orange;
			}
		}
		a {
			background-color:$hero-button-orange;
			border:1px solid lighten($hero-button-orange, 20%);
			color:#fff;
			&:hover,
			&:focus,
			&:active {
				background-color:darken($hero-button-orange,8%);
				text-decoration:none;
			}
		}
	}
	.exclaim {
		a,span {
			&:before {
				content:'\f06a';
			}
		}
	}
	.calendar {
		a,span {
			&:before {
				content:'\f073';
			}
		}
	}
}
