.pg-photos {
	.row-wide {
		max-width:1150px;
	}
	.general-background {
		padding-bottom:40px;
		font-family:'Open Sans', sans-serif;
		font-size:18px;
		h1 {
		font-family:'Open Sans', sans-serif;
		}
	}
}
