.team {
	.general-background {
		padding-bottom:3em;
		font-family:'Open Sans', sans-serif;
	}
	h1 {
		font-family:'Open Sans', sans-serif;
		margin-bottom:1em;
	}
		.lendit-team-level1 {
			display:table;
			margin:auto;
			max-width:800px;
		
		.headshot img {
			-webkit-border-radius: 100%;
			-moz-border-radius: 100%;
			border-radius: 100%;
		}

		li {
			text-align:center;
			b {
				display:block;
				font-weight:600;
			}
			i {
				display:block;
				font-style:normal;
			} 
			.name-title {
				padding-top:.5em;
				font-size:18px;
			}
		}
	}
	.lendit-team-level2 {
		display:table;
		margin:auto;
		max-width:800px;
		
		.headshot img {
			-webkit-border-radius: 100%;
			-moz-border-radius: 100%;
			border-radius: 100%;
			box-shadow:0 1px 3px rgba(0, 0, 0, 0.2)  ;
		}

		li {
			text-align:center;
			b {
				display:block;
				font-weight:600;
			}
			i {
				display:block;
				font-style:normal;
			} 
			.name-title {
				padding-top:.5em;
				font-size:16px;
			}
		}
	}
}
