// ============================================================
// @terms
.terms-of-use {
	max-width: 1207px;
	margin: auto;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding-top: 40px;
	padding-bottom: 40px;

	h6 {
	font-family: 'Verlag A', 'Verlag B', verlag;
		font-size:18px;
		font-weight:600;
	}
}
