<%= title "LendIt Job Page - Speakers Manager for LendIt Conference" %>
<% meta_description "LendIt Conference helps you learn, network, and connect with top internet finance leaders in China. Register now to reserve your spot and get the best rates. Join our growing LendIt team in producing the largest online lending conference in the world." %>
<% meta_keywords "p2p, online lending, peer-to-peer, LendIt, speakers, LendIt Conference" %>
<% body_class "pg-jobs pg-jobs-sub" %>
<div class="general-background">
  <div class="row">
    <div class="columns">
      <div class="job-nav">
        <a href="/jobs">Jobs</a>
      </div>

      <h1>Speaker Manager</h1>

      <div class="job-section job-metadata">
        <div><b>Position Type:</b> Full-Time</div>
        <!--  <div><b>Level/Salary:</b> $75,000</div> -->
        <div><b>Start Date:</b> Immediate</div>
        <div><b>Travel Required:</b> Yes</div>
        <div><b>Location: </b>NYC</div>
        <div><b>Date Posted:</b> June 16, 2015</div>
      </div>

      <div class="job-section job-inquiries">

        <a href="mailto:joy@lendit.co"><button>Apply Now</button></a>


      </div>

      <div class="job-section">
        <h2>
          Role and Responsibilities
        </h2>
        <p>LendIt (http://www.lendit.co/), the definitive annual event for the rapidly growing online lending industry is hiring a full-time speaker manager to support the development of LendIt’s event programs and blog - through speaker acquisition, market research and relationship building.
        </p>
        <h3>About LendIt</h3>
        <p>LendIt hosts three events a year in the USA, Europe, and China. Our flagship event, LendIt USA is expected to attract more than 3,500 attendees, 150 sponsors & exhibitors and 200 speakers in 2016.
        </p>
        <p>LendIt is not your typical events company. Its founding partners are all active industry participants commentating, writing, analyzing and investing in all things P2P & online lending. </p>
        <p>LendIt has two offices located in New York City and Denver and 10 full-time employees. LendIt employees have an incredible work-life balance and may telecommute up to 3-4 days a week. </p>
        <p>Day-to-day activities will include:</p>
        <ul>
          <li>Conduct research calls with industry professionals to verify topics and shape the conference program</li>
          <li>Invite and confirm high quality industry speakers</li>
          <li>Help prepare all conference speakers prior to the event</li>
          <li>Write forward thinking, content-driven agendas</li>
          <li>Curate content for the event blog and newsletter</li>
          <li>Keep up-to-date on market and deal activity</li>
          <li>Assist with building and maintaining our contact database of key industry figures</li>
          <li>Manage and ‘MC’ at least one conference stream during the live event</li>
          <li>Keep clear, accurate records of progress</li>
          <li>Maximize the positive experience for our speakers by working with them onsite to effect introductions and meet their needs</li>
          <li>Leverage industry relationships into ongoing leads and referrals</li>
        </ul>

      </div>
      <div class="job-section">
        <h2>
          Qualifications and Education Requirements
        </h2>
        <ul>
          <li>A bachelor's degree</li>
          <li>At least 2 years of experience working in FinTech, Finance or Technology</li>
          <li>Strong written and verbal communication skills</li>
          <li>Strong analytical skills</li>
        </ul>

      </div>

      <p>Have what it takes to join the LendIt team? Send your resume and cover letter to <a href="mailto:joy@lendit.co">joy@lendit.co</a>.</p>

      <a href="mailto:joy@lendit.co"><button>Apply Now</button></a>

    </div>
  </div>
</div>
