<%= title "LendIt Job Page - VP of Finance for LendIt Conference" %>
<% meta_description "LendIt Conference helps you learn, network, and connect with top internet finance leaders in China. Register now to reserve your spot and get the best rates. Join our growing LendIt team in producing the largest online lending conference in the world." %>
<% meta_keywords "p2p, online lending, peer-to-peer, LendIt, speakers, LendIt Conference" %>
<% body_class "pg-jobs pg-jobs-sub" %>
<div class="general-background">
	<div class="row">
		<div class="columns">
			<div class="job-nav">
				<a href="#">Jobs</a>
			</div>

			<h1>VP of Finance</h1>

			<div class="job-section job-metadata">
				<div><b>Position Type:</b> Part-Time/Contractor</div>
				<div><b>Level/Salary:</b> $75,000</div>
				<div><b>Start Date:</b> Immediate</div>
				<div><b>Travel Required:</b> Minimal</div>
				<div><b>Position Type:</b> Contractor</div>
				<div><b>Hours/Week:</b> 20</div>
				<div><b>Date Posted:</b> May 27, 2015</div>
			</div>

			<div class="job-section job-inquiries">

				<a href="https://docs.google.com/forms/d/1Dam6oWD1bzwh5f4haRKBs0mkBgr49jYXr0CCzRVOQ5w/viewform" target="_blank"><button>Apply Now</button></a>
<!-- 				<h2>
					Please Direct Inquiries To:
				</h2> -->

<!-- 				<div><b>Email:</b> <a href="mailto:jason@lendacademy.com"> jason@lendacademy.com </a></div>

				<div><b>Subject:</b> Part-Time VP of Finance</div>
				<div class="jobs-address-area">
					<div><b>Mail:</b> </div>
					<div class="jobs-address">
						<div>LendIt / Lend Academy</div>
						<div>Attn: Jason Jones</div>
						<div>335 Madison Ave., 16th Floor</div>
						<div>New York, NY 10017</div>
					</div>
				</div> -->

			</div>

			<div class="job-section">
				<h2>
					Role and Responsibilities
				</h2>
				<p>This role covers our four operating entities: Cardinal Rose Group, LendIt, NSR Invest, and Lend Academy Media.</p>
				<p>The successful candidate will provide leadership and coordination of company financial planning, cash management, budget management, and financial forecasting functions as well as ensure company accounting procedures and reporting conform to generally accepted accounting principles.</p>
				<ul>
					<li>Prepare financial forecasts for each operating entity</li>
					<li>Produce budgets for each operating entity</li>
					<li>Monitor and analyze monthly operating results against forecasts and budgets</li>
					<li>Oversee cash management and intercompany transactions</li>
					<li>Reconcile monthly headcount allocation by entity</li>
					<li>Reconcile monthly employee expense reporting</li>
					<li>Assist with the preparation and completion of company financings</li>
					<li>Model and report on individual LendIt conference performance </li>
					<li>Oversee invoices and collections for LendIt</li>
					<li>Oversee fund accounting and investor reporting operations for NSR Invest</li>
					<li>Assist with the identification and tracking of KPIs for each company </li>
					<li>Create weekly and monthly reports for Cardinal Rose Group partners</li>
					<li>Create quarterly reports for Cardinal Rose Group investors</li>
					<li>Manage all other financial management duties as they arise</li>
				</ul>

			</div>
			<div class="job-section">
				<h2>
					Qualifications and Education Requirements
				</h2>
				<p>
					Five to Ten years' experience in mid to senior level finance or accounting position. Knowledge of finance, accounting, budgeting, and cost control principles including Generally Accepted Accounting Principles. Experience with automated financial and accounting reporting systems, especially NetSuite. Strong financial modeling excel skills. CPA preferred.
				</p>
			</div>

			<a href="https://docs.google.com/forms/d/1Dam6oWD1bzwh5f4haRKBs0mkBgr49jYXr0CCzRVOQ5w/viewform" target="_blank"><button>Apply Now</button></a>

		</div>
	</div>
</div>
