

      <div class="home-agenda-tabs">
        <h3 class="am-button on">April 13</h3>
        <h3 class="pm-button">April 14</h3>
        <h3>April 15</h3>
      </div>
      <table class="usa15-apr13">
        <!-- <h2>April 13</h2> -->
        <tr>
          <td>11:00</td>
          <td>
            <div>Registration Opens</div>
          </td>
        </tr>
        <tr>
          <td>1:00 - 3:00</td>
          <td>
            <div>Pre-Conference Workshops</div>
          </td>
        </tr>
        <tr>
          <td>3:00 - 3:30</td>
          <td>
            <div>Break</div>
          </td>
        </tr>
        <tr>
          <td>3:30 - 5:30</td>
          <td>
            <div>Pre-Conference Workshops</div>
          </td>
        </tr>
        <tr>
          <td>6:00 - 8:00</td>
          <td>
            <div>Welcome Cocktail Party</div>
            <div>Sponsored by Lending Club (separate ticket required to attend)</div>
          </td>
        </tr>
      </table>

      <table class="usa15-apr14">
        <!-- <h2>April 14</h2> -->
        <tr>
          <td>8:30 - 8:40</td>
          <td>
            <div>Opening Remarks</div>
          </td>
        </tr>
        <tr>
          <td>8:40 - 9:25</td>
          <td>
            <div>Signature Keynote by Renaud Laplanche</div>
          </td>
        </tr>
        <tr>
          <td>9:25 - 10:35</td>
          <td>
            <div>Presentations &amp; Panels</div>
          </td>
        </tr>
        <tr>
          <td>10:35 - 11:05</td>
          <td>
            <div>Break</div>
          </td>
        </tr>
        <tr>
          <td>11:05 - 12:35</td>
          <td>
            <div>Presentations &amp; Panels</div>
          </td>
        </tr>
        <tr>
          <td>10:35 - 11:05</td>
          <td>
            <div>Networking Lunch</div>
          </td>
        </tr>
        <tr>
          <td>1:35 - 3:35</td>
          <td>
            <div>Presentations &amp; Panels</div>
          </td>
        </tr>
        <tr>
          <td>3:35 - 4:05</td>
          <td>
            <div>Break</div>
          </td>
        </tr>
        <tr>
          <td>4:05 - 5:25</td>
          <td>
            <div>Presentations &amp; Panels</div>
          </td>
        </tr>
        <tr>
          <td>5:30 - 6:00</td>
          <td>
            <div>Closing Keynote by Ron Suber</div>
          </td>
        </tr>
        <tr>
          <td>6:00 - 7:00</td>
          <td>
            <div>Cocktail Party</div>
            <div>Sponsored by SoFi</div>
          </td>
        </tr>
      </table>



      <table class="usa15-apr14">
        <!-- <h2>April 15</h2> -->
        <tr>
          <td>8:30 - 8:40</td>
          <td>
            <div>Opening Remarks</div>
          </td>
        </tr>
        <tr>
          <td>8:40 - 9:10</td>
          <td>
            <div>Special Presentation by Noah Breslow</div>
          </td>
        </tr>
        <tr>
          <td>9:15 - 10:45</td>
          <td>
            <div>Presentations &amp; Panels</div>
          </td>
        </tr>
        <tr>
          <td>10:45 - 11:15</td>
          <td>
            <div>Break</div>
          </td>
        </tr>
        <tr>
          <td>11:15 - 11:35</td>
          <td>
            <div>Presentations &amp; Panels</div>
          </td>
        </tr>
        <tr>
          <td>10:35 - 11:05</td>
          <td>
            <div>Networking Lunch</div>
          </td>
        </tr>
        <tr>
          <td>11:15 - 12:30</td>
          <td>
            <div>Presentations &amp; Panels</div>
          </td>
        </tr>
        <tr>
          <td>12:30 - 1:30</td>
          <td>
            <div>Break</div>
          </td>
        </tr>
        <tr>
          <td>1:30 - 3:40</td>
          <td>
            <div>Presentations &amp; Panels</div>
          </td>
        </tr>
        <tr>
          <td>3:40 - 4:10</td>
          <td>
            <div>Break</div>
          </td>
        </tr>
        <tr>
          <td>4:10 - 5:45</td>
          <td>
            <div>Presentations &amp; Panels</div>
          </td>
        </tr>
        <tr>
          <td>5:30 - 6:00</td>
          <td>
            <div>Closing Remarks</div>
          </td>
        </tr>
      </table>


