      <div class="row">
        <div class=" large-24 columns">
          <div class="ny15-header">Event Overview</div>
        </div>
        <div class=" large-8 columns" style="margin-bottom:1.1em;">

          <p class="ny15-icon-floors ny15-icon">
            <span>3 Floors of Engaging Content</span>
            <div>Five unique tracks provide an in-depth look at the current online lending landscape</div>
          </p>

          <p class="ny15-icon-decision ny15-icon">
            <span>1,500 Influential Decision Makers</span>
            <div>Platforms, Investors, Bankers & Service Providers from all over the world</div>
          </p>

          <p class="ny15-icon-space ny15-icon">
            <span>The Largest P2P Online Lending Expo</span>
            <div>Over 100 Exhibitors in 35,000 sq. ft. of Exhibition Space</div>
          </p>


          <p class="ny15-icon-parties ny15-icon">
            <span>Extensive Networking Opportunities</span>
            <div>Parties, Lounges, Breakfasts, Lunches, Coffee Breaks, and the LendIt mobile app</div>
          </p>
        </div>
        <div class="large-16 columns">
          <div>FEATURING</div>
          <ul>
            <li>Pre-Conference Workshops</li>
            <li>Keynotes / Panels / Q&A</li>
            <li>Company Demos</li>
            <li>2 Fun Cocktail Parties</li>
          </ul>

          <ul>
            <li>Start-up Zone</li>
            <li>The China Track</li>
            <li>The Real Estate Track</li>
            <li>PitchIt @ Lendit</li>
          </ul>
        </div>
      </div>