<div class="row">
	<div class=" large-24 columns">
		<div class="ny15-header">Event Overview</div>
	</div>
</div>
<div class="row">
	<div class="small-24 medium-24 large-10 columns">

		<table class="overview-icons">
			<tr>
				<td>
					<img src="https://s3-us-west-2.amazonaws.com/lendit/photos/ny15-icon-floors.png" alt="" />
				</td>
				<td>
					<span>3 Floors of Engaging Content</span>
					<div>Five unique tracks provide an in-depth look at the current online lending landscape</div>
				</td>
			</tr>

			<tr>
				<td>
				  <img src="https://s3-us-west-2.amazonaws.com/lendit/photos/ny15-icon-decision.png" alt="" />
				</td>
				<td>
					<span>1,500 Influential Decision Makers</span>
					<div>Platforms, Investors, Bankers & Service Providers from all over the world</div>
				</td>
			</tr>

			<tr>
				<td>
				  <img src="https://s3-us-west-2.amazonaws.com/lendit/photos/ny15-icon-space.png" alt="" />
				</td>

				<td>
					<span>The Largest P2P Online Lending Expo</span>
					<div>Over 100 Exhibitors in 35,000 sq. ft. of Exhibition Space</div>
				</td>
			</tr>

			<tr>
				<td>
				  <img src="https://s3-us-west-2.amazonaws.com/lendit/photos/ny15-icon-parties.png" alt="" />
				</td>

				<td>
					<span>Extensive Networking Opportunities</span>
					<div>Parties, Lounges, Breakfasts, Lunches, Coffee Breaks, and the LendIt mobile app</div>
				</td>
			</tr>
		</table>

	</div>

	<div class="small-24 medium-12 large-7 columns">
		<table class="overview-icons overview-icons-featuring">
			<tr>
				<td>
					<img src="https://s3-us-west-2.amazonaws.com/lendit/home/usa15-overview/pre-conf-workshops.png" />
				</td>
				<td>
					<a href="/usa/2015/pre-conference-workshops">Pre-Conference Workshops</a>
				</td>
			</tr>
			<tr>
				<td>
					<img src="https://s3-us-west-2.amazonaws.com/lendit/home/usa15-overview/keynotes-panels-qas.png" />
				</td>
				<td>
					Keynotes / Panels / Q&A
				</td>
			</tr>
			<tr>
				<td>
					<img src="https://s3-us-west-2.amazonaws.com/lendit/home/usa15-overview/company-demos.png" />
				</td>
				<td>
					Company Demos
				</td>
			</tr>
			<tr>
				<td>
					<img src="https://s3-us-west-2.amazonaws.com/lendit/home/usa15-overview/fun-parties.png" />
				</td>
				<td>
					2 Fun Cocktail Parties
				</td>
			</tr>
		</table>
	</div>
	<div class="small-24 medium-12 large-7 columns">

		<table class="overview-icons overview-icons-featuring">
			<tr>
				<td>
					<img src="https://s3-us-west-2.amazonaws.com/lendit/home/usa15-overview/startup-zone.png" />
				</td>
				<td>
					<a href="/usa/2015/start-up-zone">Start-up Zone</a>
				</td>
			</tr>
			<tr>
				<td>
					<img src="https://s3-us-west-2.amazonaws.com/lendit/home/usa15-overview/china-track.png" />
				</td>
				<td>
					The China Track
				</td>
			</tr>
			<tr>
				<td>
					<img src="https://s3-us-west-2.amazonaws.com/lendit/home/usa15-overview/real-estate-track.png" />
				</td>
				<td>
					The Real Estate Track
				</td>
			</tr>
			<tr>
				<td>
					<img src="https://s3-us-west-2.amazonaws.com/lendit/home/usa15-overview/pitchit.png" />
				</td>
				<td>
					<a href="/usa/2015/pitchit-at-lendit">PitchIt @ Lendit</a>
				</td>
			</tr>
		</table>
	</div>
</div>
