<% title "LendIt China 2015 Bund Summit Page" %>
<% meta_description "View the Bund Summit agenda for the LendIt China 2015 Conference." %>
<% meta_keywords "p2p, online lending, peer-to-peer, LendIt China, agenda, conference, Bund Summit" %>
<% body_class "china15-agenda-bund" %>
<div class="general-background">
	<div class="row">
		<div class="columns">
			<div class="introduction">
				<h2> The Bund Summit 2015 on Internet Finance Agenda</h2>
				<p> Internet finance has been growing rapidly in China and drawing attention from
					around the globe. To address the development and challenges facing the
					industry, Shanghai Finance Institute (SFI) and LendIt will jointly host The
					Bund Summit 2015 on Internet Finance &amp; SFI Annual Conference. The theme will be
					"Internet Finance: Innovation, Risks and Regulation". Financial innovators,
					investors and pioneers will gather to discuss industry trends, learn from
					market leaders, form key business alliances, and showcase industry-moving
					products and services. </p>
				<p>
					This-500 person conference in Shanghai has become the most influential Chinese conference focused on online lending. We will host many members of the top regulatory bodies including the PBoC, CRBC, CSRC, and CIRC. In addition, we will have keynotes from the China Investment Corp, China's largest sovereign wealth fund, and Alibaba's ZhaoCaiBao unit of Ant Financial, their P2P division, among others.
				</p>
			</div>
			<div class="header-day">
				<div> Saturday Morning, July 11, 2015 </div>
				<div> Time：9:00-12:00 </div>
				<div> (closed door session) </div>
			</div>
			<div class="header-topic">
				<div> Closed Door Session: Internet Finance: Innovation and Regulation Worldwide </div>
				<div> Time: 9:30 – 12:00 </div>
				<div> Venue: Grand Hall, 5F, Shanghai Marriott Hotel City Center </div>
				<div> Moderator: Mr. WANG Haiming, Executive Deputy Director, SFI </div>
			</div>
			<table>
				<tr>
					<td class="time">8:30 – 9:00</td>
					<td><div>
						Registration
					</div></td>
				</tr>
				<tr>
					<td class="time">9:00 – 10:20</td>
					<td>
						<div>Keynote Speeches (20 min. each)</div>
						<div>Ms. Christine Farnish, Chairwoman, UK Peer-to-Peer Finance Association (P2PFA)</div>
						<div>Mr. Ron Suber, CEO, Prosper Marketplace</div>
					</td>
				</tr>
				<tr>
					<td class="time">10:00 - 10:45</td>
					<td>
						<div> Commentators: </div>
						<div>Mr. XIE Ping, Vice Chair, CF40 Executive Council; Executive Vice President, China Investment Corporation</div>
						<div>Mr. YAN Qingmin, Academic Advisor, SFI; Vice-mayor, Tianjin</div>
						<div>Mr. JI Kuisheng, SFI Executive Council Member; Chairman, Lufax</div>
					</td>
				</tr>
				<tr>
					<td class="time">10:45 - 10:55</td>
					<td><div>
						Coffee Break
					</div></td>
				</tr>
				<tr>
					<td class="time">10:55 - 12:00</td>
					<td><div>
						Roundtable Discussion
					</div></td>
				</tr>
			</table>
			<div class="header-day">
				<div>Sessions below are open to the public and media </div>
				<div>Saturday Afternoon, July 11, 2015</div>
				<div>Time: 14:00-16:30</div>
				<div>Venue: Grand Hall, 5F, Shanghai Marriott Hotel City Center</div>
			</div>
			<table>
				<tr>
					<td class="time">13:30 - 14:00</td>
					<td><div>
						Registration
					</div></td>
				</tr>
			</table>
			<div class="header-topic">
				<div>General Assembly</div>
				<div>	Internet Finance：Innovation, Risks and Regulation</div>
				<div>	Time: 14:00 – 16:30</div>
				<div>	Venue: Grand Hall, 5F, Shanghai Marriott Hotel City Center</div>
				<div>	Moderator: Mr. WANG Haiming, Deputy President, SFI</div>
			</div>
			<table>
				<tr>
					<td class="time">14:00 - 14:20</td>
					<td>
						<div>Opening</div>
						<div>Welcome Speech & Issuance of Certificates to new SFI Council Members</div>
						<div>Mr. TU Guangshao, SFI Academic Advisor；Executive Vice Mayor of Shanghai</div>
						<div>SFI Annual Report</div>
						<div>Mr. WANG Haiming, Executive Deputy Director, SFI</div>
					</td>
				</tr>
				<tr>
					<td class="time">14:20 - 14:40</td>
					<td>
						<div>Keynote Speech I: SFI 2015 Report on China's P2P Online Lending Platforms</div>
						<div>Speaker: Mr. XIE Ping, Vice Chair, CF40 Executive Council; Executive Vice President, China Investment Corporation</div>

					</td>
				</tr>
				<tr>
					<td class="time">14:40 - 15:00</td>
					<td>
						<div>Keynote Speech II: Financial Regulation in Era of Internet Finance</div>
						<div>Mr. Jiangyang, Vice Chairman, China Security Regulatory Commission</div>
					</td>
				</tr>
				<tr>
					<td class="time">15:00 - 15:20</td>
					<td>
						<div> Keynote Speech Ⅲ:</div>
						<div>Regulation of Insurance Industry in Era of Internet Finance</div>
						<div>Mr. CHEN Wenhui, Vice Chairman, China Insurance Regulatory Commission</div>
					</td>
				</tr>
				<tr>
					<td class="time">15:20 - 15:30</td>
					<td><div>
						Coffee Break
					</div></td>
				</tr>
				<tr>
					<td class="time">15:30 - 15:50</td>
					<td>
						<div> Keynote Speech IV: Commercial Banks in Era of Internet Finance </div>
						<div> Mr.  JIANG  Jianqing, CF40  Academic  advisor; Chairman, Industrial and Commercial Bank of China (ICBC) </div>
					</td>
				</tr>
				<tr>
					<td class="time">15:50 - 16:10</td>
					<td>
						<div>Keynote Speech V: Internet Finance: Innovation and Development</div>
						<div>Mr. MIAO Jianmin, SFI Academic Advisor; President, China Life Insurance (Group) Company</div>
					</td>
				</tr>
				<tr>
					<td class="time">16:10 - 16:30</td>
					<td>
						<div>Keynote Speech VI: </div>
						<div>Ms. PENG Lei, CEO, Zhejiang Ant Small and Micro Financial Services Group </div>
					</td>
				</tr>
			</table>
			<div class="header-day">
				<div>Saturday Afternoon, July 11, 2015</div>
				<div>Time: 16:30-18:00</div>
				<div>Venue: Small Banquet Hall, 5F, Shanghai Marriott Hotel City Center</div>
			</div>
			<div class="header-breakout">
				Breakout Sessions - Room A
			</div>
			<div class="header-topic">
				<div>Breakout Session I</div>
				<div>Banking Reform in Era of Internet Finance</div>
				<div>Venue: No.4 Small Banquet Hall, 5F, Shanhai Marriott Hotel City Center</div>
				<div>Moderator: LIAO Min, Director, Shanghai Bureau, China Banking Regulatory Commission</div>
			</div>
			<table>
				<tr>
					<td class="time">16:30 - 18:00</td>
					<td>
						<div> Panelists: </div>
						<div>Mr. LU Lei, CF40 member; Director, Research Bureau, People’s Bank of China </div>
						<div>Mr. Yuanli, Vice President, the National Development Bank</div>
						<div>Mr.  ZHANG  Hongli,  SFI  invited  guest:  Vice  President,  Industrial  and Commercial Bank of China</div>
						<div>Mr.  LI  Renjie,  Member,  CF40  Executive  Council;  President,  Industrial Bank Co., Ltd</div>
						<div>Mr.  LIAN  Ping,  SFI  Academic  Advisor;  Chief  Economist,  Bank  of Communications</div>
						<div>Mr. YU Shengfa, Vice President, Zhejiang Ant Small and Micro Financial Services Group</div>
						<div>Mr. CAO Tong, SFI Invited Guest；President, Qianhai WeBank</div>
						<div>Mr. ZHU Tao, President, Shanghai Huarui Bank Corp.</div>
					</td>
				</tr>
			</table>
			<div class="header-breakout">
				Breakout Session Room B
			</div>
			<div class="header-topic">
				<div> Breakout Session II </div>
				<div>	Risk Management for P2P Platforms</div>
				<div>	Venue: Small Banquet Hall, 5F, Shanghai Marriott Hotel City Center</div>
				<div>	Moderator: Mr. Zhongwei, Deputy President, SFI</div>
			</div>
			<table>
				<tr>
					<td class="time">16:30 - 18:00</td>
					<td>
						<div> Panelists: </div>
						<div>Mr. CHEN Huan, Chief Strategy Officer, CreditEase </div>
						<div>Mr. John Chen, FICO China</div>
					</td>
				</tr>
			</table>
			<div class="header-breakout">
				Breakout Session Room C
			</div>
			<div class="header-topic">
				<div>Breakout Session III </div>
				<div>Internet Finance and Credit Reporting</div>
				<div>Venue: No.6 Banquet Hall, 5F, Shanghai Marriott Hotel City Center</div>
				<!-- <div>Moderator:</div> -->
			</div>
			<table>
				<tr>
					<td class="time">16:30 - 18:00</td>
					<td>
						<div> Panelists: </div>
						<div>Mr. ZHANG Zihong, SFI Invited Guest; Deputy Director, Credit Information System Bureau, People's Bank of China</div>
						<div>Ms. WANG Xiaolei, SFI Invited Guest; Deputy Director, Credit Reporting Center, People's Bank of China</div>
						<div>Mr. HU Tao, President &amp; Director, Sesame Credit Management Co., Ltd.</div>
						<div>Ms. Wang Zhaoqin, Assistant President, Tencent Credit Service</div>

					</td>
				</tr>
			</table>
			<div class="header-topic">
				<div> Sunday Morning, July 12, 2015 </div>
				<div>	Time：09:00 – 12:00</div>
				<div>	Venue：Grand Hall, 5F, Shanghai Marriott Hotel City Center</div>
			</div>
			<table>
				<tr>
					<td class="time">08:30 - 09:00</td>
					<td>
						<div>
							Registration
						</div>
					</td>
				</tr>
			</table>
			<div class="header-topic">
				<div>General Assembly</div>
				<div>	Internet Finance：Innovation, Risks and Regulation</div>
				<div>	Venue: Grand Hall, 5F, Shanghai Marriott Hotel City Center</div>
				<!-- <div>	Moderator:</div> -->
			</div>
			<table>
				<tr>
					<td class="time">09:00 - 09:20</td>
					<td>
						<div> Keynote Speech I: Internet Finance: Regulation and Innovation </div>
						<div> Mr. ZHANG Tao, CF40 member: Director, Legal Affairs Department, People's Bank of China </div>
					</td>
				</tr>
				<tr>
					<td class="time">09:20 - 09:40</td>
					<td>
						<div> Keynote Speech II: Internet Finance and Online Payment </div>
						<div> Mr. XIE Zhong, SFI Invited Guest; Director, Payment System Department, People's Bank of China </div>
					</td>
				</tr>
				<tr>
					<td class="time">09:40 - 10:00</td>
					<td>
						<div> Keynote Speech III: Internet Finance and Development of Credit Reporting Services </div>
						<div> Mr. WANG Yu, SFI Invited Guest; Director, Credit Information System Bureau, People's Bank of China </div>
					</td>
				</tr>
				<tr>
					<td class="time">10:00 - 10:20</td>
					<td>
						<div> Keynote Speech IV: </div>
						<div> Mr. Gregory Gibb, Chairman, Lufax </div>
					</td>
				</tr>
				<tr>
					<td class="time">10:20 - 10:30</td>
					<td><div>
						Coffee Break
					</div></td>
				</tr>
				<tr>
					<td class="time">10:30 - 10:50</td>
					<td>
						<div> Keynote Speech V: </div>
						<div> Mr. Ron Suber, President, Prosper </div>
					</td>
				</tr>
				<tr>
					<td class="time">10:50 - 11:10</td>
					<td>
						<div> Keynote Speech VI： </div>
						<div> Mr. Matt Burton, CEO, Orchard </div>
					</td>
				</tr>
				<tr>
					<td class="time">11:10 - 12:00</td>
					<td><div>Q&amp;A</div></td>
				</tr>
				<tr>
					<td class="time">12:00 - 13:30</td>
					<td><div>
						Luncheon
					</div></td>
				</tr>
			</table>
			<div class="header-day">
				<div>	Sunday Afternoon, July 12, 2015</div>
				<div>	Time：13:30 – 16:40</div>
				<div>	Venue：Small Banquet Hall, 5F, Shanghai Marriott Hotel City Center</div>
			</div>
			<div class="header-breakout">
				Breakout Room A：
			</div>
			<div class="header-topic">
				<div> Breakout Session IV </div>
				<div>P2P: Innovation and Regulation</div>
				<div>Venue: 5F, No.4 Banquet Hall, Shanghai Marriott Hotel City Center</div>
				<div>Moderator: WEN Haixing, SFI Invited Guest; Deputy Director, Inclusive Finance Department, China Banking Regulatory Commission</div>
			</div>
			<table>
				<tr>
					<td class="time">13:30 - 15:00</td>
					<td>
						<div> Panelists: </div>
						<div>Mr. LIU Xiangmin, SFI Invited Guest; Deputy Director, Legal Affairs Department, People's Bank of China</div>
						<div>Mr. YUAN Leiming, SFI Invited Guest; CEO of Zhaocaibao</div>
						<div>Mr. YANG Yifu, SFI Invited Guest; Founder of Renrendai</div>
						<div>Mr. Gene Barash, Realty Mogul</div>
						<div>Delegate from regulatory authorities</div>
						<div>Delegate from P2P industry</div>
						<div>Delegate from P2P industry</div>
					</td>
				</tr>
				<tr>
					<td class="time">15:00 - 15:10</td>
					<td><div>
						Coffee Break
					</div></td>
				</tr>
			</table>
			<div class="header-topic">
				<div>	Breakout Session V</div>
				<div>P2P: Internet Finance Investment: Opportunities and Challenge </div>
				<div>Venue: No.4 Banquet Hall, 5F, Shanghai Marriott Hotel City Center</div>
				<div>Moderator: Ms. WU Yushan, CEO, CFCity</div>
			</div>
			<table>
				<tr>
					<td class="time">15:10 - 16:40</td>
					<td>
						<div> Panelists: </div>
						<div>Mr. SUN Zhengyi, SFI Invited Guest; Chairman &amp; President of SoftBank Corporation</div>
						<div>Mr. TIAN Suning, Chairman, China Broadband Capital Partners</div>
						<div>Mr. MA Ning, Research Director, Gaohua Securities</div>
						<div>Mr. Jason Jones, Co-Founder, LendIt</div>
					</td>
				</tr>
			</table>
			<div class="header-breakout">
				Breakout Room B：
			</div>
			<div class="header-topic">
				<div> Breakout Session VI </div>
				<div>Mobile Finance: Reform Driven by Technology</div>
				<div>Venue: 5F, No.5 Banquet Hall, Shanghai Marriott Hotel City Center</div>
				<div>Moderator: Mr. LIU Xinyi, President, Shanghai Pudong Development Bank</div>
			</div>
			<table>
				<tr>
					<td class="time">13:30 - 15:00</td>
					<td>
						<div> Panelists: </div>
						<div>Mr. WANG Yonghong, SFI Invited Guest; Director, Technology Department, People's Bank of China</div>
						<div>Mr. ZHAO Huan, SFI Invited Guest; President, China Everbright Bank</div>
						<div>Mr. HOU Weidong, Vice President &amp; Chief Information Officer, Bank of Communications,</div>
						<div>Mr. Soul Htite, Founder & Co-CEO, Dianrong</div>
					</td>
				</tr>
				<tr>
					<td class="time">15:00 - 15:10</td>
					<td><div>Coffee Break</div></td>
				</tr>
			</table>
			<div class="header-breakout">
				Breakout Session VII
			</div>
			<div class="header-topic">
				<div>Big Data: Thoughts and Application</div>
				<div>Venue: No.5 Banquet Hall, 5F, Shanghai Marriott Hotel City Center</div>
				<!-- <div>Moderator:</div> -->
			</div>
			<table>
				<tr>
					<td class="time">15:10 - 16:40</td>
					<td>
						<div> Panelists: </div>
						<div>Mr. TU Zipei, SFI Council, Vice President, Alibaba Group</div>
						<div>Ms. ZHANG Xiaopei, Super Vice President, General Manager of Big Data Innovation Center, CreditEase</div>
						<div>Mr. JIN Yu, SFI Invited Guest; Vice President of Strategy, Baidu</div>
						<div>Mr.  SUN  Zhongdong,  SFI  Invited  Guest;  Assistant  President  &  Chief Information Officer, Shanghai Huarui Bank Corp.</div>
						<div>Mr. LEI Tao, SFI Invited Guest; CEO, BeagleData</div>
					</td>
				</tr>
			</table>
			<div class="header-breakout">
				Breakout Room C：
			</div>
			<div class="header-topic">
				<div>Breakout Session VIII</div>
				<div>	Asset Management in Era of Internet Finance</div>
				<div>	Venue: No.6 Banquet Hall, 5F, Shanghai Marriott Hotel City Center</div>
				<!-- <div>	Moderator:</div> -->
			</div>
			<table>
				<tr>
					<td class="time">13:30 - 15:00</td>
					<td>
						<div>Panelists:</div>
						<div>Mr. YANG  Huahui,  Member,  SFI  Executive  Council;  Chairman,  China Industrial International Trust Limited</div>
						<div>Mr. LAN Rong, Chairman, Industrial Securities</div>
						<div>Mr. ZHANG  Jialin,  Member,  CF40  Executive  Council;  Chairman,  Aron Capital Management Co., Ltd</div>
						<div>Mr. YAO Wenping, Chairman, Tebon Securities </div>
						<div>Mr. LI Xunlei, Vice President, Haitong Securities</div>
					</td>
				</tr>
				<tr>
					<td class="time">15:00 - 15:10</td>
					<td><div>
						Coffee Break
					</div></td>
				</tr>
			</table>
			<div class="header-topic">
				<div>	Breakout Session IX</div>
				<div>	Venue: No. 6 Banquet Hall, 5F, Shanghai Marriott Hotel City Center</div>
				<div>	Moderator: XU Zhen, Chairman, SFI Supervisory Board; President, Shanghai Clearing House</div>
			</div>
			<table>
				<tr>
					<td class="time">15:10 - 16:40</td>
					<td>
						<div>Panelists:</div>
						<div>Mr. XIE Zhong, SFI Invited Guest, Director, Payment System Department, People's Bank of China</div>
						<div>Mr. CHAI Hongfeng, SFI Invited Guest; Vice President, China UnionPay</div>
						<div>Mr.  CAI  Hongbo,  SFI  Invited  Guest;  Executive  Vice  Chairman  & Secretary-General, Payment and Clearing Association of China</div>
						<div>Mr. LAI Zhiming, SFI Invited Guest; President, Tenpay</div>
						<div>Mr. ZHOU Ye, Member, SFI Executive Council; President, China PnR</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>
