<% title "LendIt China Conference Page" %>
<% meta_description "Join thousands of peer-to-peer and online lending professionals from around the world for the LendIt Conference" %>
<% meta_keywords "p2p, online lending, peer-to-peer, LendIt Europe" %>
<% body_class "conf-china15" %>
<div class="general-background">
	<div class="hero">
		<div class="hero-inner">
			<!-- BEGIN hero content -->
			<div class="hero-content">
				<div class="logo-image">
					<img src="https://s3-us-west-2.amazonaws.com/lendit/lendit-china15-hero-logo-02.png">
				</div>
				<ul>
					<!-- 					<li class="grey">
						<span>
							<label>Save the date</label>
							July 7-14, 2015
						</span>
					</li> -->
					<li class="green">
						<a href="http://register.lendit.co/china" onclick="_gaq.push(['_link', 'http://register.lendit.co/china']); return false;" target="_blank">Register now</a>
					</li>
					<li class="orange">
						<a href="/china/2015/speakers/sign-up">
							Sign up to be a Speaker
						</a>
					</li>
				</ul>
			</div>
			<!-- END hero content -->
		</div>
	</div>



	<div class="row just-announced " data-equalizer="justannounced" >
		<div class="columns small-24 medium-5 large-5 just-announced-headshot" data-equalizer-watch="justannounced">
		</div>
		<div class="columns small-24 medium-19 large-19" data-equalizer-watch="justannounced">
			<div class="just-announced-text">
				<div class="china15-sectionhead">Just Announced</div>
				<p>Soul Htite from, Co-Founder & CEO of Dianrong will be speaking at the Bund Summit in Shanghai on July 11. He will participate on a panel addressing risk management for P2P platforms.</p>
				<p>Prior to founding Dianrong in 2012, Soul was the Co-Founder and Head of Technology at Lending Club where he led the design and development efforts for Lending Club's online platform. Like Lending Club, Dianrong is leveraging advanced technology to deliver major innovation to the financial services sector in China. We are thrilled to have Soul involved in LendIt China again this year.</p>
			</div>
		</div>


	</div>


	<div class="row">
		<div class="columns">

			<div class="china15-header"><span> LendIt China: </span>  <span> July 7-14, 2015 </span> </div>

		</div>
	</div>
	<div class="row">
		<div class="columns small-24 medium-18 large-18">
			<div class="china15-subhead"><span>A 7-day-tour through</span> <span> Beijing and Shanghai </span></div>
			<p>LendIt returns to China July 7-14 for a 7-day tour through Beijing and Shanghai to meet with the top Chinese firms, investors, and regulators in the online lending ecosystem.</p>
			<p>
				LendIt China is the ideal solution for anyone looking to rapidly expand their knowledge and network in China.
			</p>
			<p>
				As part of our tour LendIt will co-host of the Bund Summit in Shanghai and the China App Show in Beijing.
			</p>


		</div>

		<div class="columns small-24 medium-6 large-6">
			<div class="panel buttons-panel">
				<ul class="small-block-grid-1">
					<li>
						<div class="prospectus-link2">
							<a href="https://s3-us-west-2.amazonaws.com/lendit/china-2015/LendIt-China-2015-prospectus.pdf" target="_blank">
								<img src="https://s3-us-west-2.amazonaws.com/lendit/china-2015/2015-05-27-prospectus-thumb.jpg" alt="" />
								<span class="prospectus-link-text2">
									View the Prospectus
									<i class="fa fa-arrow-circle-right"></i>
								</span>
							</a>
						</div>
					</li>
				</ul>
			</div>
		</div>

	</div>

	<div class="row">

		<div class="columns small-24 medium-15 large-15 ">
			<div class=" panel agenda-area">
				<a name="agenda"></a>
				<div class="china15-sectionhead"><span> Itinerary Snapshot </span> <span class="hellip">&hellip;</span> <span> <a href="/china/2015/itinerary"><i class="fa fa-arrow-circle-right "></i> Extended Itinerary</a> </span></div>
				<div class="agenda-content">
					<div class="agenda-row">
						<div class="agenda-date"> July 7</div>
						<div class="agenda-desc"> Arrive in Beijing (PEK airport)<br>Welcome dinner in Beijing City.</div>
					</div>
					<div class="agenda-row">
						<div class="agenda-date"> July 8</div>
						<div class="agenda-desc"> Attend Beijing International Life of Mobile App & Experience Show, an 8,000 person mobile exposition in the heart of Beijing. Tour expo hall in the morning. Attend closed-door meetings with Chinese Internet Finance companies in the afternoon.	</div>
					</div>
					<div class="agenda-row">
						<div class="agenda-date">July 9</div>
						<div class="agenda-desc">One-day trip to the Great Wall of China hosted by a leading Chinese P2P firm.</div>
					</div>
					<div class="agenda-row">
						<div class="agenda-date">July 10</div>
						<div class="agenda-desc">Take the bullet train from Beijing to Shanghai, visits with companies like DianRong, Lufax and China Rapid Finance, a Huang Pu River Cruise welcome reception and dinner with the leadership of Chinese P2P companies.</div>
					</div>
					<div class="agenda-row">
						<div class="agenda-date">July 11-12</div>
						<div class="agenda-desc">LendIt China will be returning as co-host of the 2nd annual Bund Summit on Internet Finance.	This is a 500 person summit with the top Chinese P2P firms, foreign and domestic institutional investors, and Chinese government officials.</div>
					</div>
					<div class="agenda-row">
						<div class="agenda-date">July 13</div>
						<div class="agenda-desc">Meet with officials from the Shanghai Free Trade Zone and the Shanghai Stock Exchange. Attend send-off dinner and reception.</div>
					</div>
					<div class="agenda-row">
						<div class="agenda-date">July 14</div>
						<div class="agenda-desc">Depart from Shanghai.</div>
					</div>
				</div>
			</div>
		</div>


		<div class="columns small-24 medium-9 large-9  module-area module-shows">
			<div class="module" >
				<div class="china15-sectionhead"><a href="/china/2015/bund-summit"><i class="fa fa-arrow-circle-right "></i> Bund Summit</a></div>
				<div class="module-content">
					<p>
						This 500 person conference in Shanghai has become the most influential Chinese conference focused on online lending. We will host many members of the top regulatory bodies including the PBoC, CRBC, CSRC, and CIRC. In addition, we will have keynotes from the China Investment Corp, China's largest sovereign wealth fund, and Alibaba's ZhaoCaiBao unit of Ant Financial, their P2P division, among others.
					</p>
				</div>
			</div>

			<div class="module">
				<div class="china15-sectionhead"><a href="/china/2015/china-app-show"><i class="fa fa-arrow-circle-right "></i> China App Show </a></div>
				<div class="module-content">
					<p>
						This 8,000 person exhibition in Beijing will showcase hundreds of Chinese mobile Internet companies. LendIt will co-host the Internet Finance summit that will include keynotes from Baidu Finance and CreditEase, among others.
					</p>
				</div>
			</div>
		</div>

	</div>

	<div class="row module-area module-highlights" data-equalizer="highlights">
		<div class="columns small-24 medium-10 large-10 module-col  module-tour-highlights">
			<div class="module" >
				<div class="china15-sectionhead">Tour Highlights:</div>

				<div class="module-content" data-equalizer-watch="highlights">
					<div class="module-intro"><p>The LendIt team will organize private meetings in China. This will be your opportunity to:</p></div>
					<table cellpadding="0" cellspacing="0" border="0">
						<tr>
							<td>★</td>
							<td> Connect with leading Chinese internet finance companies </td>
						</tr>
						<tr>
							<td>★</td>
							<td> Meet with Chinese wealth managers & institutional investors </td>
						</tr>
						<tr>
							<td>★</td>
							<td> Build relationships with key government officials </td>
						</tr>
						<tr>
							<td>★</td>
							<td> Learn how to establish your business in China </td>
						</tr>
						<tr>
							<td>★</td>
							<td> Form local partnerships and joint ventures </td>
						</tr>
					</table>
				</div>

			</div>
		</div>

		<div class="columns small-24 medium-14 large-14 module-col  module-tour-price">
			<div class="module">

				<div class="china15-sectionhead">Tour Price: $9,995</div>
				<div class="module-content"  data-equalizer-watch="highlights">
					<div class="module-intro"><p>
							Includes:
					</p></div>

					<table cellpadding="0" cellspacing="0" border="0">
						<tr>
							<td>★</td>
							<td> A full itinerary of high level business meetings every day </td>
						</tr>
						<tr>
							<td>★</td>
							<td> Entrance to two conferences and possible panel participation at those conferences </td>
						</tr>
						<tr>
							<td>★</td>
							<td> Extensive networking opportunities and private meetings </td>
						</tr>
						<tr>
							<td>★</td>
							<td> Lodging at beautiful 5-Star hotels from 7/7-7/14 in Beijing and Shanghai </td>
						</tr>
						<tr>
							<td>★</td>
							<td> Lunch and dinner events every day (breakfasts are included at the hotel) </td>
						</tr>
						<tr>
							<td>★</td>
							<td> Transportation to and from the airport </td>
						</tr>
						<tr>
							<td>★</td>
							<td> Transportation from the hotel to the scheduled events each day </td>
						</tr>
						<tr>
							<td>★</td>
							<td> Travel on the high speed train from Beijing to Shanghai </td>
						</tr>
						<tr>
							<td>★</td>
							<td> One cultural day – trip to the Great Wall of China (Chinese wealth managers will accompany us on the trip) </td>
						</tr>
					</table>
				</div>

			</div>

		</div>
	</div>
	<div class="row">
		<div class="columns small-24 medium-24 large-24">
			<div class="china15-sectionhead">LendIt Network</div>
			<ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-3 china15-sponsors">
				<li><img src="https://s3-us-west-2.amazonaws.com/lendit/sponsors/creditease.psd-th.jpeg" /></li>
				<li><img src="https://s3-us-west-2.amazonaws.com/lendit/sponsors/lendit-usa-2015/lufax.psd-th.jpeg" /></li>
				<li><img src="https://s3-us-west-2.amazonaws.com/lendit/sponsors/diangrong.psd-th.jpeg" /></li>
			</ul>
		</div>

		<div class="columns ">
			<div class="trusted-source">
				LendIt China is your trusted source to access China
			</div>

		</div>

		<div class="columns">
			<div class="conf-quote">
				<strong >
					"LendIt are pioneers. <br><br>They brought together the marketplace lending industry before it was big news &mdash; with now many others following in their footsteps. The same goes for their first LendIt conference in Shanghai in 2014 which allowed the peer-to-peer lending industry and commentators from the US and the UK get a great insight in to the market in China and vice versa. The conference was brilliantly organised and clearly well coordinated with the right people in China. It was a very worthwhile conference for me and my company."
				</strong>
				<div>
					&mdash; Rhydian Lewis, RateSetter
					(Attended LendIt China 2014)

				</div>
			</div>
		</div>


	</div>
	<div class="row">
		<div class="columns large-24">
			<div class="china15-sectionhead">Keys to Success in China:</div>
			<table class="keys-to-success" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>★</td>
					<td> Establish relationship with key government officials </td>
				</tr>
				<tr>
					<td>★</td>
					<td> Build your brand for the Chinese audience </td>
				</tr>
				<tr>
					<td>★</td>
					<td> Partner with local counterparts </td>
				</tr>
			</table>
		</div>
	</div>
</div>
