<% title "LendIt China Conference Page" %>
<% meta_description "Join thousands of peer-to-peer and online lending professionals from around the world for the LendIt Conference" %>
<% meta_keywords "p2p, online lending, peer-to-peer, LendIt Europe" %>

<header>
	<div class="container">
		<div class="logo"></div>

		<div class="header-buttons">

			<div class="button-register">
				<a href="http://register.lendit.co/europe" onclick="_gaq.push(['_link', 'http://register.lendit.co/europe']); return false;" target="_blank">
					<span>Register Now</span>
					<strong>July 7-14, 2015</strong>
				</a>
			</div>
<!-- 			<div class="button-recap">
				<a href="https://www.youtube.com/lenditconference" target="_blank">
					<span>Watch Recap</span>
					<strong>San Francisco 2014</strong>
				</a>
			</div> -->

		</div>
	</div>
</header>

<main>
	<section>
		<h1>LendIt China: <span> July 7-14, 2015 </span></h1>
		<div>A 7 day tour through Beijing and Shanghai</div>
		<div class="container entry-content">


			<div class="cols">
				<div class="col1">

					<p class="intro">LendIt will be returning to China in 2015 but this time we are organizing a 7 day tour through Beijing and Shanghai to meet the top P2P companies, institutional investors, and Chinese government officials.  We will arrange company visits, host dinner parties, arrange private meetings, and we will co-host two major conferences, one in Beijing and one in Shanghai.  If you want to do business with China, it is about building long term relationships, which is exactly what we help to facilitate with LendIt China.</p>

					<hr />

					<p class="secondary"></p>


<!-- 						<p class="secondary">
							For more details please go to our <a href="http://register.lendit.co/europe" onclick="_gaq.push(['_link', 'http://register.lendit.co/europe']); return false;" target="_blank">registration page</a>.
						</p> -->


					</div>

					<!-- SNAPSHOT AGENDA BEGINS -->
					<div class="row">
						<div class=" large-24 columns">

							<div class="ny15-header-agenda">
								<b>Agenda Snapshot</b>
								<!-- <a href="/usa/2015/agenda"> View Extended <span>Agenda</span> <i class="fa fa-arrow-circle-right"></i></a> -->
							</div>
							<!-- <%#= render "/conferences/usa15_snapshot_agenda" %> -->
							<div>
								<ul>
									<li>July 7: Arrive in Beijing</li>
									<li>July 8: LendIt China is a co-host of the Beijing International Life of Mobile App & Experience Show.  This will be an 8,000 person mobile exposition in the heart of Beijing.  In the morning we will tour the expo hall and in the afternoon we will have private closed door meetings with _________.</li>
									<li>July 9: One day trip to the Great Wall of China hosted by a leading Chinese P2P firm</li>
									<li>July 10: Bullet train from Beijing to Shanghai, company visits</li>
									<li>July 11-12: LendIt China will be returning as co-host of the 2nd annual Bund Summit on Internet Finance.  This is a 500 person summit with the top Chinese P2P firms, institutional investors, and Chinese government officials.</li>
									<li>July 13: Company visits, (preliminary) meeting with officials from the Shanghai Free Trade Zone</li>
									<li>July 14: Depart from Shanghai</li>
								</ul>
							</div>

							<div>
								<b>Featured Agenda</b>
								<!-- add images of CreditEase, Lufax, Dianrong (likely to update with more images) -->
							</div>

							<div class="row">
								<div class="large-24 columns">
									<div class="ny15-wide-quote">
										<div class="ny15-wide-quote-strong">
											"INSERT QUOTE HERE FROM RHYDIAN LEWIS Marketplace lending is arguably the hottest spot for financial innovation today and LendIt is right at its center, stoking the fires with great education, content, and networking. LendIt assembles all the key players, asks all the right questions, and creates the perfect forum to fire up ideas, spark connections, and facilitate deal making."
										</div>
										<div class="ny15-wide-quote-attribute">&mdash; Rhydian Lewis, Ratesetter</div>
									</div>
								</div>
							</div>


						</div>


					</div>
				</section>
			</main>



