<% title "LendIt China Conference Page" %>
<% meta_description "Join thousands of peer-to-peer and online lending professionals from around the world for the LendIt Conference" %>
<% meta_keywords "p2p, online lending, peer-to-peer, LendIt Europe" %>
<% body_class "conf-china15" %>
<div class="general-background">
	<div class="hero">
		<div class="hero-inner">
			<div class="hero-content">
				<div class="logo-image">
					<img src="https://s3-us-west-2.amazonaws.com/lendit/lendit-china15-hero-logo-02.png">
				</div>

				<div class="hero-button-area">

<!-- 					<div class="hero-button">
						<a href="http://register.lendit.co/europe" onclick="_gaq.push(['_link', 'http://register.lendit.co/europe']); return false;" target="_blank">
							<div>
								<span>Register Now</span>
								<strong>July 7-14, 2015</strong>
							</div>
						</a>
					</div> -->

					<div class="hero-button hero-button-reminder">
						<div>
							<span>
								SAVE THE DATE
							</span>
							<strong>
								July 7-14, 2015
							</strong>
						</div>
					</div>


					<div class="hero-button">
						<a href="/china/2015/speakers/sign-up">
							<div>
								<span>Suggest a Topic</span>
								<strong>Sign up to be a Speaker</strong>
							</div>
						</a>
					</div>


				</div>


			</div>
		</div>
	</div>
	<div class="row">
		<div class="columns small-24 medium-24 large-24">
			<div class="china15-header"><span> LendIt China: </span>  <span> July 7-14, 2015 </span>
				<div class="china15-subhead"><span>A 7-day-tour through</span> <span> Beijing and Shanghai </span></div>
			</div>
			<p class="intro">LendIt will return to China in 2015, however this time we are organizing a 7-day tour through Beijing and Shanghai to meet the top P2P internet finance companies, institutional investors, and Chinese government officials. We will arrange company visits, host dinner parties, arrange private meetings, and co-host two major conferences, one in Beijing and one in Shanghai. If you want to do business with China, it is all about building long-term relationships, which is exactly what we help to facilitate with LendIt China.</p>
		</div>
		<div class="columns small-24 medium-24 large-24">

			<div class="china15-sectionhead">Corporate Partners</div>

			<ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-3 china15-sponsors">
				<li><img src="https://s3-us-west-2.amazonaws.com/lendit/sponsors/creditease.psd-th.jpeg" /></li>
				<li><img src="https://s3-us-west-2.amazonaws.com/lendit/sponsors/lendit-usa-2015/lufax.psd-th.jpeg" /></li>
				<li><img src="https://s3-us-west-2.amazonaws.com/lendit/sponsors/diangrong.psd-th.jpeg" /></li>
			</ul>
		</div>

		<div class="columns">
			<div class="conf-quote" style="margin-top:1em;">
				<strong style="display:block; text-align:center;">
					LendIt China is your trusted source to access China
				</strong>
			</div>
		</div>

		<div class="columns small-24 medium-16 large-16 panel agenda-area">
			<div class="china15-sectionhead">Agenda Snapshot</div>
			<div class="agenda-row">
				<div class="agenda-date"> July 7</div>
				<div class="agenda-desc"> Arrive in Beijing (PEK airport)<br>Welcome dinner in Beijing City.</div>
			</div>
			<div class="agenda-row">
				<div class="agenda-date"> July 8</div>
				<div class="agenda-desc"> Attend Beijing International Life of Mobile App & Experience Show, an 8,000 person mobile exposition in the heart of Beijing. Tour expo hall in the morning. Attend closed-door meetings with Chinese Inernet Finance companies in the afternoon.	</div>
			</div>
			<div class="agenda-row">
				<div class="agenda-date">July 9</div>
				<div class="agenda-desc">One-day trip to the Great Wall of China hosted by a leading Chinese P2P firm.</div>
			</div>
			<div class="agenda-row">
				<div class="agenda-date">July 10</div>
				<div class="agenda-desc">Take the bullet train from Beijing to Shanghai, visits with companies like DianRong, Lufax and China Rapid Finance, a Huang Pu River Cruise welcome reception and dinner with the leadership of Chinese P2P companies.</div>
			</div>
			<div class="agenda-row">
				<div class="agenda-date">July 11-12</div>
				<div class="agenda-desc">LendIt China will be returning as co-host of the 2nd annual Bund Summit on Internet Finance.	This is a 500 person summit with the top Chinese P2P firms, foreign and domestic institutional investors, and Chinese government officials.</div>
			</div>
			<div class="agenda-row">
				<div class="agenda-date">July 13</div>
				<div class="agenda-desc">Meet with officials from the Shanghai Free Trade Zone and the Shanghai Stock Exchange. Attend send-off dinner and reception.</div>
			</div>
			<div class="agenda-row">
				<div class="agenda-date">July 14</div>
				<div class="agenda-desc">Depart from Shanghai.</div>
			</div>
		</div>



		<div class="columns small-24 medium-8 large-8">
			<div class="agenda-pullquote-area">
				<p class="agenda-pullquote">
					"LendIt are pioneers. <br>They brought together the marketplace lending industry before it was big news &mdash; with now many others following in their footsteps. The same goes for their first LendIt conference in Shanghai in 2014 which allowed the peer-to-peer lending industry and commentators from the US and the UK get a great insight in to the market in China and vice versa. The conference was brilliantly organised and clearly well coordinated with the right people in China. It was a very worthwhile conference for me and my company."
				</p>
				<p class="agenda-pullquote-attrib">
					&mdash; Rhydian Lewis, RateSetter
					(Attended LendIt China 2014)
				</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="columns large-24">
			<div class="china15-sectionhead">Keys to Success in China:</div>


			<table class="keys-to-success" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>★</td>
					<td>
						Establish relationship with key government officials
					</td>
				</tr>
				<tr>
					<td>★</td>
					<td>
						Build your brand for the Chinese audience
					</td>
				</tr>
				<tr>
					<td>★</td>
					<td>
						Partner with local counterparts
					</td>
				</tr>
			</table>
		</div>
	</div>


</div>
