<% title "LendIt China Conference Page" %>
<% meta_description "Join thousands of peer-to-peer and online lending professionals from around the world for the LendIt Conference" %>
<% meta_keywords "p2p, online lending, peer-to-peer, LendIt China" %>
<% body_class "conf-china15" %>
<div class="general-background">
	<div class="hero">
		<div class="hero-inner">
			<!-- BEGIN hero content -->
			<div class="hero-content">
				<div class="logo-image">
					<img src="https://s3-us-west-2.amazonaws.com/lendit/lendit-china15-hero-logo-02.png">
				</div>
				<ul>

					<li class="green">
						<a href="http://register.lendit.co/china" onclick="_gaq.push(['_link', 'http://register.lendit.co/china']); return false;" target="_blank">Register now</a>
					</li>
					<li class="orange">
						<a href="/china/2015/speakers/sign-up">
							Sign up to be a Speaker
						</a>
					</li>
				</ul>
			</div>
			<!-- END hero content -->
		</div>
	</div>
	<div class="row just-announced " data-equalizer="justannounced" >
		<div class="columns small-24 medium-5 large-5 just-announced-headshot" data-equalizer-watch="justannounced">
		</div>
		<div class="columns small-24 medium-19 large-19" data-equalizer-watch="justannounced">
			<div class="just-announced-text">
				<div class="china15-sectionhead">Just Announced!</div>
				<p>We are thrilled to announce Ron Suber, President of Prosper Marketplace, will be joining the LendIt China 2015 line-up.</p>
				<p>Ron will be a featured speaker at the Bund Summit in Shanghai and a participant in the complete LendIt China experience - attending high-level meetings, company visits, networking receptions, and cultural activities with tour attendees.</p>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="columns">
		</div>
	</div>
	<div class="row">
		<div class="columns small-24 medium-16 large-16">
			<div class="china15-header"><span> LendIt China: </span>  <span> July 7-14, 2015 </span> </div>
			<div class="china15-subhead"><span>A 7-day-tour through</span> <span> Beijing and Shanghai </span></div>
			
			<p>LendIt China is a seven-day, interactive tour through Beijing and Shanghai offering participants a curated introduction to the world's largest and fastest growing P2P market.
			</p>

			
			<h2>
				Why Attend?
			</h2>
			<ul>
				<li>Connect with top Chinese firms, investors, and government regulators</li>
				<li>Gain a deeper understanding of China's online lending ecosystem</li>
				<li>Learn how to establish your business in China</li>
				<li>Form local partnerships and joint ventures</li>
			</ul>
		
			
		</div>

		<div class="columns small-24 medium-8 large-8">
			<div class="conf-quote">
					<strong >
						"China is the largest market and in many ways the most dynamic in the world when it comes to marketplace lending. I’m honored to present at LendIt China and look forward to sharing Prosper’s observations and experience in this fast-growing, global industry. After a fantastic LendIt USA, bringing the conversation to Asia is a natural extension for this growing conference."
					</strong>
					<div>
						&mdash; Ron Suber, Prosper&nbsp;Marketplace
					</div>
				</div>
		</div>

	</div>
		<div class="row">
			<div class="columns">
				
			</div>
		</div>

		<%= render 'china15_speakers' %>

		<div class="row">
			<div class="columns small-24 medium-15 large-15 ">
				<div class=" panel agenda-area">
					<a name="agenda"></a>
					<div class="china15-sectionhead tour-overview-area"><span class="tour-overview"> Tour Overview </span>  <span class="side-link"> <a href="/china/2015/itinerary"><i class="fa fa-arrow-circle-right "></i> Tour Details</a> </span></div>
					<div class="agenda-content">
						<div class="agenda-row">
							<div class="agenda-date"> July 7</div>
							<div class="agenda-desc"> Arrive in Beijing.<br>Welcome dinner.</div>
						</div>
						<div class="agenda-row">
							<div class="agenda-date"> July 8</div>
							<div class="agenda-desc"> Attend Beijing International Life Mobile App & Experience Show.</div>
						</div>
						<div class="agenda-row">
							<div class="agenda-date">July 9</div>
							<div class="agenda-desc">Meet Ning Tang, CEO of CreditEase. Great Wall Excursion hosted by CreditEase.</div>
						</div>
						<div class="agenda-row">
							<div class="agenda-date">July 10</div>
							<div class="agenda-desc">Company Visits in Beijing. Travel from Beijing to Shanghai via bullet train. Dinner Cruise.</div>
						</div>
						<div class="agenda-row">
							<div class="agenda-date">July 11</div>
							<div class="agenda-desc">Attend Bund Summit</div>
						</div>
						<div class="agenda-row">
							<div class="agenda-date">July 12</div>
							<div class="agenda-desc">Attend Bund Summit.</div>
						</div>
						<div class="agenda-row">
							<div class="agenda-date">July 13</div>
							<div class="agenda-desc">Company visits in Shanghai.</div>
						</div>
						<div class="agenda-row">
							<div class="agenda-date">July 14</div>
							<div class="agenda-desc">Depart from Shanghai.</div>
						</div>

				
						
					</div>
				<div class="tour-overview-bottom"><strong> Tour Price: $9,995 </strong> <i>(excludes airfare)</i></div>
					
				</div>
			</div>


			<div class="columns small-24 medium-9 large-9  module-area module-shows">
				<div class="module" >
					<div class="china15-sectionhead"><a href="/china/2015/bund-summit"><i class="fa fa-arrow-circle-right "></i> Bund Summit</a></div>
					<div class="module-content">
						<ul>
							<li>Co-hosted by LendIt China & Shanghai Finance Institute</li>
							<li>500+ top internet finance companies, government officials, and investors</li>
							<li>The most influential Chinese conference focused on online lending</li>
						</ul>
					</div>
				</div>
				<div class="module">
					<div class="china15-sectionhead"><a href="/china/2015/china-app-show"><i class="fa fa-arrow-circle-right "></i> China App Show </a></div>
					<div class="module-content">
						<ul>
							<li>Co-hosted by LendIt and LingYi Finance</li>
							<li>8000+ attendees</li>
							<li>11,000 square meter exhibition hall featuring hundreds of Chinese mobile internet finance ompanies</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="columns small-24 medium-24 large-24">
				<div class="china15-sectionhead sponsors-section">
					<span class="sponsors-head-left">
					Sponsors
				</span> 
				 	<span class="side-link"> 
						<a href="https://s3-us-west-2.amazonaws.com/lendit/china-2015/LendIt-China-2015-prospectus.pdf"><i class="fa fa-arrow-circle-right "></i> Sponsorship Prospectus</a> 
					</span>
				</div>
				<ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-3 china15-sponsors">
					<li><img src="https://s3-us-west-2.amazonaws.com/lendit/sponsors/creditease.psd-th.jpeg" /></li>
					<li><img src="https://s3-us-west-2.amazonaws.com/lendit/sponsors/lendit-usa-2015/lufax.psd-th.jpeg" /></li>
					<li><img src="https://s3-us-west-2.amazonaws.com/lendit/china-2015/sponsors/qingyidai.psd-th.jpeg" /></li>
				</ul>
			</div>

			<div class="columns">
				<div class="conf-quote">
					<strong >
						"LendIt are pioneers. <br><br>They brought together the marketplace lending industry before it was big news &mdash; with now many others following in their footsteps. The same goes for their first LendIt conference in Shanghai in 2014 which allowed the peer-to-peer lending industry and commentators from the US and the UK get a great insight in to the market in China and vice versa. The conference was brilliantly organised and clearly well coordinated with the right people in China. It was a very worthwhile conference for me and my company."
					</strong>
					<div>
						&mdash; Rhydian Lewis, RateSetter
						(Attended LendIt China 2014)
					</div>
				</div>
			</div>
			</div>
		</div>
