<% title "LendIt China 2015 Bund Summit Page" %>
<% meta_description "View the Bund Summit agenda for the LendIt China 2015 Conference." %>
<% meta_keywords "p2p, online lending, peer-to-peer, LendIt China, agenda, conference, Bund Summit" %>
<% body_class "china15-agenda-bund" %>
<div class="general-background">
	<div class="row">
		<div class="columns">
			<div class="introduction">
				<h2> The Bund Summit 2015 on Internet Finance Agenda</h2>
				<p> Internet finance has been growing rapidly in China and drawing attention from
					around the globe. To address the development and challenges facing the
					industry, Shanghai Finance Institute (SFI) and LendIt will jointly host Shanghai Finance Institute Annual Conference 205 & The
					Bund Summit 2015 on Internet Finance. The theme will be
					"Internet Finance: Innovation, Risks and Regulation". Financial innovators,
					investors and pioneers will gather to discuss industry trends, learn from
					market leaders, form key business alliances, and showcase industry-moving
					products and services. </p>
				<p>
					This-500 person conference in Shanghai has become the most influential Chinese conference focused on online lending. We will host many members of the top regulatory bodies including the PBoC, CRBC, CSRC, and CIRC. In addition, we will have keynotes from the China Investment Corp, China's largest sovereign wealth fund, and Alibaba's ZhaoCaiBao unit of Ant Financial, their P2P division, among others.
				</p>
			</div>
			<div class="header-day">
				<div> Saturday Morning, July 11, 2015 </div>
				<div> Time：9:00-12:00 </div>
				<div> (closed door session) </div>
			</div>
			<div class="header-topic">
				<div> Closed -Door Session: Internet Finance: Innovation and Regulation Worldwide </div>
				<div> Time: 9:30 – 12:00 </div>
				<div> Venue: Grand Hall, 5F, Shanghai Marriott Hotel City Center </div>
				<div> Moderator: Mr. WANG Haiming, Executive Deputy Director, SFI </div>
			</div>
			<table>
				<tr>
					<td class="time">8:30 – 9:00</td>
					<td>
						<div>Registration </div>
					</td>
				</tr>
				<tr>
					<td class="time">9:00 – 10:20</td>
					<td>
						<div>Keynote Speeches (20 min. each)</div>
						<div> Christine Farnish, LendIt Invited Guest; Chairwoman, Peer-to-Peer Finance Association (P2PFA)</div>
						<div> Ron Suber, LendIt Invited Guest; President, Prosper Funding LLC and Prosper Marketplace, LLC</div>
					</td>
				</tr>
				<tr>
					<td class="time">10:00 - 10:25</td>
					<td>
						<div> Commentators: </div>
						<div>TU Guangshao, SFI Academic Advisor; Executive Vice Mayor of Shanghai</div>
						<div> YAN Qingmin, Academic Advisor, SFI; Vice-mayor, Tianjin</div>
						<div>Greg Gibb, SFI Executive Council Member; Chairman, Lufax</div>
					</td>
				</tr>
				<tr>
					<td class="time">10:25 - 10:35</td>
					<td><div>
						Coffee Break
					</div></td>
				</tr>
				<tr>
					<td class="time">10:35 - 12:00</td>
					<td><div>
						Roundtable Discussion
					</div></td>
				</tr>
				<tr>
					<td class="time">12:00 - 13:30</td>
					<td>
						<div>Lunch</div>
					</td>
				</tr>
			</table>
			<div class="header-day">
				<div>Sessions below are open to the public and media </div>
				<div>Saturday Afternoon, July 11, 2015</div>
				<div>Time: 14:00-16:30</div>
				<div>Venue: Grand Hall, 5F, Shanghai Marriott Hotel City Center</div>
			</div>
			<table>
				<tr>
					<td class="time">13:30 - 14:00</td>
					<td><div>
						Registration
					</div></td>
				</tr>
			</table>
			<div class="header-topic">
				<div>General Assembly<br>Internet Finance：Innovation, Risks and Regulation</div>
				<div>	Time: 14:00 – 16:30</div>
				<div>	Venue: Grand Hall, 5F, Shanghai Marriott Hotel City Center</div>
				<div>	Moderator: WANG Haiming, Executive Deputy President, SFI</div>
			</div>
			<table>
				<tr>
					<td class="time">14:00 - 14:30</td>
					<td>
						<div>Opening</div>
						<div>Welcome Speech &amp; Issuance of Certificates to new SFI Council Members</div>
						<div>TU Guangshao, SFI Academic Advisor; Executive Vice Mayor of Shanghai</div><br>
						<div>Huangpu District Policies in Support of the Development of Internet Finance</div>
						<div>TANG Zhiping, Vice Chairman, SFI Executive Council; Governor, Huangpu District Government, Shanghai</div><br>
						<div>SFI Annual Report</div>
						<div>WANG Haiming, Executive Deputy Director, SFI</div>
					</td>
				</tr>
				<tr>
					<td class="time">14:20 - 14:50</td>
					<td>
						<div>Keynote Speech I: The Development of Internet Finance and  the Building-Up of Shanghai Technology Innovation Center</div>
						<div>TU Guangshao, SFI Academic Advisor; Executive Vice Mayor of Shanghai </div>

					</td>
				</tr>
				<tr>
					<td class="time">14:40 - 15:10</td>
					<td>
						<div>Keynote Speech II: The Development of Internet Finance and Regional Economic Innovation</div>
						<div>YAN Qingmin, SFI Academic Advisor; Vice-mayor of Tianjin</div>
					</td>
				</tr>
				<tr>
					<td class="time">15:00 - 15:20</td>
					<td>
						<div> Coffee Break/Group Photo</div>
					</td>
				</tr>
				<tr>
					<td class="time">15:20 - 15:40</td>
					<td>
						<div>Keynote Speech III: Internet Finance and Traditional Finance: Competition and Integration</div>
						<div>YANG Kaisheng, SFI Invited Guest; Special Advisor, China Banking Regulatory Commission; Former President, Industrial and Commercial Bank of China   </div>
					</td>
				</tr>

				<tr>
					<td class="time">15:40 - 16:00</td>
					<td>
						<div> Keynote Speech IV: SFI IIF 2015 Report on China’s P2P Online Lending Platforms</div>
						<div> ZHONG Wei, Deputy Director, SFI; Director, Finance Research Center, Beijing Normal University</div>
					</td>
				</tr>
				<tr>
					<td class="time">16:00 - 16:30</td>
					<td><div>Roundtable Discussion</div></td>
				</tr>
			</table>
			<div class="header-day">
				<div>Saturday Afternoon, July 11, 2015</div>
				<div>Time: 16:30-18:00</div>
				<div>Venue: Small Banquet Hall, 5F, Shanghai Marriott Hotel City Center</div>
			</div>
			<div class="header-breakout">
				Breakout Session Room A
			</div>
			<div class="header-topic">
				<div>Breakout Session I
					<div>Transformation of the Banking Industry in the Era of Internet Finance</div>
				</div>
				<div>Venue: No.4 Small Banquet Hall, 5F, Shanhai Marriott Hotel City Center</div>
				<div>Moderator: ZHONG Wei, Deputy Director, SFI </div>
			</div>
			<table>
				<tr>
					<td class="time">16:30 - 18:00</td>
					<td>
						<div> Panelists: </div>
						<div>LU Lei, CF40 member; Director, Research Bureau, People’s Bank of China </div>
						<div> LI Renjie, CF40 Executive Council Member; President, Industrial Bank CO. LTD.</div>
						<div> HUANG Jinlao, CF40 Member; Vice President, Huaxia Bank</div>
						<div> LIAN  Ping,  SFI  Academic  Advisor;  Chief  Economist,  Bank  of Communications</div>
						<div> YU Shengfa, Vice President, Zhejiang Ant Small and Micro Financial Services Group</div>
						<div> ZHU Tao, SFI Invited Guest; President, Shanghai Huarui Bank Corp.</div>
					</td>
				</tr>
			</table>
			<div class="header-breakout">
				Breakout Session Room B
			</div>
			<div class="header-topic">
				<div> Breakout Session II
				<div>	Risk Management for P2P Platforms</div></div>
				<div>	Venue: Small Banquet Hall, 5F, Shanghai Marriott Hotel City Center</div>
				<div>	Moderator: WU Yushan, CEO of CFCITY</div>
			</div>
			<table>
				<tr>
					<td class="time">16:30 - 18:00</td>
					<td>
						<div> Panelists: </div>
						<div> YANG Xiaojun, SFI Council Representative; Vice Chairman, LUFAX</div>
						<div> CHEN Huan, SFI Council Representative; Chief Strategy Officer, CreditEase</div>
						<div> YANG Yifu, SFI Invited Guest; Co-founder, renrendai.com</div>
						<div> WANG Zhengyu, LendIt Invited Guest; Founder and Chairman, China Rapid Finance</div>
						<div> ZHANG Yang, SFI Invited Guest; Founder and CEO, xinxindai.com</div>
						<div> David Ruddiman, LendIt Invited Guest; CEO, LendEx</div>
					</td>
				</tr>
			</table>
			<div class="header-breakout">
				Breakout Session Room C
			</div>
			<div class="header-topic">
				<div>Breakout Session III
				<div>Internet Finance and Credit Reporting</div></div>
				<div>Venue: No.6 Banquet Hall, 5F, Shanghai Marriott Hotel City Center</div>
				<div>Moderator: YUAN Li, CF40 Member; Vice President, China Development Bank</div>
			</div>
			<table>
				<tr>
					<td class="time">16:30 - 18:00</td>
					<td>
						<div> Panelists: </div>
						<div> WANG Xiaolei, SFI Invited Guest; Deputy Director-General, Credit Reporting Center, People’s Bank of China</div>
						<div> CHEN Jian, SFI Invited Guest; President, FICO (China)</div>
						<div> MAO Zhenhua, SFI Invited Guest; Chairman, China Chengxin Credit Rating Group </div>
						<div> HU Tao, SFI Invited Guest; Assistant President, Tencent Credit Service</div>
						<div> LI Xuan, SFI Invited Guest; CEO, Intellicredit Credit Reporting </div>
						<div> XU Yanzhi, SFI Invited Guest, Senior Vice President, Kaola Credit Reporting Service</div>
						<div> Wang Zhaoqin, Assistant President, Tencent Credit Service</div>
					</td>
				</tr>
			</table>
			<div class="header-day">
				<div> Sunday Morning, July 12, 2015 </div>
				<div> Time：9:00-12:00 </div>
				<div> Venue：Grand Hall, 5F, Shanghai Marriott Hotel City Center </div>
			</div>
			<table>
				<tr>
					<td class="time">08:30 - 09:00</td>
					<td>
						<div>
							Registration
						</div>
					</td>
				</tr>
			</table>
			<div class="header-topic">
				<div>General Assembly
				<div>	Internet Finance：Innovation, Risks and Regulation</div></div>
				<div>	Venue: Grand Hall, 5F, Shanghai Marriott Hotel City Center</div>
				<div>	Moderator: GUAN Tao, Senior Fellow, CF40</div>
			</div>
			<table>
				<tr>
					<td class="time">09:00 - 09:20</td>
					<td>
						<div> Keynote Speech I: Internet Finance: Regulation and Innovation </div>
						<div> Mr. ZHANG Tao, CF40 member: Director, Legal Affairs Department, People's Bank of China </div>
					</td>
				</tr>
				<tr>
					<td class="time">09:20 - 09:40</td>
					<td>
						<div> Keynote Speech II: Internet Finance and Development of Credit Reporting Services</div>
						<div> Mr. WANG Yu, SFI Invited Guest; Director-General, Credit Information System Bureau, People’s Bank of China</div>
					</td>
				</tr>
				<tr>
					<td class="time">09:40 - 10:00</td>
					<td>
						<div> Keynote Speech III: The International Practice and Regulation of Internet Finance</div>
						<div> FAN Wenzhong, CF40 member: Director, International Department, China Banking Regulatory Commission</div>
					</td>
				</tr>
				<tr>
					<td class="time">10:00 - 10:20</td>
					<td>
						<div> Keynote Speech IV: Development Opportunities and Risk Management of Internet Finance</div>
						<div> Greg Gibb, SFI Executive Council Member; Chairman, Lufax</div>
					</td>
				</tr>
				<tr>
					<td class="time">10:20 - 10:30</td>
					<td>
						<div>Coffee Break</div>
					</td>
				</tr>
				<tr>
					<td class="time">10:30 - 10:50</td>
					<td>
						<div>Keynote Speech VI：A Summary of UK P2P Lending & Regulation</div>
						<div>Christine Farnish, LendIt Invited Quest; Chair, Peer-to-Peer Finance Association (P2PFA)</div>
					</td>
				</tr>

				<tr>
					<td class="time">10:50 - 11:10</td>
					<td>
						<div> Keynote Speech VII: What It Takes To Succeed in Marketplace Lending </div>
						<div>Ron Suber, LendIt Invited Quest; CEO, Prosper Funding LLC and Prosper Marketplace, Inc.</div>
					</td>
				</tr>
				<tr>
					<td class="time">11:10 - 11:30</td>
					<td>
						<div>Keynote Speech VIII: The Emergence of Institutional Investors in Marketplace Lending</div>
						<div>Matthew Daniel Burton: LendIt Invited Guest; CEO, Orchard</div>
					</td>
				</tr>
				<tr>
					<td class="time">11:30 - 12:00</td>
					<td>
						<div>Roundtable Discussion </div>
					</td>
				</tr>
				<tr>
					<td class="time">12:00 - 13:30</td>
					<td><div>
						Lunch
					</div></td>
				</tr>
			</table>
			<div class="header-day">
				<div>	Sunday Afternoon, July 12, 2015</div>
				<div>	Time：13:30 – 16:40</div>
				<div>	Venue：Small Banquet Hall, 5F, Shanghai Marriott Hotel City Center</div>
			</div>
			<div class="header-breakout">
				Breakout Session Room A
			</div>
			<div class="header-topic">
				<div> Breakout Session IV
				<div>P2P: Innovation and Regulation</div></div>
				<div>Venue: 5F, No.4 Banquet Hall, Shanghai Marriott Hotel City Center</div>
				<div>Moderator: ZHANG Xiaopu, CF40 Member; Deputy Director-General, Policy Research Bureau, China Banking Regulatory Commission</div>
			</div>
			<table>
				<tr>
					<td class="time">13:30 - 15:00</td>
					<td>
						<div> Panelists: </div>
						<div>ZHANG Chenghui, CF40 Member; Director, Finance Institute, State Council Development Research Center</div>
						<div> YUAN Leiming, SFI Council Representative; CEO, Zhaocaibao</div>
						<div> REN Junxia, SFI Member Representative, Chairman, Yibankclub</div>
						<div> Christine Farnish, LendIt Invited Guest; Chair, Peer-to-Peer Finance Association (P2PFA)</div>
						<div> Gene Barash, LendIt Invited Guest; CEO, Realty Mogul</div>
					</td>
				</tr>
				<tr>
					<td class="time">15:00 - 15:10</td>
					<td><div>
						Coffee Break
					</div></td>
				</tr>
			</table>
			<div class="header-topic">
				<div>	Breakout Session V
				<div>Investing in Internet Finance: Opportunities and Challenges</div></div>
				<div>Venue: No.4 Banquet Hall, 5F, Shanghai Marriott Hotel City Center</div>
				<div>Moderator: WU Yushan, CEO, CFCity</div>
			</div>
			<table>
				<tr>
					<td class="time">15:10 - 16:40</td>
					<td>
						<div> Panelists: </div>
						<div>CHEN Jiwu, SFI Executive Council Member, Chairman, V.Stone Investment Management</div>
						<div>WANG Qing, SFI Academic Advisor; President, Shanghai Chongyang Investment Management Co.l</div>
						<div>ZHOU Kui, SFI Invited Guest, Partner, Sequoia Capital China</div>
						<div> LI Feng, SFI Invited Guest; Partner, IDG Capital Partners</div>
						<div> MA Ning, SFI Invited Guest; Founder, LingFeng Asset Investment</div>
						<div> Jason Jones, LendIt Invited Guest; Co-Founder, LendIt</div>
					</td>
				</tr>
			</table>
			<div class="header-breakout">
				Breakout Session Room B
			</div>
			<div class="header-topic">
				<div>Breakout Session VI
				<div>Mobile Finance: Innovation Driven by Technology</div></div>
				<div>Venue: 5F, No.5 Banquet Hall, Shanghai Marriott Hotel City Center</div>
				<div>Moderator: Mr. ZHENG Yang, Vice Chairman, SFI Executive Council; Director-General, Shanghai Financial Services Office</div>
			</div>
			<table>
				<tr>
					<td class="time">13:30 - 15:00</td>
					<td>
						<div> Panelists: </div>
						<div> ZHANG Guangping, SFI Invited Guest; Deputy Director, China Banking Regulatory Commission, Shanghai Bureau</div>
						<div> JIANG Mingsheng, SFI Council Representative; Vice President, SPD Bank</div>
						<div> Soul Htite, SFI Council Representative; Co-founder and CEO, Dianrong</div>
						<div> YE Daqing, SFI Invited Guest; Founder and CEO, Rong360</div>
						<div> WANG Anquan, SFI Invited Guest; President, MI Finance</div>
						<div> SUN Lei, SFI Invited Guest; Founder and CEO, 9Fbank.com </div>
					</td>
				</tr>
				<tr>
					<td class="time">15:00 - 15:10</td>
					<td><div>Coffee Break</div></td>
				</tr>
			</table>
			<div class="header-breakout">
			</div>
			<div class="header-topic">
				<div>Breakout Session VII
				<div>Mega Data: Thinking and Applications</div></div>
				<div>Venue: No.5 Banquet Hall, 5F, Shanghai Marriott Hotel City Center</div>
				<div>Moderator: YUAN Li, CF40 Member; Vice President, China Development Bank</div>
			</div>
			<table>
				<tr>
					<td class="time">15:10 - 16:40</td>
					<td>
						<div> Panelists: </div>
						<div> LIU Jinglun, SFI Council Representative; President, Taikang Life Insurance Co., Ltd.</div>
						<div> WANG He, SFI Invited Guest; Vice President, People's Insurance Company of China (PICC)</div>
						<div> JIN Yu, SFI Invited Guest; Vice President of Strategy, Baidu</div>
						<div> SUN Zhongdong, SFI Invited Guest; Assistant President & Chief Information Officer, Shanghai Huarui Bank Corp.</div>
						<div> LEI Tao, SFI Invited Guest; CEO, BeagleData</div>
						<div> LEI Peng, SFI Council Representative; Vice President, Big Data Innovation Center, CreditEase</div>
					</td>
				</tr>
			</table>
			<div class="header-breakout">
				Breakout Session Room C
			</div>
			<div class="header-topic">
				<div>Breakout Session VIII
				<div>Asset Management in the Era of Internet Finance</div></div>
				<div>Venue: No.6 Banquet Hall, 5F, Shanghai Marriott Hotel City Center</div>
				<div>Moderator: GUAN Tao, Senior Fellow, CF40 </div>
			</div>
			<table>
				<tr>
					<td class="time">13:30 - 15:00</td>
					<td>
						<div>Panelists:</div>
						<div> LAN Rong, SFI Executive Council Member; Chairman, Industrial Securities</div>
						<div> YANG Huahui, SFI Executive Council Member; Chairman, China Industrial International Trust Limited</div>
						<div> LI Xunlei, Member, SFI Academic Committee; Vice President and Chief Economist, Haitong Securities</div>
						<div> MA Xutian, SFI Council Representative; President, Asset Management Center, Bank of Communications</div>
						<div> YAO Wenping, SFI Executive Council Member; Chairman, Tebon Securities</div>
						<div> GAO Zhanjun, CF40 Invited Guest; Managing Director, Citic Securities</div>
					</td>
				</tr>
				<tr>
					<td class="time">15:00 - 15:10</td>
					<td><div>
						Coffee Break
					</div></td>
				</tr>
			</table>
			<div class="header-topic">
				<div>	Breakout Session IX
				<div> Interment Payment - More Than Payment</div></div>
				<div>	Venue: No. 6 Banquet Hall, 5F, Shanghai Marriott Hotel City Center</div>
				<div>	Moderator: LI Ruiyong, SFI Council Representative; Vice General Manager, Shanghai Clearing House </div>
			</div>
			<table>
				<tr>
					<td class="time">15:10 - 16:40</td>
					<td>
						<div>Panelists:</div>
						<div> FAN Shuangwen: SFI Invited Guest; Deputy Director-General, Payment and Settlement Department, People’s Bank of China</div>
						<div> CAI Hongbo, SFI Invited Guest; Executive Vice Chairman & Secretary-General, Payment and Clearing Association of China</div>
						<div> LIN Caiyi, SFI Invited Expert; Chief Economist, Guotai Junan Securities</div>
						<div> LAN Qi, SFI Invited Guest; Executive President, All In Pay</div>
						<div>ZHENG Haojian, SFI Invited Guest, Vice President, Tenpay</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>
