<% title "LendIt USA 2015 Conference Page" %>
<% meta_description "Join Europe's largest annual gather of the peer-to-peer and online lending community" %>
<% meta_keywords "p2p, online lending, peer-to-peer, LendIt Europe" %>
<% body_class "europe-2015" %>
<div class="general-background">
	<div class="hero">
		<div class="hero-inner">
			<div class="hero-content">
				<div class="logo-image">
					<img src="https://s3-us-west-2.amazonaws.com/lendit/europe-2015/europe-2015-hero-logo2.png" class="logo-image">

				</div>
				<ul>
					<!-- 					<li class="grey">
						<span>
							<label>
								SAVE THE DATE!
							</label>
							October 20-21, 2015
						</span>
					</li> -->
					<li class="green">
						<a href="http://register.lendit.co/d/yrqdh2/4W" onclick="_gaq.push(['_link', 'http://register.lendit.co/d/yrqdh2/4W']); return false;" target="_blank">Register now</a>
					</li>
					<li class="green">
						<a href="/europe-book-hotel" target="_blank">
							Book your hotel
						</a>
					</li>
					<li class="green">
						<a href="/europe/2015/speakers/sign-up">
							Sign up to be a Speaker
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- BEGIN main content -->
	<div class="conf-content">
		<div class="row">
			<div class="columns">
				<div class="p2pfa-banner">
					<div class="p2pfa-image">
						<a href="">
							<img src="https://s3-us-west-2.amazonaws.com/lendit/europe-2015/p2pfa-banner.png" class="banner-image">
						</a>
					</div>
					<div class="p2pfa-info">
						<div class="p2pfa-info-inner">
							<a href="">
								<div class="p2pfa-info-title">
									21st October 2015 • Day 2 @ LendIt Europe 2015
								</div>
								<div class="p2pfa-info-title">
									<!-- LendIt Europe 2015, Day 2 • P2PFA Summit @ LendIt -->
								</div>
							</a>

							<div class="p2pfa-info-text">

								LendIt is partnering with the UK P2P Finance Association on Day 2 of LendIt Europe this year. The P2PFA Summit @ LendIt will bring you a day of unrivaled content and networking.
							</div>
						</div>
					</div>
				</div>
				<div class="conf-hd">
					LendIt Europe: <span>20-21 October 2015</span> <span> at  the	Hilton
						London	Metropole
					</span>
				</div>
			</div>
		</div>




		<div class="row conf-intro" data-equalizer="intro" >

			<div class="columns" data-euqlizer-watch="intro">
				<!-- <div class="small-24 medium-16 large-17 columns" data-equalizer-watch="intro"> -->
					<div class="conf-intro-text" >
						<p>
							<span class="green">LendIt Europe is Europe's largest annual gathering of the online lending community.</span> It is where all the industry's major players come to learn, network, and do business.
						</p>
						<p>
							Last year's inaugural event was a one-day event that attracted almost 500 attendees. This year we are expanding to two days and we expect 750 to 1,000 attendees.
						</p>
					</div>
				</div>

			</div>

			<%= render 'eu15_speakers' %>




			<div class="row">
				<div class="columns">
					<div class="section-hd">
						Event Overview
					</div>
				</div>
			</div>
			<div class="row">
				<div class=" small-24 medium-24 large-8 columns">
					<div class="special-spacer-0"></div>
					<div class="section-intro">
						<p>
							The second annual LendIt Europe combines engaging content with unrivaled networking during two full days at the Hilton London Metropole.
						</p>
						<p>
							This year we are excited to be partnering with the UK P2P Finance Association for Day 2 of LendIt Europe. Find out more in our <a href="https://s3-us-west-2.amazonaws.com/lendit/europe-2015/LendIt-Europe-P2PFA-Summit-flyer.pdf" target="_blank">brochure</a>.
						</p>
					</div>
				</div>
				<div class=" small-24 medium-12 large-8 columns">
					<table class="overview-icons">
						<tr><td class="special-spacer"></td></tr>
						<tr>
							<td>
								<img src="https://s3-us-west-2.amazonaws.com/lendit/photos/ny15-icon-decision.png" alt="" />
							</td>
							<td>
								<span>750 Decision Makers</span>
							</td>
						</tr>
						<tr>
							<td>
								<!-- NEEDS ICON WITH TABLE IN FRONT OF 4 FIGURES -->
								<img src="https://s3-us-west-2.amazonaws.com/lendit/photos/ny15-icon-keynote.png" alt="" />
							</td>
							<td>
								<span>Keynotes / Panels / Q&As</span>
							</td>
						</tr>
						<tr>
							<td>
								<!-- NEEDS ICON-->
								<img src="https://s3-us-west-2.amazonaws.com/lendit/photos/ny15-icon-company-demos.png" alt="" />
							</td>
							<td>
								<span>Company Demos</span>
								<!-- <div>Parties, Lounges, Breakfasts, Lunches, Coffee Breaks, and the LendIt mobile app</div> -->
							</td>
						</tr>
						<tr>
							<td>
								<!-- NEEDS ICON WITH PERSON BEHIND TABLE -->
								<img src="https://s3-us-west-2.amazonaws.com/lendit/photos/ny15-icon-space.png" alt="" />
							</td>
							<td>
								<span>Online Lending Expo</span>
								<!-- <div>Parties, Lounges, Breakfasts, Lunches, Coffee Breaks, and the LendIt mobile app</div> -->
							</td>
						</tr>
						<tr>
							<td>
								<!-- NEEDS ICON WITH HEART -->
								<img src="https://s3-us-west-2.amazonaws.com/lendit/home/usa15-overview/startup-zone-0.png" alt="" />
							</td>
							<td>
								<span>Start-up Zone</span>
								<!-- <div>Parties, Lounges, Breakfasts, Lunches, Coffee Breaks, and the LendIt mobile app</div> -->
							</td>
						</tr>
						<tr>
							<td>
								<!-- NEEDS ICON WINE AND COCKTAIL GLASSES -->
								<img src="https://s3-us-west-2.amazonaws.com/lendit/home/usa15-overview/fun-parties-0.png" alt="" />
							</td>
							<td>
								<span>Cocktail Parties</span>
								<!-- <div>Parties, Lounges, Breakfasts, Lunches, Coffee Breaks, and the LendIt mobile app</div> -->
							</td>
						</tr>
					</table>
				</div>

				<div class="columns small-24 medium-12 large-8">
					<table cellspacing="0" class="overview-icons">
						<tr><td class="special-spacer"></td></tr>
						<tr>
							<td>
								<!-- NEEDS ICON WINE AND COCKTAIL GLASSES -->
								<img src="https://s3-us-west-2.amazonaws.com/lendit/photos/ny15-icon-parties.png" alt="" />
							</td>
							<td class="special-networking-opp">
								<div class="special-networking-opp-left">
									<span style="margin-top:1.25em;margin-bottom:1em; display:block;">Networking Opportunities</span>
									<ul>
										<li>
											Breakfast / Lunch,
										</li>
										<li>
											Morning & Afternoon Tea
										</li>
										<li>
											Private Meeting Rooms
										</li>
										<li>
											Networking Lounge
										</li>
										<li>
											Mobile App
										</li>
									</ul>
								</div>
								<img src="https://s3-us-west-2.amazonaws.com/lendit/home/usa15-overview/europe-2015-art-mobile-phone.png" />
								<!-- <div>Parties, Lounges, Breakfasts, Lunches, Coffee Breaks, and the LendIt mobile app</div> -->
							</td>
						</tr>
					</table>
				</div>
			</div>



			<div class="row buttonandquote">
				<div class="columns"><div class="buttonandquote-divider"></div></div>
				<div class="columns medium-12 large-8">



					<div class="conf-callout-button">
						<a href="/europe/2015/sponsors" target-"_blank" class="buttonlink">View Sponsors</a>
					</div>


					<div class="conf-callout-button">
						<a href="https://s3-us-west-2.amazonaws.com/lendit/europe-2015/prospectus.pdf" target-"_blank" class="buttonlink">Want to sponsor LendIt Europe?</a>
					</div>

				</div>
				<div class="columns medium-12 large-16">

					<div class="conf-quote conf-quote-light" >
						<strong>
							"LendIt Europe 2014 was a fantastic event for the industry. LendIt did a great job of bringing all the major names in the European market together for high quality learning and networking in an ideal location."
						</strong>
						<div>
							Nick Moules, Marketing &amp; Communication Manager, rebuildingsociety.com
						</div>
					</div>




				</div>
				<div class="columns"><div class="buttonandquote-divider"></div></div>

			</div>


			<!-- <div class="small-24 medium-8 large-7 columns" >
				<div class="panel" data-equalizer-watch="intro">
					<a href="https://s3-us-west-2.amazonaws.com/lendit/europe-2015/prospectus.pdf" target="_blank">
						<img src="https://s3-us-west-2.amazonaws.com/lendit/europe-2015/2015-06-09-eu15-prospectus-thumb.png">
						View Prospectus <i class="fa fa-arrow-circle-right"></i>
					</a>
				</div>
			</div> -->






			<div class="row">
				<div class="small-24 medium-24 large-10 columns">
				</div>
			</div>
			<div class="row">
				<div class="large-24 columns">

				</div>
			</div>
			<div class="row conf-callouts" data-equalizer="callouts" >
				<div class="columns small-24 medium-8 large-8">
					<div class="panel" data-equalizer-watch="callouts">
						<div class="conf-callout-hd">Attendee Growth</div>
						<div class="conf-callout-object">
							<img src="https://s3-us-west-2.amazonaws.com/lendit/conferences/europe-2015/europe-2015-callout-attendance.png" />
						</div>
					</div>
				</div>
				<div class="columns small-24 medium-8 large-8">
					<div class="panel" data-equalizer-watch="callouts">
						<div class="conf-callout-hd"> 2014 Audience Breakdown </div>
						<div class="conf-callout-object">
							<img src="https://s3-us-west-2.amazonaws.com/lendit/conferences/europe-2015/europe-2015-callout-audience.png" />
						</div>
					</div>
				</div>
				<div class="columns small-24 medium-8 large-8" >
					<div class="panel" data-equalizer-watch="callouts">
						<a href="europe/2014/attendees" class="conf-callout-map">
							<div class="conf-callout-hd">
								2015 Attendee Map <i class="fa fa-arrow-circle-right"></i>
							</div>
							<div class="conf-callout-object">
								<img src="https://s3-us-west-2.amazonaws.com/lendit/conferences/europe-2015/europe-2015-callout-map.png" />
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="row conf-photos">
				<div class="large-24 columns">
					<div class="section-hd"> 2014 Photos </div>
					<ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-3">
						<li class="visible">
							<img src="https://s3-us-west-2.amazonaws.com/lendit/conferences/europe-2015/europe-2015-prev-photos-01.jpg" />
						</li>
						<li>
							<img src="https://s3-us-west-2.amazonaws.com/lendit/conferences/europe-2015/europe-2015-prev-photos-02.jpg" />
						</li>
						<li>
							<img src="https://s3-us-west-2.amazonaws.com/lendit/conferences/europe-2015/europe-2015-prev-photos-03.jpg" />
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
