<% title "LendIt Europe Conference Page" %>
<% meta_description "Join thousands of peer-to-peer and online lending professionals from around the world for the LendIt Conference" %>
<% meta_keywords "p2p, online lending, peer-to-peer, LendIt Europe" %>
<header>
	<div class="container">
		<div class="logo"></div>
		<div class="header-buttons">
			<div class="button-register">
				<a href="http://register.lendit.co/europe" onclick="_gaq.push(['_link', 'http://register.lendit.co/europe']); return false;" target="_blank">
					<span>Register Now</span>
					<strong>London Nov 17</strong>
				</a>
			</div>
			<div class="button-recap">
				<a href="https://www.youtube.com/lenditconference" target="_blank">
					<span>Watch Recap</span>
					<strong>San Francisco 2014</strong>
				</a>
			</div>
			<div class="save-date">
				<div>
					<span>Just Announced</span>
					<strong>LendIt 2015 &bull; NYC April 13-15</strong>
				</div>
			</div>
		</div>
	</div>
</header>
<main>
	<section class="newhome-section">
		<div class="newhome-container">


			<!-- // begin INTRODUCTION -->
			<div class="introduction">
				<h1>LendIt Europe: <span> November 17, 2014 at 155 Bishopsgate, London</span></h1>
				<p>
					LendIt Europe is Europe’s largest gathering of the online lending industry. <!-- It is the industry’s annual conference designed for networking, business development, and education.
				</p>
				<p> -->
					The inaugural European event will bring together approximately 400 senior executives from 20 countries. It will be the first event of its kind to host more than 40 established and emerging P2P lending platforms under one roof.
				</p>
			</div>
			<!-- end INTRODUCTION // -->


			<div class="new-home-columns">

				<div class="new-home-col">


					<!-- // begin FEATURES -->
					<div class="features">
						<div class="feature-header">
							Comprised of
						</div>
						<ul>
							<li class="inspir">
								<div>
									<span><img src="/assets/feature-inspir.png" alt=""></span>
									<span>
										Inspiring keynote
										presentations
									</span>
								</div>
							</li>
							<li class="interac">
								<div>
									<span><img src="/assets/feature-interac.png" alt=""></span>
									<span>
										Interactive panel
										discussions
									</span>
								</div>
							</li>
							<li class="demo">
								<div>
									<span><img src="/assets/feature-demo.png" alt=""></span>
									<span>
										A company demo track dedicated to showcasing the best emerging platforms
									</span>
								</div>
							</li>
							<li class="off-the">
								<div>
									<span><img src="/assets/feature-off-the.png" alt=""></span>
									<span>
										An off-the-record,
										anything goes
										Q&amp;A zone
									</span>
								</div>
							</li>
							<li class="exhib">
								<div>
									<span><img src="/assets/feature-exhib.png" alt=""></span>
									<span>
										An exhibition
									</span>
								</div>
							</li>
							<li class="exten">
								<div>
									<span><img src="/assets/feature-exten.png" alt=""></span>
									<span>
										Extensive
										networking
										opportunities
									</span>
								</div>
							</li>
							<li class="cocktail">
								<div>
									<span><img src="/assets/feature-cocktail.png" alt=""></span>
									<span>
										And two
										fun-filled
										cocktail parties
									</span>
								</div>
							</li>
						</ul>
					</div>
					<!-- end FEATURES // -->



				</div>
				<div class="new-home-col">

					<!-- // begin AGENDA -->
					<div class="home-agenda">
						<h2>Preliminary Agenda</h2>
						<div class="home-agenda-tabs">
							<h3 class="am-button on">Morning</h3>
							<h3 class="pm-button">Afternoon</h3>
						</div>
						<table class="am-agenda">
							<tr>
								<td>9:00 AM</td>
								<td>
									<div>Opening Remarks</div>
									<div>Peter Renton, Lend Academy</div>
								</td>
							</tr>
							<tr>
								<td>9:05 AM</td>
								<td>
									<div>Keynote - RateSetter</div>
									<div>Rhydian Lewis, CEO</div>
								</td>
							</tr>
							<tr>
								<td>9:25 AM</td>
								<td>
									<div>Presentation: A Banking Analyst's Perspective on P2P</div>
								</td>
							</tr>
							<tr>
								<td>9:45 AM</td>
								<td>
									<div>Trends in UK Consumer P2P Lending</div>
									<!-- <div>RateSetter</div> -->
								</td>
							</tr>
							<tr>
								<td>10:30 AM</td>
								<td>
									<div>Morning Tea</div>
								</td>
							</tr>
							<tr>
								<td>10:50 AM</td>
								<td>
									<div>Keynote - Funding Circle</div>
									<div>Samir Desai, Co-Founder and Director</div>
								</td>
							</tr>
							<tr>
								<td>11:10 AM</td>
								<td>
									<div>Supporting Small Businesses with P2P Lending</div>
									<!-- <div>Funding Circle</div> -->
								</td>
							</tr>
							<tr>
								<td>12:00 PM</td>
								<td>
									<div>Property Investing - the next frontier?</div>
									<!-- <div>LendInvest</div> -->
								</td>
							</tr>
							<tr>
								<td>12:45 AM</td>
								<td>
									<div>Lunch</div>
								</td>
							</tr>
						</table>
						<table class="pm-agenda off">
							<tr>
								<td>1:45 PM</td>
								<td>
									<div>The state of p2p lending in continenal Europe</div>
									<!-- <div>auxmoney</div> -->
								</td>
							</tr>
							<tr>
								<td>2:35 PM</td>
								<td>
									<div>Keynote - Zopa</div>
									<div>Giles Andrews, Co-Founder and CEO</div>
								</td>
							</tr>
							<tr>
								<td>3:00 PM</td>
								<td>
									<div>Challenges of cross-border P2P lending</div>
									<!-- <div>Trustbuddy</div> -->
								</td>
							</tr>
							<tr>
								<td>3:40 PM</td>
								<td>
									<div>Afternoon Tea</div>
								</td>
							</tr>
							<tr>
								<td>4:00 PM</td>
								<td>
									<div>The Global Perspective</div>
									<!-- <div>Nigel Morris, Managing Partner at QED</div> -->
								</td>
							</tr>
							<tr>
								<td>4:30 PM</td>
								<td>
									<div>What the arrival of institutional investor means for Europe</div>
									<!-- <div>Eaglewood Europe/P2PGI</div> -->
								</td>
							</tr>
							<tr>
								<td>5:15 PM</td>
								<td>
									<div>A glimpse of the future: next generation P2P lending models</div>
									<!-- <div>Transferwise</div> -->
								</td>
							</tr>
							<tr>
								<td>5:40 PM</td>
								<td>
									<div>Big Bank</div>
									<!-- <div>Santander</div> -->
								</td>
							</tr>
							<tr>
								<td>6:00 PM</td>
								<td>
									<div>Evening Networking &amp; Cocktail Reception</div>
								</td>
							</tr>
						</table>
					</div>
					<!-- end AGENDA // -->

				</div>
			</div>







			<!-- // begin HOT TOPICS -->
<!-- 					<div class="hot-topics">
						<div class="hot-topics-head">
							Hot topics covered at this year’s event include:
						</div>
						<div class="hot-topics-list">
							<div class="hot-topics-list-col">
								<ul>
									<li>Why P2P lending in the UK is ready to explode</li>
									<li>Continental Europe: How it is gaining steam</li>
									<li>How online small business lending is solving the credit crisis</li>
									<li>How institutional investors are changing P2P lending</li>
									<li>Going global: The challenges of cross border P2P lending</li>
								</ul>
							</div>
							<div class="hot-topics-list-col">
								<ul>
									<li>The innovation advantage that P2P lending has over banks</li>
									<li>Real estate lending: Why it is the next frontier</li>
									<li>The yield dilemma – how can Europe compete with higher yielding US platforms?</li>
									<li>The next generation platforms that are pushing the envelope</li>
								</ul>
							</div>
						</div>
					</div> -->
					<!-- end HOT TOPICS // -->


					<!-- // begin bodytext-2 // -->

					<div class="bodytext-3">
				<!-- 		<p>
							... just to name a few. <a href="#">Click here</a> to visit the event agenda page for a complete list of event topics.
						</p> -->
					</div>

					<!-- end bodytext-2 // -->



					<!-- // begin KEYNOTE SUMMARIES -->
					<div class="keynote-summaries">
						<div class="feature-header"> Keynote speakers include: </div>

						<div class="speakers">
							<div class="item">
								<img src="/assets/samir-desai-lg.png" alt="Samir Desai">
								<div class="info">
									<div class="name"> Samir Desai </div>
									<div class="title"> Co-Founder &amp; Director </div>
									<div class="company"> Funding Circle </div>
								</div>
							</div>
							<div class="item">
								<img src="/assets/giles-andrews-lg.png" alt="Giles Andrews">
								<div class="info">
									<div class="name"> Giles Andrews </div>
									<div class="title"> Co-Founder &amp; CEO </div>
									<div class="company"> Zopa </div>
								</div>
							</div>
							<div class="item">
								<img src="/assets/rhydian-lewis-lg.png" alt="Rydian Lewis">
								<div class="info">
									<div class="name"> Rhydian Lewis </div>
									<div class="title"> Founder &amp; CEO </div>
									<div class="company"> RateSetter </div>
								</div>
							</div>
							<div class="item">
								<img src="/assets/nigel-morris-QED.png" alt="Nigel Morris">
								<div class="info">
									<div class="name"> Nigel Morris </div>
									<div class="title"> Managing Partner </div>
									<div class="company"> QED Investors </div>
								</div>
							</div>
						</div>
						<div class="go-to-speakers"> <a href="/speakers">Click here</a> to see the complete list of confirmed speakers. </div>


					</div>

					<!-- end KEYNOTE SUMMARIES // -->



			<div class="new-home-columns-b">
				<div class="new-home-col">

					<!-- // begin BODYTEXT-2 -->
					<div class="bodytext-2">
						<p>
							... LendIt Europe is your best opportunity all year long to connect with the European P2P lending community.
						</p>
						<div class="register-button">
							<a href="#">Register before November 1st and save &pound;300</a>
						</div>
					</div>
					<!-- end BODYTEXT-2 // -->




				</div>

				<div class="gutter"></div>


				<div class="new-home-col">



					<!-- // begin WHO'S COMING -->
					<div class="whos-coming">
						<div class="whos-coming-head">
							Who's Coming to LendIt?
						</div>
						<div>
							<a href="/europe/attendees"><img src="https://s3-us-west-2.amazonaws.com/lendit/photos/lendit-europe-attendees-map.jpg" alt="LendIt Europe Attendees" style="max-width: 100%;border-color:gray;"></a>
						</div>
					</div>
					<!-- end WHO'S COMING // -->

				</div>


			</div>



				</div>
			</section>
		</main>
