<% title "LendIt Europe Conference Page" %>
<% meta_description "Join thousands of peer-to-peer and online lending professionals from around the world for the LendIt Conference" %>
<% meta_keywords "p2p, online lending, peer-to-peer, LendIt Europe" %>
<% body_class "conferences" %>
<header>
	<div class="container">
		<div class="logo"></div>
		<div class="header-buttons">


			<!--
 			<div class="button-register watchlive-option1">
				<a href="http://lendit.tv">
					<span>
							<i class="fa fa-video-camera"></i>

						Watch Now</span>
					<strong>Live Stream</strong>
					<span class="sponsored-by">Sponsored by auxmoney</span>
				</a>
			</div>
			-->


			<!--
			<div class="button-register watchlive-option2">
				<a href="http://lendit.tv">
					<span>
							<i class="fa fa-video-camera"></i>

						Watch Now</span>
					<strong>Live Stream</strong>
					<span class="sponsored-by">Sponsored by <u>auxmoney</u></span>
				</a>
			</div>
			-->


 			<div class="button-recap eu14-call-to-action">
				<a href="http://www.lendit.co/photos">
					<strong>View Event Photos</strong>
				</a>
			</div>

			<div class="button-recap eu14-call-to-action">
				<a href="http://blog.lendit.co" target="_blank">
					<strong> Read Recap </strong>
				</a>
			</div>

<!--

			<div class="button-register">
				<a href="http://register.lendit.co/europe" onclick="_gaq.push(['_link', 'http://register.lendit.co/europe']); return false;" target="_blank">
					<span>View Photos</span>
					<strong></strong>
				</a>
			</div>
			<div class="button-recap">
				<a href="https://www.youtube.com/lenditconference" target="_blank">
					<span>Watch Recap</span>
					<strong>San Francisco 2014</strong>
				</a>
			</div>
			<div class="save-date">
				<div>
					<span>Just Announced</span>
					<strong>LendIt 2015 &bull; NYC April 13-15</strong>
				</div>
			</div> -->



		</div>
	</div>
</header>


<!-- begin new version -->
<main class="eu14">
	<section class="eu14-section">
		<div class="eu14-container">

			<div class="row">
				<div class="columns medium-16 large-18">
					<div class="eu14-h1">
						LendIt Europe: November 17, 2014 at 155 Bishopsgate, London
					</div>
					<p>
						LendIt Europe is Europe’s largest gathering of the online lending industry. The inaugural European event will bring together approximately 400 senior executives from 34 countries. It was the first event of its kind to host more than 40 established and emerging P2P lending platforms under one roof.
					</p>


				</div>
				<div class="columns medium-8 large-6 eu14-showguide-link">
						<a href="https://s3-us-west-2.amazonaws.com/lendit/uploads/LendIt-Europe-showguide.pdf" target="_blank">
							<span>
								<img src="https://s3-us-west-2.amazonaws.com/lendit/uploads/eu14-showguide.png" />
							</span>
							<span class="eu14-showguide-link-text"> Download the LendIt Europe Show Guide <i class="fa fa-arrow-circle-right"></i></span>
						</a>
					</div>
			</div>


			<div class="row">
				<div class="columns medium-24 large-24">

					<div class="eu14-header-area">
						<div class="eu14-header"> Keynote speakers </div>
						<div class="eu14-view-all-speakers">
							<a href="/speakers">View All Speakers <i class="fa fa-arrow-circle-right"></i></a>
						</div>
					</div>
					<ul class="small-block-grid-2 medium-block-grid-6 large-block-grid-6 eu14-keynotes " style="margin-top:1em;">
						<li>
							<div class="item">
								<img src="/assets/samir-desai-lg.png" alt="Samir Desai">
								<div class="info">
									<div class="name"> Samir Desai </div>
									<div class="title"> Co-Founder &amp; Director </div>
									<div class="company"> Funding Circle </div>
								</div>
							</div>
						</li>
						<li>
							<div class="item">
								<img src="/assets/giles-andrews-lg.png" alt="Giles Andrews">
								<div class="info">
									<div class="name"> Giles Andrews </div>
									<div class="title"> Co-Founder &amp; CEO </div>
									<div class="company"> Zopa </div>
								</div>
							</div>
						</li>
						<li>
							<div class="item">
								<img src="/assets/rhydian-lewis-lg.png" alt="Rydian Lewis">
								<div class="info">
									<div class="name"> Rhydian Lewis </div>
									<div class="title"> Founder &amp; CEO </div>
									<div class="company"> RateSetter </div>
								</div>
							</div>
						</li>
						<li>
							<div class="item">
								<img src="/assets/nigel-morris-QED.png" alt="Nigel Morris">
								<div class="info">
									<div class="name"> Nigel Morris </div>
									<div class="title"> Managing Partner </div>
									<div class="company"> QED Investors </div>
								</div>
							</div>
						</li>
						<li>
							<div class="item">
								<img src="https://s3-us-west-2.amazonaws.com/lendit/speakers/cormac-leech-lg.jpg" alt="Nigel Morris">
								<div class="info">
									<div class="name"> Cormac Leech </div>
									<div class="title"> Equity Research </div>
									<div class="company"> Liberum </div>
								</div>
							</div>
						</li>
						<li>
							<div class="item">
								<img src="https://s3-us-west-2.amazonaws.com/lendit/speakers/bryan-zhang-lg.png" alt="Samir Desai">
								<div class="info">
									<div class="name"> Bryan Zhang </div>
									<div class="title"> PhD Research, Alternative Finance expert </div>
									<div class="company"> University of Cambridge </div>
								</div>
							</div>
						</li>
					</ul>
				</div>

				<div class="columns medium-24 large-24">
					<div class="eu14-agenda">
						<div class="eu14-header-area">
							<div class="eu14-header">LendIt Europe Agenda </div>
							<div class="eu14-download-agenda"> <a href="https://s3-us-west-2.amazonaws.com/lendit/uploads/lendit-europe-agenda.pdf"> Download the PDF <i class="fa fa-arrow-circle-right"></i></a></div>
						</div>
						<div class="home-agenda-tabs">
							<h3 class="am-button on">Morning</h3>
							<h3 class="pm-button">Afternoon</h3>
						</div>
						<table class="am-agenda">
							<tr>
								<td>8:00 - 9:00</td>
								<td>
									<div>Breakfast &amp; Registration</div>
								</td>
							</tr>
							<tr>
								<td>9:00 - 9:05</td>
								<td>
									<div>Opening Remarks</div>
									<div>Peter Renton, Lend Academy</div>
								</td>
							</tr>
							<tr>
								<td>9:05 - 9:25</td>
								<td>
									<div>Why P2P Lending is a Good Thing</div>
									<div>Rhydian Lewis, RateSetter</div>
								</td>
							</tr>
							<tr>
								<td>9:25 - 9:45</td>
								<td>
									<div>A Banking Analyst's Perspective on P2P</div>
									<div>Cormac Leech, Liberum</div>
								</td>
							</tr>
							<tr>
								<td>9:45 - 10:30</td>
								<td>
									<div>Trends in UK Consumer P2P Lending</div>
									<div>Giles Andrews, Zopa</div>
									<div>Peter Behrens, RateSetter</div>
									<div>Nicholas Harding, Lending Works</div>
									<div>Moderator: Simon Champ, P2P Capital Solutions</div>
								</td>
							</tr>
							<tr>
								<td>10:30 - 10:50</td>
								<td>
									<div>Morning Tea</div>
								</td>
							</tr>
							<tr>
								<td>10:50 - 11:10</td>
								<td>
									<div>Global Lessons in Marketplace Lending to Small Businesses</div>
									<div>Samir Desai, Funding Circle</div>
								</td>
							</tr>
							<tr>
								<td>11:10 - 11:55</td>
								<td>
									<div>Supporting Small Businesses with P2P Lending</div>
									<div>Kevin Caley, ThinCats</div>
									<div>Angus Dent, ArchOver</div>
									<div>Samir Desai, Funding Circle</div>
									<div>Nicola Horlick, Money&amp;Co.</div>
									<div>Anil Stocker, MarketInvoice</div>
									<div>Moderator: Cormac Leech, Liberum</div>
								</td>
							</tr>
							<tr>
								<td>12:00 - 12:45</td>
								<td>
									<div>Property Investing: The Next Frontier</div>
									<div>Christian Faes, LendInvest</div>
									<div>John Goodall, Landbay</div>
									<div>Luke Jooste, Funding Circle</div>
									<div>Stuart Law, Assetz Capital</div>
									<div>Graham Wellesley, Wellesley &amp; Co.</div>
									<div>Moderator: John Corey, Property Fortress</div>
								</td>
							</tr>
							<tr>
								<td>12:45 - 13:45</td>
								<td>
									<div>Lunch</div>
								</td>
							</tr>
						</table>
						<table class="pm-agenda off">
							<tr>
								<td>13:45 - 14:30</td>
								<td>
									<div>The State of P2P Lending in Continental Europe</div>
									<div>Charles Egley, Pr&ecirc;t d'Union</div>
									<div>Raffael Johnen, auxmoney</div>
									<div>Heikki Koivu, Fixura</div>
									<div>Michele Novelli, Prestiamoci</div>
									<div>C&eacute;dric Teissier, Finexkap</div>
									<div>Moderator: Claus Lehmann, P2P-Banking.com</div>
								</td>
							</tr>
							<tr>
								<td>14:35 - 14:55</td>
								<td>
									<div>Peer-to-Peer Lending, Born in a Barn</div>
									<div>Giles Andrews, Zopa</div>
								</td>
							</tr>
							<tr>
								<td>15:00 - 15:40</td>
								<td>
									<div>Challenges of Cross-Border P2P lending</div>
									<div>Sebastian Hagman, TrustBuddy</div>
									<div>Christoph Rieche, iwoca</div>
									<div>Dominik Steink&uuml;ehler, Lendico</div>
									<div>P&auml;rtel Tomberg, Bondora</div>
									<div>Moderator: David Stevenson, AltFi</div>
								</td>
							</tr>
							<tr>
								<td>15:40 - 16:00</td>
								<td>
									<div>Afternoon Tea</div>
								</td>
							</tr>
							<tr>
								<td>16:00 - 16:30</td>
								<td>
									<div>Leading Innovation at Big Bank Scale</div>
									<div>Nigel Morris, QED Investors</div>
								</td>
							</tr>
							<tr>
								<td>16:30 - 17:10</td>
								<td>
									<div>What the Arrival of Institutional Investors Means for Europe</div>
									<div>Etienne Boillot, Shepherd Capital</div>
									<div>Simon Champ, P2P Capital Solutions</div>
									<div>Geoffrey Richard Miller, GLI Finance Ltd.</div>
									<div>Charles Moldow, Foundation Capital</div>
									<div>Moderator: Matt Burton, Orchard</div>
								</td>
							</tr>
							<tr>
								<td>17:10 - 17:40</td>
								<td>
									<div>A Glimpse of the Future: Next Generation P2P Lending Models</div>
									<div>David Bradley-Ward, Ablrate</div>
									<div>Martin Macmillan, Pollen.vc</div>
									<div>Radoslav Albrecht, Bitbond</div>
									<div>Moderator: Jason Jones, Lend Academy</div>
								</td>
							</tr>
							<tr>
								<td>17:40 - 18:00</td>
								<td>
									<div>The Voice of the People: Insights from the Latest Peer-to-Peer Lending Research</div>
									<div>Bryan Zhang, University of Cambridge</div>
								</td>
							</tr>
							<tr>
								<td>18:00 - 19:30</td>
								<td>
									<div>Evening Networking &amp; Cocktail Reception</div>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<div class="row">

				<div class="columns medium-24 large-24">
					<div class="eu14-comprised">
						<div class="eu14-header-area">
							<div class="eu14-header">

							Comprised of
							</div>
						</div>
						<ul class="small-block-grid-2 medium-block-grid-7 large-block-grid-7   "  style="margin-top:1em;">
							<li class="inspir">
								<div>
									<img src="/assets/eu14-icon.png" class="icon" />
									<div>
										Keynote
										presentations
									</div>
								</div>
							</li>
							<li class="interac">
								<div>
									<img src="/assets/eu14-icon.png" class="icon" />
									<div>
										Panel discussions
									</div>
								</div>
							</li>
							<li class="demo">
								<div>
									<img src="/assets/eu14-icon.png" class="icon" />
									<div>
										A demo track showcasing the best emerging platforms
									</div>
								</div>
							</li>
							<li class="off-the">
								<div>
									<img src="/assets/eu14-icon.png" class="icon" />
									<div>
										An off-the-record,
										anything goes
										Q&amp;A zone
									</div>
								</div>
							</li>
							<li class="exhib">
								<div>
									<img src="/assets/eu14-icon.png" class="icon" />
									<div>
										An exhibition showcasing top platforms and industry solution providers
									</div>
								</div>
							</li>
							<li class="exten">
								<div>
									<img src="/assets/eu14-icon.png" class="icon" />
									<div>
										Extensive
										networking
										opportunities
									</div>
								</div>
							</li>
							<li class="cocktail">
								<div>
									<img src="/assets/eu14-icon.png" class="icon" />
									<div>
										Two drinks receptions
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">

				<div class="columns medium-24 large-24">
					<ul class="eu14-bottom-callouts">
						<li class="ny15-wide-quote">


							<div class="ny15-wide-quote-strong">
								"Best P2P conference in UK/EU by a country mile. I'm very much looking forward to it being bigger and even better in 2015."
							</div>
							<div class="ny15-wide-quote-attribute">— David Serafini, Chief Operating Officer, LendInvest</div>


				<!--
							<div class="eu14-register">
								<p class="eu14-register-copy">
									LendIt Europe is your best opportunity all year long to connect with the European P2P lending community.
								</p>
								<div class="register-button" >
									<a href="https://register.lendit.co/events/lendit-europe-2014/registration-4f38acdbbaa34075b424772fb7039331.aspx" target="_blank">
										Register Now
									</a>
								</div>
							</div>
							-->
						</li>
						<li class="eu14-divider"></li>

						<li>
							<div class="eu14-attendee-map-link">
								<div class="eu14-attendees-map-header">
									Who's Coming to LendIt?
								</div>

								<a href="/europe/2014/attendees">
									<img src="https://s3-us-west-2.amazonaws.com/lendit/photos/lendit-europe-attendees-map.jpg" alt="LendIt Europe Attendees">
								</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
</main>
<!-- end new version -->


