<% title "LendIt Europe Conference Page" %>
<% meta_description "Join thousands of peer-to-peer and online lending professionals from around the world for the LendIt Conference" %>
<% meta_keywords "p2p, online lending, peer-to-peer, LendIt Europe" %>



<header>
	<div class="container">
		<div class="logo"></div>

		<div class="header-buttons">

			<div class="button-register">
				<a href="http://register.lendit.co/europe" onclick="_gaq.push(['_link', 'http://register.lendit.co/europe']); return false;" target="_blank">
					<span>Register Now</span>
					<strong>London Nov 17</strong>
				</a>
			</div>
			<div class="button-recap">
				<a href="https://www.youtube.com/lenditconference" target="_blank">
					<span>Watch Recap</span>
					<strong>San Francisco 2014</strong>
				</a>
			</div>
			<div class="save-date">
				<div>
					<span>Just Announced</span>
					<strong>LendIt 2015 &bull; NYC April 13-15</strong>
				</div>
			</div>

		</div>
	</div>
</header>

<main>
	<section>
		<div class="container entry-content">
			<h1>LendIt Europe: <span> November 17, 2014 at 155 Bishopsgate, London</span></h1>


			<div class="cols">
				<div class="col1">
					<p>
						LendIt Europe is Europe’s largest gathering of the online lending industry. It is the industry’s annual conference designed for networking, business development, and education.
					</p>
					<p>
						The inaugural European event will bring together approximately 400 senior executives from 20 countries. It will be the first event of its kind to host more than 40 established and emerging P2P lending platforms under one roof.
					</p>

					<div>
						<div class="feature-header">
							Comprised of:
						</div>

						<ul class="home-features">
							<li>
								<img src="assets/features-1.jpg" class="feature-img-1" />
							</li>
							<li>
								<img src="assets/features-2.jpg" class="feature-img-2" />
							</li>
						</ul>


						<!--
						<ul>
							<li><i class="fa fa-flag-o fa-3x"></i>Inspiring keynote presentations</li>
							<li><i class="fa fa-users fa-3x"></i>Interactive panel discussions</li>
							<li><i class="fa fa-info-circle fa-3x"></i>A company demo track dedicated to showcasing the best emerging platforms</li>
							<li><i class="fa fa-comment fa-3x"></i>Off-the-record, anything goes Q&amp;A zone</li>
							<li><i class="fa fa-bullhorn fa-3x"></i>An exhibition</li>
							<li><i class="fa fa-share-alt-square fa-3x"></i>Extensive networking opportunities</li>
							<li><i class="fa fa-glass fa-3x"></i>And two fun-filled cocktail parties</li>
						</ul>
						-->
					</div>
					<p>
						... LendIt Europe is your best opportunity all year long to connect with the European P2P lending community. Register before November 1st and save &pound;300.
					</p>
					<p>
						<strong>Hot topics covered at this year’s event include:</strong>
						<ul>
							<li>Why P2P lending in the UK is ready to explode</li>
							<li>Continental Europe: How it is gaining steam</li>
							<li>How online small business lending is solving the credit crisis</li>
							<li>How institutional investors are changing P2P lending</li>
							<li>Going global: The challenges of cross border P2P lending</li>
							<li>The innovation advantage that P2P lending has over banks</li>
							<li>Real estate lending: Why it is the next frontier</li>
							<li>The yield dilemma – how can Europe compete with higher yielding US platforms?</li>
							<li>The next generation platforms that are pushing the envelope</li>
						</ul>
					</p>
					<p>
						... just to name a few. Click here to visit the event agenda page for a complete list of event topics.
					</p>


					<div class="keynote-summaries">
						<div class="feature-header">
			Keynote speakers include:
						</div>
						

			<div><img src="/assets/nigel-morris-QED.png" alt="Nigel Morris">Nigel Morris, Managing Partner, QED Investors</div>
			<div><img src="/assets/samir-desai-lg.png" alt="Nigel Morris">Samir Desai, Co-Founder & Director, Funding Circle</div>
			<div><img src="/assets/giles-andrews-lg.png" alt="Nigel Morris">Giles Andrews, Co-Founder &amp; CEO, Zopa</div>
			<div><img src="/assets/rhydian-lewis-lg.png" alt="Nigel Morris">Rhydian Lewis, Founder &amp; CEO, RateSetter</div>

			Click <a href="/speakers">here</a>to see the complete list of confirmed speakers.
		</div>

				</div>



				<div class="col2">
					<div class="home-agenda">



						<h2>Preliminary Agenda</h2>

						<div class="home-agenda-tabs">
							<h3 class="am-button on">Morning</h3>

							<h3 class="pm-button">Afternoon</h3>
						</div>

						<table class="am-agenda">

							<tr>
								<td>9:00 AM</td>
								<td>
									<div>Opening Remarks</div>
									<div>Peter Renton, Lend Academy</div>
								</td>
							</tr>
							<tr>
								<td>9:05 AM</td>
								<td>
									<div>Keynote - RateSetter</div>
									<div>Rhydian Lewis, CEO</div>
								</td>
							</tr>
							<tr>
								<td>9:25 AM</td>
								<td>
									<div>Presentation: New P2P Regulation</div>
								</td>
							</tr>
							<tr>
								<td>9:45 AM</td>
								<td>
									<div>UK Consumer Platforms</div>
									<!-- <div>RateSetter</div> -->
								</td>
							</tr>
							<tr>
								<td>10:30 AM</td>
								<td>
									<div>Morning Tea</div>
								</td>
							</tr>
							<tr>
								<td>10:50 AM</td>
								<td>
									<div>Keynote - Funding Circle</div>
									<div>Samir Desai, Co-Founder and Director</div>
								</td>
							</tr>
							<tr>
								<td>11:10 AM</td>
								<td>
									<div>UK Business Lending Platforms</div>
									<!-- <div>Funding Circle</div> -->
								</td>
							</tr>
							<tr>
								<td>12:00 PM</td>
								<td>
									<div>Real Estate Platforms</div>
									<!-- <div>LendInvest</div> -->
								</td>
							</tr>
							<tr>
								<td>12:45 AM</td>
								<td>
									<div>Lunch</div>
								</td>
							</tr>
						</table>





						<table class="pm-agenda off">
							<tr>
								<td>1:45 PM</td>
								<td>
									<div>Continenal Europe</div>
									<!-- <div>auxmoney</div> -->
								</td>
							</tr>
							<tr>
								<td>2:35 PM</td>
								<td>
									<div>Keynote - Zopa</div>
									<div>Giles Andrews, Co-Founder and CEO</div>
								</td>
							</tr>
							<tr>
								<td>3:00 PM</td>
								<td>
									<div>Expanding Internationally</div>
									<!-- <div>Trustbuddy</div> -->
								</td>
							</tr>
							<tr>
								<td>3:40 PM</td>
								<td>
									<div>Afternoon Tea</div>
								</td>
							</tr>
							<tr>
								<td>4:00 PM</td>
								<td>
									<div>The Global Perspective</div>
									<!-- <div>Nigel Morris, Managing Partner at QED</div> -->
								</td>
							</tr>
							<tr>
								<td>4:30 PM</td>
								<td>
									<div>Institutional Investors in Europe</div>
									<!-- <div>Eaglewood Europe/P2PGI</div> -->
								</td>
							</tr>
							<tr>
								<td>5:15 PM</td>
								<td>
									<div>Next Gen Models</div>
									<!-- <div>Transferwise</div> -->
								</td>
							</tr>
							<tr>
								<td>5:40 PM</td>
								<td>
									<div>Banking Partnerships</div>
									<!-- <div>Santander</div> -->
								</td>
							</tr>
							<tr>
								<td>6:00 PM</td>
								<td>
									<div>Evening Networking &amp; Cocktail Reception</div>
								</td>
							</tr>
						</table>

					</div>

					<h3 style="text-align:center;margin-top:25px;font-weight:200;">Who's Coming to LendIt?</h3>

					<div>
						<a href="/europe/attendees"><img src="https://s3-us-west-2.amazonaws.com/lendit/photos/lendit-europe-attendees-map.jpg" alt="LendIt Europe Attendees" style="max-width: 100%;border-color:gray;"></a>
					</div>
				</div>
			</div>
		</div>

		

		
	</section>




</main>



