<% title "LendIt Europe Conference Page" %>
<% meta_description "Join thousands of peer-to-peer and online lending professionals from around the world for the LendIt Conference" %>
<% meta_keywords "p2p, online lending, peer-to-peer, LendIt Europe" %>



<header>
	<div class="container">
		<div class="logo"></div>

		<div class="header-buttons">

			<div class="button-register">
				<a href="http://register.lendit.co/europe" onclick="_gaq.push(['_link', 'http://register.lendit.co/europe']); return false;" target="_blank">
					<span>Register Now</span>
					<strong>London Nov 17</strong>
				</a>
			</div>
			<div class="button-recap">
				<a href="https://www.youtube.com/lenditconference" target="_blank">
					<span>Watch Recap</span>
					<strong>San Francisco 2014</strong>
				</a>
			</div>
			<div class="save-date">
				<div>
					<span>Just Announced</span>
					<strong>LendIt 2015 &bull; NYC April 13-15</strong>
				</div>
			</div>

		</div>
	</div>
</header>

<main>
	<section>
		<div class="container entry-content">
		<h1>LendIt Europe: <span> November 17, 2014 at 155 Bishopsgate, London</span></h1>


			<div class="cols">
				<div class="col1">
<!-- 					<p>
						LendIt Europe is Europe’s largest gathering of the online lending industry. It is the industry’s annual conference designed for networking, business development, and education.
					</p>
					<p>
						The inaugural European event will bring together approximately 400 senior executives from 20 countries. It will be the first event of its kind to host more than 40 established and emerging P2P lending platforms under one roof.
					</p>
					<p>
						<strong>Keynote speakers include:</strong>
						<ul>
							<li>Nigel Morris, Managing Partner, QED Investors</li>
							<li>Samir Desai, Co-Founder & Director, Funding Circle</li>
							<li>Giles Andrews, Co-Founder &amp; CEO, Zopa</li>
							<li>Rhydian Lewis, Founder &amp; CEO, RateSetter</li>
						</ul>
						<a href="/speakers">here</a>See the complete list of confirmed speakers.
					</p>
					<p>
						<strong>Comprised of:</strong>
						<ul>
							<li>Inspiring keynote presentations</li>
							<li>Interactive panel discussions</li>
							<li>A company demo track dedicated to showcasing the best emerging platforms</li>
							<li>An off-the-record, anything goes Q&amp;A zone</li>
							<li>An exhibition</li>
							<li>Extensive networking opportunities</li>
							<li>And two fun-filled cocktail parties</li>
						</ul>
					</p>
					<p>
						... LendIt Europe is your best opportunity all year long to connect with the European P2P lending community. Register before November 1st and save &pound;300.
					</p>
					<p>
						<strong>Hot topics covered at this year’s event include:</strong>
						<ul>
							<li>Why P2P lending in the UK is ready to explode</li>
							<li>Continental Europe: How it is gaining steam</li>
							<li>How online small business lending is solving the credit crisis</li>
							<li>How institutional investors are changing P2P lending</li>
							<li>Going global: The challenges of cross border P2P lending</li>
							<li>The innovation advantage that P2P lending has over banks</li>
							<li>Real estate lending: Why it is the next frontier</li>
							<li>The yield dilemma – how can Europe compete with higher yielding US platforms?</li>
							<li>The next generation platforms that are pushing the envelope</li>
						</ul>
					</p>
					<p>
						... just to name a few. Click here to visit the event agenda page for a complete list of event topics.
					</p> -->


					<p>LendIt Europe will be Europe’s largest gathering ever for the peer-to-peer lending industry with over 400 people expected to attend. It will include a powerful lineup of keynote presentations delivered by European peer to peer lending industry leaders, interactive panel discussions, extensive networking as well as an exhibit hall consisting of leading and emerging online lending portals, infrastructure companies and service providers focused on the peer-to-peer and online lending industry.</p>


					<p>LendIt Europe will be held at a state of the art venue in the heart of London’s financial district. 155 Bishopsgate is conveniently located next to Liverpool St. Station and just 200 yards from the Andaz Hotel on Liverpool St where we have a discounted room block. There will also be a cocktail party (for an additional cost) on Sunday night, November 16 at the Andaz Hotel.</p>


					<p>
						For more details please go to our <a href="http://register.lendit.co/europe" onclick="_gaq.push(['_link', 'http://register.lendit.co/europe']); return false;" target="_blank">registration page</a>.
					</p>

					<p>
						See which <a href="https://s3-us-west-2.amazonaws.com/lendit/uploads/registered-attendees-companies.pdf" target="_blank">companies</a> are sending delegates to LendIt Europe.
					</p>



					<p>Here are some topics we will be covering at LendIt Europe:</p>

					<ul>
						<li>Keynotes from CEOs of leading UK p2p platforms.</li>
						<li>State of the European p2p lending industry</li>
						<li>Trends in UK consumer peer to peer lending</li>
						<li>The small business p2p lending landscape</li>
						<li>Overview of continental Europe platforms</li>
						<li>What the arrival of institutional investors means for Europe</li>
						<li>Expanding internationally: challenges of cross border p2p lending platforms</li>
						<li>US/Europe – what can we learn from each other?</li>
						<li>What the new UK regulations mean for investors and platforms</li>
						<li>Real estate lending: the next frontier?</li>
						<li>The yield issue – how can Europe compete with higher yielding US platforms</li>
					</ul>




				</div>

<!-- 				<div>
					<a href="/europe/attendees"><img src="" alt="LendIt Europe Attendees"></a>
				</div> -->


				<div class="col2">
					<div class="home-agenda">



						<h2>Preliminary Agenda</h2>

						<div class="home-agenda-tabs">
							<h3 class="am-button on">Morning</h3>

							<h3 class="pm-button">Afternoon</h3>
						</div>

						<table class="am-agenda">

							<tr>
								<td>9:00 AM</td>
								<td>
									<div>Opening Remarks</div>
									<div>Peter Renton, Lend Academy</div>
								</td>
							</tr>
							<tr>
								<td>9:05 AM</td>
								<td>
									<div>Keynote - RateSetter</div>
									<div>Rhydian Lewis, CEO</div>
								</td>
							</tr>
							<tr>
								<td>9:25 AM</td>
								<td>
									<div>Presentation: New P2P Regulation</div>
								</td>
							</tr>
							<tr>
								<td>9:45 AM</td>
								<td>
									<div>UK Consumer Platforms</div>
									<!-- <div>RateSetter</div> -->
								</td>
							</tr>
							<tr>
								<td>10:30 AM</td>
								<td>
									<div>Morning Tea</div>
								</td>
							</tr>
							<tr>
								<td>10:50 AM</td>
								<td>
									<div>Keynote - Funding Circle</div>
									<div>Samir Desai, Co-Founder and Director</div>
								</td>
							</tr>
							<tr>
								<td>11:10 AM</td>
								<td>
									<div>UK Business Lending Platforms</div>
									<!-- <div>Funding Circle</div> -->
								</td>
							</tr>
							<tr>
								<td>12:00 PM</td>
								<td>
									<div>Real Estate Platforms</div>
									<!-- <div>LendInvest</div> -->
								</td>
							</tr>
							<tr>
								<td>12:45 AM</td>
								<td>
									<div>Lunch</div>
								</td>
							</tr>
						</table>





						<table class="pm-agenda off">
							<tr>
								<td>1:45 PM</td>
								<td>
									<div>Continenal Europe</div>
									<!-- <div>auxmoney</div> -->
								</td>
							</tr>
							<tr>
								<td>2:35 PM</td>
								<td>
									<div>Keynote - Zopa</div>
									<div>Giles Andrews, Co-Founder and CEO</div>
								</td>
							</tr>
							<tr>
								<td>3:00 PM</td>
								<td>
									<div>Expanding Internationally</div>
									<!-- <div>Trustbuddy</div> -->
								</td>
							</tr>
							<tr>
								<td>3:40 PM</td>
								<td>
									<div>Afternoon Tea</div>
								</td>
							</tr>
							<tr>
								<td>4:00 PM</td>
								<td>
									<div>The Global Perspective</div>
									<!-- <div>Nigel Morris, Managing Partner at QED</div> -->
								</td>
							</tr>
							<tr>
								<td>4:30 PM</td>
								<td>
									<div>Institutional Investors in Europe</div>
									<!-- <div>Eaglewood Europe/P2PGI</div> -->
								</td>
							</tr>
							<tr>
								<td>5:15 PM</td>
								<td>
									<div>Next Gen Models</div>
									<!-- <div>Transferwise</div> -->
								</td>
							</tr>
							<tr>
								<td>5:40 PM</td>
								<td>
									<div>Banking Partnerships</div>
									<!-- <div>Santander</div> -->
								</td>
							</tr>
							<tr>
								<td>6:00 PM</td>
								<td>
									<div>Evening Networking &amp; Cocktail Reception</div>
								</td>
							</tr>
						</table>




				</div>
			</div>
			</div>
		</div>
	</section>




</main>



