<% title "LendIt Europe Conference Page" %>
<% meta_description "Join thousands of peer-to-peer and online lending professionals from around the world for the LendIt Conference" %>
<% meta_keywords "p2p, online lending, peer-to-peer, LendIt Europe" %>

<header class="head">
	<div class="container">
  <h1><%= image_tag "https://s3-us-west-2.amazonaws.com/lendit/LenditBold.png", :title => 'LendIt', :alt => 'LendIt' %></h1>
  <h2>PEER-TO-PEER &amp; ONLINE LENDING CONFERENCE</h2>
  <button>
  	<a href="https://www.youtube.com/lenditconference" target="_blank">
    <span>Watch Recap</span><br>
    <span>San Francisco '14</span>
    <img src="/assets/butto_triangle_hex8BBF28.png" class="icon" alt="Arrow Icon" title="Arrow Icon" />
    </a>
  </button>
  <button>
  	<a href="#">
    <span>Register Now</span><br>
    <span>London Nov 17</span>
    <img src="/assets/butto_triangle_hex8BBF28.png" class="icon" alt="Arrow Icon" title="Arrow Icon" />
    </a>
  </button>
</header>



<!-- <main>
  <section>
    LendIt Europe 2014 is the first international conference in London dedicated solely to the peer-to-peer and online lending industry.
  </section>
</main> -->
