<h1>LENDIT EUROPE</h1>
(HOMEPAGE controlled by conferences#index)
<h2>PEER-TO-PEER & ONLINE LENDING INTERNATIONAL CONFERENCE</h2>
<h3>LONDON, U.K.</h3>
<h4>November 10-12, 2014</h4>

<p>LendIt is the first international conference in London dedicated solely to the peer-to-peer and online lending industry.</p>

<div>
  <%= render 'get_updates' %>
</div>

<div>Connect with us on Social Media</div>