<meta name="description" content="Join thousands of peer-to-peer and online lending industry professionals from around the world for the LendIt Conference.">

<header>
  <h1>LENDIT EUROPE</h1>
  <h2>PEER-TO-PEER &amp; ONLINE LENDING CONFERENCE</h2>
  <h3>LONDON  |  NOVEMBER 17</h3>
</header>

<div class="home-splash"></div>

<p>LendIt is the first international conference in London dedicated solely to the peer-to-peer and online lending industry.</p>

<div>
  <%= render 'get_updates' %>
</div>