<% title "LendIt London Conference Page" %>
<% meta_description "Join thousands of peer-to-peer and online lending professionals from around the world for the LendIt Conference" %>
<% meta_keywords "p2p, online lending, peer-to-peer, LendIt Europe" %>



<header>
	<div class="container">
		<h1>
			Peer-to-Peer <i>&amp;</i> Online Lending <i>Conference</i>
		</h1>
		<div class="header-buttons">
			<button class="button-register">
				<a href="#">
					<span>Register Now</span>
					<strong>London Nov 17</strong>
				</a>
			</button>
			<button class="button-recap">
				<a href="https://www.youtube.com/lenditconference" target="_blank">
					<span>Watch Recap</span>
					<strong>San Francisco '14</strong>
				</a>
			</button>
		</div>
	</div>
</header>



