<% title "LendIt 2015 Conference Page" %>
<% meta_description "Join thousands of peer-to-peer and online lending professionals from around the world for the LendIt Conference in New York City" %>
<% meta_keywords "p2p, online lending, peer-to-peer, LendIt Europe" %>

<header class="nyc">
	<div class="container">
		<div class="logo"></div>

		<div class="header-buttons">

			<div class="button-register">
				<a href="http://register.lendit.co/europe" onclick="_gaq.push(['_link', 'http://register.lendit.co/europe']); return false;" target="_blank">
					<span>Register Now</span>
					<strong>NYC April 13-15</strong>
				</a>
			</div>
			<div class="button-recap">
				<a href="https://www.youtube.com/lenditconference" target="_blank">
					<span>Watch Recap</span>
					<strong>San Francisco 2014</strong>
				</a>
			</div>

		</div>
	</div>
</header>

<main>
	<section>
		<div class="container entry-content">
			<h1>LendIt 2015: <span> April 13-15, 2015 at the Marriott Marquis in NYC</span></h1>


				<div class="cols">
					<div class="col1">

						<p class="intro">LendIt 2015 marks the third annual LendIt Conference, and is expected to be the largest gathering ever for the peer-to-peer lending industry. It will include a powerful lineup of keynote presentations delivered by European peer to peer lending industry leaders, interactive panel discussions, extensive networking as well as an exhibit hall consisting of leading and emerging online lending portals, infrastructure companies and service providers focused on the peer-to-peer and online lending industry.</p>

						<hr />

						<p class="secondary">
							LendIt 2015 will be held at the New York Marriott Marquis in the heart of Times Square.
						</p>


						<p class="secondary">
							For more details please go to our <a href="http://register.lendit.co/europe" onclick="_gaq.push(['_link', 'http://register.lendit.co/europe']); return false;" target="_blank">registration page</a>.
						</p>


					</div>
					<div class="col2">

						<p>Our preliminary agenda will be available shortly but here are some topics we will be covering at LendIt Europe:</p>

						<ul>
							<li>Keynotes from CEOs of leading US p2p platforms.</li>
							<li>State of the p2p lending industry</li>
							<li>Trends in consumer peer to peer lending</li>
							<li>The small business p2p lending landscape</li>
							<li>US/Europe – what can we learn from each other?</li>
							<li>Real estate lending: the next frontier?</li>
						</ul>



					</div>

				</div>


		</div>
	</section>
</main>


