<% title "LendIt 2015 Conference Page" %>
<% meta_description "Join thousands of peer-to-peer and online lending professionals from around the world for the LendIt Conference in New York City" %>
<% meta_keywords "p2p, online lending, peer-to-peer, LendIt Europe" %>
<header class="nyc">
	<div class="container">
		<div class="logo"></div>
		<div class="header-buttons">
			<div class="button-register">
				<a href="http://register.lendit.co/europe" onclick="_gaq.push(['_link', 'http://register.lendit.co/europe']); return false;" target="_blank">
					<span>Register Now</span>
					<strong>NYC April 13-15</strong>
				</a>
			</div>
			<div class="button-recap">
				<a href="https://www.youtube.com/lenditconference" target="_blank">
					<span>Watch Recap</span>
					<strong>San Francisco 2014</strong>
				</a>
			</div>
		</div>
	</div>
</header>
<main>
	<section class="nychome-section">
		<div class="nychome-container">


			<!-- begin INTRODUCTION -->
			<div class="introduction">
				<h1>LendIt 2015: <span> April 13-15, 2015 at the Marriott Marquis in NYC</span></h1>
				<!--						 <p class="intro">LendIt 2015 marks the third annual LendIt Conference, and is expected to be the largest gathering ever for the peer-to-peer lending industry. It will include a powerful lineup of keynote presentations delivered by European peer to peer lending industry leaders, interactive panel discussions, extensive networking as well as an exhibit hall consisting of leading and emerging online lending portals, infrastructure companies and service providers focused on the peer-to-peer and online lending industry.</p> -->
				<p class="intro">
					LendIt is the world’s largest gathering of online lending companies and their partners. Established and emerging platforms and investors come to learn, network and do business. Last year’s event attracted almost 1,000 attendees. This year, we expect to grow by at least 50%.
				</p>
			</div>
			<!-- end FEATURES -->


			<div class="nyc-home-columns">
				<div class="nyc-home-col">



			<!-- begin PRELIM-FEATURES -->
			<div class="prelim-features">
				<div class="header">
					It will consist of:
				</div>
				<ul>
					<li>Pre-Conference Workshops</li>
					<li>2 days of panel sessions & keynotes</li>
					<li>3 floors of content, networking and meeting space</li>
					<li>1,500 decision makers</li>
					<li>35,000 square feet of exhibition space</li>
					<li>2 fun parties</li>
				</ul>

				<p>
					For more details please go to our <br><a href="http://register.lendit.co/europe" onclick="_gaq.push(['_link', 'http://register.lendit.co/europe']); return false;" target="_blank">registration page</a>.
				</p>

				<div>
					<a href="https://s3-us-west-2.amazonaws.com/lendit/uploads/lendit-2015-sponsorship-prospectus.pdf" target="_blank">Download Sponsorship Prospectus.</a>
				</div>
			</div>
			<!-- end PRELIM-FEATURES -->

				<div class="gutter"></div>
				<div class="new-home-col">


					<!-- // begin WHO'S COMING -->
					<div class="bodytext-2">
						<div class="whos-coming-head">
							LendIt 2014 Attendance
						</div>
						<div>
							<a href="/san-francisco-2014/attendees"><img src="https://s3-us-west-2.amazonaws.com/lendit/photos/lendit-sf14-attendees-map.png" alt="LendIt 2014 Attendees in San Francisco" style="max-width: 100%;border-color:gray;"></a>
						</div>
					</div>
					<!-- end WHO'S COMING // -->


				</div>

		</div>

				<div class="nyc-home-col">



			<!-- begin PRELIM-FEATURES -->
			<div class="prelim-features">

				<p class="subhead">
					Five streams of unique content
				</p>
				<ul>
					<li>Keynotes &amp; panel discussions</li>
					<li>Off-the-record Q&amp;A</li>
					<li>Company demos</li>
					<li>China break-out hall</li>
					<li>Real Estate break-out hall</li>
				</ul>
				<p class="subhead">
					Extensive networking activities
				</p>
				<ul>
					<li>Pre- and post-conference parties</li>
					<li>Numerous breakfast, lunch and coffee breaks</li>
					<li>Private meeting rooms</li>
					<li>Event networking app</li>
				</ul>
			</div>
			<!-- end PRELIM-FEATURES -->

		</div>
	</div>




		</div>
	</section>
</main>
