<% title "LendIt USA 2015 Start-up Zone Page" %>
<% meta_description "LendIt Start-up Zone features online lending start-ups at the LendIt USA expo floor" %>
<% meta_keywords "p2p, start-up, online lending, peer-to-peer, LendIt Europe" %>

<h1>LendIt <span>loves</span> Start-Ups</h1>

<div>
  <h2>Great News for Start-ups</h2>
  <p>LendIt is delighted to announce the addition of the online lending community Start-up Zone to the LendIt USA expo floor.</p>
  <p>The online lending community Start-up Zone has been created to celebrate, inspire and accelerate high-growth entrepreneurship in our community.</p>
</div>

<div>
  <h2>Who is eligible?</h2>
  <p>Online lending start-ups with 10 employees or less.</p>
</div>

<div>
  <h2>What do you get?</h2>
  <ul>
    <li>48 square-foot booth (6 ft. x 8 ft.)</li>
    <li>1 high boy table (30 in. x 42 in.)</li>
    <li>2 stools</li>
    <li>1 conference pass</li>
    <li>1 exhibition hall only pass</li>
    <li>Wi-fi connection</li>
    <li>Company logo and description featured on the LendIt website, LendIt event app and the LendIt show guide</li>
  </ul>
</div>

<div>
  <h2>Investment:</h2>
  <p>$3K</p>
</div>

<div>
  <p>Contact <a href="mailto:joy@lendit.co">joy@lendit.co</a> to secure your place in the start-up pavillion now. Or sign up on our <a href="http://register.lendit.co" target="_blank">online registration</a>.</p>
</div>

<div>
  <p>*Admission to the start-up pavillion is at the discretion of LendIt. Spots are limited to 15. Once these spots have been sold, the start-up rate will no longer be available.</p>
</div>