<%= title "PitchIt @ LendIt submission" %>
<% meta_description "PitchIt @ LendIt successfully sign-up form" %>
<% meta_keywords "p2p, online lending, peer-to-peer, LendIt, conference, volunteer" %>
<% body_class "usa15-pitchit-submitted" %>


<div class="general-background">
	<div class="row panel">
		<div class="columns">
			<h1>Thank You</h1>
			<section>
				<p>Thank you for submitting the <b>
					PitchIt @ LendIt
				</b> application form form. We will be in touch as soon as possible.</p>

				<p>Click <a href="/">here</a> to return to the LendIt homepage.</p>

			</section>
		</div>
	</div>

</div>
