<%= title "LendIt USA 2015 <b>PitchIt @ LendIt</b> Page" %>
<% meta_description "LendIt USA gives select start-ups the opportunity to openly pitch their businesses to a set of venture capital and angel investors" %>
<% meta_keywords "p2p, online lending, peer-to-peer, LendIt, start-ups, pitch" %>
<% body_class "usa15-pitchit" %>


<div class="general-background">
	<div class="row panel">
		<div class="columns">

			<img src="https://s3-us-west-2.amazonaws.com/lendit/pitchit/2015-03-04-pitchit-image.png" class="pitchit-image" />
			<h1><b>PitchIt @ LendIt</b></h1>

			<p>
				 April 14, 2015 <br>
				 3:30pm - 5:25pm
			</p>


			<p>
				There is a tremendous amount of entrepreneurial activity in the online lending industry with dozens of new startups in 2014 alone. At LendIt we love startups and we want to showcase some of the more interesting companies in the space. So, we have created <b>PitchIt @ LendIt</b> to give select companies the opportunity to openly pitch their businesses to a set of venture capital and angel investors.
			</p>

			<section>
				<h3>
					This is how <b>PitchIt @ LendIt</b> will work:
				</h3>
				<ul>
					<li>Startups will submit an online application for consideration.</li>
					<li>Eight finalists will be chosen by the LendIt team to join <b>PitchIt @ LendIt</b>.</li>
					<li>Finalists will deliver a five-minute presentation pitching their company.</li>
					<li>A panel of four judges will conduct a five-minute Q&A.</li>
					<li>After all the presentations the judges will deliberate and award a winner and two runners up prizes.</li>
				</ul>
				<p>
					We expect <b>PitchIt @ LendIt</b> will be a fun and fast-paced session and who knows, maybe we will unearth the next Lending Club. The judges are all active angel investors or venture capitalists who have made multiple investments in our industry.
				</p>
			</section>

			<div class="pitchit-image-reversed-container">
				<img src="https://s3-us-west-2.amazonaws.com/lendit/pitchit/2015-03-04-pitchit-static.png" class="pitchit-image-reversed" />
			</div>
			<section>
				<h2>Contest Rules</h2>
				<p>
					To qualify for <b>PitchIt @ LendIt</b> companies must meet the following criteria:
				</p>

				<ul>
					<li>Have been in operation for less than two years</li>
					<li>Have raised less than $10 million</li>
					<li>Be actively fundraising at the time of LendIt</li>
					<li>Be operating as a loan origination platform or service provider</li>
					<li>Open to US and international companies</li>
				</ul>

				<p>
					If your company qualifies then <a href="/usa/2015/pitchit/sign-up">submit your application here</a>. There is no cost to enter.
				</p>

				<p>
					<strong>The deadline to enter PitchIt @ LendIt is March 28, 2015. </strong>Finalists will be notified via email by March 31, 2015.
				</p>
			</section>
		</div>
</div></div>
