<%= title "LendIt USA 2015 PitchIt @ LendIt Page" %>
<% meta_description "LendIt USA gives select start-ups the opportunity to openly pitch their businesses to a set of venture capital and angel investors" %>
<% meta_keywords "p2p, online lending, peer-to-peer, LendIt, start-ups, pitch" %>
<% body_class "usa15-pitchit" %>

<div class="row">
	<div class="columns">
		<h1>PitchIt @ LendIt</h1>

		<section>
			There is a tremendous amount of entrepreneurial activity in the online lending industry with dozens of new startups in 2014 alone. At LendIt we love startups and we want to showcase some of the more interesting companies in the space. So, we have created PitchIt @ LendIt to give select companies the opportunity to openly pitch their businesses to a set of venture capital and angel investors.
		</section>

		<section>
			<p>
				This is how PitchIt @ LendIt will work:
			</p>
			<ul>
				<li>Startups will submit an online application for consideration.</li>
				<li>Eight finalists will be chosen by the LendIt team to join PitchIt @ LendIt.</li>
				<li>Finalists will deliver a five-minute presentation pitching their company.</li>
				<li>A panel of four judges will conduct a five-minute Q&A.</li>
				<li>After all the presentations the judges will deliberate and award a winner and two runners up prizes.</li>
			</ul>
			<p>
				We expect PitchIt @ LendIt will be a fun and fast-paced session and who knows, maybe we will unearth the next Lending Club. The judges are all active angel investors or venture capitalists who have made multiple investments in our industry.
			</p>
		</section>

		<section>
			<h2>Contest Rules</h2>
			<p>
				To qualify for PitchIt @ LendIt companies must meet the following criteria:
			</p>

			<ul>
				<li>Have been in operation for less than two years</li>
				<li>Have raised less than $10 million</li>
				<li>Be actively fundraising at the time of LendIt</li>
				<li>Be operating as a loan origination platform or service provider</li>
				<li>Open to US and international companies</li>
			</ul>

			<p>
				If your company qualifies then submit your application here.
			</p>
		</section>
	</div>
</div>
