<% title "LendIt USA 2015 Conference Page" %>
<% meta_description "Join thousands of peer-to-peer and online lending professionals from around the world for the LendIt Conference in New York City" %>
<% meta_keywords "p2p, online lending, peer-to-peer, LendIt Europe" %>
<% body_class "conference-usa15" %>
<header class="nyc">
	<div class="container">
		<div class="logo"></div>
		<div class="header-buttons">
			<div class="button-recap">
				<a href="http://register.lendit.co/d/t4qbfm/4W" onclick="_gaq.push(['_link', 'http://register.lendit.co/d/t4qbfm/4W']); return false;" target="_blank">
					<strong>Early Bird Tickets</strong>
					<span>Register By Feb. 28</span>
					<!-- <strong>NYC April 13-15</strong> -->
					<!-- <strong>Save $500</strong> -->
					<span>& Save $500</span>
				</a>
			</div>
			<div class="button-recap">
				<a href="https://aws.passkey.com/g/35613120" target="_blank">
					<span>Reserve hotel room</span>
					<strong>New York Marriott Marquis</strong>
				</a>
			</div>
			<!-- 			<div class="button-recap">
				<a href="https://www.youtube.com/lenditconference" target="_blank">
					<span>Watch Recap</span>
					<strong>San Francisco 2014</strong>
				</a>
			</div> -->
		</div>
	</div>
</header>
<main class="ny15">
	<section class="ny15-section">
		<div class="ny15-container">
			<div class="row">
				<div class="large-24 columns">
					<div class="ny15-h1">LendIt USA: April 13-15, 2015 at the Marriott Marquis in NYC</div>
				</div>
			</div>
			<div class="row">
				<div class="small-24 medium-12 large-12 columns ny15-intro">
					<p>
						LendIt USA is the world’s largest annual gathering of the online lending community. This year we will host the largest exhibition ever assembled in our industry with every major platform from around the world. LendIt USA is the must attend annual industry event.
					</p>
					<p>
						Last year's event attracted almost 1,000 attendees. This year, we expect to grow by at least 50%.
					</p>
				</div>
				<div class="small-24 medium-12 large-12 columns">
					<div class="panel usa15-buttons-panel">
						<ul class="small-block-grid-2 medium-block-grid-2 large-block-grid-2">
							<li>
								<div class="ny15-prospectus-link2">
									<a href="/usa/2015/floorplan">
										<span>
											<img src="https://s3-us-west-2.amazonaws.com/lendit/sponsors/lendit-usa-2015/floorplan-thumb.png" />
										</span>
										<span class="ny15-prospectus-link-text2">
											View the LendIt USA 2015 floorplan at the New York Marriott Marquis
											<i class="fa fa-arrow-circle-right"></i>
										</span>
									</a>
								</div>
							</li>
							<li>
								<div class="ny15-prospectus-link2">
									<a href="https://s3-us-west-2.amazonaws.com/lendit/uploads/LendIt-USA-2015-Prospectus.pdf" target="_blank">
										<span>
											<img src="https://s3-us-west-2.amazonaws.com/lendit/sponsors/lendit-usa-2015/prospectus-cover.png" />
										</span>
										<span class="ny15-prospectus-link-text2">English Prospectus <i class="fa fa-arrow-circle-right"></i></span>
									</a>
									<a href="https://s3-us-west-2.amazonaws.com/lendit/uploads/lendit-usa-2015-mandarin-prospectus.pdf" target="_blank"><span class="ny15-prospectus-link-text2">中文版的赞助招股章程 <i class="fa fa-arrow-circle-right"></i></span></a>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class=" large-24 columns">
				<div class="ny15-header">Event Overview</div>
			</div>
			<div class=" large-8 columns" style="margin-bottom:1.1em;">
				<p class="ny15-icon-space ny15-icon"><span>35,000 Sq. Ft. of Exhibition Space</span></p>
				<p class="ny15-icon-floors ny15-icon"><span>3 Floors of Content, Networking and Private Meeting Spaces</span></p>
				<p class="ny15-icon-keynote ny15-icon"><span>Keynotes and Panels</span></p>
				<p class="ny15-icon-preconf ny15-icon"><span>Pre-Conference Workshops</span></p>
				<p class="ny15-icon-decision ny15-icon"><span>1,500 Decision Makers</span></p>
				<p class="ny15-icon-parties ny15-icon"><span>2 Fun Parties</span></p>
			</div>
			<div class=" large-16 columns">
				<ul class="ny15-icon-otherhigh ny15-icon">
					<div> Hot topics will include </div>
					<li> State of the Industry: Today and Beyond</li>
					<!-- <li> Lending to Small Business</li> -->
					<li> Buy Now! Pay Later! - Purchase Finance meets P2P</li>
					<li> Working Capital for Companies through invoice financing</li>
					<li> Real Estate Investing: Equity, Debt and In-Between</li>
					<li> Big Money Talks: the institutional investor panel</li>
					<!--	<li> From Across the Pond: European Issues and Innovations</li> -->
					<li> Around the World in 40 minutes: the Global Lending Landscape</li>
					<li> The Giant Overseas: Chinese P2P Lending</li>
					<li> The Support Network: Service Providers for a Healthy Ecosystem</li>
					<!--	<li> Big Data in Credit Decisioning</li> -->
					<!--	<li> New Developments in Credit Underwriting</li> -->
					<!--	<li> A Tranche in Every Pot: the Evolution of P2P Securitization</li> -->
					<!--	<li> Investing in Millennials: The Beauty of Thin File Borrowers</li> -->
				</ul>
				<ul class="ny15-icon-extens ny15-icon">
					<div>Extensive networking activities</div>
					<li>Pre and post conference parties</li>
					<li>Numerous breakfast, lunch ￼￼￼￼￼and coffee breaks</li>
					<li>Private meeting rooms and pods</li>
					<li>Event networking app</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="large-24 columns">
				<div class="ny15-wide-quote">
					<div class="ny15-wide-quote-strong">
						"Marketplace lending is arguably the hottest spot for financial innovation today and LendIt is right at its center, stoking the fires with great education, content, and networking. LendIt assembles all the key players, asks all the right questions, and creates the perfect forum to fire up ideas, spark connections, and facilitate deal making."
					</div>
					<div class="ny15-wide-quote-attribute">&mdash; Penelope Holt, Chief Marketing Officer, BorrowersFirst</div>
				</div>
			</div>
		</div>
		<div class="row ny15-callouts">
			<div class="large-24 columns">
				<ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-3">
					<li>
						<div class="ny15-header">Attendee Growth</div>
						<div class="ny15-callout-image">
							<img src="https://s3-us-west-2.amazonaws.com/lendit/photos/ny15-attendperyr.png" class="ny15-attendperyr" />
						</div>
					</li>
					<li>
						<div class="ny15-header"> 2014 Audience Breakdown </div>
						<div class="ny15-callout-image">
							<img src="https://s3-us-west-2.amazonaws.com/lendit/photos/ny15-breakdown.png" class="ny15-attendperyr" />
						</div>
					</li>
					<li>
						<div class="ny15-header"> 2015 Attendee Map </div>
						<div class="ny15-attendee-map-link">
							<a href="/usa/2015/attendees"><img src="https://s3-us-west-2.amazonaws.com/lendit/photos/lendit-sf14-attendees-map.png" /></a>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="large-24 columns">
				<div class="ny15-header"> 2014 Photos </div>
				<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4">
					<li class="visible">
						<img src="https://s3-us-west-2.amazonaws.com/lendit/photos/ny15-DSC01295-th.JPG" />
					</li>
					<li>
						<img src="https://s3-us-west-2.amazonaws.com/lendit/photos/ny15-DSC01344-th.JPG" />
					</li>
					<li>
						<img src="https://s3-us-west-2.amazonaws.com/lendit/photos/ny15-DSC02127-th.JPG" />
					</li>
					<li>
						<img src="https://s3-us-west-2.amazonaws.com/lendit/photos/ny15-DSC01708-th.JPG" />
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
</main>
