<% title "LendIt USA 2015 Beijing Invite" %>
<% meta_description "Join thousands of peer-to-peer and online lending professionals from around the world for the LendIt Conference in New York City" %>
<% meta_keywords "p2p, online lending, peer-to-peer, LendIt Europe, China" %>
<% body_class "pg-beijing-invite" %>

<div class="general-background">
	<div class="row" data-equalizer>
		<div class="columns medium-12 large-12">
			<div class="panel" data-equalizer-watch>
				<p>Hello friends!</p>

				<p>Jason Jones, the Co-Founder and Partner of <a href="http://www.lendit.co/usa">LendIt Conference</a> and <a href="http://www.lendacademy.com/">Lend Academy</a> is here in Beijing this Thursday!</p>

				<p>After the <a href="https://www.lendingclub.com/" target="_blank">Lending Club</a> IPO in December, the P2P industry is growing rapidly.</p>

				<p>You have a unique chance to meet the industry leaders in person!</p>
				<p>
					<strong>
						Thursday, January 29, 2015<br>
						6:00pm - 7:30pm<br>
					</strong>
				</p>
				<p>RSVP to WeChat "DrTharon" or email <a href="mailto:tharon@lendit.co">Tharon@lendit.co</a></p>

				<p>Jason Jones will discuss the chance for your P2P company to attend and participate in the best Global P2P Lending Conference, LendIt USA. LendIt USA will take place in New York City April 13-15, 2015. We would like to share with you the details of the conference, how to attend and participate, who are the speakers, and what are the benefits. With 2,000 guest from the global P2P industry, you can network, advertise, and learn from the best!</p>

				<p>Jason will also present an update on the status of the Global P2P market.</p>

				<p>We are looking forward to seeing you this Thursday to learn more!</p>

				<p>Best regards,</p>

				<p>Dr Tharon<br>
					Dr. Tharon Smith, PhD<br>
					Managing Director, Lend Academy and LendIt Conference - China<br>
					WeChat "DrTharon"<br>
					Email: <a href="mailto:tharon@lendit.co">Tharon@lendit.co</a></p>
			</div>

		</div>
		<div class="columns medium-12 large-12">

			<div class="panel" data-equalizer-watch>
				<p>您好朋友！</p>
				<p>Jason Jones，<a href="http://www.lendit.co/usa">LendIt</a> 会议和 <a href="http://www.lendacademy.com">Lend学院</a>的联合创始人和合伙人， 本周四将在北京同您见面！</p>

				<p>自去年十二月 <a href="https://www.lendingclub.com/" target="_blank">Lending Club</a>（借贷俱乐部）进行IPO之后，P2P行业发展迅速。<br>
					这次您将有一个特别的机会，与P2P行业的领导者面对面交流！</p>

				<p><strong>
						2015年1月29日星期四<br>
						下午6:00 - 7:30<br>
					</p>
				</strong>

				<p>请回复至微信“DrTharon”或发送电子邮件至<a href="mailto:tharon@lendit.co">tharon@lendit.co</a>确认出席
				</p>

				<p>Jason Jones将同您讨论您的P2P公司是否有参加全球最顶尖P2P会议- LendIt USA的机会，LendIt USA将于2015年4月13-15日在美国纽约举行。我们愿与您一起分享会议的细节，如何参加和参与，讲者信息以及参加此次会议您将有何获益。LendIt USA将有2000位来自全球P2P行业的精英出席，您将有机会同与会者进行交流，向本领域同仁介绍自己的公司，以及从P2P行业领袖身上获得宝贵经验！</p>

				<p>本周四Jason还将对全球P2P市场的最新状况同各位做详细介绍。<br>
					我们期待您本周四的参与并愿您可以学到更多！</p>

				<p>诚挚的问候，

					<p>Dr Tharon<br>
						秦戴然博士，PhD<br>
						常务董事，Lend学院 以及LendIt 会议-中国<br>
						微信“DrTharon”<br>
						电子邮件：tharon@lendit.com
					</div>
				</div>

			</div>
		</div>

