<%= title "LendIt USA 2015 <b>PitchIt @ LendIt</b> Page" %>
<% meta_description "LendIt USA gives select start-ups the opportunity to openly pitch their businesses to a set of venture capital and angel investors" %>
<% meta_keywords "p2p, online lending, peer-to-peer, LendIt, start-ups, pitch" %>
<% body_class "usa15-pitchit" %>


<div class="general-background">
	<div class="row panel">
		<div class="columns">

			<img src="https://s3-us-west-2.amazonaws.com/lendit/pitchit/2015-03-04-pitchit-image-02.png" class="pitchit-image" />
			<h1><b>PitchIt @ LendIt</b></h1>

			<p>
				April 14, 2015 <br>
				3:30pm - 5:25pm
			</p>


			<p>
				There is a tremendous amount of entrepreneurial activity in the online lending industry with dozens of new startups in 2014 alone. At LendIt we love startups and we want to showcase some of the more interesting companies in the space. So, we have created <b>PitchIt @ LendIt</b> to give select companies the opportunity to openly pitch their businesses to a set of venture capital and angel investors.
			</p>

			<section>
				<h3>
					This is how <b>PitchIt @ LendIt</b> will work:
				</h3>
				<ul>
					<li>Startups will submit an online application for consideration.</li>
					<li>Eight finalists will be chosen by the LendIt team to join <b>PitchIt @ LendIt</b>.</li>
					<li>Finalists will deliver a five-minute presentation pitching their company.</li>
					<li>A panel of five judges will conduct a five-minute Q&A.</li>
					<li>After all the presentations the judges will deliberate and award a winner and two runners up prizes.</li>
				</ul>
				<p>
					We expect <b>PitchIt @ LendIt</b> will be a fun and fast-paced session and who knows, maybe we will unearth the next Lending Club. The judges are all active angel investors or venture capitalists who have made multiple investments in our industry.
				</p>
			</section>


			<!-- BEGIN inserted from the email -->

			<div class="from-email">



				<p style="font-size:26px; color:#89be2e; font-weight:600; line-height:1.3em;" class="eight-pitches"> <span>8 Pitches from Exciting Startups…</span> <span>5 judges…</span> <span>1 winner!</span>  </p>
				<p>
					Come celebrate and support entrepreneurship in the online lending industry!

					Watch our eight finalists battle it out at the first-ever PitchIt @ LendIt.
				</p>
				<p>
					The fun begins at 3:30 PM in the Astor Ballroom on Tuesday, April 14th.
				</p>
				<table cellpadding="0" border="0" cellspacing="0" width="100%" style="border:1px solid #FFD899;" class="pitchit-schedule">
					<tr>
						<td style="font-size:14px; background:#FFFaf1;  padding:2%;" valign="middle" align="left"><span>3:35&nbsp;pm - 3:45&nbsp;pm</span></td>
						<td style="font-size:20px; background:#FFFaf1;  padding:2%; color:orange;" valign="middle" align="left"><span>Crediyo</span></td>
					</tr>
					<tr>
						<td style="font-size:14px; background:#fff;  padding:2%;" valign="middle" align="left"><span>3:47&nbsp;pm - 3:57&nbsp;pm</span></td>
						<td style="font-size:20px; background:#fff; padding:2%;color:orange; " valign="middle" align="left"><span>LoanHero</span></td>
					</tr>
					<tr>
						<td style="font-size:14px; background:#FFFaf1;  padding:2%;" valign="middle" align="left"><span>3:59&nbsp;pm - 4:09&nbsp;pm</span></td>
						<td style="font-size:20px; background:#FFFaf1;  padding:2%;color:orange; " valign="middle" align="left"><span>Able Lending</span></td>
					</tr>
					<tr>
						<td style="font-size:14px; background:#fff;  padding:2%;" valign="middle" align="left"><span>4:11&nbsp;pm - 4:21&nbsp;pm</span></td>
						<td style="font-size:20px; background:#fff;  padding:2%;color:orange; " valign="middle" align="left"><span>Sharestates</span></td>
					</tr>
					<tr>
						<td style="font-size:14px; background:#FFFaf1;  padding:2%;" valign="middle" align="left"><span>4:23&nbsp;pm - 4:33&nbsp;pm</span></td>
						<td style="font-size:20px; background:#FFFaf1;  padding:2%;color:orange; " valign="middle" align="left"><span>Ascend Consumer Finance</span></td>
					</tr>
					<tr>
						<td style="font-size:14px; background:#fff;  padding:2%;" valign="middle" align="left"><span>4:35&nbsp;pm - 4:45&nbsp;pm</span></td>
						<td style="font-size:20px; background:#fff;  padding:2%;color:orange; " valign="middle" align="left"><span>REAMERGE</span></td>
					</tr>
					<tr>
						<td style="font-size:14px; background:#FFFaf1;  padding:2%;" valign="middle" align="left"><span>4:47&nbsp;pm - 4:57&nbsp;pm</span></td>
						<td style="font-size:20px; background:#FFFaf1; padding:2%;color:orange; " valign="middle" align="left"><span>CashForce</span></td>
					</tr>
					<tr>
						<td style="font-size:14px; background:#fff;  padding:2%; " valign="middle" align="left"><span>4:59&nbsp;pm - 5:09&nbsp;pm</span></td>
						<td style="font-size:20px; background:#fff;  padding:2%;color:orange;  " valign="middle" align="left"><span>Kickfurther</span></td>
					</tr>
				</table>
				<p>
					The winner and two runners-up will be declared at 5:20 PM.
				</p>
				<div style="border-bottom-width: 2px; border-bottom-style: dotted; border-bottom-color: #c5de90; border-top-width: 2px; border-top-style: dotted; border-top-color: #c5de90; background: #f9fcf4; margin-bottom:4%;">
					<div style=" font-size:20px; font-weight:500;  padding:2% 3%;  color: #89be2e;     border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: #c5de90; line-height: 1.3em; background: #edf5df;"> <strong style="font-weight: 500;">Featuring a panel of respected angel investors and venture capitalists as judges:</strong></div>
					<table cellpadding="0" cellspacing="0" border="0" class="from-email-judges">
						<tbody>
							<tr>
								<td ></td>
								<td></td>
							</tr>
							<tr>
								<td valign="top" align="right" >★</td>
								<td valign="top" align="left" ><strong>Phin Upham</strong>, <span>Thiel Capital</span></td>
							</tr>
							<tr>
								<td valign="top" align="right" >★</td>
								<td valign="top" align="left" ><strong>Gil Penchina</strong>, <span>Penchina Syndicate</span></td>
							</tr>
							<tr>
								<td valign="top" align="right" >★</td>
								<td valign="top" align="left" ><strong>Charles Moldow</strong>, <span> Foundation Capital </span></td>
							</tr>
							<tr>
								<td valign="top" align="right" >★</td>
								<td valign="top" align="left" ><strong>Geoffrey Miller</strong>, <span> GLI Finance </span></td>
							</tr>
							<tr>
								<td valign="top" align="right" >★</td>
								<td valign="top" align="left" ><strong>Santo Politi</strong>, <span> Spark Capital </span></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div style="border-top:2px dotted #ffd899;background:#FFFaf1; border-bottom:2px dotted #ffd899;">
					<div style="font-size:20px; font-weight:500;  padding:2%; color:orange; border-bottom:1px dotted #FFD899; background:#FFF5E3;">
						<strong style="font-weight:500;">
							Learn a little more about our finalists…
						</strong>
					</div>
					<!-- start -->
					<div style="-webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; background:#fff; border:1px solid #FFD899; margin:2%;">
						<div style="margin-top:2%; font-weight:400; font-size:22px;   ">
							<a href="http://www.crediyo.com" target="_blank" style="color:orange;text-decoration:underline; padding-left:3%;">
								Crediyo
							</a>
						</div>
						<div style="padding:2% 3%; font-weight:400; font-size:14px; line-height:20px;">
							is a big-data technology company that helps patients pay for their out of pocket medical expenses. They use alternative data sets to identify and evaluate patients’ propensity to pay and use a custom analytics platform that creates discounted payment plans and low APR credit products for patients.
						</div>
					</div>
					<!-- end -->
					<!-- start -->
					<div style="-webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; background:#fff; border:1px solid #FFD899; margin:2%;">
						<div style="margin-top:2%; font-weight:400; font-size:22px;   ">
							<a href="http://www.loanhero.com" target="_blank" style="color:orange;text-decoration:underline; padding-left:3%;">
								LoanHero
							</a>
						</div>
						<div style="padding:2% 3%; font-weight:400; font-size:14px; line-height:20px;">
							has developed a disruptive loan origination platform solving a multibillion-dollar problem. LoanHero provides the best financing option for the consumer, merchant and lender at the point of sale. Through the integration of strategic lending partners in combination with a unique balance sheet/marketplace lending structure, LoanHero is able to offer the most competitive loan product available for all levels of credit through one streamlined platform.
						</div>
					</div>
					<!-- end -->
					<!-- start -->
					<div style="-webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; background:#fff; border:1px solid #FFD899; margin:2%;">
						<div style="margin-top:2%; font-weight:400; font-size:22px;   ">
							<a href="https://www.ablelending.com" target="_blank" style="color:orange;text-decoration:underline; padding-left:3%;">
								Able Lending
							</a>
						</div>
						<div style="padding:2% 3%; font-weight:400; font-size:14px; line-height:20px;">
							is an Austin-based financial technology company whose novel loan structure enables small businesses to access the credit they need to grow. Able makes 1, 2 or 3-year term loans up to $250,000 starting at a low-interest rate of 8%--but with a twist. Borrowers have to raise the first 25% of the loan from friends and family, who we call Backers.
						</div>
					</div>
					<!-- end -->
					<!-- start -->
					<div style="-webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; background:#fff; border:1px solid #FFD899; margin:2%;">
						<div style="margin-top:2%; font-weight:400; font-size:22px;   ">
							<a href="https://sharestates.com" target="_blank" style="color:orange;text-decoration:underline; padding-left:3%;">
								Sharestates
							</a>
						</div>
						<div style="padding:2% 3%; font-weight:400; font-size:14px; line-height:20px;">
							is an online platform for real estate marketplace lending and investing. Investors are matched with real estate developers and rehabbers (aka: Sponsors) who are looking for funding. Sharestates leverages proprietary software to acquire, fund and service projects faster and at a lower cost than traditional financing.
						</div>
					</div>
					<!-- end -->
					<!-- start -->
					<div style="-webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; background:#fff; border:1px solid #FFD899; margin:2%;">
						<div style="margin-top:2%; font-weight:400; font-size:22px;   ">
							<a href="https://ascendloan.com" target="_blank" style="color:orange;text-decoration:underline; padding-left:3%; display:inline-block;">
								Ascend Consumer Finance's
							</a>
						</div>
						<div style="padding:2% 3%; font-weight:400; font-size:14px; line-height:20px;">
							pioneering product, RateRewards, enables borrowers to earn up to 50% off their interest expense by making responsible financial choices throughout the life of their loan. Through proprietary technology called Adaptive Risk Pricing, Ascend is able to offer loans at rates that reflect real-time performance instead of past behavior.
						</div>
					</div>
					<!-- end -->
					<!-- start -->
					<div style="-webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; background:#fff; border:1px solid #FFD899; margin:2%;">
						<div style="margin-top:2%; font-weight:400; font-size:22px;   ">
							<a href="https://www.reamerge.com" target="_blank" style="color:orange;text-decoration:underline; padding-left:3%;">
								REAMERGE
							</a>
						</div>
						<div style="padding:2% 3%; font-weight:400; font-size:14px; line-height:20px;">
							is a peer-to-business lending platform which connects lenders with small businesses who need capital to purchase equipment, perform renovations or expand their businesses into new markets. Their focus is on providing lending solutions for convenience stores and non-branded retail chains with steady cash flows and excellent track records.
						</div>
					</div>
					<!-- end -->
					<!-- start -->
					<div style="-webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; background:#fff; border:1px solid #FFD899; margin:2%;">
						<div style="margin-top:2%; font-weight:400; font-size:22px;   ">
							<a href="http://cashforce.com" target="_blank" style="color:orange;text-decoration:underline; padding-left:3%;">
								CashForce
							</a>
						</div>
						<div style="padding:2% 3%; font-weight:400; font-size:14px; line-height:20px;">
							Developed by DiscoverEdge, accelerates the cash flow improvement by processing data from banking systems & ERP systems as well as managing recurring cash flows with full transparency. CashForce also serves as a unique financing market place, where CFOs can simulate the impact of different financing solutions on their future cash position and choose from relevant providers. A quicker & more accurate view on their cash will make organisations 'cash lean' !
						</div>
					</div>
					<!-- end -->
					<!-- start -->
					<div style="-webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; background:#fff; border:1px solid #FFD899; margin:2%;">
						<div style="margin-top:2%; font-weight:400; font-size:22px;   ">
							<a href="https://kickfurther.com" target="_blank" style="color:orange;text-decoration:underline; padding-left:3%;">
								Kickfurther
							</a>
						</div>
						<div style="padding:2% 3%; font-weight:400; font-size:14px; line-height:20px;">
							is the first inventory crowdfunding platform. On Kickfurther product focused brands can crowdfund inventory from their existing fans and the Kickfurther userbase. Backers on Kickfurther actually own title to the goods they are sending to brand partners, and retain control over their investment. Backers can even sell products they invest in to earn a commission on the sale. This unique business model makes backing available to anyone, including non-accredited investors. Businesses can leverage existing inventory financing costs to engage an audience of brand ambassadors who will promote their company and sell their products.
						</div>
					</div>
					<!-- end -->
				</div>




			</div>


			<!-- END inserted from the new email -->


			<div class="pitchit-image-reversed-container">
				<img src="https://s3-us-west-2.amazonaws.com/lendit/pitchit/2015-03-04-pitchit-static.png" class="pitchit-image-reversed" />
			</div>
			<section>
				<h2>Contest Rules</h2>
				<p>
					To qualify for <b>PitchIt @ LendIt</b> companies must meet the following criteria:
				</p>

				<ul>
					<li>Have been in operation for less than two years</li>
					<li>Have raised less than $10 million</li>
					<li>Be actively fundraising at the time of LendIt</li>
					<li>Be operating as a loan origination platform or service provider</li>
					<li>Open to US and international companies</li>
				</ul>

<!-- 				<p>
					If your company qualifies then <a href="/usa/2015/pitchit/sign-up">submit your application here</a>. There is no cost to enter.
				</p>

				<p>
					<strong>The deadline to enter PitchIt @ LendIt is March 28, 2015. </strong>Finalists will be notified via email by March 31, 2015.
				</p> -->
			</section>
		</div>
	</div></div>
