<% title "LendIt USA 2015 Beijing Invite" %>
<% meta_description "Join thousands of peer-to-peer and online lending professionals from around the world for the LendIt Conference in New York City" %>
<% meta_keywords "p2p, online lending, peer-to-peer, LendIt Europe, China" %>
<% body_class "pg-beijing-invite" %>

<div class="general-background">
	<div class="row header-row ">
		
		<div class="columns medium-10 large-10">
			<div class="main-beijing-invite-image">
				<img src="https://s3-us-west-2.amazonaws.com/lendit/2015-beijing-invite.jpg" />
			</div>
		</div>
		<div class="columns medium-14 large-14">


			<p><a href="/usa">LendIt Conference</a> （朗迪会议）和 <a href="http://www.lendacademy.com" target="_blank">Lend Academy</a>联合创始人、合伙人，杰森·琼斯（Jason Jones）先生将于本周四在北京首开宣讲会，欢迎借贷平台、投资人、合伙人、及所有互联网金融从业人员参加。
				</p><p>
				去年十二月 <a href="https://www.lendingclub.com/">Lending Club</a> 的成功上市掀起了P2P行业的发展热潮。此次琼斯先生造访全球最具潜力的互联网金融市场，渴望将引领P2P领域的全球市场新知与您分享，并积极与您探索资源的互动与嫁接。
				</p><p>
				<strong>时	间：01月29日 星期四 18:00 - 19:30</strong>
				请回复至微信 DrTharon 或发送电子邮件至 <a href="mailto:tharon@lendit.co">tharon@lendit.co</a> 确认出席，我们将告知宣讲会地点
				</p><p>
				<br>
				琼斯先生除为您介绍全球P2P市场的最新状况外，将同您面对面商议在全球最顶尖的P2P展览会- LendIt USA上多维度展示您公司的机会。LendIt USA将于2015年4月13-15日在美国纽约举行。我们愿与您一起分享会议的流程细节，介绍明星讲演嘉宾，能为您公司带来的益处，以及参与流程等。今年我们预计LendIt USA将有2000位来自全球P2P行业的精英出席，您将有机会同与会者进行交流，向本领域同仁介绍自己的公司，以及从P2P行业领袖身上获得宝贵经验。
				</p><p>
				我们期待您的莅临！
				诚挚的问候，
				</p><p>
				Dr Tharon 秦戴然博士，PhD
				常务董事，Lend Academy及LendIt Conference -中国
				</p><p>
				微信“DrTharon”
				电子邮件：<a href="mailto:tharon@lendit.co">Tharon@lendit.co</a>
			</p>

		</div>


	</div>
</div>

