<%= title "LendIt Conference China Pavilion Live Stream" %>
<% meta_description "Watch the live stream of the LendIt Conference's China Pavilion and learn more about top Chinese internet finance leaders." %>
<% meta_keywords "p2p, online lending, peer-to-peer, LendIt, LendIt Conference, live, video, China" %>


<div class="ny15-video-page">
  <main>
    <div class="ny15-videopage-container">
      <div class="container">
        <h1>LendIt USA 2015 - China Pavilion Live Video Stream</h1>
        <p>
          <!-- The live video stream will be available starting April 14, 11:55am-6pm EDT. -->
        </p>

        <div class="ny15-video-sponsor">
          <p>Sponsored by<img src="https://s3-us-west-2.amazonaws.com/lendit/sponsors/prosper.psd-th.jpeg" alt="auxmoney"></p>
        </div>


        <div class="livestream-area">
          <iframe src="http://livestream.com/accounts/12983635/events/3954318/player?width=935&height=523&autoPlay=true&mute=false" width="935" height="523" frameborder="0" scrolling="no"> </iframe>

<!--           <iframe src="http://livestream.com/accounts/12983635/events/3954318/player?width=640&height=360&autoPlay=true&mute=false" width="640" height="360" frameborder="0" scrolling="no"> </iframe> -->

        </div>

      </div>
    </div>
  </main>
</div>
