<% title "LendIt Europe Conferene Video Showcase" %>
<% meta_description "LendIt Europe 2015 Peer-to-Peer and Online Lending Conference showcase video" %>
<% meta_keywords "p2p, online lending, peer-to-peer, LendIt, video, Europe, UK" %>

<% body_class "vid-show" %>


<div class="general-background">
  <div class="row">
    <div class="columns">
      <div class="back">
        <%#= link_to 'Videos', videos_path %>
      </div>
      <div class="video-embed">
        <div id="wistia_96353irwj7" class="wistia_embed" style="width:970px;height:546px;"><div itemprop="video" itemscope itemtype="http://schema.org/VideoObject"><meta itemprop="name" content="Lendit Europe promo video" /><meta itemprop="duration" content="PT1M20S" /><meta itemprop="thumbnailUrl" content="https://embed-ssl.wistia.com/deliveries/2efccacd291e80d878c1546ff458cabfb1f653b7.bin" /><meta itemprop="contentURL" content="https://embed-ssl.wistia.com/deliveries/ee5905401c666476d3423bae785ff12036f6840f.bin" /><meta itemprop="embedURL" content="https://embed-ssl.wistia.com/flash/embed_player_v2.0.swf?2015-02-27&controlsVisibleOnLoad=true&customColor=7b796a&fullscreenDisabled=true&hdUrl%5B2pass%5D=true&hdUrl%5Bext%5D=flv&hdUrl%5Bheight%5D=720&hdUrl%5Bsize%5D=26570635&hdUrl%5Btype%5D=hdflv&hdUrl%5Burl%5D=https%3A%2F%2Fembed-ssl.wistia.com%2Fdeliveries%2F11a7b5381cb03d40a7714152f83360e244064e47.bin&hdUrl%5Bwidth%5D=1280&mediaDuration=80.291&showVolume=true&stillUrl=https%3A%2F%2Fembed-ssl.wistia.com%2Fdeliveries%2F2efccacd291e80d878c1546ff458cabfb1f653b7.bin%3Fimage_crop_resized%3D970x546&unbufferedSeek=false&videoUrl=https%3A%2F%2Fembed-ssl.wistia.com%2Fdeliveries%2Fee5905401c666476d3423bae785ff12036f6840f.bin" /><meta itemprop="uploadDate" content="2015-07-28T17:01:23Z" /><object id="wistia_96353irwj7_seo" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" style="display:block;height:546px;position:relative;width:970px;"><param name="movie" value="https://embed-ssl.wistia.com/flash/embed_player_v2.0.swf?2015-02-27"></param><param name="allowfullscreen" value="true"></param><param name="bgcolor" value="#000000"></param><param name="wmode" value="opaque"></param><param name="flashvars" value="controlsVisibleOnLoad=true&customColor=7b796a&fullscreenDisabled=true&hdUrl%5B2pass%5D=true&hdUrl%5Bext%5D=flv&hdUrl%5Bheight%5D=720&hdUrl%5Bsize%5D=26570635&hdUrl%5Btype%5D=hdflv&hdUrl%5Burl%5D=https%3A%2F%2Fembed-ssl.wistia.com%2Fdeliveries%2F11a7b5381cb03d40a7714152f83360e244064e47.bin&hdUrl%5Bwidth%5D=1280&mediaDuration=80.291&showVolume=true&stillUrl=https%3A%2F%2Fembed-ssl.wistia.com%2Fdeliveries%2F2efccacd291e80d878c1546ff458cabfb1f653b7.bin%3Fimage_crop_resized%3D970x546&unbufferedSeek=false&videoUrl=https%3A%2F%2Fembed-ssl.wistia.com%2Fdeliveries%2Fee5905401c666476d3423bae785ff12036f6840f.bin"></param><embed src="https://embed-ssl.wistia.com/flash/embed_player_v2.0.swf?2015-02-27" allowfullscreen="true" bgcolor=#000000 flashvars="controlsVisibleOnLoad=true&customColor=7b796a&fullscreenDisabled=true&hdUrl%5B2pass%5D=true&hdUrl%5Bext%5D=flv&hdUrl%5Bheight%5D=720&hdUrl%5Bsize%5D=26570635&hdUrl%5Btype%5D=hdflv&hdUrl%5Burl%5D=https%3A%2F%2Fembed-ssl.wistia.com%2Fdeliveries%2F11a7b5381cb03d40a7714152f83360e244064e47.bin&hdUrl%5Bwidth%5D=1280&mediaDuration=80.291&showVolume=true&stillUrl=https%3A%2F%2Fembed-ssl.wistia.com%2Fdeliveries%2F2efccacd291e80d878c1546ff458cabfb1f653b7.bin%3Fimage_crop_resized%3D970x546&unbufferedSeek=false&videoUrl=https%3A%2F%2Fembed-ssl.wistia.com%2Fdeliveries%2Fee5905401c666476d3423bae785ff12036f6840f.bin" name="wistia_96353irwj7_html" style="display:block;height:100%;position:relative;width:100%;" type="application/x-shockwave-flash" wmode="opaque"></embed></object><noscript itemprop="description">Lendit Europe promo video</noscript></div></div>
<script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/E-v1.js"></script>
<script>
wistiaEmbed = Wistia.embed("96353irwj7", {
  videoFoam: true
});
</script>
<script charset="ISO-8859-1" src="//fast.wistia.com/embed/medias/96353irwj7/metadata.js"></script>
      </div>
      <div class="video-title">
        LendIt Europe Showcase
      </div>
      <div class="conf-id">




        <div class="video-description">
          Description goes here.
        </div>

      </div>
    </div>
  </div>
</div>

