<%= title "LendIt Conference Live Stream" %>
<% meta_description "Watch the live stream of the LendIt Conference and learn more about top internet finance leaders in Europe." %>
<% meta_keywords "p2p, online lending, peer-to-peer, LendIt, LendIt Conference, live, video" %>
<% body_class "pg-livestream" %>

<div class="general-background">
	<div class="row">
		<div class="columns">
			<div class="live-header">
				<h1>LendIt USA 2015 Live Video Stream</h1>
				<div class="live-explanation">
					<!--
					The live video stream will be available April 14, 9am-6pm (UK Time).
					-->
				</div>
			</div>
			<div class="live-video-area">
				<div class="live-sponsor-area">
					<div class="live-sponsor-area-inner">
						<span class="live-sponsored">Sponsored by</span>

						<span class="live-sponsor-logo">
							<img src="https://s3-us-west-2.amazonaws.com/lendit/sponsors/livestream-prosper.png" alt="prosper">
						</span>
					</div>
				</div>

				<div class="live-iframe-area">
					<iframe src="http://livestream.com/accounts/1491608/events/3937353/player?width=935&height=532&autoPlay=true&mute=false"	frameborder="0" scrolling="no" class="live-iframe"> </iframe>

				</div>
				<!--					 <iframe src="http://livestream.com/accounts/1491608/events/3937353/player?width=560&height=315&autoPlay=true&mute=false" width="560" height="315" frameborder="0" scrolling="no"> </iframe> -->
				<!-- // <script src="http://www.events.public-i.tv/core/justwidget/560/jsw/1/activity_id/154873/simple/1" type="text/javascript"></script><noscript>Webcast Available Here : <a href="http://www.events.public-i.tv/core/portal/webcast_interactive/154873">http://www.events.public-i.tv/core/portal/webcast_interactive/154873</a></noscript> -->
			</div>
		</div>
	</div>
</div>
