<%= title "LendIt Conference Live Stream" %>
<% meta_description "Watch the live stream of the LendIt Conference and learn more about top internet finance leaders in Europe." %>
<% meta_keywords "p2p, online lending, peer-to-peer, LendIt, LendIt Conference, live, video" %>
<%= canonical_tag -%>

<div class="ny15-video-page">
	<main>
		<div class="ny15-videopage-container">
			<div class="container">
				<h1>LendIt Europe Live Video Stream</h1>
				<p>
					The live video stream will be available November 17th, 9am-6pm (UK Time).
				</p>

				<div class="ny15-video-sponsor">
					<p>Sponsored by <img src="/assets/ny15-auxmoney.jpg" alt="auxmoney"></p>
				</div>


				<div class="livestream-area">
					<script src="http://www.events.public-i.tv/core/justwidget/560/jsw/1/activity_id/154873/simple/1" type="text/javascript"></script><noscript>Webcast Available Here : <a href="http://www.events.public-i.tv/core/portal/webcast_interactive/154873">http://www.events.public-i.tv/core/portal/webcast_interactive/154873</a></noscript>
				</div>

			</div>
		</div>
	</main>
</div>
