<div>
  <div class="container">
    <h1>LendIt Europe Live Video Stream</h1>
    <p>
      The live video stream will be available November 17th, 9am-6pm (UK Time).
    </p>

    <iframe width="560" height="315" src="//www.youtube.com/embed/PbIE2iBYVBY?list=PLdQ2kQyad3IhDpx1ybk_mec5nYj_GgvpC" frameborder="0" allowfullscreen></iframe>

    <p>Sponsored by: <img src="https://s3-us-west-2.amazonaws.com/lendit/sponsors/auxmoney.png" alt="auxmoney" style="max-height: 100px;"></p>
  </div>
</div>
