<div class="important-callout">

  <div class="important-callout-inner">
    <div>
      <a href="/agenda"><i class="fa fa-arrow-circle-right"></i> View the LendIt USA 2015 Agenda</a>
    </div>
  </div>

</div>