<div class="important-callout">

  <div class="important-callout-inner">
		<div class="important-callout-container">
			<div>
				<a href="/agenda"><i class="fa fa-arrow-circle-right"></i> View the LendIt USA 2015 Agenda</a>

			</div>
			<div>
				<a href="https://s3-us-west-2.amazonaws.com/lendit/uploads/usa-2015/LND-USA-show-guide.pdf" class="orange" target="_blank"><i class="fa fa-download"></i> Download Conference Guide </a>
			</div>
		</div>

  </div>

</div>
