<div class="section-hd">
	Latest News & White Papers
</div>
<div class="latestnews"><ul>
		<li>
			<a href="https://s3-us-west-2.amazonaws.com/lendit/uploads/usa-2015/Afluenta-040715.pdf" target="_blank">
				<div class="news-title">Afluenta Launches Fourth Version of its P2P Platform</div>
				<div class="pub-date">April 7, 2015</div>
			</a>
		</li>
		<li>
			<a href="https://s3-us-west-2.amazonaws.com/lendit/uploads/usa-2015/Dara-Albright-041315.pdf" target="_blank">
				<div class="news-title">The Financial Advisor's Guide to P2P Investing</div>
				<div class="byline">Dara Albright, James A. Jones and Chris Staples</div>
				<div class="pub-date">April 13, 2015</div>
			</a>
		</li>
		<li>
			<a href="https://s3-us-west-2.amazonaws.com/lendit/uploads/usa-2015/AmeriMerchant-041015.pdf" target="_blank">
				<div class="news-title">AmeriMerchant Launches Version 2.0 of Online Application for Small Businesses Seeking Working
					Capital</div>
				<div class="date-byline">AmeriMerchant</div>
				<div class="pub-date">April 10, 2015</div>
			</a>
		</li>
		<li>
			<a href="https://s3-us-west-2.amazonaws.com/lendit/uploads/usa-2015/ApplePie-Capital-040915.pdf" target="_blank">
				<div class="news-title">ApplePie Capital Raises $6 Million In Series A Funding and $28 Million in Debt Capital Commitments to
					Fund Franchise Loans</div>
				<div class="date-byline">ApplePie Capital</div>
				<div class="pub-date">April 9, 2015</div>
			</a>
		</li>
		<li>
			<a href="https://s3-us-west-2.amazonaws.com/lendit/uploads/usa-2015/AssetAvenue-040715.pdf" target="_blank">
				<div class="news-title">AssetAvenue Secures $11 Million in Series A Funding</div>
				<div class="date-byline">AssetAvenue</div>
				<div class="pub-date">April 7, 2015</div>
			</a>
		</li>
		<li>
			<a href="https://s3-us-west-2.amazonaws.com/lendit/uploads/usa-2015/Avant-041315.pdf" target="_blank">
				<div class="news-title">Avant Launches Institutional Marketplace with Global Alternative Asset Manager KKR, Victory Park
					Capital and Jefferies as Lead Investors</div>
				<div class="date-byline">Avant</div>
				<div class="pub-date">April 13, 2015</div>
			</a>
		</li>
		<li>
			<a href="https://s3-us-west-2.amazonaws.com/lendit/uploads/usa-2015/Cloud-Lending-041315.pdf" target="_blank">
				<div class="news-title">Cloud Lending Solutions to Discuss Technology Driving Alternative Lending Innovation at LendIt USA
					2015.</div>
				<div class="date-byline">Cloud Lending Solutions</div>
				<div class="pub-date">April 13, 2015</div>
			</a>
		</li>
		<li>
			<a href="https://s3-us-west-2.amazonaws.com/lendit/uploads/usa-2015/CMC-041015.pdf" target="_blank">
				<div class="news-title">CMC Develops Significant New Customer Experience Management Capabilities</div>
				<div class="date-byline">Collections Marketing Center, Inc.</div>
				<div class="pub-date">April 10, 2015</div>
			</a>
		</li>
		<li>
			<a href="https://s3-us-west-2.amazonaws.com/lendit/uploads/usa-2015/CommonBond-041315.pdf" target="_blank">
				<div class="news-title">Former Citigroup Executive Joins CommonBond as Chief Risk Officer</div>
				<div class="date-byline">CommonBond</div>
				<div class="pub-date">April 13, 2015</div>
			</a>
		</li>
		<li>
			<a href="https://s3-us-west-2.amazonaws.com/lendit/uploads/usa-2015/Credibility-Capital-041315.pdf" target="_blank">
				<div class="news-title">Credibility Capital Inc.</div>
				<div class="date-byline">Credibility Capital Launches Online Lending Platform for Small Business Owners</div>
				<div class="pub-date">April 13, 2015</div>
			</a>
		</li>
		<li>
			<a href="https://s3-us-west-2.amazonaws.com/lendit/uploads/usa-2015/Equifax-040715.pdf" target="_blank">
				<div class="news-title">Equifax to Participate in 2015 LendIt USA Conference</div>
				<div class="date-byline">Equifax</div>
				<div class="pub-date">April 7, 2015</div>
			</a>
		</li>
		<li>
			<a href="https://s3-us-west-2.amazonaws.com/lendit/uploads/usa-2015/FICO1-031015.pdf" target="_blank">
				<div class="news-title">China's Leading Alternative Lender Adopt FICO Risk Management Technology to Strengthen Viability
					and Profits Amid Rapid Growth</div>
				<div class="date-byline">FICO</div>
				<div class="pub-date">March 10, 2015</div>
			</a>
		</li>
		<li>
			<a href="https://s3-us-west-2.amazonaws.com/lendit/uploads/usa-2015/FICO2-040215.pdf" target="_blank">
				<div class="news-title">FICO, LexisNexis Risk Solutions & Equifax Joining to Generate Trusted Alternative Data Scores for
					Millions More Americans</div>
				<div class="date-byline">FICO</div>
				<div class="pub-date">April 2, 2015</div>
			</a>
		</li>
		<li>
			<a href="https://s3-us-west-2.amazonaws.com/lendit/uploads/usa-2015/Foundation-Capital-041315.pdf" target="_blank">
				<div class="news-title">Foundation Capital Identifies What’s Driving the Next Big Ideas in Financial Technology</div>
				<div class="date-byline">Foundation Capital</div>
				<div class="pub-date">April 13, 2015</div>
			</a>
		</li>
		<li>
			<a href="https://s3-us-west-2.amazonaws.com/lendit/uploads/usa-2015/GLI-Finance-041315.pdf" target="_blank">
				<div class="news-title">GLI Finance invests €445,500 in MytripleA, Spain’s first online regulated P2P lending platform</div>
				<div class="date-byline">GLI Finance Limited</div>
				<div class="pub-date">April 13, 2015</div>
			</a>
		</li>
		<li>
			<a href="https://s3-us-west-2.amazonaws.com/lendit/uploads/usa-2015/Herio-Capital-040815.pdf" target="_blank">
				<div class="news-title">Herio Capital launches small business lending program</div>
				<div class="date-byline">Herio Capital</div>
				<div class="pub-date">April 8, 2015</div>
			</a>
		</li>
		<li>
			<a href="https://s3-us-west-2.amazonaws.com/lendit/uploads/usa-2015/LendingHome-041415.pdf" target="_blank">
				<div class="news-title">LendingHome Originates $100M+ in First Year of Operations and Raises $100M+ of Equity</div>
				<div class="date-byline">LendingHome</div>
				<div class="pub-date">April 14, 2015</div>
			</a>
		</li>
		<li>
			<a href="https://s3-us-west-2.amazonaws.com/lendit/uploads/usa-2015/LendingRobot-2015.pdf" target="_blank">
				<div class="news-title">How much should you invest in Peer Lending?</div>
				<div class="date-byline">LendingRobot</div>
			</a>
		</li>
		<li>
			<a href="https://s3-us-west-2.amazonaws.com/lendit/uploads/usa-2015/Lendio-041415.pdf" target="_blank">
				<div class="news-title">Lendio Acquires Business Bounce to Accelerate Business Lending on its Marketplace Platform</div>
				<div class="date-byline">Lendio</div>
				<div class="pub-date">April 14, 2015</div>
			</a>
		</li>
		<li>
			<a href="https://s3-us-west-2.amazonaws.com/lendit/uploads/usa-2015/LendKey-041415.pdf" target="_blank">
				<div class="news-title">LendKey Secures Up to $1 Billion in Financing</div>
				<div class="date-byline">LendKey</div>
				<div class="pub-date">April 14, 2015</div>
			</a>
		</li>
		<li>
			<a href="https://s3-us-west-2.amazonaws.com/lendit/uploads/usa-2015/LighterCapital-041315.pdf" target="_blank">
				<div class="news-title">Small Businesses Averaging $250k in Funding with Revenue-Based Financing from Lighter Capital</div>
				<div class="date-byline">Lighter Capital</div>
				<div class="pub-date">April 13, 2015</div>
			</a>
		</li>
		<li>
			<a href="https://s3-us-west-2.amazonaws.com/lendit/uploads/usa-2015/miiCard-041315.pdf" target="_blank">
				<div class="news-title">GDS Link and miiCard’s DirectID to Power Lending Decisions for a Top U.S. Peer-to-Peer Lender</div>
				<div class="date-byline">miiCard</div>
				<div class="pub-date">April 13, 2015</div>
			</a>
		</li>
		<li>
			<a href="https://s3-us-west-2.amazonaws.com/lendit/uploads/usa-2015/Karen-Mills-072214.pdf" target="_blank">
				<div class="news-title">The State of Small Business Lending</div>
				<div class="date-byline">Mills, Karen</div>
				<div class="pub-date">July 22, 2014</div>
			</a>
		</li>
		<li>
			<a href="https://s3-us-west-2.amazonaws.com/lendit/uploads/usa-2015/Money360-041315.pdf" target="_blank">
				<div class="news-title">Money360 Secures $110 Million for P2P Commercial Real Estate Loans, Including $100 Million from
					Leading New York Investment Firm Specializing in Online Lending</div>
				<div class="date-byline">Money360</div>
				<div class="pub-date">April 13, 2015</div>
			</a>
		</li>
		<li>
			<a href="https://s3-us-west-2.amazonaws.com/lendit/uploads/usa-2015/NSR-Invest-041315.pdf" target="_blank">
				<div class="news-title">P2P Pioneers Create First-Ever Fully Integrated Asset Management Platform for Marketplace Investing</div>
				<div class="date-byline">NSR Invest</div>
				<div class="pub-date">April 13, 2015</div>
			</a>
		</li>
		<li>
			<a href="https://s3-us-west-2.amazonaws.com/lendit/uploads/usa-2015/Orchard-041415.pdf" target="_blank">
				<div class="news-title">Orchard Introduces New Investment Manager Database</div>
				<div class="date-byline">Orchard Platform</div>
				<div class="pub-date">April 14, 2015</div>
			</a>
		</li>
		<li>
			<a href="https://s3-us-west-2.amazonaws.com/lendit/uploads/usa-2015/PatchofLand-040815.pdf" target="_blank">
				<div class="news-title">Patch of Land Raises $23.6 Million in Financing, Led by SF Capital Group and Ron Suber</div>
				<div class="date-byline">Patch of Land</div>
				<div class="pub-date">April 8, 2015</div>
			</a>
		</li>
		<li>
			<a href="https://s3-us-west-2.amazonaws.com/lendit/uploads/usa-2015/Prodigy-Network-041315.pdf" target="_blank">
				<div class="news-title">Real Estate Crowdfunding Leader Rodrigo Nino to Present at LendIt USA 2015</div>
				<div class="date-byline">Prodigy Network</div>
				<div class="pub-date">April 13, 2015</div>
			</a>
		</li>
		<li>
			<a href="https://s3-us-west-2.amazonaws.com/lendit/uploads/usa-2015/Prosper-041415.pdf" target="_blank">
				<div class="news-title">Prosper Marketplace and OnDeck Announce Strategic Partnership </div>
				<div class="date-byline">Prosper Marketplace</div>
				<div class="pub-date">April 14, 2015</div>
			</a>
		</li>
		<li>
			<a href="https://s3-us-west-2.amazonaws.com/lendit/uploads/The-Hourglass-Effect.pdf" target="_blank">
				<div class="news-title">The Hourglass Effect: A Decade of Displacement</div>
				<div class="date-byline">Frank Rotman</div>
			</a>
		</li>
		<li>
			<a href="https://s3-us-west-2.amazonaws.com/lendit/uploads/usa-2015/Siwei-Letitia-Xie-2015.pdf" target="_blank">
				<div class="news-title">New Trend in China: the Study on the Interactive Modes between P2P Platform and Traditional Bank</div>
				<div class="date-byline">Siwei Letitia Xie</div>
			</a>
		</li>
		<li>
			<a href="http://techcrunch.com/2015/03/19/fundbox-raises-40-million-to-pay-invoices-on-demand/" target="_blank">
				<div class="news-title">Fundbox Raises $40 Million To Pay Invoices On Demand</div>
				<div class="date-byline">Christine Magee, TechCrunch</div>
				<div class="pub-date">March 19, 2015</div>
			</a>
		</li>
		<li>
			<a href="http://technode.com/2015/04/03/ppdai-series-c-funding/" target="_blank">
				<div class="news-title">Chinese P2P Lending Service Ppdai Lands Close To $100 Million Series C Funding for Improving Risk Control and Credit System </div>
				<div class="date-byline">Emma Lee, TechNode</div>
				<div class="pub-date">April 3, 2015</div>
			</a>
		</li>
		<li>
			<a href="http://news.sky.com/story/1457480/temasek-snaps-up-stake-in-uks-funding-circle" target="_blank">
				<div class="news-title">Temasek Snaps Up Stake In UK's Funding Circle, Valuing Firm at $1b </div>
				<div class="date-byline">Mark Kleinman, Sky News</div>
				<div class="pub-date">April 2, 2015</div>
			</a>
		</li>
		<li>
			<a href="http://blogs.wsj.com/venturecapital/2015/03/24/lendio-raises-20-million-to-help-connect-lenders-borrowers/" target="_blank">
				<div class="news-title">Lendio Raises $20 Million to Help Connect Lenders, Borrowers </div>
				<div class="date-byline">Timothy Hay, WSJ Venture Capital Dispatch</div>
				<div class="pub-date">March 24, 2015</div>
			</a>
		</li>
		<li>
			<a href="http://www.bizjournals.com/sanjose/blog/techflash/2015/03/lendinghome-raises-70m-for-online-real-estate.html" target="_blank">
				<div class="news-title">LendingHome raises $70M for online real estate investment platform </div>
				<div class="date-byline">Gina Hall, Silicon Valley Business Journal</div>
				<div class="pub-date">March 23, 2015</div>
			</a>
		</li>
		<li>
			<a href="http://www.crowdfundinsider.com/2015/03/63931-lendico-receives-institutional-investment-of-100s-of-millions-for-loans/" target="_blank">
				<div class="news-title">Lendico Receives Institutional Investment of “100s of Millions” for Loans</div>
				<div class="date-byline">JD Alois, Crowdfund Insider</div>
				<div class="pub-date">March 6 2015</div>
			</a>
		</li>
		<li>
			<a href="http://www.altfi.com/news/872" target="_blank">
				<div class="news-title">RateSetter has received a £20 million investment valuing the platform at £150 million </div>
				<div class="date-byline">Georgina McCreadie, AltFi.com</div>
				<div class="pub-date">March 30, 2015</div>
			</a>
		</li>
		<li>
			<a href="http://www.crowdfundinsider.com/2015/04/65867-peeriq-secures-6m-in-seed-round-set-to-launch-peer-to-peer-credit-risk-analytics-platform/" target="_blank">
				<div class="news-title">PeerIQ Secures $6M in Seed Round From John Mack, Vikram Pandit, Arthur Levitt, Dan Doctoroff, Eric Schwartz and others </div>
				<div class="date-byline">Samantha Hrst, Crowdfund Insider</div>
				<div class="pub-date">April 10, 2015</div>
			</a>
		</li>
		<li>
			<a href="http://www.businesswire.com/news/home/20150408006710/en/Prosper-Marketplace-Announces-165-Million-Series-Financing#.VSqQSxPF_rO" target="_blank">
				<div class="news-title">Prosper Marketplace Announces $165 Million Series D Financing Led by Credit Suisse NEXT Investors </div>
				<div class="date-byline">Prosper Press Release, Business Wire</div>
			</a>
		</li>
		<li>
			<a href="http://www.prnewswire.com/news-releases/can-capital-secures-650-million-in-funding-from-a-dozen-leading-banks-300060185.html" target="_blank">
				<div class="news-title">CAN Capital Secures $650 Million in Funding From a Dozen Leading Banks </div>
				<div class="date-byline">CAN Capital Press Release, PR Newswire</div>
				<div class="pub-date">April 2, 2015</div>
			</a>
		</li>
		<li>
			<a href="http://www.marketwatch.com/story/victory-park-capital-increases-its-investment-in-upstart-consumer-loans-to-500-million-2015-04-06" target="_blank">
				<div class="news-title">Victory Park Capital Increases its Investment in Upstart Consumer Loans to $500 Million </div>
				<div class="date-byline">Victory Park Capital Press Release, MarketWatch</div>
				<div class="pub-date">April 6, 2015</div>
			</a>
		</li>
		<li>
			<a href="http://www.marketwired.com/press-release/dealstruck-raises-58m-in-new-funding-for-small-business-lending-2007548.htm" target="_blank">
				<div class="news-title">Dealstruck Raises $58M in New Funding for Small Business Lending </div>
				<div class="date-byline">Dealstruck Press Release, Marketwired</div>
				<div class="pub-date">April 8, 2015</div>
			</a>
		</li>
</ul></div>
