<%= title "About LendIt - Peer-to-Peer & Online Lending Conference " %>
<% meta_description "LendIt Conference helps you learn, network, and connect with top internet finance leaders in China. Register now to reserve your spot and get the best rates." %>
<% meta_keywords "p2p, online lending, peer-to-peer, LendIt, speakers, LendIt Conference" %>
<%= canonical_tag -%>


<main>
  <header>
    <h1>ABOUT LENDIT</h1>
  </header>
  <section>
    <p>
      LendIt is the preeminent conference forum for the burgeoning global online lending industry. LendIt brings together the leading and emerging online lending platforms, the industry’s investors as well as its infrastructure and service providers for an unparalleled educational and networking experience. Financial innovators, investors and pioneers from all over the world attend LendIt for an opportunity to learn from market leaders, form key business alliances as well as showcase and launch industry moving products.
    </p>
  </section>

  <section>
    <h2>LENDIT HISTORY</h2>
    <p>
      Our inaugural conference, LendIt 2013, was held in New York City on June 20, 2013, to great accolades. Our 2nd annual conference, on May 4-6, 2014 in San Francisco, grew to more than twice the size of the inaugural event, and was even more well-received by industry participants. As the online lending industry continues to proliferate, LendIt is expanding internationally -- in Shanghai and London.
    </p>
  </section>

  <section>
    <h2>OUR TEAM</h2>
    <p>
      Our team is led by the co-founders of Lend Academy: Peter Renton, Jason Jones, Bo Brustkern and Dara Albright.
    </p>
  </section>

  <section>
    <h2>WHO ATTENDS LENDIT?</h2>
    <p>
      LendIt is the must-attend event for anyone looking to remain ahead of industry trends and obtain rich in-person interactions. LendIt attendees are comprised of institutional investors, private wealth managers, family offices, select members of the financial media, individual investors and industry participants.
    </p>
  </section>

</main>
