<%= title "About LendIt - Peer-to-Peer & Online Lending Conference " %>
<% meta_description "LendIt Conference helps you learn, network, and connect with top internet finance leaders in China. Register now to reserve your spot and get the best rates." %>
<% meta_keywords "p2p, online lending, peer-to-peer, LendIt, speakers, LendIt Conference" %>
<%= canonical_tag -%>


<header>
  <h1>ABOUT LENDIT</h1>
</header>

<main>
  <section>
    <p>
      LendIt is the preeminent conference forum for the burgeoning global peer-to-peer and online lending industry. LendIt brings together the leading and emerging online lending platforms, the industry's investors as well as its infrastructure and service providers for an unparalleled educational and networking experience. Financial innovators, investors and pioneers from al over the world attend LendIt for an opportunity to learn from market leaders, form key business alliances, as well as showcase and launch industry moving products. <!--
      The LendIt Conference is the leading conference organization in the online lending space which encompasses both consumer and small business lending. LendIt is all about introducing people to the latest online lending platforms, the big data that makes them tick and how investors can get involved. -->
    </p>
    <p>
      The first LendIt was held in New York City on June 20, 2013 where 350+ people, 14 exhibitors and six sponsors came together to talk, listen and learn. Future conferences will be held in this country and around the world.
    </p>
    <p>
      Our team is led by the co-founders of Lend Academy: Bo Brustkern, Jason Jones and Peter Renton.
    </p>
  </section>

  <section>
    <h2>WHO ATTENDS LENDIT?</h2>
  </section>

</main>
