<%= title "LendIt Europe Attendees - Peer-to-Peer & Online Lending Conference" %>
<% meta_description "LendIt Conference attendees" %>
<% meta_keywords "p2p, online lending, peer-to-peer, LendIt, speakers, LendIt Conference" %>
<%= canonical_tag -%>

<main>

	<div class="attendees-visualizer">
		<div class="container">
			<h1>LendIt Europe Attendance</h1>
			<p>Representatives from the following companies are registered to attend LendIt Europe.</p>

			<section class="visualizer">
				<script type='text/javascript' src='https://public.tableausoftware.com/javascripts/api/viz_v1.js'></script><div class='tableauPlaceholder' style='width: 1004px; height: 869px;'><noscript><a href='#'><img alt='Registration Dashboard ' src='https:&#47;&#47;public.tableausoftware.com&#47;static&#47;images&#47;Le&#47;LendItEuropeConferenceRegistrations-to-Date&#47;RegistrationDashboard&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' width='1004' height='869' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableausoftware.com%2F' /> <param name='site_root' value='' /><param name='name' value='LendItEuropeConferenceRegistrations-to-Date&#47;RegistrationDashboard' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableausoftware.com&#47;static&#47;images&#47;Le&#47;LendItEuropeConferenceRegistrations-to-Date&#47;RegistrationDashboard&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div><div style='width:1004px;height:22px;padding:0px 10px 0px 0px;color:black;font:normal 8pt verdana,helvetica,arial,sans-serif;'><div style='float:right; padding-right:8px;'></div></div>
			</section>

			<section style="display: none;">
				<ul>
					<li>Accel Partners</li>
					<li>Alaph Capital</li>
					<li>Alphalend</li>
					<li>Amadeus Capital Partners</li>
					<li>American Express</li>
					<li>Arc Investments Ltd</li>
					<li>Avant Credit Corporation</li>
					<li>AvantCredit</li>
					<li>Better Office Apps Ltd.</li>
					<li>BFGSL Ltd</li>
					<li>BidderBot</li>
					<li>Bigstone</li>
					<li>capco</li>
					<li>Centurion Portfolio Managers</li>
					<li>Citco Fund Services</li>
					<li>Clavis Advisors</li>
					<li>Cooke, Young & Keidan</li>
					<li>Copthall Capital</li>
					<li>Cross River Bank</li>
					<li>Duff & Phelps</li>
					<li>Eaglewood Europe, LLP</li>
					<li>eLoan.co.il</li>
					<li>Everline</li>
					<li>Fellow Finance</li>
					<li>Finepeer limited</li>
					<li>Fixura Ltd</li>
					<li>GiroMatch GmbH</li>
					<li>Goethe University Frankfurt</li>
					<li>Grow.ly</li>
					<li>Growth Capital Ventures</li>
					<li>Growth Street</li>
					<li>Halo Capital Management LLC</li>
					<li>Jade Capital</li>
					<li>Jefferies LLC</li>
					<li>Lendico</li>
					<li>Lendify AB</li>
					<li>Lending Club</li>
					<li>LendingCrowd</li>
					<li>LendingRobot</li>
					<li>LendIt</li>
					<li>LendLink</li>
					<li>Lendrise Marketplace, Inc.</li>
					<li>Money Place</li>
					<li>MytripleA</li>
					<li>newbanq</li>
					<li>Nexlend</li>
					<li>OnDeck</li>
					<li>Pave</li>
					<li>Point Nine Capital</li>
					<li>PRET D'UNION</li>
					<li>Professional Education Institute</li>
					<li>RainFin Pty Ltd</li>
					<li>RateSetter Australia</li>
					<li>Riposte Management LLC</li>
					<li>Rocket Internet</li>
					<li>Ropes & Gray International LLP</li>
					<li>SB Partners Ltd</li>
					<li>Soros Fund Management LLC</li>
					<li>Sparlån AB</li>
					<li>Spotcap Global Services GmbH</li>
					<li>Stanley Park Ventures</li>
					<li>Still Point Ventures</li>
					<li>Talisman Management Ltd</li>
					<li>TCV</li>
					<li>The Interface Financial Group</li>
					<li>Thiel Capital</li>
					<li>TJS</li>
					<li>TradeRiver Finance</li>
					<li>University of Birmingham</li>
					<li>Valinor Management, LLC</li>
					<li>Whetstone Partners</li>
					<li>Yodlee Interactive</li>
					<li>Zencap Global Services GmbH
					</ul>
				</section>
			</div>
		</div>

	</main>
