<%= title "LendIt - Peer-to-Peer & Online Lending Conference" %>
<% meta_description "LendIt Conference helps you learn, network, and connect with top internet finance leaders in China. Register now to reserve your spot and get the best rates." %>
<% meta_keywords "p2p, online lending, peer-to-peer, LendIt, speakers, LendIt Conference" %>
<% body_class "pg-conferences" %>
<%#= render "/welcome/callout" %>
<div class="general-background">
	<div class="row row-wide conferences" data-equalizer="hero">
		<div class="columns small-24 medium-8 large-8 conf conf-usa">
			<div class="conf-hero" data-equalizer-watch="hero">
				<a href="/usa">
					<div class="conf-loc">New York</div>
					<div class="conf-date">April 2015</div>
				</a>
			</div>
			<ul>
				<li class="orange"><a href="http://blog.lendit.co/">Read Conference Recap</a></li>
				<li><a href="/photos">View Photos</a></li>
				<!-- <li class="orange video"><a href="/live">Watch Live Video</a></li> -->
			</ul>
		</div>
		<div class="columns small-24 medium-8 large-8 conf conf-china">
			<div class="conf-hero" data-equalizer-watch="hero">
				<a href="/china">
					<div class="conf-loc">Shanghai & Beijing</div>
					<div class="conf-date">July 2015</div>
				</a>
			</div>

			<ul>

				<li><a href="/china/2015/speakers/sign-up">Sign up to be a Speaker</a></li>

<!-- 				<li class="white calendar">
					<span>
						Save the Date
					</span>
				</li> -->
			</ul>
		</div>
		<div class="columns small-24 medium-8 large-8 conf conf-europe">
			<div class="conf-hero" data-equalizer-watch="hero">
				<a href="/europe">
					<div class="conf-loc">London</div>
					<div class="conf-date">October 2015</div>
				</a>
			</div>
			<ul>
<!-- 				<li class="white calendar">
					<span>
						Save the Date
					</span>
				</li> -->
			</ul>
		</div>
	</div>
	<div class="row news-and-live">
		<!-- <div class="columns small-24 medium-12 medium-push-12 large-12 large-push-12 livestream-area">
			<div class="section-hd">
				Live Stream
			</div>
			<div class="livestream">
				<iframe src="http://livestream.com/accounts/1491608/events/3937353/player?width=450&height=auto&autoPlay=true&mute=false" width="560" height="315" frameborder="0" scrolling="no"> </iframe>
			</div>
			<div class="li-button orange video">
				 <a href="/live">Watch the Live Stream</a>
			</div>
		</div> -->
		<!-- <div class="columns small-24 medium-12 medium-pull-12 large-12 large-pull-12"> -->
		<div class="columns small-24 medium-16 large-16">
			<%= render 'usa15_latest_news' %>


		</div>
		<div class="columns small-24 medium-8 large-8">
			<div class="li-button" style="margin-bottom:1em; ">
				 <a href="https://s3-us-west-2.amazonaws.com/lendit/uploads/usa-2015/press-packet-041515.pdf" target="_blank">View the Full Press Packet</a>
			</div>
		</div>
	</div>
	<!-- <div class="row">
		<div class="columns">
			<div class="homepage-container">
				<div class="homepage-main-text">
					<h1>
						LendIt is about connecting the global online lending community.
					</h1>
					<div class="body-copy">
						<p>
							With three events a year in the US, UK, and China, LendIt is the online lending industry’s annual conference series for networking, business development, and education.
						</p>
					</div>
					<div class="conf-quote">
						<strong>
							"Marketplace lending is arguably the hottest spot for financial innovation today and LendIt is right at its center, stoking the fires with great education, content, and networking. LendIt assembles all the key players, asks all the right questions, and creates the perfect forum to fire up ideas, spark connections, and facilitate deal making."
						</strong>
						<div>
							Penelope Holt, Chief Marketing Officer, BorrowersFirst
						</div>
					</div>
				</div> -->
				<div class="homepage-recap-area">
					<!--
					<div class="homepage-recap">
						<a href="/videos" target="_blank"><b>View Recaps</b></a>
					</div>
					-->
				</div>
			</div>
		</div>
	</div>
</div>
