<%= title "LendIt - Peer-to-Peer & Online Lending Conference" %>
<% meta_description "LendIt Conference helps you learn, network, and connect with top internet finance leaders in China. Register now to reserve your spot and get the best rates." %>
<% meta_keywords "p2p, online lending, peer-to-peer, LendIt, speakers, LendIt Conference" %>
<%= canonical_tag -%>

<main>
	<header>
		<div>
			<img src="" alt="LendIt Conference">
			<div>Peer-to_peer & Online Lending Conference</div>
		</div>

		<div>
			<div>
				<div>Europe</div>
				<div>November 2014</div>
			</div>
			<div>
				Register
			</div>

			<div>
				<div>New York</div>
				<div>April 2015</div>
			</div>
			<div>
				Register
			</div>
		</div>
	</header>

	<section>
		<div>LendIt Conference</div>
		<div>
			Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen boo. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
		</div>
	</section>

</main>
