<%= title "LendIt - Peer-to-Peer & Online Lending Conference" %>
<% meta_description "LendIt Conference helps you learn, network, and connect with top internet finance leaders in China. Register now to reserve your spot and get the best rates." %>
<% meta_keywords "p2p, online lending, peer-to-peer, LendIt, speakers, LendIt Conference" %>
<%= canonical_tag -%>

<main class="homepage">
	<header>
		<ul class="hero">
			<li class="london">
				<a href="/europe">
					<div class="conf-name">London</div>
					<div class="conf-date">November 2014</div>
				</a>
				<div class="conf-register"><a href="#">Register Now</a></div>
			</li>
			<li class="newyork">
				<a href="/nyc">
					<div class="conf-name">New York</div>
					<div class="conf-date">April 2015</div>
				</a>
				<div class="conf-register"><a href="#">Register Now</a></div>
			</li>
			<li class="shanghai">
				<a href="/china">
					<div class="conf-name">Shanghai</div>
					<div class="conf-date">October 2015</div>
				</a>
			</li>
		</ul>
	</header>

	<section class="lendit-intro">
		<div class="homepage-container">
			<div class="homepage-recap">
				<a href=""><b>View Recaps</b></a>
				</div>
			<h1>
				LendIt Conference
			</h1>
			<div class="body-copy">
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting
					industry. Lorem Ipsum has been the industry's standard dummy text ever
					since the 1500s, when an unknown printer took a galley of type and
					scrambled it to make a type specimen boo. It has survived not only five
					centuries, but also the leap into electronic typesetting, remaining
					essentially unchanged. It was popularised in the 1960s with the release
					of Letraset sheets containing Lorem Ipsum passages, and more recently
					with desktop publishing software like Aldus PageMaker including versions
					of Lorem Ipsum.
				</p>


			</div>

		</div>
	</section>

</main>
