<%= title "LendIt Jobs Page - Peer-to-Peer & Online Lending Conference jobs" %>
<% meta_description "LendIt Conference helps you learn, network, and connect with top internet finance leaders in China. Register now to reserve your spot and get the best rates. Join our growing LendIt team in producing the largest online lending conference in the world." %>
<% meta_keywords "p2p, online lending, peer-to-peer, LendIt, speakers, LendIt Conference" %>
<% body_class "team" %>
<div class="general-background">
  <div class="row">
    <div class="columns">
      <h1>Jobs</h1>
      <ul>
        <li>VP of Finance</li>

        <li>Senior Ruby on Rails Developer</li>
      </ul>
    </div>
  </div>
</div>