<%= title "LendIt Conference Tips to Networking" %>
<% meta_description "LendIt Conference provides the perfect opporunity to get to know leaders and newcomers in the peer-to-peer lending industry. Here are tips on how to best network at LendIt." %>
<% meta_keywords "p2p, networking, online lending, peer-to-peer, LendIt" %>

<%= render "/welcome/callout" %>

<%= body_class "networking" %>

<div class="general-background">
	<div class="row panel">
		<div class="columns">
			<h1>Networking at the LendIt Conference</h1>
			<section>
				<p>LendIt is the perfect opportunity to get to know leaders and newcomers alike in the marketplace lending industry. We want to help you take full advantage of the unique opportunity to network in person with other attendees and companies. Between our dedicated LendIt mobile app and LendIt staff, we can help you make the most of LendIt USA 2015.</p>
			</section>
		</div>
		<div class="columns">
			<ol>
				<li>Look up speakers on the <a href="/speakers">LendIt Speakers</a> page, and connect with them on LinkedIn.</li>
				<li>Download the mobile app; it can be found on the Apple App Store and the Google Play Store for Android. </li>
				<li>Use the networking feature to connect the app to LinkedIn; share your contact information with those you want to connect with.</li>
				<li>View attendees, exhibitors and speakers.</li>
				<li>Download the list of companies attending, connect on LinkedIn and through your own network.</li>
				<li>If you are a speaker or a Gold or higher sponsor, talk to Lisa, our Director of Delegate Affairs, who will be your concierge and will make personal connections.</li>
				<li>If you are a sponsor/exhibitor that is not Gold or higher, your sponsorship representative can work with you to make up to 5 connections.</li>
				<li>Visit exhibit booths and the check-in counters in front of the private meetings rooms to request meetings.</li>
				<li>Interact! Socialize with other companies and individuals during scheduled breaks and lunch.</li>
				<li>Share the QR code in the back of your name badge with exhibitors if you want a follow-up.</li>
			</ol>
		</div>
	</div>
</div>

