<%= title "LendIt Conference Tips to Networking" %>
<% meta_description "LendIt Conference provides the perfect opporunity to get to know leaders and newcomers in the peer-to-peer lending industry. Here are tips on how to best network at LendIt." %>
<% meta_keywords "p2p, networking, online lending, peer-to-peer, LendIt" %>

<%= render "/welcome/callout" %>

<%= body_class "networking" %>

<div class="general-background">
	<div class="row panel">
		<div class="columns">
			<h1>Networking at the LendIt Conference</h1>
			<section>
				<p>LendIt is the perfect opportunity to get to know leaders and newcomers alike in the marketplace lending industry. We want to help you take full advantage of the unique opportunity to network in person with other attendees and companies. Between our dedicated LendIt mobile app and LendIt staff, we can help you make the most of LendIt USA 2015.</p>
			</section>
		</div>
		<div class="columns">
			<ol>
				<li>Look up speakers on the <a href="/speakers">LendIt Speakers</a> page, and connect with them on LinkedIn.</li>
				<li><a href="https://crowd.cc/lendit-usa-2015">Download the mobile app</a>; it can be found on <a href="https://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=858490125&mt=8" target="_blank">iTunes</a> and <a href="https://play.google.com/store/apps/details?id=com.crowdcompass.app4PWcdwDO6j" target="_blank">Google Play</a>. </li>
				<li>Use the networking feature to connect the app to LinkedIn; share your contact information with those you want to connect with.</li>
				<li>View <a href="http://www.lendit.co/usa/2015/attendees">attendees</a>, <a href="http://www.lendit.co/usa/2015/speakers">exhibitors and speakers</a>.</li>
				<li><a href="https://s3-us-west-2.amazonaws.com/lendit/uploads/attendees-companies-USA-2015.pdf" target="_blank">Download the list of companies attending</a>, connect on LinkedIn and through your own network.</li>
				<li>Speakers, Title, Platinum, and Gold Sponsorship levels have access to LendIt's Concierge Networking services through our Director of Delegate Affairs, Lisa Jones. If you would like more information on how LendIt will assist in arranging your 5 networking connections, please contact <a href="mailto:lisa@lendit.co">lisa@lendit.co</a>.</li>
				<li>Exhibitors, Silver, Bronze, and Associate Sponsors should contact our Sales Director, Bladimir Estevez at <a href="mailto:blad@lendit.co">blad@lendit.co</a> for assistance with arranging  up to 3 networking connections.</li>
				<li>Visit exhibit booths and the check-in counters in front of the private meetings rooms to request meetings.</li>
				<li>Interact! Socialize with other companies and individuals during scheduled breaks and lunch.</li>
				<li>Share the QR code in the back of your name badge with exhibitors if you want a follow-up.</li>
			</ol>
		</div>
	</div>
</div>

