<%= title "LendIt Press Page - Peer-to-Peer & Online Lending Conference" %>
<% meta_description "LendIt Conference helps you learn, network, and connect with top internet finance leaders in China. Register now to reserve your spot and get the best rates." %>
<% meta_keywords "p2p, online lending, peer-to-peer, LendIt, speakers, LendIt Conference, marketplace lending" %>
<% body_class "pg-press" %>
<div class="general-background">
	<div class="row">
		<div class="columns">
			<div class="press-lendit">
				<h2>
					White Papers
				</h2>
				<dl>
					<dt> April 7, 2015 </dt>
					<dd> <a href="https://s3-us-west-2.amazonaws.com/lendit/uploads/usa-2015/Afluenta-040715.pdf" target="_blank"> Afluenta Launches Fourth Version of its P2P Platform </a> </dd>
				</dl>
				<dl>
					<dt> April 13, 2015 </dt>
					<dd> <a href="https://s3-us-west-2.amazonaws.com/lendit/uploads/usa-2015/Dara-Albright-041315.pdf" target="_blank"> The Financial Advisor's Guide to P2P Investing </a> </dd>
				</dl>
			</div>


			<div class="press-news">
				<h2>
					Mentioned in the News
				</h2>
				<dl>
					<dt> April 17, 2015 </dt>
					<dd> <a href="http://www.altfi.com/news/919 " target="_blank"> The Best of LendIt USA 2015</a><br><span class="press-byline">Ryan Weeks, AltFi.com</span> </dd>
				</dl>
				<dl>
					<dt> April 15, 2015 </dt>
					<dd> <a href="http://www.americanbanker.com/news/consumer-finance/sofi-founder-links-companys-success-to-relationship-driven-model-1073774-1.html " target="_blank"> SoFi Founder Links Company's Success to 'Relationship-Driven' Model </a><br><span class="press-byline">Colin Wilhelm, American Banker</span> </dd>
				</dl>
			</div>
		</div>
	</div>
</div>
