<%= title "LendIt Press Page - Peer-to-Peer & Online Lending Conference" %>
<% meta_description "LendIt Conference helps you learn, network, and connect with top internet finance leaders in China. Register now to reserve your spot and get the best rates." %>
<% meta_keywords "p2p, online lending, peer-to-peer, LendIt, speakers, LendIt Conference, marketplace lending" %>
<% body_class "pg-press" %>
<div class="general-background">
	<div class="row">
		<div class="columns">
			<div class="press-lendit">
				<h2>
					White Papers
				</h2>
				<dl>
					<dt> April 7, 2015 </dt>
					<dd> <a href="https://s3-us-west-2.amazonaws.com/lendit/uploads/usa-2015/Afluenta-040715.pdf" target="_blank"> Afluenta Launches Fourth Version of its P2P Platform </a> </dd>
				</dl>
				<dl>
					<dt> April 13, 2015 </dt>
					<dd> <a href="https://s3-us-west-2.amazonaws.com/lendit/uploads/usa-2015/Dara-Albright-041315.pdf" target="_blank"> The Financial Advisor's Guide to P2P Investing </a> </dd>
				</dl>
			</div>


			<div class="press-news">
				<h2>
					Mentioned in the News
				</h2>
				<dl>
					<dt> April 17, 2015 </dt>
					<dd> <a href="http://www.altfi.com/news/919 " target="_blank"> The Best of LendIt USA 2015</a><br><span class="press-byline">Ryan Weeks, AltFi.com</span> </dd>
				</dl>
				<dl>
					<dt> April 15, 2015 </dt>
					<dd> <a href="http://www.americanbanker.com/news/consumer-finance/sofi-founder-links-companys-success-to-relationship-driven-model-1073774-1.html " target="_blank"> SoFi Founder Links Company's Success to 'Relationship-Driven' Model </a><br><span class="press-byline">Colin Wilhelm, American Banker</span> </dd>
				</dl>
				<dl>
					<dt> April 15, 2015 </dt>
					<dd> <a href="http://www.americanbanker.com/news/consumer-finance/summers-to-regulators-dont-protect-banks-from-competition-1073772-1.html" target="_blank"> Summers to Regulators: Don't Protect Banks from Competition </a><br><span class="press-byline">Kevin Wack, American Banker</span> </dd>
				</dl>
				<dl>
					<dt> April 14, 2015 </dt>
					<dd> <a href="http://www.americanbanker.com/news/consumer-finance/prosper-to-refer-customers-to-ondeck-and-vice-versa-1073734-1.html" target="_blank"> Prosper to Refer Customers to OnDeck and Vice Versa </a><br><span class="press-byline">Colin Wilhelm, American Banker</span> </dd>
				</dl>
				<dl>
					<dt> April 14, 2015 </dt>
					<dd> <a href="http://www.americanbanker.com/news/consumer-finance/prosper-to-refer-customers-to-ondeck-and-vice-versa-1073734-1.html" target="_blank"> Shakeout Is Coming, Marketplace Lenders Warn </a><br><span class="press-byline">Colin Wilhelm, American Banker</span> </dd>
				</dl>
				<dl>
					<dt> April 21, 2015 </dt>
					<dd> <a href="http://www.americanbanker.com/bankthink/banks-dont-need-protection-from-startups-but-consumers-sure-do-1073867-1.html " target="_blank"> Banks Don't Need Protection from Startups &ndash; But Consumers Sure Do </a><br><span class="press-byline">Frank Keating, American Banker</span> </dd>
				</dl>
				<dl>
					<dt> April 3, 2015 </dt>
					<dd> <a href="https://www.abalert.com/search.pl?ARTICLE=162732&SEARCH=lendit&PAGE=1&PROPERTY=0" target="_blank"> LendIt Offers Market Barometer </a><br><span class="press-byline">Steve Chambers, Asset-Backed Alert</span> </dd>
				</dl>
				<dl>
					<dt> April 17, 2015 </dt>
					<dd> <a href="https://www.abalert.com/search.pl?ARTICLE=162825&SEARCH=lendit&PAGE=1&PROPERTY=0 " target="_blank"> China Consumer-Loan Bonds Planned </a><br><span class="press-byline">Steve Chambers, Asset-Backed Alert </span> </dd>
				</dl>
				<dl>
					<dt> April 15, 2015 </dt>
					<dd> <a href="http://bankinnovation.net/2015/04/marketplace-lenders-share-a-major-concern-with-banks-finding-borrowers/" target="_blank"> Marketplace Lenders Share a Major Concern with Banks: Finding Borrowers </a><br><span class="press-byline">Philip Ryan, Bank Innovation </span> </dd>
				</dl>
				<dl>
					<dt> April 17, 2015 </dt>
					<dd> <a href="http://www.banklesstimes.com/2015/04/17/financing-deals-announced-at-lendit/ " target="_blank"> Financing deals announced at LendIt </a><br><span class="press-byline">Tony Zerucha, Bankless Times </span> </dd>
				</dl>
				<dl>
					<dt> April 16, 2015 </dt>
					<dd> <a href="http://www.banklesstimes.com/2015/04/16/lendits-significance-seen-in-number-of-launches/" target="_blank"> LendIt’s significance seen in number of launches </a><br><span class="press-byline">Tony Zerucha, Bankless Times </span> </dd>
				</dl>
				<dl>
					<dt> date </dt>
					<dd> <a href="http://www.banklesstimes.com/2015/04/14/platform-enhancements-highlight-efficiencys-role-in-alt-fi-growth/" target="_blank"> Platform enhancements highlight efficiency’s role in alt-fi growth </a><br><span class="press-byline">Tony Zerucha, Bankless Times </span> </dd>
				</dl>
				<dl>
					<dt> April 22, 2015 </dt>
					<dd> <a href="http://www.banklesstimes.com/2015/04/22/rapidly-evolving-alt-fi-industry-spurs-tech-upgrades/ " target="_blank"> Rapidly evolving alt-fi industry spurs tech upgrades </a><br><span class="press-byline">Tony Zerucha, Bankless Times </span> </dd>
				</dl>
				<dl>
					<dt>April 14, 2015 </dt>
					<dd> <a href="http://www.businesstimes.com.sg/banking-finance/citi-strikes-deal-with-lending-club-to-provide-cheap-financing" target="_blank"> Marketplace lending is heating up </a><br><span class="press-byline">Business Times </span> </dd>
				</dl>
				<dl>
					<dt> April 15, 2015 </dt>
					<dd> <a href="http://www.bloomberg.com/news/articles/2015-04-15/most-chinese-peer-to-peer-lenders-will-fail-lufax-s-gibb-says" target="_blank"> Most Chinese Peer-to-Peer Lenders Will Fail, Lufax’s Gibb Says </a><br><span class="press-byline">Zeke Faux, Bloomberg Business </span> </dd>
				</dl>
				<dl>
					<dt> April 14, 2015 </dt>
					<dd> <a href="http://www.businesstimes.com.sg/banking-finance/citi-strikes-deal-with-lending-club-to-provide-cheap-financing " target="_blank"> Citi strikes deal with Lending Club to provide cheap financing </a><br><span class="press-byline">Business Times </span> </dd>
				</dl>
				<dl>
					<dt> April 13, 2015 </dt>
					<dd> <a href="http://www.cnbc.com/id/102574693" target="_blank"> Funds rush to pour money into online lending </a><br><span class="press-byline">Ari Levy, CNBC </span> </dd>
				</dl>
				<dl>
					<dt> April 17, 2015 </dt>
					<dd> <a href="" target="_blank"> Larry Summers: Conventional finance has let us down </a><br><span class="press-byline">JD Alois, Crowdfund Insider </span> </dd>
				</dl>
				<dl>
					<dt> March 31, 2015 </dt>
					<dd> <a href="http://www.crowdfundinsider.com/2015/03/65242-prosper-hits-escape-velocity-record-loan-originations-for-march-as-p2p-lender-passes-3-billion-in-lending/" target="_blank"> Prosper Hits Escape Velocity: Record Loan Originations for March as P2P Lender Passes $3 Billion in Lending </a><br><span class="press-byline">JD Alois, Crowdfund Insider </span> </dd>
				</dl>
				<dl>
					<dt> April 27, 2015 </dt>
					<dd> <a href="http://www.crowdfundinsider.com/2015/04/66850-canaan-partners-there-is-a-fundamental-disruption-in-financial-services-occurring-right-now/" target="_blank"> Canaan Partners: There is a Fundamental Disruption in Financial Services Occurring Right Now </a><br><span class="press-byline">JD Alois, Crowdfund Insider </span> </dd>
				</dl>
				<dl>
					<dt> April 16, 2015 </dt>
					<dd> <a href="http://www.crowdfundinsider.com/2015/04/66230-p2p-lending-platforms-big-money-investors-looking-for-piece-of-the-pie/" target="_blank"> P2P Lending Platforms: Big Money Investors Looking For Piece Of The Pie </a><br><span class="press-byline">Anthony Zeoli, Crowdfund Insider </span> </dd>
				</dl>
				<dl>
					<dt> April 2, 2015 </dt>
					<dd> <a href="http://www.ft.com/cms/s/0/0808d99e-d953-11e4-8ed9-00144feab7de.html#axzz3XqRydA1v" target="_blank"> Peer-to-Peer parties past talk of credit reckoning </a><br><span class="press-byline">Ben McLannahan, Financial Times </span> </dd>
				</dl>
				<dl>
					<dt> April 14, 2015 </dt>
					<dd> <a href="http://www.ft.com/cms/s/0/8602eb62-e29c-11e4-ba33-00144feab7de.html " target="_blank"> Lending Club strikes $150m deal with Citigroup </a><br><span class="press-byline">Ben McLannahan, Financial Times </span> </dd>
				</dl>
				<dl>
					<dt> April 15, 2015 </dt>
					<dd> <a href="" target="_blank"> Larry Summers' full-throated endorsement of online lending </a><br><span class="press-byline">Chris Matthews, Fortune </span> </dd>
				</dl>
				<dl>
					<dt> date </dt>
					<dd> <a href="" target="_blank"> Headline </a><br><span class="press-byline">byline </span> </dd>
				</dl>
				<dl>
					<dt> date </dt>
					<dd> <a href="" target="_blank"> Headline </a><br><span class="press-byline">byline </span> </dd>
				</dl>
				<dl>
					<dt> date </dt>
					<dd> <a href="" target="_blank"> Headline </a><br><span class="press-byline">byline </span> </dd>
				</dl>
				<dl>
					<dt> date </dt>
					<dd> <a href="" target="_blank"> Headline </a><br><span class="press-byline">byline </span> </dd>
				</dl>
				<dl>
					<dt> date </dt>
					<dd> <a href="" target="_blank"> Headline </a><br><span class="press-byline">byline </span> </dd>
				</dl>
				<dl>
					<dt> date </dt>
					<dd> <a href="" target="_blank"> Headline </a><br><span class="press-byline">byline </span> </dd>
				</dl>
				<dl>
					<dt> date </dt>
					<dd> <a href="" target="_blank"> Headline </a><br><span class="press-byline">byline </span> </dd>
				</dl>
				<dl>
					<dt> date </dt>
					<dd> <a href="" target="_blank"> Headline </a><br><span class="press-byline">byline </span> </dd>
				</dl>
				<dl>
					<dt> date </dt>
					<dd> <a href="" target="_blank"> Headline </a><br><span class="press-byline">byline </span> </dd>
				</dl>
				<dl>
					<dt> date </dt>
					<dd> <a href="" target="_blank"> Headline </a><br><span class="press-byline">byline </span> </dd>
				</dl>
				<dl>
					<dt> date </dt>
					<dd> <a href="" target="_blank"> Headline </a><br><span class="press-byline">byline </span> </dd>
				</dl>
				<dl>
					<dt> date </dt>
					<dd> <a href="" target="_blank"> Headline </a><br><span class="press-byline">byline </span> </dd>
				</dl>
				<dl>
					<dt> date </dt>
					<dd> <a href="" target="_blank"> Headline </a><br><span class="press-byline">byline </span> </dd>
				</dl>
				<dl>
					<dt> date </dt>
					<dd> <a href="" target="_blank"> Headline </a><br><span class="press-byline">byline </span> </dd>
				</dl>
				<dl>
					<dt> date </dt>
					<dd> <a href="" target="_blank"> Headline </a><br><span class="press-byline">byline </span> </dd>
				</dl>
				<dl>
					<dt> date </dt>
					<dd> <a href="" target="_blank"> Headline </a><br><span class="press-byline">byline </span> </dd>
				</dl>
			</div>
		</div>
	</div>
</div>
