<%= title "LendIt Privacy Policy - Peer-to-Peer & Online Lending Conference" %>
<% meta_description "LendIt Conference website privacy policy" %>
<% meta_keywords "p2p, online lending, peer-to-peer, LendIt, speakers, LendIt Conference" %>
<%= canonical_tag -%>

<main>

	<div class="terms-of-use">
		<div class="container">
			<h1>Privacy Policy</h1>
				<p>
					LendIt is committed to protecting its customers’ professional and financial information.
				</p>
				<p>
					LendIt customers are defined as follows:
				</p>
				<ul>
					<li>Attendees</li>
					<li>Speakers</li>
					<li>Sponsors and Exhibitors</li>
					<li>Press</li>
					<li>And other individuals with whom LendIt maintains business relationships or communications</li>
				</ul>
				<p>
					There are two primary types of information provided by LendIt customers. The definitions and treatments of these types are as follows:
				</p>
				<p>
					<strong>Financial Information</strong> - Payment information gathered during the registration and build up process - including but not limited to, credit card numbers, financial institutions, and expiration dates - is considered Financial. This information is not distributed under any circumstance.
				</p>
				<p>
					<strong>Professional Information</strong> - Data that customers provide to LendIt through various methods of communications. Professional data includes, but is not limited to, name, address, company name, company address, phone number, fax number and email address. Data captured on LendIt’s website or from LendIt surveys or feedback forms is also considered professional data.
				</p>
				<p>
					LendIt will not share attendee and speaker contact details. However, attendee company names and speaker names, job titles and company names may appear on LendIt’s website or in LendIt emails or brochures.
				</p>
				<p>
					LendIt may share press professional information. However, press professional information will be restricted to speakers, sponsors and exhibitors only.
				<p>
					LendIt may share sponsor and exhibitor professional information with LendIt customers for the purpose of facilitating business relationships in our customer's best interests.
				</p>
				<p>
					In addition, attendees have access to a mobile networking application that provides all LendIt participants with the ability to share and obtain contact information directly with other attendees.  This application is opt-in so only attendees who choose to share their information will be available for networking.
				</p>
				<p>
					Company attendee list: <a href="/europe/attendees">LendIt Europe 2014 Attendee Company Names</a>
				</p>
				<p>
					Mobile networking app: available for download in the <a href="https://itunes.apple.com/us/app/lendit-conference/id858490125?mt=8&uo=4" target="_blank">Apple</a> and <a href="https://play.google.com/store/apps/details?id=com.crowdcompass.app4PWcdwDO6j" target="_blank">Android</a> stores or by using our web-based version by clicking here: <a href="https://crowd.cc/lendit1" target="_blank">LendIt Europe 2014 Mobile Networking App</a>.
				</p>
				<p>
					<strong>Any Questions</strong><br>
					If you have any questions or concerns about your customer information contact <a href="mailto:joy@lendit.co">joy@lendit.co</a>.
				</p>



			</section>
		</div>
	</div>

</main>
