<%= title "LendIt Privacy Policy - Peer-to-Peer & Online Lending Conference" %>
<% meta_description "LendIt Conference website privacy policy" %>
<% meta_keywords "p2p, online lending, peer-to-peer, LendIt, speakers, LendIt Conference" %>
<%= canonical_tag -%>

<main>

	<div class="terms-of-use">
		<div class="container">
			<h1>Privacy</h1>
			<section>
				<h2>Media and Company Attendee Sharing</h3>
				<p>
					LendIt does not distribute the names of its attendees and restricts the names of the media representatives who will be in attendance at our conferences.
				</p>

				<h3>Company Attendee Sharing</h3>
				<p>
					LendIt will not provide the names of its attendees but it does provide the company names of our attendees.
				</p>
				<p>
					In addition, attendees have access to a mobile networking application that provides all LendIt participants with the ability to share and obtain contact information directly with other attendees.  This application is opt-in so only attendees who choose to share their information will be available for networking.
				</p>
				<p>
					Company attendee list: <a href="">LendIt 2014 Attendee Company Names</a>
				</p>
				<p>
					Mobile networking app: available for download in the <a href="">Apple</a> and <a href="">Android</a> stores or by using our web-based version by clicking here: <a href="">LendIt 2014 Mobile Networking App</a>.
				</p>

				<h3>
					Media Sharing
				</h3>
				<p>
					LendIt will only share its media contacts with Headline, Platinum, Gold and Silver sponsors.  LendIt will make the names of the media firms (but not the contacts) available to all other sponsors and exhibitors.  These media lists will be distributed on Sunday, May 4.
				</p>
				<p>
					LendIt will be distributing press releases on a USB drive for our media guests. If you have any press releases that you would like to include in the drive, please email the releases to <a href="mailto:press@lendit.co">press@lendit.co</a> no later than April 28th.  Participating companies are also welcome to leave printed press kits, press releases or white papers in the media/executive lounge (which will be located in the Franciscan Hall) for media guests and on tables set up in the registration area for conference attendees.
				</p>
				<p>
					Any company that is interested in speaking with the media can leave their name, contact info, and a brief (2 sentence) description of their media interest with <a href="mailto:lauren@lendit.co">lauren@lendit.co</a>, who will relay the information to the media.
				</p>


			</section>
		</div>
	</div>

</main>
