<%= title "LendIt 2014 Attendees - Peer-to-Peer & Online Lending Conference" %>
<% meta_description "LendIt Conference attendees" %>
<% meta_keywords "p2p, online lending, peer-to-peer, LendIt, speakers, LendIt Conference" %>


<main>

	<div class="attendees-visualizer">
		<div class="container">
			<h1>LendIt 2014 Attendance</h1>
			<!-- <p>Representatives from the following companies registered to attend LendIt 2014.</p> -->

			<section class="visualizer">
				<script type='text/javascript' src='https://public.tableausoftware.com/javascripts/api/viz_v1.js'></script><div class='tableauPlaceholder' style='width: 1004px; height: 869px;'><noscript><a href='#'><img alt='Delegate Report Dashboard ' src='https:&#47;&#47;public.tableausoftware.com&#47;static&#47;images&#47;8W&#47;8WP8Z7S8Z&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' width='1004' height='869' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableausoftware.com%2F' /> <param name='path' value='shared&#47;8WP8Z7S8Z' /> <param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableausoftware.com&#47;static&#47;images&#47;8W&#47;8WP8Z7S8Z&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='showVizHome' value='no' /><param name='showTabs' value='y' /></object></div><div style='width:1004px;height:22px;padding:0px 10px 0px 0px;color:black;font:normal 8pt verdana,helvetica,arial,sans-serif;'><div style='float:right; padding-right:8px;'><a href='http://www.tableausoftware.com/public/about-tableau-products?ref=https://public.tableausoftware.com/shared/8WP8Z7S8Z' target='_blank'>Learn About Tableau</a></div></div>
			</section>


			</div>
		</div>

	</main>
