<%= title "LendIt Team - Peer-to-Peer & Online Lending Conference" %>
<% meta_description "LendIt Conference helps you learn, network, and connect with top internet finance leaders in China. Register now to reserve your spot and get the best rates." %>
<% meta_keywords "p2p, online lending, peer-to-peer, LendIt, speakers, LendIt Conference" %>
<% body_class "team" %>
<div class="general-background">
	<div class="row">
		<div class="columns">
			<h1>The LendIt Team</h1>
			<ul class="small-block-grid-24 medium-block-grid-3 large-block-grid-3 lendit-team-level1" >

				<li>
					<div class="headshot">
						<img src="https://s3-us-west-2.amazonaws.com/lendit/team/bo-brustkern.psd-th.jpeg" />
					</div>
					<div class="name-title">
						<b>
							Bo Brustkern
						</b>
						<i>
							Director
						</i>
					</div>
				</li>
				<li>
					<div class="headshot">
						<img src="https://s3-us-west-2.amazonaws.com/lendit/team/jason-jones.psd-th.jpeg" />
					</div>
					<div class="name-title">
						<b>
							Jason Jones
						</b>
						<i>
							Director
						</i>
					</div>
				</li>
				<li>
					<div class="headshot">
						<img src="https://s3-us-west-2.amazonaws.com/lendit/team/peter-renton.psd-th.jpeg" />
					</div>
					<div class="name-title">
						<b>
							Peter Renton
						</b>
						<i>
							Director
						</i>
					</div>
				</li>
			</ul>
			<ul class="small-block-grid-2 medium-block-grid-4 large-block-grid-4 lendit-team-level2">
				<li>
					<div class="headshot">
						<img src="https://s3-us-west-2.amazonaws.com/lendit/team/emily-eden.psd-th.jpeg" />
					</div>
					<div class="name-title">
						<b>
							Emily Eden
						</b>
						<i>
							Operations &amp; Marketing Assistant
						</i>
					</div>
				</li>
				<li>
					<div class="headshot">
						<img src="https://s3-us-west-2.amazonaws.com/lendit/team/bladimir-estevez.psd-th.jpeg" />
					</div>
					<div class="name-title">
						<b>
							Bladimir Estevez
						</b>
						<i>
							Sales Director
						</i>
					</div>
				</li>
				<li>
					<div class="headshot">
						<img src="https://s3-us-west-2.amazonaws.com/lendit/team/lisa-jones.psd-th.jpeg" />
					</div>
					<div class="name-title">
						<b>
							Lisa Jones
						</b>
						<i>
							Director of Delegate Affairs
						</i>
					</div>
				</li>
				<li>
					<div class="headshot">
						<img src="https://s3-us-west-2.amazonaws.com/lendit/team/ryan-lichtenwald.psd-th.jpeg" />
					</div>
					<div class="name-title">
						<b>
							Ryan Lichtenwald
						</b>
						<i>
							Writer/Analyst
						</i>
					</div>
				</li>
				<li>
					<div class="headshot">
						<img src="https://s3-us-west-2.amazonaws.com/lendit/team/kat-santiago.psd-th.jpeg" />
					</div>
					<div class="name-title">
						<b>
							Kat Santiago
						</b>
						<i>
							Web Developer
						</i>
					</div>
				</li>
				<li>
					<div class="headshot">
						<img src="https://s3-us-west-2.amazonaws.com/lendit/team/tharon-smith.psd-th.jpeg" />
					</div>
					<div class="name-title">
						<b>
							Tharon Smith
						</b>
						<i>
							Managing Director, LendIt China
						</i>
					</div>
				</li>
				<li>
					<div class="headshot">
						<img src="https://s3-us-west-2.amazonaws.com/lendit/team/joy-schwartz.psd-th.jpeg" />
					</div>
					<div class="name-title">
						<b>
							Joy Schwartz
						</b>
						<i>
							Vice President of Events
						</i>
					</div>
				</li>
				<li>
					<div class="headshot">
						<img src="https://s3-us-west-2.amazonaws.com/lendit/team/nora-steinman.psd-th.jpeg" />
					</div>
					<div class="name-title">
						<b>
							Nora Steinman
						</b>
						<i>
							Operations &amp; Communication Manager
						</i>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
