<%= title "LendIt Team - Peer-to-Peer & Online Lending Conference" %>
<% meta_description "LendIt Conference helps you learn, network, and connect with top internet finance leaders in China. Register now to reserve your spot and get the best rates." %>
<% meta_keywords "p2p, online lending, peer-to-peer, LendIt, speakers, LendIt Conference" %>

<% body_class "welcome" %>

<main>
  <h1>The LendIt Team</h1>

  <section>
    <div>
      Peter Renton
      Director
    </div>

    <div>
      Jason Jones
      Director
    </div>

    <div>
      Bo Brustkern
      Director
    </div>
  </section>

  <section>
    <div>
      Emily Eden
      Operations &amp; Marketing Assistant
    </div>

    <div>
      Bladimir Estevez
      Business Development Manager
    </div>

    <div>
      Lisa Jones
      Director of Delegate Affairs
    </div>

    <div>
      Ryan Lichtenwald
      Writer/Analyst
    </div>

    <div>
      Kat Santiago
      Web Developer
    </div>

    <div>
      Tharon Smith
      Managing Director, LendIt China
    </div>

    <div>
      Joy Schwartz
      Vice President of Events
    </div>

    <div>
      Nora Steinman
      Operations &amp; Communication Manager
    </div>
  </section>

</main>