<%= title "About LendIt - Peer-to-Peer & Online Lending Conference" %>
<% meta_description "LendIt Conference helps you learn, network, and connect with top internet finance leaders in China. Register now to reserve your spot and get the best rates." %>
<% meta_keywords "p2p, online lending, peer-to-peer, LendIt, speakers, LendIt Conference" %>

<% body_class "terms" %>

<!-- <main>

	<div class="terms-of-use">
		<div class="container">
			<h1>Terms of Use</h1>
			<section>
				<p>
					Nothing contained in the website constitutes investment, legal or tax advice.
				</p>
				<p>
					Neither the information nor any opinion contained in this website constitutes a solicitation or offer by LendIt Conference LLC (“LendIt”), or any of its affiliates to buy or sell any securities or other financial instruments.
				</p>
				<p>
					Decisions based on information contained in the website are the sole responsibility of the visitor, and as consideration for access to the website, you agree to hold LendIt and its affiliates harmless from and against any claims whatsoever and of any nature for damages arising from any decisions that you makes based on such information.
				</p>
				<p>
					While we use reasonable efforts to update the information on the website, we make no representations or warranties as to the accuracy, reliability or completeness of any information on the website, including written, aural and/or video content.	Opinions, advice and any other content on the website, including the terms and conditions of your use of this service, are subject to change without notice or liability.
				</p>

				<h6>
					Ownership of the Site and its Contents
				</h6>

				<p>
					The Site is owned by LendIt Conference LLC ("LendIt"). Unless otherwise indicated, all of the content featured or displayed on the Site, including, but not limited to, text, graphics, data, photographic images, moving images, sound, illustrations, software, and the selection and arrangement thereof ("LendIt Content"), is owned by LendIt, its licensors, or its third-party image partners. All elements of the Site are protected by copyright, trade dress, moral rights, trademark and other laws relating to the protection of intellectual property.
				</p>
				<p>
					“LendIt" is a registered trademark.
				</p>
				<p>
					&copy; 2015 LendIt
				</p>

			</section>
		</div>
	</div>

</main> -->


<div class="general-background">
	<div class="row">
		<div class="columns">
			<div class="panel">
				<h1>Terms of Use</h1>
				<p>
					<em>Effective 03.25.2015</em>
				</p>
				<p>
					Welcome! This website operated by LendIt Conference, LLC. (<strong>"LendIt", "us", "our", "we"</strong>).	These Terms of Use (<strong>"Terms of Use"</strong>) set forth the terms and conditions under which you are authorized to use our websites (which includes any website on which these Terms of Use are posted, including LendIt.co, other sites accessible via subdomains, and mobile versions of any of these sites) (each a <strong>"Site"</strong> and collectively the <strong>"Sites"</strong>).
				</p>
				<p>
					To the extent additional rules or guidelines affect your use of these Sites, those rules and guidelines (including our <a href="/privacy">Privacy Policy</a> and Registration Terms and Conditions) are hereby incorporated by reference into these Terms of Use. By using any of our Sites, you agree to these Terms of Use. If you do not agree to these Terms of Use, you should immediately stop using our Sites.
				</p>
				<p>PLEASE READ THIS AGREEMENT CAREFULLY. THIS AGREEMENT CONSTITUTES A LEGALLY BINDING AGREEMENT BETWEEN YOU AND LENDIT AND CONTAINS IMPORTANT INFORMATION REGARDING YOUR LEGAL RIGHTS, REMEDIES AND OBLIGATIONS, AND INCLUDES VARIOUS LIMITATIONS AND EXCLUSIONS.
				</p>
				<h3>Description of Service</h3>
				<p>
					Our Sites provide information about LendIt, our conferences and events, related programs, our partners, subsidiaries, related companies and sponsors, blogs and white papers; allow you to register to attend, speak at, sponsor or exhibit at a conference; and, provide as other features and information we believe will interest you (collectively the <strong>"Service"</strong>). To the extent new services, content or features are added to our Sites in the future, your use of those features is subject to these Terms of Use.
				</p>
				<h3>Disclaimer</h3>
				<p>
					Nothing contained on our Sites constitute investment, legal or tax advice. The information and any opinions contained on this website are not and should not be construed as solicitations or offers by LendIt Conference LLC ("LendIt"), or any of its affiliates to buy or sell any securities or other financial instruments.
				</p>
				<h3>Third-party Services and Content</h3>
				<p>
					Our Sites are intended to provide information about our conference, related events, our sponsors, and other information we believe may interest you. We may provide links to our sponsors, to third party sites with informational content, or other service and information providers, however these services, or certain features thereof, may be operated by third parties, not LendIt. Your use of features and other content or services provided by, or links to other websites on the Internet that are owned and operated by, third parties is not governed by these Terms of Use.
				</p>
				<p>
					You acknowledge and agree that we are not responsible for the availability of, or any content located on or through, any third-party site, or any services provided by third parties. You further acknowledge that any reliance on representations and warranties provided by any party other than LendIt will be at your own risk. You expressly agree to hold us harmless for any claims of damage arising from any content, product or service provided by any third party. Your use of those third-party websites and services is subject to the terms of use and privacy policies posted on each site or service, and we encourage you to review those agreements.
				</p>
				<h3>Modifications and Interruption to the Sites</h3>
				<p>
					We reserve the right to modify or discontinue all or any portion of our Sites with or without notice to you. We will not be liable if we choose to exercise this right. You acknowledge and accept that we do not guarantee continuous, uninterrupted or secure access to our Sites, or that operation of our Sites will be uninterrupted or error free. You understand that usage of our Sites may be interfered with or adversely affected by numerous factors or circumstances outside of our control.
				</p>
				<h3>Your Representations</h3>
				<p>
					As a condition of your right to use this Site, you represent that you are of legal age to enter into a binding contract, and that you are not a person barred from visiting the Site and accessing the Service under the laws of the United States or another country.
				</p>
				<h3>Copyright and Trademark Information</h3>
				<p>
					All data, features, information, text, graphics images, music, sounds, photographs, illustrations, logos, messages, audio, information, video and other information or content that is available on the Site, including without limitation Site design, text, graphics, interfaces, and the selection and arrangements thereof, are owned by LendIt, with all rights reserved, or in some cases may be licensed to LendIt by third parties (collectively, <strong>"LendIt Content"</strong>).
				</p>
				<p>
					The LendIt Content is protected by the intellectual property rights of LendIt or those owners. All content which qualifies for protection under Federal Copyright Law under the laws of the United States is subject to the exclusive jurisdiction of the Federal Court System, whether registered or unregistered. All trademarks displayed on the Site are the trademarks of their respective owners, and constitute neither an endorsement nor a recommendation of such parties. In addition, such use of trademarks or links to the websites of third parties is not intended to imply, directly or indirectly, that those third parties endorse or have any affiliation with LendIt.
				</p>
				<h3>License For Content</h3>
				<p>
					Subject to your compliance with this Agreement, LendIt grants you a personal, limited, non-exclusive, non-transferable, freely revocable license to access and view all LendIt Content solely for your own personal or professional purposes in connection with your use of the Site and Service. You will have no right to sublicense this license. You shall not, and shall not permit any third party to: (a) alter, modify, reproduce, or create derivative works of any LendIt Content; (b) distribute, sell, resell, lend, loan, lease, license, sublicense or transfer any LendIt Content; or (c) alter, obscure or remove any copyright, trademark or any other notices that are provided on or in connection with any LendIt Content. Except as stated in this section or as provided by any Additional Terms, you are granted no other licenses or rights in or to any LendIt Content.
				</p>
				<h3>User-Submitted Content and User Conduct</h3>
				<p>
					Any content, whether uploaded, posted, submitted, or otherwise made available to us or posted on our Sites, including without limitation comments to blog posts, user content from social media, or any other content which does not originate with LendIt, or our partners or affiliates (“User Content”), is the sole responsibility of the person who made such User Content available. Under no circumstances will LendIt, our partners or affiliates, be liable in any way for any User Content made available through any of our Sites. We may not moderate all comments to postings made on our Sites or User Content on certain other areas of our Sites, so we cannot and do not warrant and/or guarantee the truthfulness, integrity, suitability, or quality of any publically available User Content.
				</p>
				<p>
					You agree that you will not use any of our Sites to transmit or make available any content that:
				</p>
				<ul>
					<li>violates any laws, contains any threats, is abusive, harassing, vulgar, obscene, indecent, violates any person's rights of privacy or publicity, is defamatory, libelous, hateful, contains any disparaging statements or opinions regarding racial, gender or ethnic background, or is otherwise tortious or objectionable;</li>
					<li>infringes any intellectual property rights or other rights of any party, including, but not limited to any patent, trademark, trade secret, copyright or other proprietary rights;</li>
					<li>contains any private information about an identifiable person without that person's permission, or any content soliciting any personal or private information from any individual;</li>
					<li>you know or have reason to know is false, misleading, or fraudulent;</li>
					<li>you do not have a right to make available under any law or under contractual or fiduciary relationships (such as inside information or proprietary and confidential information learned or disclosed as part of employment relationships or under nondisclosure agreements);</li>
					<li>employs any techniques to disguise the origin of the content submitted;</li>
					<li>contains any unsolicited or unauthorized advertising, promotional materials, or material which can be characterized as "junk mail," "spam," "chain letters," "pyramid schemes," "Ponzi schemes" or similar material, or any information posted primarily for advertising, promotional, or other commercial purposes, including without limitation any request for or solicitation of money, goods, or services for private gain;</li>
					<li>incorporates within it any software viruses or any other computer code, files or programs whose purpose or function is to interrupt, destroy or otherwise impair the operability of any software or hardware or telecommunications equipment;</li>
					<li>contains links to any websites containing content violating any of the foregoing requirements, or links to any websites for purposes of disrupting the operations of such website, harassing the owners of such website, or other objectionable or illegal purposes.</li>
				</ul>
				<h3>Ownership of User Content</h3>
				<p>
					If any User Content is your original work, then you own the copyright in that work. We do not claim any copyrights in original works created and/or posted by individual visitors to our Sites. However, by uploading, posting, transmitting or otherwise making any User Content available on or through our Sites or social media, you are granting us, and our related entities, an irrevocable, nonexclusive, royalty-free license to copy, modify, publish, distribute or perform publicly, and prepare derivative works of such User Content in any medium or format without any obligation of notice, attribution or compensation to you.
				</p>
				<h3>User Feedback</h3>
				<p>
					All communications, feedback, questions, comments, suggestions, proposed features, and the like (collectively “Feedback”) will be considered non-confidential and non-proprietary with regard to you, but we reserve the right to treat any such Feedback as the confidential information of LendIt. By submitting Feedback to us, you assign to us, free of charge, a perpetual, irrevocable, worldwide license to create derivative works, distribute, reproduce, perform, display, and otherwise use, any intellectual property rights or proprietary information and ideas contained within any such Feedback, including without limitation the right to sublicense or assign any of the foregoing. We will be entitled to use any Feedback you submit to us, and any ideas, concepts, know-how or techniques contained in any such Feedback, for any purpose whatsoever, including but not limited to developing and marketing products and services using such Feedback without restriction and without notifying or compensating you in any way. Please do not send us any information or materials for which you do not wish to grant us such rights, including, without limitation, any confidential information or any original creative materials such as product ideas, written materials, photographs, original artwork, or computer code. You are responsible for the information and other content contained in any Feedback you submit to us, including, without limitation, their truthfulness and accuracy.
				</p>
				<h3>Restricted Activities
				</h3>
				<p>
					You agree not to use the Site to (a) violate or encourage the violation of any local, state, national, or international law; (b) stalk, harass, or harm another individual; (c) collect or store personal data about other users of our Site; (d) impersonate any person or entity or otherwise misrepresent your affiliation with a person or entity; (e) interfere with or disrupt the Site or networks connected to the Site or disobey any requirements, procedures, policies, or regulations of networks connected to the Site. You agree not to use the Site to send any message that is unlawful, libelous, defamatory, abusive, sexually explicit, threatening, vulgar, obscene, profane, racially offensive, or otherwise objectionable, as determined by LendIt in its sole discretion.
				</p>
				<p>
					Without our written consent, you may not (i) reproduce, duplicate, copy, sell, resell, or exploit for any commercial purpose any LendIt Content or any use of or access to the Site; (ii) allow, enable, or otherwise support the transmission of mass unsolicited, commercial advertising or solicitations via e-mail (spam); (iii) use any high volume, automated, or electronic means (including, without limitation, robots, spiders, scripts, or other automated devices) to access the Site or monitor or copy our web pages or the content contained thereon; (iv) deep link to the Site for any purpose; or (d) frame the Site, place pop-up windows over its pages, or otherwise affect the display of its pages.
				</p>
				<h3>Disclaimer of Warranties and Limitation of Liability</h3>
				<p>
					TO THE FULLEST EXTENT PERMITTED BY LAW, LENDIT, ITS RELATED ENTITIES, ITS SERVICE PROVIDERS, ITS LICENSORS, AND ITS OR THEIR RESPECTIVE OFFICERS, DIRECTORS, EMPLOYEES OR AGENTS (COLLECTIVELY THE “LENDIT PARTIES”) EXPRESSLY DISCLAIM ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS, IMPLIED OR STATUTORY, INCLUDING, BUT NOT LIMITED TO, ANY IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, AND NON-INFRINGEMENT, RELATED TO OUR SITES. YOU UNDERSTAND AND AGREE THAT YOUR USE OF OUR SITES IS AT YOUR OWN RISK. OUR SITES AND ALL CONTENT, PRODUCTS AND SERVICES OFFERED THROUGH THE SITE ARE PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS. THE LENDIT PARTIES ARE NOT RESPONSIBLE FOR THE TIMELINESS OF DELIVERY OF CONTENT, ANY FAILURES OF DELIVERY, ERRONEOUS DELETION, OR ANY LOSS OR DAMAGE OF ANY KIND YOU CLAIM WAS INCURRED AS A RESULT OF THE USE OF ANY SITE.  UNDER NO CIRCUMSTANCES, WILL ANY OF THE LENDIT PARTIES BE LIABLE TO YOU OR TO ANY PERSON OR ENTITY CLAIMING THROUGH YOU FOR ANY LOSS, INJURY, LIABILITY OR DAMAGES ARISING OUT OF OR IN CONNECTION WITH YOUR ACCESS TO, USE OF, INABILITY TO USE, OR RELIANCE ON ANY OF OUR SITES OR ANY CONTENT, PRODUCT, FEATURE OR SERVICE PROVIDED TO YOU THROUGH OR IN CONNECTION WITH ANY OF OUR SITES. THIS IS A COMPREHENSIVE LIMITATION OF LIABILITY THAT APPLIES TO ALL LOSSES AND DAMAGES OF ANY KIND WHATSOEVER, WHETHER DIRECT OR INDIRECT, GENERAL, SPECIAL, INCIDENTAL, CONSEQUENTIAL, EXEMPLARY OR OTHERWISE, INCLUDING WITHOUT LIMITATION, LOSS OF DATA, GOODWILL, REVENUE OR PROFITS. THIS LIMITATION OF LIABILITY APPLIES WHETHER THE ALLEGED LIABILITY IS BASED ON CONTRACT, NEGLIGENCE, TORT, STRICT LIABILITY OR ANY OTHER BASIS; EVEN IF ANY LENDIT PARTY HAS BEEN ADVISED OF OR SHOULD HAVE KNOWN OF THE POSSIBILITY OF SUCH DAMAGES; AND WITHOUT REGARD TO THE SUCCESS OR EFFECTIVENESS OF OTHER REMEDIES. IF ANY PART OF THIS LIMITATION OF LIABILITY IS FOUND TO BE INVALID, ILLEGAL OR UNENFORCEABLE FOR ANY REASON, THEN THE AGGREGATE LIABILITY OF THE LENDIT PARTIES UNDER SUCH CIRCUMSTANCES TO YOU OR ANY PERSON OR ENTITY CLAIMING THROUGH YOU FOR LIABILITIES THAT OTHERWISE WOULD HAVE BEEN LIMITED WILL NOT EXCEED ONE HUNDRED U.S. DOLLARS. SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF CERTAIN WARRANTIES OR THE LIMITATION OR EXCLUSION OF LIABILITY FOR CERTAIN TYPES OF DAMAGES. ACCORDINGLY, SOME OF THE ABOVE DISCLAIMERS OF WARRANTIES AND LIMITATIONS OF LIABILITY MAY NOT APPLY TO YOU.
				</p>
				<h3>Indemnification</h3>
				<p>You agree to indemnify and hold the LendIt Parties harmless from any claim or demand, including reasonable attorney's fees and costs, made by any third party due to or arising out of your posting of any content on a Site, providing Personal Information through our Site, or any use of the Site in a manner not permitted by these Terms of Use, including without limitation your actual or alleged violation of these Terms of Use, or infringement of a third party’s intellectual property or other rights by you or another user of our Site using your computer, mobile device or account.</p>

				<h3>Notification of Claimed Copyright Infringement</h3>
				<p>In the event that you find content posted on one of our Sites which you believe is an infringement of the copyright ownership or other intellectual property rights of yourself or any third party, please immediately contact our Copyright Agent as described below. To report any alleged infringement, you may contact us in writing by providing a signed statement containing the following information:</p>
				<ol>
					<li>your name, address, telephone number, and e-mail address, and if you are acting on behalf of the owner of the intellectual property, the name of the owner;</li>
					<li>a statement, made under penalty of perjury, that you are the owner of the copyright or are authorized to act on behalf of the owner;</li>
					<li>a detailed description of the copyrighted work or other intellectual property that you claim has been infringed;</li>
					<li>if your claim is based on a registered work, the registration number, and the date of issuance of the registration;</li>
					<li>a description of the infringing material and the URL where such material is located on the Site, or a description of where on our Site you found such material;</li>
					<li>your written statement that you believe, in good faith, that the use of the work on our Site has not been authorized by the true owner of the work, its agent, or as a matter of law; and</li>
					<li>a statement under penalty of perjury that all of the information you have provided is true.</li>
				</ol>
				<p>Please send your notice of alleged infringement to:  LendIt, Attn: Peter Renton, 1416 Larimer Street, Suite 203, Denver, CO 80202; Phone: (720) 259-0455: Email: <a href="mailto:info@lendit.co">info@lendit.co</a>.
					In accordance with the Digital Millennium Copyright Act (“DMCA”), it is our policy to terminate use of our Sites by repeat infringers in appropriate circumstances.</p>

					<h3>Other Content Complaints or Removal Requests</h3>
					<p>If you believe that any content on this Site violates these Terms of Use or is otherwise inappropriate, please report the content by completing the Contact Us form on the Site, or send an email to <a href="mailto:info@lendit.co">info@lendit.co</a>.  If you are a California resident who posted content to our Site when you were under the age of 18 and you are now requesting removal of that content, please send an email to <a href="mailto:info@lendit.co">info@lendit.co</a> with your name, date of the posting, URL of the posting, and a description of the posting, so that we are able to locate and remove it for you in accordance with California law (however, please note that we cannot guarantee complete or comprehensive removal of the content).   </p>

					<h3>Mobile Devices</h3>
					<p>Separate versions of our Site may be available for use on mobile devices. If you access our Site or Service on mobile devices or in mobile apps, you understand that your mobile carrier’s standard charges will apply.</p>

					<h3>Dispute Resolution</h3>
					<p>Any dispute arising out of or relating in any way to your use of our Sites or any products, services, or information you receive through our Sites, shall be submitted to confidential, binding arbitration in Denver, Colorado pursuant to the American Arbitration Association’s Commercial Arbitration Rules.  The arbitrator's award shall be final and binding and may be entered as a judgment in any court of competent jurisdiction.  No arbitration under these Terms of Use may be joined with another arbitration related to the subject matter hereof.  Notwithstanding the foregoing arbitration requirement, with regard to any actual or potential violation of our intellectual property rights, we may seek injunctive or other appropriate relief in the courts of Denver, Colorado, and you hereby consent to the exclusive jurisdiction of such courts and waive all objections thereto.  We each agree that any dispute resolution proceedings will be conducted only on an individual basis and not in a class, consolidated or representative action. If for any reason a claim proceeds in court rather than in arbitration we each waive any right to a jury trial.</p>

					<h3>Governing Laws</h3>
					<p>
						The laws of the state of Colorado and the United States govern these Terms of Use and any claims arising out of or relating to use of the Sites, without giving effect to any choice of law rules. We make no representation that our Sites are appropriate, legal or available for use outside of the United States. With the exception of any matters subject to arbitration as described above, the state and federal courts located in Denver, Colorado will serve as the venue for any actions brought, or claims made, arising out of your use of our Sites.
					</p>

					<h3>Compliance with Laws</h3>
					<p>You assume all knowledge of applicable law and you are responsible for compliance with any such laws. You may not use the Site in any way that violates applicable state, federal, or international laws, regulations or other government requirements.</p>

					<h3>Changes to These Terms</h3>
					<p>We reserve the right, at any time, to modify, alter, or update these Terms of Use without prior notice. You are encouraged to check this page regularly for changes to the Terms of Use. Modifications will become effective immediately upon being posted to our Site, without further notice to you. Your continued use of any of our Site after such modifications are posted constitutes your acknowledgement and acceptance of such modifications, and you may not amend these Terms of Use.</p>

					<h3>Other Terms</h3>
					<p>If any provision of these Terms of Use is determined by a court of law to be unlawful, void or unenforceable for any reason, the other provisions (and any partially-enforceable provision) shall not be affected thereby and shall remain valid and enforceable to the maximum possible extent, and the invalid provision will be modified as necessary to make it valid and enforceable while as closely as possible reflecting the original intentions of LendIt. You agree that these Terms of Use and any other agreements referenced herein may be assigned by us, in our sole discretion, to a third party in the event of a merger or acquisition or otherwise. These Terms of Use shall apply in addition to, and shall not be superseded by, any other written agreement between us in relation to your interaction with our Site. You agree and understand that these Terms of Use together with any other applicable agreements you may have entered into regarding our Site, constitutes the entire agreement between you and LendIt regarding your use of the Sites, and that any other prior agreements between you and LendIt are superseded by these Terms of Use. Any failure by LendIt to exercise its rights under these Terms of Use or to enforce the terms hereof will not constitute a waiver of those rights. You agree that regardless of any statute or law to the contrary, any claim or cause of action arising out of or related to use of a Site or relating to these Terms of Use must be filed within one (1) year after such claim or cause of action arose or be forever barred.</p>

					<h3>Contact Us</h3>
					<p>If you have any questions about these Terms of Use, please feel free to contact us at:</p>
					<p>LendIt Conference LLC<br>
						1416 Larimer Street<br>
						Suite 2013<br>
						Denver, CO 80202<br>
						Attn: Peter Renton<br>
						(720) 259-0455<br>
						<a href="mailto:info@lendit.co">info@lendit.co</a>
					</p>


				</div>
			</div>
		</div>
	</div>

