<%= title "About LendIt - Peer-to-Peer & Online Lending Conference" %>
<% meta_description "LendIt Conference helps you learn, network, and connect with top internet finance leaders in China. Register now to reserve your spot and get the best rates." %>
<% meta_keywords "p2p, online lending, peer-to-peer, LendIt, speakers, LendIt Conference" %>
<%= canonical_tag -%>

<main>

  <section>
    <p>
      Nothing contained in the website constitutes investment, legal or tax advice.
    </p>
    <p>
      Neither the information nor any opinion contained in this website constitutes a solicitation or offer by LendIt Conference LLC (“LendIt”), or any of its affiliates to buy or sell any securities or other financial instruments.
    </p>
    <p>
      Decisions based on information contained in the website are the sole responsibility of the visitor, and as consideration for access to the website, you agree to hold LendIt and its affiliates harmless from and against any claims whatsoever and of any nature for damages arising from any decisions that you makes based on such information.
    </p>
    <p>
      While we use reasonable efforts to update the information on the website, we make no representations or warranties as to the accuracy, reliability or completeness of any information on the website, including written, aural and/or video content.  Opinions, advice and any other content on the website, including the terms and conditions of your use of this service, are subject to change without notice or liability.
    </p>
    <p>
      “LendIt" is a registered trademark.
    </p>
    <p>
      &copy; 2014 LendIt
    </p>

  </section>

</main>