<%= title "About LendIt - Peer-to-Peer & Online Lending Conference" %>
<% meta_description "LendIt Conference helps you learn, network, and connect with top internet finance leaders in China. Register now to reserve your spot and get the best rates." %>
<% meta_keywords "p2p, online lending, peer-to-peer, LendIt, speakers, LendIt Conference" %>

<% body_class "terms" %>

<main>

	<div class="terms-of-use">
		<div class="container">
			<h1>Terms of Use</h1>
			<section>
				<p>
					Nothing contained in the website constitutes investment, legal or tax advice.
				</p>
				<p>
					Neither the information nor any opinion contained in this website constitutes a solicitation or offer by LendIt Conference LLC (“LendIt”), or any of its affiliates to buy or sell any securities or other financial instruments.
				</p>
				<p>
					Decisions based on information contained in the website are the sole responsibility of the visitor, and as consideration for access to the website, you agree to hold LendIt and its affiliates harmless from and against any claims whatsoever and of any nature for damages arising from any decisions that you makes based on such information.
				</p>
				<p>
					While we use reasonable efforts to update the information on the website, we make no representations or warranties as to the accuracy, reliability or completeness of any information on the website, including written, aural and/or video content.	Opinions, advice and any other content on the website, including the terms and conditions of your use of this service, are subject to change without notice or liability.
				</p>

				<h6>
					Ownership of the Site and its Contents
				</h6>

				<p>
					The Site is owned by LendIt Conference LLC ("LendIt"). Unless otherwise indicated, all of the content featured or displayed on the Site, including, but not limited to, text, graphics, data, photographic images, moving images, sound, illustrations, software, and the selection and arrangement thereof ("LendIt Content"), is owned by LendIt, its licensors, or its third-party image partners. All elements of the Site are protected by copyright, trade dress, moral rights, trademark and other laws relating to the protection of intellectual property.
				</p>
				<p>
					“LendIt" is a registered trademark.
				</p>
				<p>
					&copy; 2015 LendIt
				</p>

			</section>
		</div>
	</div>

</main>


<!-- <div class="general-background">
	<div class="row">
		<div class="columns">
			<div class="panel">
				<h1>Terms of Use</h1>
				<p>
					<em>Effective 03.25.2015</em>
				</p>
				<p>
					Welcome! This website operated by LendIt Conference, LLC. (<strong>"LendIt", "us", "our", "we"</strong>).	These Terms of Use (<strong>"Terms of Use"</strong>) set forth the terms and conditions under which you are authorized to use our websites (which includes any website on which these Terms of Use are posted, including LendIt.co, other sites accessible via subdomains, and mobile versions of any of these sites) (each a <strong>"Site"</strong> and collectively the <strong>"Sites"</strong>).
				</p>
				<p>
					To the extent additional rules or guidelines affect your use of these Sites, those rules and guidelines (including our <a href="/privacy">Privacy Policy</a> and Registration Terms and Conditions) are hereby incorporated by reference into these Terms of Use. By using any of our Sites, you agree to these Terms of Use. If you do not agree to these Terms of Use, you should immediately stop using our Sites.
				</p>
				<p>PLEASE READ THIS AGREEMENT CAREFULLY. THIS AGREEMENT CONSTITUTES A LEGALLY BINDING AGREEMENT BETWEEN YOU AND LENDIT AND CONTAINS IMPORTANT INFORMATION REGARDING YOUR LEGAL RIGHTS, REMEDIES AND OBLIGATIONS, AND INCLUDES VARIOUS LIMITATIONS AND EXCLUSIONS.
				</p>
				<h3>Description of Service</h3>
				<p>
					Our Sites provide information about LendIt, our conferences and events, related programs, our partners, subsidiaries, related companies and sponsors, blogs and white papers; allow you to register to attend, speak at, sponsor or exhibit at a conference; and, provide as other features and information we believe will interest you (collectively the <strong>"Service"</strong>). To the extent new services, content or features are added to our Sites in the future, your use of those features is subject to these Terms of Use.
				</p>
				<h3>Disclaimer</h3>
				<p>
					Nothing contained on our Sites constitute investment, legal or tax advice. The information and any opinions contained on this website are not and should not be construed as solicitations or offers by LendIt Conference LLC ("LendIt"), or any of its affiliates to buy or sell any securities or other financial instruments.
				</p>
				<h3>Third-party Services and Content</h3>
				<p>
					Our Sites are intended to provide information about our conference, related events, our sponsors, and other information we believe may interest you. We may provide links to our sponsors, to third party sites with informational content, or other service and information providers, however these services, or certain features thereof, may be operated by third parties, not LendIt. Your use of features and other content or services provided by, or links to other websites on the Internet that are owned and operated by, third parties is not governed by these Terms of Use.
				</p>
				<p>
					You acknowledge and agree that we are not responsible for the availability of, or any content located on or through, any third-party site, or any services provided by third parties. You further acknowledge that any reliance on representations and warranties provided by any party other than LendIt will be at your own risk. You expressly agree to hold us harmless for any claims of damage arising from any content, product or service provided by any third party. Your use of those third-party websites and services is subject to the terms of use and privacy policies posted on each site or service, and we encourage you to review those agreements.
				</p>
				<h3>Modifications and Interruption to the Sites</h3>
				<p>
					We reserve the right to modify or discontinue all or any portion of our Sites with or without notice to you. We will not be liable if we choose to exercise this right. You acknowledge and accept that we do not guarantee continuous, uninterrupted or secure access to our Sites, or that operation of our Sites will be uninterrupted or error free. You understand that usage of our Sites may be interfered with or adversely affected by numerous factors or circumstances outside of our control.
				</p>
				<h3>Your Representations</h3>
				<p>
					As a condition of your right to use this Site, you represent that you are of legal age to enter into a binding contract, and that you are not a person barred from visiting the Site and accessing the Service under the laws of the United States or another country.
				</p>
				<h3>Copyright and Trademark Information</h3>
				<p>
					All data, features, information, text, graphics images, music, sounds, photographs, illustrations, logos, messages, audio, information, video and other information or content that is available on the Site, including without limitation Site design, text, graphics, interfaces, and the selection and arrangements thereof, are owned by LendIt, with all rights reserved, or in some cases may be licensed to LendIt by third parties (collectively, <strong>"LendIt Content"</strong>).
				</p>
				<p>
					The LendIt Content is protected by the intellectual property rights of LendIt or those owners. All content which qualifies for protection under Federal Copyright Law under the laws of the United States is subject to the exclusive jurisdiction of the Federal Court System, whether registered or unregistered. All trademarks displayed on the Site are the trademarks of their respective owners, and constitute neither an endorsement nor a recommendation of such parties. In addition, such use of trademarks or links to the websites of third parties is not intended to imply, directly or indirectly, that those third parties endorse or have any affiliation with LendIt.
				</p>
			</div>
		</div>
	</div>
</div>

 -->