<style type="text/css">

  a.sched-title-tooltip.sched-share-mobile {
    display: none;
  }

  #sched-sidebar-attendees {
    display: none;
  }

</style>

<%= body_class "networking" %>

<div class="general-background">
  <div class="row">
    <div class="columns">

<div>
<a id="sched-embed" href="http://lenditchinatour2015.sched.org/">View the LendIt China Tour 2015 schedule & directory.</a><script type="text/javascript" src="http://lenditchinatour2015.sched.org/js/embed.js"></script></div>

</div></div></div>