<%= title "LendIt Conference Volunteers Sign-up Page" %>
<% meta_description "LendIt Europe 2014 volunteers sign-up" %>
<% meta_keywords "p2p, online lending, peer-to-peer, LendIt, conference, volunteer" %>
<%= canonical_tag -%>
<% body_class "pg-volunteers" %>

<div class="general-background">
	<div class="row">
		<div class="columns">
			<h1>Become a LendIt Volunteer</h1>
			<form action="https://docs.google.com/forms/d/1Fo86ZR7JiNb--u-N54OuYpBCd63PMVFQluBcOLT16E4/formResponse" method="POST" id="ss-form" target="hidden_iframe" onsubmit="submitted=true">
				<ol role="list" class="ss-question-list" style="padding-left: 0">
					<script type="text/javascript">var submitted=false; </script>
					<iframe name="hidden_iframe" id="hidden_iframe"
						style="display:none;" onload="if(submitted)
						{window.location='/volunteers/submitted';}">
					</iframe>
					<div class="ss-form-question errorbox-good" role="listitem">
						<div dir="ltr" class="ss-item ss-item-required ss-text">
							<div class="ss-form-entry">
								<label class="ss-q-item-label" for="entry_549613425">
									<div class="ss-q-title">
										<label for="itemView.getDomIdToLabel()" aria-label="(Required field)">Last Name, First Name</label>
										<span class="ss-required-asterisk" aria-hidden="true">* </span>
									</div>
									<div class="ss-q-help ss-secondary-text" dir="ltr"> </div>
								</label>
								<input type="text" name="entry.549613425" value="" class="ss-q-short" id="entry_549613425" dir="auto" aria-label="Last Name, First Name  " aria-required="true" required="" title="">
								<div class="error-message" id="1179061111_errorMessage"> </div>
								<div class="required-message">This is a required question</div>
							</div>
						</div>
					</div>
					<div class="ss-form-question errorbox-good" role="listitem">
						<div dir="ltr" class="ss-item ss-item-required ss-text">
							<div class="ss-form-entry">
								<label class="ss-q-item-label" for="entry_1709181404">
									<div class="ss-q-title">
										<label for="itemView.getDomIdToLabel()" aria-label="(Required field)">Email Address</label>
										<span class="ss-required-asterisk" aria-hidden="true">*</span>
									</div>
									<div class="ss-q-help ss-secondary-text" dir="ltr"> </div>
								</label>
								<input type="text" name="entry.1709181404" value="" class="ss-q-short" id="entry_1709181404" dir="auto" aria-label="Email Address  " aria-required="true" required="" title="">
								<div class="error-message" id="373807790_errorMessage"> </div>
								<div class="required-message">This is a required question</div>
							</div>
						</div>
					</div>
					<div class="ss-form-question errorbox-good" role="listitem">
						<div dir="ltr" class="ss-item ss-item-required ss-checkbox">
							<div class="ss-form-entry">
								<label class="ss-q-item-label" for="entry_410661256">
									<div class="ss-q-title">
										<label for="itemView.getDomIdToLabel()" aria-label="(Required field)">Which conference are you interested in volunteering for?</label>
										<span class="ss-required-asterisk" aria-hidden="true">* </span>
									</div>
									<div class="ss-q-help ss-secondary-text" dir="ltr"> </div>
								</label>
								<ul class="ss-choices ss-choices-required" role="group" aria-label="Which conference are you interested in volunteering for?  ">
									<li class="ss-choice-item">
										<label>
											<span class="ss-choice-item-control goog-inline-block">
												<input type="checkbox" name="entry.707170286" value="LendIt USA 2015 (April 13-15, 2015)" id="group_707170286_1" role="checkbox" class="ss-q-checkbox" aria-required="true">
											</span>
											<span class="ss-choice-label">LendIt USA 2015 (April 13-15, 2015) </span>
										</label>
									</li>
									<li class="ss-choice-item">
										<label>
											<span class="ss-choice-item-control goog-inline-block">
												<input type="checkbox" name="entry.707170286" value="LendIt Europe 2015 (dates not yet released)" id="group_707170286_2" role="checkbox" class="ss-q-checkbox" aria-required="true">
											</span>
											<span class="ss-choice-label">LendIt Europe 2015 (dates not yet released) </span>
										</label>
									</li>
								</ul>
								<div class="error-message" id="410661256_errorMessage">
								</div>
								<div class="required-message">This is a required question </div>
							</div>
						</div>
					</div>
					<div class="ss-form-question errorbox-good" role="listitem">
						<div dir="ltr" class="ss-item ss-item-required ss-paragraph-text">
							<div class="ss-form-entry">
								<label class="ss-q-item-label" for="entry_780337581">
									<div class="ss-q-title">
										<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"> Briefly tell us about yourself.  </label>
										<span class="ss-required-asterisk" aria-hidden="true">* </span>
									</div>
									<div class="ss-q-help ss-secondary-text" dir="ltr"> </div>
								</label>
								<textarea name="entry.780337581" rows="8" cols="0" class="ss-q-long" id="entry_780337581" dir="auto" aria-label="Briefly tell us about yourself.  " aria-required="true" required=""></textarea>
								<div class="error-message" id="1592946440_errorMessage"></div>
								<div class="required-message">This is a required question</div>
							</div>
						</div>
					</div>
					<div class="ss-form-question errorbox-good" role="listitem">
						<div dir="ltr" class="ss-item ss-paragraph-text">
							<div class="ss-form-entry">
								<label class="ss-q-item-label" for="entry_1907376001">
									<div class="ss-q-title">Please share any special skills or prior experience volunteering/working at events.</div>
									<div class="ss-q-help ss-secondary-text" dir="ltr"> </div>
								</label>
								<textarea name="entry.1907376001" rows="8" cols="0" class="ss-q-long" id="entry_1907376001" dir="auto" aria-label="Please share any special skills or prior experience volunteering/working at events.  "></textarea>
								<div class="error-message" id="677851270_errorMessage"></div>
								<div class="required-message">This is a required question</div>
							</div>
						</div>
					</div>
					<div class="ss-form-question errorbox-good" role="listitem">
						<div dir="ltr" class="ss-item ss-item-required ss-checkbox">
							<div class="ss-form-entry">
								<label class="ss-q-item-label" for="entry_1661961609">
									<div class="ss-q-title">
										<label for="itemView.getDomIdToLabel()" aria-label="(Required field)">Check all the areas you&#39;re interested in:</label>
										<span class="ss-required-asterisk" aria-hidden="true">* </span>
									</div>
									<div class="ss-q-help ss-secondary-text" dir="ltr"> </div>
								</label>
								<ul class="ss-choices ss-choices-required" role="group" aria-label="Check all the areas you&#39;re interested in:">
									<li class="ss-choice-item">
										<label>
											<span class="ss-choice-item-control goog-inline-block">
												<input type="checkbox" name="entry.1969968695" value="Blogging" id="group_1969968695_1" role="checkbox" class="ss-q-checkbox" aria-required="true">
											</span>
											<span class="ss-choice-label">Blogging</span>
										</label>
									</li>
									<li class="ss-choice-item">
										<label>
											<span class="ss-choice-item-control goog-inline-block">
												<input type="checkbox" name="entry.1969968695" value="Social media (live tweeting)" id="group_1969968695_2" role="checkbox" class="ss-q-checkbox" aria-required="true">
											</span>
											<span class="ss-choice-label">Social media (live tweeting)</span>
										</label>
									</li>
									<li class="ss-choice-item">
										<label>
											<span class="ss-choice-item-control goog-inline-block">
												<input type="checkbox" name="entry.1969968695" value="Emceeing the conference breakout rooms" id="group_1969968695_3" role="checkbox" class="ss-q-checkbox" aria-required="true">
											</span>
											<span class="ss-choice-label">Emceeing the conference breakout rooms</span>
										</label>
									</li>
									<li class="ss-choice-item">
										<label>
											<span class="ss-choice-item-control goog-inline-block">
												<input type="checkbox" name="entry.1969968695" value="Event operations" id="group_1969968695_4" role="checkbox" class="ss-q-checkbox" aria-required="true">
											</span>
											<span class="ss-choice-label">Event operations</span>
										</label>
									</li>
									<li class="ss-choice-item">
										<label>
											<span class="ss-choice-item-control goog-inline-block">
												<input type="checkbox" name="entry.1969968695" value="__other_option__" id="group_1969968695_5" role="checkbox" class="ss-q-checkbox ss-q-other-toggle" aria-required="true">
											</span>
											<span class="ss-choice-label">Other:</span>
										</label>
										<span class="ss-q-other-container goog-inline-block">
											<input type="text" name="entry.1969968695.other_option_response" value="" class="ss-q-other" id="entry_1969968695_other_option_response" dir="auto" aria-label="Other">
										</span>
									</li>
								</ul>
								<div class="error-message" id="1661961609_errorMessage"></div>
								<div class="required-message">This is a required question</div>
							</div>
						</div>
					</div>
					<input type="hidden" name="draftResponse" value="[,,&quot;1668088816876428894&quot;]">
					<input type="hidden" name="pageHistory" value="0">
					<input type="hidden" name="fbzx" value="1668088816876428894">
					<div class="ss-item ss-navigate">
						<table id="navigation-table">
							<tbody>
								<tr>
									<td class="ss-form-entry goog-inline-block" id="navigation-buttons" dir="ltr">
										<input type="submit" name="submit" value="Submit" id="ss-submit" class="jfk-button jfk-button-action ">
										<div class="ss-password-warning ss-secondary-text">Never submit passwords through Google Forms.</div>
									</td>
									<td id="progress-container">
										<div id="progress-bar" class="jfk-progressBar-nonBlocking progress-bar-horizontal goog-inline-block"></div>
										<div id="progress-label" class="progress-label">100%: You made it.</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</ol>
			</form>
		</div>
	</div>
</div>
