<%= title "LendIt Sponsors Page" %>
<% meta_description "Sponsors of the LendIt Europe 2014 Peer-to-Peer and Online Lending Conference." %>
<% meta_keywords "p2p, online lending, peer-to-peer, LendIt, sponsors" %>
<%= canonical_tag -%>

<h1>SPONSORS</h1>

<section>LendIt creates opportunities for peer-to-peer and online lending companies to engage with industry leading influencers. For sponsorship, exhibitor information, and to learn about custom packages and installations, please email <a href="mailto:sponsors@lendit.co">sponsors@lendit.co</a>.</section>

