<%= title "LendIt Sponsors Page" %>
<% meta_description "Sponsors of the LendIt Europe 2014 Peer-to-Peer and Online Lending Conference." %>
<% meta_keywords "p2p, online lending, peer-to-peer, LendIt, sponsors" %>
<%= canonical_tag -%>

<h1>SPONSORS</h1>

<p>Ham hock shoulder chicken short loin. Shank tri-tip pancetta kielbasa brisket short ribs. Chicken andouille strip steak, kielbasa capicola tail corned beef swine shank biltong pancetta. Tenderloin pork belly bacon jowl boudin turducken. Landjaeger boudin meatball venison, swine doner frankfurter pork loin kevin pastrami bacon. Pastrami short ribs frankfurter pork chop ball tip venison. Bresaola strip steak short loin pork flank.</p>