<%= title "LendIt Sponsors Page" %>
<% meta_description "Sponsors of the LendIt Europe 2014 Peer-to-Peer and Online Lending Conference." %>
<% meta_keywords "p2p, online lending, peer-to-peer, LendIt, sponsors" %>
<%= canonical_tag -%>

<main>
	<div class="container">
		<h1>Sponsors</h1>

		<section>
			<p>
				LendIt sponsors receive extensive brand exposure to a core audience of investment professionals and industry trailblazers through a powerful combination of multiple mediums including: web presence, webcasts, e-marketing campaigns, print advertising, widespread on-site recognition, signage, event giveaways and program exposure. Sponsorship opportunities are enjoyed before, during and after the event. Brand sponsorship is open to financial, legal technology and professional service firms in addition to high-end consumer brands.
			</p>
			<p>
				LendIt provides industry participants the opportunity to showcase their products and services at LendIt’s acclaimed exhibit hall, known for being a focal point for extensive participant interaction. This is the ideal opportunity for market leaders and new entrants alike to exhibit to fund managers, asset allocators, family offices, venture capitalists, individual investors, industry veterans and members of the financial media.
			</p>
			<p>
				For more information on sponsorship and exhibitor opportunities, please email <a href="mailto:info@lendit.co">info@lendit.co</a>.
			</p>
		</section>

		<section>
			<h2>Testimonials</h2>
			<p>
				“The conference certainly did exceed our expectations at every level.	The crowd, the speakers, the content,	the events, and the networking all provided us, and I am sure your other sponsors and participants, with a first class conference and business opportunities.	We told you last year that LendIt was our best conference experience ever, only to be surpassed by LendIt 2014.” - Reggie Karas, Managing Director of Millennium Trust Company
			</p>
			<p>
				“Marketplace lending is arguably the hottest spot for financial innovation today and Lendit is right at its center, stoking the fires with great education, content, and networking.	Lendit assembles all the key players, asks all the right questions, and creates the perfect forum to fire up ideas, spark connections, and facilitate deal making.” - Penelope Holt, Chief Marketing Officer of BorrowersFirst
			</p>
			<p>
				“We thought that LendIt 2014 was a brilliant event. The quality of the people attending, and the content of the presentations, were awesome.” - Christian Faes, Co-founder of LendInvest
			</p>
		</section>

	</div>


</main>
