<%= title "LendIt 2014 Sponsors Page" %>
<% meta_description "Sponsors of the LendIt 2014 Peer-to-Peer and Online Lending Conference in San Francisco." %>
<% meta_keywords "p2p, online lending, peer-to-peer, LendIt, sponsors" %>




<main class="sponsors-page">
  <div class="sponsors-main">
		<div class="sponsors-text-a">
			<div class="table">
				<div class="cell">

			    <h1>LendIt 2014 Sponsors</h1>

				<div class="cell">
				</div>
			</div>
		</div>
    <section class="past-sponsors">

      <% @past_sponsors.each do |sponsor| %>

        <img src="<%= sponsor.logo_img %>" alt="<%= sponsor.company_name %>">

      <% end %>
    </section>

  </div>
</main>