<% title "LendIt China 2015 Main Agenda Page" %>
<% meta_description "View the main agenda for the LendIt China 2015 Conference." %>
<% meta_keywords "p2p, online lending, peer-to-peer, LendIt China, agenda, conference" %>
<% body_class "china15-agenda" %>

<div class="general-background">
	<div class="row">
		<div class="agenda-area">
			<div class="agenda-day00">
				<div class="agenda-row01"><span>Time</span></div>
				<div class="agenda-row02"></div>
				<div class="agenda-row03"></div>
				<div class="agenda-row04"></div>
				<div class="agenda-row05"><span>6:00 AM</span></div>
				<div class="agenda-row06"><span>7:00 AM</span></div>
				<div class="agenda-row07"><span>8:00 AM</span></div>
				<div class="agenda-row08"><span>8:30 AM</span></div>
				<div class="agenda-row09"><span>9:00 AM</span></div>
				<div class="agenda-row10"><span>9:30 AM</span></div>
				<div class="agenda-row11"><span>10:00 AM</span></div>
				<div class="agenda-row12"><span>10:30 AM</span></div>
				<div class="agenda-row13"><span>11:00 AM</span></div>
				<div class="agenda-row14"><span>11:30 AM</span></div>
				<div class="agenda-row15"><span>12:00 PM</span></div>
				<div class="agenda-row16"><span>12:30 PM</span></div>
				<div class="agenda-row17"><span>1:00 PM</span></div>
				<div class="agenda-row18"><span>1:30 PM</span></div>
				<div class="agenda-row19"><span>2:00 PM</span></div>
				<div class="agenda-row20"><span>2:30 PM</span></div>
				<div class="agenda-row21"><span>3:00 PM</span></div>
				<div class="agenda-row22"><span>3:30 PM</span></div>
				<div class="agenda-row23"><span>4:00 PM</span></div>
				<div class="agenda-row24"><span>4:30 PM</span></div>
				<div class="agenda-row25"><span>5:00 PM</span></div>
				<div class="agenda-row26"><span>5:30 PM</span></div>
				<div class="agenda-row27"><span>6:00 PM</span></div>
				<div class="agenda-row28"><span>6:30 PM</span></div>
				<div class="agenda-row29"><span>7:00 PM</span></div>
				<div class="agenda-row30"><span>7:30 PM</span></div>
				<div class="agenda-row31"><span>8:00 PM</span></div>
				<div class="agenda-row32"><span>8:30 PM</span></div>
				<div class="agenda-row33"><span>9:00 PM</span></div>
				<div class="agenda-row34"><span>9:30 PM</span></div>
				<div class="agenda-row35"><span>10:00 PM</span></div>
				<div class="agenda-row36"><span>10:30 PM</span></div>
				<div class="agenda-row37"></div>
				<div class="agenda-row38"></div>
				<div class="agenda-row39"></div>
				<div class="agenda-row40"></div>
				<div class="agenda-row41"></div>
				<div class="agenda-row42"></div>
			</div>

			<div class="agenda-day07">
				<div class="agenda-row01"><span><span class="optional"> Tuesday </span>  July&nbsp;7</span></div>
				<div class="agenda-row02"></div>
				<div class="agenda-row03"><span>Arrivals in Beijing</span></div>
				<div class="agenda-row04"></div>
				<div class="agenda-row05"></div>
				<div class="agenda-row06"></div>
				<div class="agenda-row07"></div>
				<div class="agenda-row08"></div>
				<div class="agenda-row09"></div>
				<div class="agenda-row10"></div>
				<div class="agenda-row11"></div>
				<div class="agenda-row12"></div>
				<div class="agenda-row13"></div>
				<div class="agenda-row14"></div>
				<div class="agenda-row15"></div>
				<div class="agenda-row16"></div>
				<div class="agenda-row17"></div>
				<div class="agenda-row18"></div>
				<div class="agenda-row19"></div>
				<div class="agenda-row20"></div>
				<div class="agenda-row21"></div>
				<div class="agenda-row22"></div>
				<div class="agenda-row23"></div>
				<div class="agenda-row24"></div>
				<div class="agenda-row25"></div>
				<div class="agenda-row26"></div>
				<div class="agenda-row27"><span>Casual Dinner/ Welcome Reception</span></div>
				<div class="agenda-row28"></div>
				<div class="agenda-row29"></div>
				<div class="agenda-row30"></div>
				<div class="agenda-row31"></div>
				<div class="agenda-row32"></div>
				<div class="agenda-row33"></div>
				<div class="agenda-row34"></div>
				<div class="agenda-row35"></div>
				<div class="agenda-row36"></div>
				<div class="agenda-row37"></div>
				<div class="agenda-row38"></div>
				<div class="agenda-row39"></div>
				<div class="agenda-row40"></div>
				<div class="agenda-row41"></div>
				<div class="agenda-row42"></div>
			</div>

			<div class="agenda-day08">
				<div class="agenda-row01"><span>Wednesday July 8</span></div>
				<div class="agenda-row02"></div>
				<div class="agenda-row03"><span>China App Conference - Co-Hosted by Ling Yi Finance and LendIt China</span></div>
				<div class="agenda-row04"></div>
				<div class="agenda-row05"></div>
				<div class="agenda-row06"><span>Breakfast</span></div>
				<div class="agenda-row07"><span>Bus leaves to ExpoHall (1hour trip)</span></div>
				<div class="agenda-row08"></div>
				<div class="agenda-row09"><span>Opening remarks by LendIt/LingYi (5min)</span></div>
				<div class="agenda-row10"><span>Keynotes and Panels begin</span></div>
				<div class="agenda-row11"></div>
				<div class="agenda-row12"></div>
				<div class="agenda-row13"></div>
				<div class="agenda-row14"></div>
				<div class="agenda-row15"></div>
				<div class="agenda-row16"><span>Keynotes and Panels end</span></div>
				<div class="agenda-row17"><span>Conference Lunch (Invitation Only - 200 people)</span></div>
				<div class="agenda-row18"></div>
				<div class="agenda-row19"></div>
				<div class="agenda-row20"><span>LendIt Delegation Visit Exposition Hall</span></div>
				<div class="agenda-row21"></div>
				<div class="agenda-row22"></div>
				<div class="agenda-row23"><span>LendIt Panel</span></div>
				<div class="agenda-row24"><span>Special Forum - LendIt/LingYi Roundtable</span></div>
				<div class="agenda-row25"></div>
				<div class="agenda-row26"><span>Closing Remarks</span></div>
				<div class="agenda-row27"><span>Bus to dinner</span></div>
				<div class="agenda-row28"><span>Dinner hosted by Jimubox (unconfirmed)</span></div>
				<div class="agenda-row29"></div>
				<div class="agenda-row30"></div>
				<div class="agenda-row31"></div>
				<div class="agenda-row32"><span>Bus to hotel</span></div>
				<div class="agenda-row33"></div>
				<div class="agenda-row34"></div>
				<div class="agenda-row35"></div>
				<div class="agenda-row36"></div>
				<div class="agenda-row37"></div>
				<div class="agenda-row38"></div>
				<div class="agenda-row39"></div>
				<div class="agenda-row40"></div>
				<div class="agenda-row41"></div>
				<div class="agenda-row42"></div>
			</div>

			<div class="agenda-day09">
				<div class="agenda-row01"><span>Thursday July 9</span></div>
				<div class="agenda-row02"></div>
				<div class="agenda-row03"><span>Trip to the Great Wall of China - Sponsored by CreditEase</span></div>
				<div class="agenda-row04"></div>
				<div class="agenda-row05"></div>
				<div class="agenda-row06"><span>Breakfast</span></div>
				<div class="agenda-row07"></div>
				<div class="agenda-row08"></div>
				<div class="agenda-row09"><span>Bus to CreditEase</span></div>
				<div class="agenda-row10"><span>Meet Ning Tang, CreditEase CEO and office tour</span></div>
				<div class="agenda-row11"></div>
				<div class="agenda-row12"></div>
				<div class="agenda-row13"><span>Bus leaves for the Great Wall</span></div>
				<div class="agenda-row14"></div>
				<div class="agenda-row15"></div>
				<div class="agenda-row16"></div>
				<div class="agenda-row17"></div>
				<div class="agenda-row18"></div>
				<div class="agenda-row19"></div>
				<div class="agenda-row20"></div>
				<div class="agenda-row21"></div>
				<div class="agenda-row22"></div>
				<div class="agenda-row23"></div>
				<div class="agenda-row24"></div>
				<div class="agenda-row25"></div>
				<div class="agenda-row26"><span>Bus returns from the Great Wall</span></div>
				<div class="agenda-row27"></div>
				<div class="agenda-row28"><span>Dinner hosted by Creditease</span></div>
				<div class="agenda-row29"></div>
				<div class="agenda-row30"></div>
				<div class="agenda-row31"><span>Bus to hotel</span></div>
				<div class="agenda-row32"></div>
				<div class="agenda-row33"></div>
				<div class="agenda-row34"></div>
				<div class="agenda-row35"></div>
				<div class="agenda-row36"></div>
				<div class="agenda-row37"></div>
				<div class="agenda-row38"></div>
				<div class="agenda-row39"></div>
				<div class="agenda-row40"></div>
				<div class="agenda-row41"></div>
				<div class="agenda-row42"></div>
			</div>


			<div class="agenda-day10">
				<div class="agenda-row01"><span>Friday July 10</span></div>
				<div class="agenda-row02"></div>
				<div class="agenda-row03"><span>Beijing P2P Company visits</span></div>
				<div class="agenda-row04"></div>
				<div class="agenda-row05"></div>
				<div class="agenda-row06"><span>Breakfast</span></div>
				<div class="agenda-row07"></div>
				<div class="agenda-row08"></div>
				<div class="agenda-row09"><span>Meetings at the Grand Hyatt</span></div>
				<div class="agenda-row10"><span>Yooli</span></div>
				<div class="agenda-row11"><span>RenRendai</span></div>
				<div class="agenda-row12"></div>
				<div class="agenda-row13"><span>Leave for Train</span></div>
				<div class="agenda-row14"></div>
				<div class="agenda-row15"></div>
				<div class="agenda-row16"><span>Train from Beijing at 12:49</span></div>
				<div class="agenda-row17"><span>1st class seat</span></div>
				<div class="agenda-row18"><span>RMB 935 ($138)/$157</span></div>
				<div class="agenda-row19"></div>
				<div class="agenda-row20"></div>
				<div class="agenda-row21"></div>
				<div class="agenda-row22"></div>
				<div class="agenda-row23"></div>
				<div class="agenda-row24"></div>
				<div class="agenda-row25"></div>
				<div class="agenda-row26"></div>
				<div class="agenda-row27"><span>Arrive in Shanghai at 6:25</span></div>
				<div class="agenda-row28"><span>Bus from Train to hotel</span></div>
				<div class="agenda-row29"><span>Bus to dinner</span></div>
				<div class="agenda-row30"><span>Dinner cruise hosted by Lufax (unconfirmed)</span></div>
				<div class="agenda-row31"></div>
				<div class="agenda-row32"></div>
				<div class="agenda-row33"></div>
				<div class="agenda-row34"></div>
				<div class="agenda-row35"><span>Bus to hotel</span></div>
				<div class="agenda-row36"></div>
				<div class="agenda-row37"></div>
				<div class="agenda-row38"></div>
				<div class="agenda-row39"></div>
				<div class="agenda-row40"></div>
				<div class="agenda-row41"></div>
				<div class="agenda-row42"></div>
			</div>

			<div class="agenda-day11">
				<div class="agenda-row01"><span>Saturday July 11</span></div>
				<div class="agenda-row02"></div>
				<div class="agenda-row03"><span>Shanghai Bund Summit - Co-Hosted by Shanghai Finance Institute (SFI) and LendIt China</span></div>
				<div class="agenda-row04"></div>
				<div class="agenda-row05"></div>
				<div class="agenda-row06"><span>Breakfast</span></div>
				<div class="agenda-row07"></div>
				<div class="agenda-row08"></div>
				<div class="agenda-row09"></div>
				<div class="agenda-row10"></div>
				<div class="agenda-row11"></div>
				<div class="agenda-row12"></div>
				<div class="agenda-row13"></div>
				<div class="agenda-row14"></div>
				<div class="agenda-row15"></div>
				<div class="agenda-row16"></div>
				<div class="agenda-row17"></div>
				<div class="agenda-row18"><span>Registration - Main Conference</span></div>
				<div class="agenda-row19"><span>Welcome Remarks & Keynotes</span></div>
				<div class="agenda-row20"></div>
				<div class="agenda-row21"></div>
				<div class="agenda-row22"></div>
				<div class="agenda-row23"></div>
				<div class="agenda-row24"><span>Breakout Sessions begin at 4:40</span></div>
				<div class="agenda-row25"></div>
				<div class="agenda-row26"></div>
				<div class="agenda-row27"><span>5:50 Breakout sessions end</span></div>
				<div class="agenda-row28"></div>
				<div class="agenda-row29"><span>Bus to dinner</span></div>
				<div class="agenda-row30"><span>Dinner hosted by Dianrong (unconfirmed)</span></div>
				<div class="agenda-row31"></div>
				<div class="agenda-row32"></div>
				<div class="agenda-row33"></div>
				<div class="agenda-row34"><span>Bus to hotel</span></div>
				<div class="agenda-row35"></div>
				<div class="agenda-row36"><span>SATURDAY NIGHT LATE PARTY</span></div>
				<div class="agenda-row37"></div>
				<div class="agenda-row38"></div>
				<div class="agenda-row39"></div>
				<div class="agenda-row40"></div>
				<div class="agenda-row41"></div>
				<div class="agenda-row42"></div>
			</div>

			<div class="agenda-day12">
				<div class="agenda-row01"><span>Sunday July 12</span></div>
				<div class="agenda-row02"></div>
				<div class="agenda-row03"><span>Shanghai Bund Summit - Co-Hosted by Shanghai Finance Institute (SFI) and LendIt China</span></div>
				<div class="agenda-row04"></div>
				<div class="agenda-row05"></div>
				<div class="agenda-row06"><span>Breakfast</span></div>
				<div class="agenda-row07"></div>
				<div class="agenda-row08"><span>Registration Begins</span></div>
				<div class="agenda-row09"><span>Opening keynote</span></div>
				<div class="agenda-row10"></div>
				<div class="agenda-row11"></div>
				<div class="agenda-row12"></div>
				<div class="agenda-row13"></div>
				<div class="agenda-row14"></div>
				<div class="agenda-row15"><span>Conference Luncheon</span></div>
				<div class="agenda-row16"></div>
				<div class="agenda-row17"></div>
				<div class="agenda-row18"><span>Breakout sessions Begin</span></div>
				<div class="agenda-row19"></div>
				<div class="agenda-row20"></div>
				<div class="agenda-row21"></div>
				<div class="agenda-row22"></div>
				<div class="agenda-row23"></div>
				<div class="agenda-row24"></div>
				<div class="agenda-row25"><span>Breakout sessions end at 4:40</span></div>
				<div class="agenda-row26"></div>
				<div class="agenda-row27"></div>
				<div class="agenda-row28"><span>Bus to dinner</span></div>
				<div class="agenda-row29"><span>Dinner hosted by China Rapid Finance (unconfirmed)</span></div>
				<div class="agenda-row30"></div>
				<div class="agenda-row31"></div>
				<div class="agenda-row32"></div>
				<div class="agenda-row33"></div>
				<div class="agenda-row34"></div>
				<div class="agenda-row35"></div>
				<div class="agenda-row36"></div>
				<div class="agenda-row37"></div>
				<div class="agenda-row38"></div>
				<div class="agenda-row39"></div>
				<div class="agenda-row40"></div>
				<div class="agenda-row41"></div>
				<div class="agenda-row42"></div>
			</div>

			<div class="agenda-day13">
				<div class="agenda-row01"><span>Monday July 13</span></div>
				<div class="agenda-row02"></div>
				<div class="agenda-row03"><span>Company Visits</span></div>
				<div class="agenda-row04"></div>
				<div class="agenda-row05"></div>
				<div class="agenda-row06"><span>Breakfast</span></div>
				<div class="agenda-row07"></div>
				<div class="agenda-row08"><span>Companies TBD:</span></div>
				<div class="agenda-row09"><span>Lufax, Dianrong, Alibaba, Quark, Citigroup</span></div>
				<div class="agenda-row10"></div>
				<div class="agenda-row11"><span>Topics TBD:</span></div>
				<div class="agenda-row12"><span>Cross border investment, Setting up operations in China, wealth management</span></div>
				<div class="agenda-row13"></div>
				<div class="agenda-row14"></div>
				<div class="agenda-row15"></div>
				<div class="agenda-row16"></div>
				<div class="agenda-row17"></div>
				<div class="agenda-row18"></div>
				<div class="agenda-row19"></div>
				<div class="agenda-row20"></div>
				<div class="agenda-row21"></div>
				<div class="agenda-row22"></div>
				<div class="agenda-row23"></div>
				<div class="agenda-row24"></div>
				<div class="agenda-row25"></div>
				<div class="agenda-row26"></div>
				<div class="agenda-row27"></div>
				<div class="agenda-row28"></div>
				<div class="agenda-row29"><span>Dinner hosted by Alibaba (unconfirmed)</span></div>
				<div class="agenda-row30"></div>
				<div class="agenda-row31"></div>
				<div class="agenda-row32"></div>
				<div class="agenda-row33"></div>
				<div class="agenda-row34"></div>
				<div class="agenda-row35"></div>
				<div class="agenda-row36"></div>
				<div class="agenda-row37"></div>
				<div class="agenda-row38"></div>
				<div class="agenda-row39"></div>
				<div class="agenda-row40"></div>
				<div class="agenda-row41"></div>
				<div class="agenda-row42"></div>
			</div>

			<div class="agenda-day14">
				<div class="agenda-row01"><span><span class="optional">Tuesday</span> July&nbsp;14</span></div>
				<div class="agenda-row02"></div>
				<div class="agenda-row03"><span>Flights out</span></div>
				<div class="agenda-row04"></div>
				<div class="agenda-row05"></div>
				<div class="agenda-row06"></div>
				<div class="agenda-row07"></div>
				<div class="agenda-row08"></div>
				<div class="agenda-row09"></div>
				<div class="agenda-row10"></div>
				<div class="agenda-row11"></div>
				<div class="agenda-row12"></div>
				<div class="agenda-row13"></div>
				<div class="agenda-row14"></div>
				<div class="agenda-row15"></div>
				<div class="agenda-row16"></div>
				<div class="agenda-row17"></div>
				<div class="agenda-row18"></div>
				<div class="agenda-row19"></div>
				<div class="agenda-row20"></div>
				<div class="agenda-row21"></div>
				<div class="agenda-row22"></div>
				<div class="agenda-row23"></div>
				<div class="agenda-row24"></div>
				<div class="agenda-row25"></div>
				<div class="agenda-row26"></div>
				<div class="agenda-row27"></div>
				<div class="agenda-row28"></div>
				<div class="agenda-row29"></div>
				<div class="agenda-row30"></div>
				<div class="agenda-row31"></div>
				<div class="agenda-row32"></div>
				<div class="agenda-row33"></div>
				<div class="agenda-row34"></div>
				<div class="agenda-row35"></div>
				<div class="agenda-row36"></div>
				<div class="agenda-row37"></div>
				<div class="agenda-row38"></div>
				<div class="agenda-row39"></div>
				<div class="agenda-row40"></div>
				<div class="agenda-row41"></div>
				<div class="agenda-row42"></div>
			</div>
		</div>
	</div>
</div>
