<% title "LendIt China 2015 Main Agenda Page" %>
<% meta_description "View the main agenda for the LendIt China 2015 Conference." %>
<% meta_keywords "p2p, online lending, peer-to-peer, LendIt China, agenda, conference" %>
<% body_class "china15-agenda" %>

<div class="general-background">
	<div class="row">
		<h1>LendIt China 2015 Itinerary</h1>
<div class="itinerary">
	<ul class="day-07">
		<li class="time-0000">Tuesday, July 7, 2015</li>
		<li class="time-0001">Arrival Flights<br>A driver will meet you at the airport and bring you to the Grand Hyatt Beijing hotel</li>
		<li class="time-1800">LendIt Tour Welcome Dinner at Capital M<br>Meet in Hotel Lobby at 5:45 pm</li>
	</ul>
	<ul class="day-08">
		<li class="time-0000">Wednesday, July 8, 2015</li>
		<li class="time-0001">2015 Mobile International Financial Summit at the 2015 Beijing First Mobile App Exhibition</li>
		<li class="time-0700">Breakfast at Hotel</li>
		<li class="time-0800">Bus departs for China National Convention Center</li>
		<li class="time-0900">Opening remarks at Mobile International Financial Summit</li>
		<li class="time-0930">Keynotes and Presentations</li>
		<li class="time-1125">Visit to Mobile App Exhibition</li>
		<li class="time-1200">Invitation-Only Conference Luncheon</li>
		<li class="time-1400">Keynotes and Roundtable Discussions</li>
		<li class="time-1740">Mobile Application Value List Awards Ceremony</li>
		<li class="time-1800">Walk to Dinner</li>
		<li class="time-1900">Dinner at InterContinental Beijing Beichen</li>
		<li class="time-2030">Bus to Hotel</li>
	</ul>
	<ul class="day-09">
		<li class="time-0000">Thursday, July 9, 2015</li>
		<li class="time-0001">Visit the Great Wall with CreditEase</li>
		<li class="time-0700">Breakfast</li>
		<li class="time-0900">Bus departs for Great Wall<br>*wear comfortable shoes; dress: business casual</li>
		<li class="time-1000">Great Wall Tour</li>
		<li class="time-1230">Lunch at Great Wall</li>
		<li class="time-1400">Bus leaves Great Wall</li>
		<li class="time-1530">Visit CreditEase Office</li>
		<li class="time-1800">Bus leaves for Dinner</li>
		<li class="time-1830">Dinner at 1949 Restaurant hosted by CreditEase</li>
		<li class="time-2000">Bus to Hotel</li>
	</ul>
	<ul class="day-10">
		<li class="time-0000">Friday, July 10, 2015</li>
		<li class="time-0001">Travel Day</li>
		<li class="time-0700">Breakfast at Hotel<br>*check-out & bring luggage to the bus</li>
		<li class="time-0800">Bus leaves Hotel</li>
		<li class="time-0900">Visit Jimubox Office</li>
		<li class="time-1030">Leave for train station</li>
		<li class="time-1249">Travel by train from Beijing to Shanghai<br>Boxed Lunch provided on train</li>
		<li class="time-1830">Bus picks up LendIt Tour at train station</li>
		<li class="time-1900">Bus to dinner</li>
		<li class="time-1930">Dinner at JW Marriott/Tomorrow Square hosted by Lufax</li>
		<li class="time-2200">Bus to hotel</li>
	</ul>
	<ul class="day-11">
		<li class="time-0000">Saturday, July 11, 2015</li>
		<li class="time-0001">The 2015 Bund Summit on Internet Finance Day 1</li>
		<li class="time-0700">Breakfast at Hotel</li>
		<li class="time-0830">Bus departs for Yu Garden<br>*optional cultural activity for those not attending morning closed-door sessions at Bund Summit</li>
		<li class="time-0900">Visit Yu Garden</li>
		<li class="time-1130">Lunch at Inagiku (in hotel, 2nd Floor)</li>
		<li class="time-1330">Bund Summit Registration</li>
		<li class="time-1400">Welcome Remarks & Keynotes</li>
		<li class="time-1630">Breakout Sessions</li>
		<li class="time-1900">Bus to dinner</li>
		<li class="time-1930">Cocktails & Dinner at InterContinental Shanghai Buijin hosted by Quark Finance<br>*dress: cocktail attire</li>
		<li class="time-2130">Bus to hotel</li>
	</ul>
	<ul class="day-12">
		<li class="time-0000">Sunday, July 12, 2015</li>
		<li class="time-0001">The 2015 Bund Summit on Internet Finance Day 2</li>
		<li class="time-0700">Breakfast at Hotel</li>
		<li class="time-0830">Bund Summit Doors Open</li>
		<li class="time-0900">Keynotes followed by Q&A at 11:10</li>
		<li class="time-1200">Conference Luncheon</li>
		<li class="time-1330">Breakout Sessions</li>
		<li class="time-1800">Bus to Dinner</li>
		<li class="time-1900">Dinner at Shang 9 hosted by China Rapid Finance</li>
		<li class="time-2100">Bus to Hotel</li>
	</ul>
	<ul class="day-13">
		<li class="time-0000">Monday, July 13, 2015</li>
		<li class="time-0001">Shanghai Company Visits</li>
		<li class="time-0700">Breakfast at Hotel</li>
		<li class="time-0800">Bus leaves Hotel</li>
		<li class="time-0915">Visit Dianrong Office / Press Conference</li>
		<li class="time-1200">Lunch at Scarpetta Trattoria</li>
		<li class="time-1330">Visit Shanghai Municipal Government<br>Financial Services Office</li>
		<li class="time-1800">Bus leaves for dinner</li>
		<li class="time-1900">Dinner at Coconut Paradise hosted by Dianrong</li>
		<li class="time-2030">Bus to Hotel</li>
	</ul>
	<ul class="day-14">
		<li class="time-0000">Tuesday, July 14, 2015</li>
		<li class="time-0001">Departure Day</li>
		<li class="time-0700">Breakfast at Hotel</li>
		<li class="time-1200">Shanghai Marriott Check-out Time</li>
	</ul>
</div>


	</div>
</div>
