<% title "LendIt USA 2015 Pre-Conference Workshops Page" %>
<% meta_description "View the pre-conference workshops agenda for the LendIt USA 2015 Conference." %>
<% meta_keywords "p2p, online lending, peer-to-peer, LendIt USA, agenda, pre-conference, workshops" %>
<% body_class "usa15-agenda" %>
<div class="general-background">
  <div class="row agenda-main-box">
    <div class="columns">
      <div class="agenda-container">
        <h2>April 13 Agenda</h2>
        <h3>Pre-Conference Workshops</h3>

        <div class="ag13-toggle">
          <span class="ag13-show-time  ag13-active">
            <b>
              by Time
            </b>
          </span>
          <span class="ag13-show-topic">
            <b>
              by Topic
            </b>
          </span>

        </div>

        <div class="ag13-sort-by-time  ag13-active-panel">
          <div class="ag13-section">
            <div class="ag13-header">
              <strong>
                Sponsors:
              </strong>
            </div>
            <ul>
              <li>
                <strong>Credit Boot Camp for Alternative Lending</strong> <br><i> Presented by </i><b> FICO</b>
              </li>
              <li>
                <strong>P2P Lending 101</strong> <br><i>Presented by</i> <b>Lend Academy</b>, <b>Family Office Association</b> <i>&amp;</i> <b>Lending Club</b>
              </li>
              <li>
                <strong>Welcome Cocktail Party</strong> <br><i>Sponsored by</i> <b>Lending Club</b>
              </li>
            </ul>
          </div>
          <div class="ag13-section">
            <div class="ag13-header"><strong>1:00 pm - 2:00 pm</strong></div>
            <div class="ag13-item">
              <div class="ag13-subhead">Credit Bootcamp for Alternative Lending</div>
              <div class="ag13-content">Building a Credit Model</div>
            </div>
            <div class="ag13-item">
              <div class="ag13-subhead">P2P Lending 101</div>
              <div class="ag13-content">Intro to P2P</div>
            </div>
            <div class="ag13-item">
              <div class="ag13-subhead">The Online Lending Technology Ecosystem</div>
              <div class="ag13-content">Investor Side Technology: Part 1</div>
            </div>
            <div class="ag13-item">
              <div class="ag13-subhead">Building an Online Lending Platform</div>
              <div class="ag13-content">Building the Backoffice: Part 1</div>
            </div>
          </div>
          <div class="ag13-section">
            <div class="ag13-header"><strong>2:00 pm — 3:00 pm</strong></div>
            <div class="ag13-item">
              <div class="ag13-subhead">Credit Bootcamp for Alternative Lending</div>
              <div class="ag13-content">Trends in Underwriting</div>
            </div>
            <div class="ag13-item">
              <div class="ag13-subhead">P2P Lending 101</div>
              <div class="ag13-content">How to Become a Lending Club Investor or Borrower</div>
            </div>
            <div class="ag13-item">
              <div class="ag13-subhead">The Online Lending Technology Ecosystem</div>
              <div class="ag13-content">Investor Side Technology: Part 2</div>
            </div>
            <div class="ag13-item">
              <div class="ag13-subhead">Building an Online Lending Platform</div>
              <div class="ag13-content">Building the Backoffice: Part 2</div>
            </div>
          </div>
          <div class="ag13-section">
            <div class="ag13-header"><strong>3:00 pm - 3:30 pm</strong></div>
            <div class="ag13-content">Break</div>
          </div>
          <div class="ag13-section">
            <div class="ag13-header"><strong>3:30 pm - 4:30 pm</strong></div>
            <div class="ag13-item">
              <div class="ag13-subhead">Credit Bootcamp for Alternative Lending</div>
              <div class="ag13-content">Regulatory / Compliance</div>
            </div>
            <div class="ag13-item">
              <div class="ag13-subhead">P2P Lending 101</div>
              <div class="ag13-content">P2P's Fit in Asset Allocation</div>
            </div>
            <div class="ag13-item">
              <div class="ag13-subhead">The Online Lending Technology Ecosystem</div>
              <div class="ag13-content">Borrower Side Technology: Part 1</div>
            </div>
            <div class="ag13-item">
              <div class="ag13-subhead">Building an Online Lending Platform</div>
              <div class="ag13-content">Raising Capital: Venture Capital</div>
            </div>
          </div>
          <div class="ag13-section">
            <div class="ag13-header"><strong>4:30 pm - 5:30 pm</strong></div>
            <div class="ag13-item">
              <div class="ag13-subhead">Credit Bootcamp for Alternative Lending</div>
              <div class="ag13-content">Implementation</div>
            </div>
            <div class="ag13-item">
              <div class="ag13-subhead">P2P Lending 101</div>
              <div class="ag13-content">How Family Offices &amp; RIAs Access P2P</div>
            </div>
            <div class="ag13-item">
              <div class="ag13-subhead">The Online Lending Technology Ecosystem</div>
              <div class="ag13-content">Borrower Side Technology: Part 2</div>
            </div>
            <div class="ag13-item">
              <div class="ag13-subhead">Building an Online Lending Platform</div>
              <div class="ag13-content">Raising Capital: Institutional Money</div>
            </div>
          </div>
          <div class="ag13-section">
            <div class="ag13-header"><strong>6:00 pm - 8:00 pm</strong></div>
            <div class="ag13-item">
              <div class="ag13-content">Welcome Cocktail Party <span style="font-weight:400;">(separate ticket required to attend)</span></div>
            </div>
          </div>
        </div>






        <div class="ag13-sort-by-topic ">
          <div class="ag13-section">
            <div class="ag13-header"><strong>Underwriting for Online Lenders</strong> <br><i>Presented by</i> <b>FICO</b></div>
            <div class="ag13-item">
              <div class="ag13-subhead">1:00 pm - 2:00 pm</div>
              <div class="ag13-content">Building a Credit Model</div>
            </div>
            <div class="ag13-item">
              <div class="ag13-subhead">2:00 pm — 3:00 pm</div>
              <div class="ag13-content">Trends in Underwriting</div>
            </div>
            <div class="ag13-item">
              <div class="ag13-subhead">3:00 pm - 3:30 pm</div>
              <div class="ag13-content">Break</div>
            </div>
            <div class="ag13-item">
              <div class="ag13-subhead">3:30 pm - 4:30 pm</div>
              <div class="ag13-content">Regulatory / Compliance</div>
            </div>
          </div>
          <div class="ag13-section">
            <div class="ag13-header"><strong>P2P Lending 101</strong> <br><i>Presented by</i> <b>Lend Academy</b>, <b>Family Office Association</b> &amp; <b>Lending Club</b></div>
            <div class="ag13-item">
              <div class="ag13-subhead">1:00 pm - 2:00 pm</div>
              <div class="ag13-content">Intro to P2P</div>
            </div>
            <div class="ag13-item">
              <div class="ag13-subhead">2:00 pm — 3:00 pm</div>
              <div class="ag13-content">How to Become a Lending Club Investor or Borrower</div>
            </div>
            <div class="ag13-item">
              <div class="ag13-subhead">3:00 pm - 3:30 pm</div>
              <div class="ag13-content">Break</div>
            </div>
            <div class="ag13-item">
              <div class="ag13-subhead">3:30 pm - 4:30 pm</div>
              <div class="ag13-content">P2P's Fit in Asset Allocation</div>
            </div>
          </div>
          <div class="ag13-section">
            <div class="ag13-header"><strong>The Online Lending Technology Ecosystem</strong></div>
            <div class="ag13-item">
              <div class="ag13-subhead">1:00 pm - 2:00 pm</div>
              <div class="ag13-content">Investor Side Technology: Part 1</div>
            </div>
            <div class="ag13-item">
              <div class="ag13-subhead">2:00 pm — 3:00 pm</div>
              <div class="ag13-content">Investor Side Technology: Part 2</div>
            </div>
            <div class="ag13-item">
              <div class="ag13-subhead">3:00 pm - 3:30 pm</div>
              <div class="ag13-content">Break</div>
            </div>
            <div class="ag13-item">
              <div class="ag13-subhead">3:30 pm - 4:30 pm</div>
              <div class="ag13-content">Borrower Side Technology: Part 1</div>
            </div>
          </div>
          <div class="ag13-section">
            <div class="ag13-header"><strong>Building an Online Lending Platform</strong></div>
            <div class="ag13-item">
              <div class="ag13-subhead">1:00 pm - 2:00 pm</div>
              <div class="ag13-content">Building the Backoffice: Part 1</div>
            </div>
            <div class="ag13-item">
              <div class="ag13-subhead">2:00 pm — 3:00 pm</div>
              <div class="ag13-content">Building the Backoffice: Part 2</div>
            </div>
            <div class="ag13-item">
              <div class="ag13-subhead">3:00 pm - 3:30 pm</div>
              <div class="ag13-content">Break</div>
            </div>
            <div class="ag13-item">
              <div class="ag13-subhead">3:30 pm - 4:30 pm</div>
              <div class="ag13-content">Raising Capital: Venture Capital</div>
            </div>
          </div>
          <div class="ag13-section">
            <div class="ag13-header"><strong>Underwriting for Online Lenders</strong></div>
            <div class="ag13-item">
              <div class="ag13-subhead">4:30 pm - 5:30 pm</div>
              <div class="ag13-content">Implementation</div>
            </div>
            <div class="ag13-item">
              <div class="ag13-subhead">4:30 pm - 5:30 pm</div>
              <div class="ag13-content">How Family Offices &amp; RIAs Access P2P</div>
            </div>
            <div class="ag13-item">
              <div class="ag13-subhead">4:30 pm - 5:30 pm</div>
              <div class="ag13-content">Borrower Side Technology: Part 2</div>
            </div>
            <div class="ag13-item">
              <div class="ag13-subhead">4:30 pm - 5:30 pm</div>
              <div class="ag13-content">Raising Capital: Institutional Money</div>
            </div>
          </div>
          <div class="ag13-section">
            <div class="ag13-header"><strong>Welcome Cocktail Party</strong> <br><i>Sponsored by</i> <b>Lending Club</b> <i style="white-space:normal;">(separate ticket required to attend)</i></div>
            <div class="ag13-item">
              <div class="ag13-subhead">6:00 pm - 8:00 pm</div>
            </div>
          </div>
        </div>

        <div class="preconf-workshops">
          <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
              <tr>
                <th class="preconf-workshop-time">BEGIN</th>
                <th class="preconf-workshop-time">END</th>
                <th>Underwriting for Online Lenders <br>Presented by FICO</th>
                <th>P2P Lending 101 <br>Presented by Lend Academy, Family Office Association &amp; Lending Club</th>
                <th>The Online Lending Technology Ecosystem</th>
                <th>Building an Online Lending Platform</th>
              </tr>
              <tr>
                <td class="preconf-workshop-time">1:00 PM</td>
                <td class="preconf-workshop-time">2:00 PM</td>
                <td>Building a Credit Model</td>
                <td>Intro to P2P</td>
                <td>Investor Side Technology: Part 1</td>
                <td>Building the Backoffice: Part 1</td>
              </tr>
              <tr>
                <td class="preconf-workshop-time">2:00 PM</td>
                <td class="preconf-workshop-time">3:00 PM</td>
                <td>Trends in Underwriting</td>
                <td>How to Become a Lending Club Investor or Borrower</td>
                <td>Investor Side Technology: Part 2</td>
                <td>Building the Backoffice: Part 2</td>
              </tr>
              <tr>
                <td class="preconf-workshop-time">3:00 PM</td>
                <td class="preconf-workshop-time">3:30 PM</td>
                <td>Break</td>
                <td>Break</td>
                <td>Break</td>
                <td>Break</td>
              </tr>
              <tr>
                <td class="preconf-workshop-time">3:30 PM</td>
                <td class="preconf-workshop-time">4:30 PM</td>
                <td>Regulatory / Compliance</td>
                <td>P2P's Fit in Asset Allocation</td>
                <td>Borrower Side Technology: Part 1</td>
                <td>Raising Capital: Venture Capital</td>
              </tr>
              <tr>
                <td class="preconf-workshop-time">4:30 PM</td>
                <td class="preconf-workshop-time">5:30 PM</td>
                <td>Implementation</td>
                <td>How Family Offices &amp; RIAs Access P2P</td>
                <td>Borrower Side Technology: Part 2</td>
                <td>Raising Capital: Institutional Money</td>
              </tr>
              <tr>
                <td class="preconf-workshop-time">6:00 PM</td>
                <td class="preconf-workshop-time">8:00 PM</td>
                <td colspan="4">Welcome Cocktail Party <br>Sponsored by Lending Club (separate ticket required to attend)</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
