<% title "LendIt USA 2015 Pre-Conference Workshops Page" %>
<% meta_description "View the pre-conference workshops agenda for the LendIt USA 2015 Conference." %>
<% meta_keywords "p2p, online lending, peer-to-peer, LendIt USA, agenda, pre-conference, workshops" %>
<% body_class "usa15-agenda" %>
<div class="general-background">
	<div class="row agenda-main-box">
		<div class="columns">
			<div class="agenda-container">
				<h2>April 13 Agenda</h2>
				<h3>Pre-Conference Workshops</h3>
				<div class="ag13-unified">
					<div class="ag13-section" style="background:#fff;">
						<div class="ag13-row ag13-sponsorship">
							<div class="ag13-sponsor-row">
								<div class="ag13-sponsor-item ag13-sponsor-item-under">
									<span>
										Credit Boot Camp for Alternative Lending
									</span>
									<span>
										Presented by FICO
									</span>
								</div>
								<div class="ag13-sponsor-item ag13-sponsor-item-p2p">
									<span>
										P2P Lending 101
									</span>
									<span>
										Presented by Lend Academy, Family Office Association & Lending Club
									</span>
								</div>
								<div class="ag13-sponsor-item ag13-sponsor-item-online">
									<span>
										The Online Lending Technology Ecosystem
									</span>
								</div>
								<div class="ag13-sponsor-item ag13-sponsor-item-build">
									<span>
										Building an Online Lending Platform
									</span>
								</div>
							</div>
						</div>
					</div>
					<div class="ag13-section">

						<div class="ag13-header"><strong>Beginning at 1:00 pm</strong></div>
						<div class="ag13-end">
							&rarr; Ending at 2:00 pm:
						</div>
						<div class="ag13-row">
							<div class="ag13-item ag13-under">
								<a href="#" data-reveal-id="usa15-inside-fico-score">
									<div class="ag13-subhead">Credit Boot Camp for Alternative Lending</div>
									<div class="ag13-content">Inside the FICO<sup>&reg;</sup> Score and Alternative Credit Data<br>
										Julia Wooding, FICO; David Shellenberger, FICO
									</div>
								</a>
							</div>
							<!-- modal -->
							<div id="usa15-inside-fico-score" class="reveal-modal agrev" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
								<div class="agrev-head-area">
									<div class="agrev-head">
										Credit Boot Camp for Alternative Lending
									</div>
									<div class="agrev-subhead">
										Presented by FICO
									</div>
									<div class="agrev-subhead2">
										Inside the FICO<sup>&reg;</sup> Score and Alternative Credit Data
									</div>
									<div>Level 7, Duffy/Columbia Room</div>
								</div>

								<div class="agrev-desc">

									<p>Learn the fundamentals of FICO Scores. What really affects a FICO Score and what doesn’t? Who is scoreable and for what types of consumers are FICO scores applicable? We’ll also explore the use of alternative credit data, and the important considerations when contemplating leveraging new data. </p>
									<div class="agrev-speakers">
										<div class="agrev-speakers-head">
											Speakers:
										</div>
										<div class="agrev-sp">
											<div class="agrev-sp-name">
												Julia Wooding
											</div>
											<div class="agrev-sp-title">
												Principal Consultant &ndash; Scores and Analytics, FICO
											</div>
										</div>
										<div class="agrev-sp">
											<div class="agrev-sp-name">
												David Shellenberger
											</div>
											<div class="agrev-sp-title">
												Senior Director - Scoring and Advanced Analytics
											</div>
										</div>
									</div>
								</div>
								<a class="close-reveal-modal" aria-label="Close">&#215;</a>
							</div>
							<!-- end modal -->

						</div>
						<div class="ag13-row">
							<div class="ag13-item ag13-p2p">
								<a href="#" data-reveal-id="usa15-p2p101">
									<div class="ag13-subhead">P2P Lending 101</div>
									<div class="ag13-content">Intro to P2P<br>Peter Renton, Lend Academy</div>
								</a>
							</div>

							<!-- modal -->
							<div id="usa15-p2p101" class="reveal-modal agrev" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
								<div class="agrev-head-area">
									<div class="agrev-head">
										P2P Lending 101
									</div>
									<div class="agrev-subhead2">
										Intro to P2P
									</div>
									<div>Level 7, Empire Complex</div>
								</div>

								<div class="agrev-desc">
									<p>Learn the basics of P2P lending including:<br>
										&bull; History of the industry<br>
										&bull; The major players today<br>
										&bull; Components of the online lending ecosystem<br>
										&bull; The reasons it is becoming popular<br>
										&bull; The challenges that lie ahead</p>
									<div class="agrev-speakers">
										<div class="agrev-speakers-head">
											Speaker:
										</div>
										<div class="agrev-sp">
											<div class="agrev-sp-name">
												Peter Renton
											</div>
											<div class="agrev-sp-title">
												Founder, Lend Academy
											</div>
										</div>
									</div>
								</div>
								<a class="close-reveal-modal" aria-label="Close">&#215;</a>
							</div>
							<!-- end modal -->

						</div>
						<div class="ag13-end">
							&rarr; Ending at 3:00 pm:
						</div>
						<div class="ag13-row">
							<div class="ag13-item ag13-online">
								<a href="#" data-reveal-id="usa15-investor-side-tech">
									<div class="ag13-subhead">The Online Lending Technology Ecosystem</div>
									<div class="ag13-content">Investor Side Technology<br>Featuring: NSR Invest, LendingRobot, Orchard, PeerTrader</div>
								</a>
							</div>

							<!-- modal -->
							<div id="usa15-investor-side-tech" class="reveal-modal agrev" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
								<div class="agrev-head-area">
									<div class="agrev-head">
										The Online Lending Technology Ecosystem
									</div>
									<div class="agrev-subhead2">
										Investor Side Technology
									</div>
									<div>Level 7, Astor Ballroom
									</div>
								</div>

								<div class="agrev-desc">
									<p>Technology is the glue that connects the entire ecosystem together. Learn from the leading technology companies as they explain how they connect investors to platforms or borrowers to platforms.</p>
									<div class="agrev-speakers-head">
										Speakers:
									</div>
									<div class="agrev-speakers">
										<strong>1:00 pm</strong> NSR Invest: <span class="agrev-sp-name">Michael Phillips, Rocco Galgano, Bo Brustkern</span><br>
										<strong>1:30 pm</strong> LendingRobot: <span class="agrev-sp-name">Emmanuel Marot</span><br>
										<strong>2:00 pm</strong> Orchard: <span class="agrev-sp-name">David Snitkof</span><br>
										<strong>2:30 pm</strong> PeerTrader: <span class="agrev-sp-name">Michael Deck</span>
									</div>
								</div>
								<a class="close-reveal-modal" aria-label="Close">&#215;</a>
							</div>
							<!-- end modal -->

						</div>

						<div class="ag13-row">
							<div class="ag13-item ag13-build">
								<a href="#" data-reveal-id="usa15-building-backoffice-part1">
									<div class="ag13-subhead">Building an Online Lending Platform</div>
									<div class="ag13-content">Building the Back Office - Part 1<br>miiCard, Cloud Lending, National Debt Relief, True Accord, Nortridge Software, First Associates</div>
								</a>
							</div>

							<!-- modal -->
							<div id="usa15-building-backoffice-part1" class="reveal-modal agrev" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
								<div class="agrev-head-area">
									<div class="agrev-head">
										Building an Online Lending Platform
									</div>
									<div class="agrev-subhead2">
										Building the Back Office
									</div>
									<div>Level 7, SoHo Complex
									</div>
								</div>

								<div class="agrev-desc">
									<p>There are many components to building a successful online lending platform. We have assembled experts in virtually every discipline who will share what it takes to create a successful platform.</p>
									<div class="agrev-speakers-head">
										Speakers:
									</div>
									<div class="agrev-speakers">
										<strong>1:00 pm</strong> Identity and Fraud - miiCard: <span class="agrev-sp-name">James Varga</span><br>
										<strong>1:20 pm</strong> Platform Software - Cloud Lending: <span class="agrev-sp-name">Darpan Saini</span><br>
										<strong>1:40 pm</strong> Declines - National Debt Relief: <span class="agrev-sp-name">Daniel Tilipman</span><br>
										<strong>2:00 pm</strong> Collections - True Accord: <span class="agrev-sp-name">Ohad Samet</span><br>
										<strong>2:20 pm</strong> Back Office Software - Nortridge Software: <span class="agrev-sp-name">Kim Stempel</span><br>
										<strong>2:40 pm</strong> Loan Servicing - First Associates: <span class="agrev-sp-name">David Johnson</span>
									</div>
								</div>
								<a class="close-reveal-modal" aria-label="Close">&#215;</a>
							</div>
							<!-- end modal -->
						</div>
					</div>

					<div class="ag13-section">
						<div class="ag13-header"><strong>Beginning at 2:00 pm</strong></div>
						<div class="ag13-end">
							&rarr; Ending at 3:00 pm:
						</div>

						<div class="ag13-row"><div class="ag13-item ag13-under">
							<a href="#" data-reveal-id="usa15-hot-button-regulatory-trends">
								<div class="ag13-subhead">Credit Boot Camp for Alternative Lending</div>
								<div class="ag13-content">Hot Button Regulatory Trends for Online Lenders<br>
									Vance Gudmundsen, FICO; Rick Eckman, Pepper Hamilton; Daniel Nestel, FICO
								</div>
							</a>
						</div>
						<!-- modal -->
						<div id="usa15-hot-button-regulatory-trends" class="reveal-modal agrev" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
							<div class="agrev-head-area">
								<div class="agrev-head">
									Credit Boot Camp for Alternative Lending
								</div>
								<div class="agrev-subhead">
									Presented by FICO
								</div>
								<div class="agrev-subhead2">
									Hot Button Regulatory Trends for Online Lenders
								</div>
								<div>Level 7, Duffy/Columbia Room</div>
							</div>

							<div class="agrev-desc">
								<p>A panel of legal experts will discuss current regulatory trends impacting the online lending community. Regulatory topics will include fair lending, payments, vendor management, UDAAP, credit reporting, federal and state enforcement and more.</p>
								<div class="agrev-speakers">
									<div class="agrev-speakers-head">
										Speakers:
									</div>
									<div class="agrev-sp">
										<div class="agrev-sp-name">
											Vance Gudmundsen
										</div>
										<div class="agrev-sp-title">
											Regulatory Counsel - Vice President, FICO
										</div>
									</div>
									<div class="agrev-sp">
										<div class="agrev-sp-name">
											Rick Eckman
										</div>
										<div class="agrev-sp-title">
											Partner, Pepper Hamilton
										</div>
									</div>
									<div class="agrev-sp">
										<div class="agrev-sp-name">
											Daniel Nestel
										</div>
										<div class="agrev-sp-title">
											Sr. Director - Government Relations, FICO
										</div>
									</div>
								</div>
							</div>
							<a class="close-reveal-modal" aria-label="Close">&#215;</a>
						</div>
						<!-- end modal -->

					</div>
					<div class="ag13-row"><div class="ag13-item ag13-p2p">
						<a href="#" data-reveal-id="usa15-deep-dive-lc">

							<div class="ag13-subhead">P2P Lending 101</div>
							<div class="ag13-content">Deep Dive into Lending Club's Platform<br>Jeff Bogan, Lending Club</div>
						</a>
					</div>

					<!-- modal -->
					<div id="usa15-deep-dive-lc" class="reveal-modal agrev" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
						<div class="agrev-head-area">
							<div class="agrev-head">
								P2P Lending 101
							</div>
							<div class="agrev-subhead2">
								Deep Dive into Lending Club's Platform
							</div>
							<div>Level 7, Empire Complex</div>
						</div>

						<div class="agrev-desc">
							<p>Learn more about the world's largest online credit marketplace in this close look at both the investor and borrower side of Lending Club.</p>
							<div class="agrev-speakers">
								<div class="agrev-speakers-head">
									Speakers:
								</div>
								<div class="agrev-sp">
									<div class="agrev-sp-name">
										Jeff Bogan
									</div>
									<div class="agrev-sp-title">
										Head of Institutional Group, Lending Club
									</div>
								</div>
							</div>
						</div>
						<a class="close-reveal-modal" aria-label="Close">&#215;</a>
					</div>
					<!-- end modal -->

				</div>
			</div>

			<div class="ag13-section">
				<div class="ag13-header"><strong>From 3:00 pm to 3:30 pm</strong></div>
				<div class="ag13-row">
					<div class="ag13-item ag13-generic">
						<div class="ag13-content">Break</div>
					</div>
				</div>
			</div>


			<div class="ag13-section">
				<div class="ag13-header">
					<strong>Beginning at 3:30 pm</strong>
				</div>
				<div class="ag13-end">
					&rarr; Ending at 4:30 pm:
				</div>

				<div class="ag13-row">
					<div class="ag13-item ag13-under">
						<a href="#" data-reveal-id="usa15-6-things">

							<div class="ag13-subhead">Credit Boot Camp for Alternative Lending</div>
							<div class="ag13-content">The 6 Fundamentals That Must Be Part of Your Originations Environment<br>
								Richard Sr., FICO; Kathryn Petralia, Kabbage
							</div>
						</a>
					</div>
					<!-- modal -->
					<div id="usa15-6-things" class="reveal-modal agrev" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
						<div class="agrev-head-area">
							<div class="agrev-head">
								Credit Boot Camp for Alternative Lending
							</div>
							<div class="agrev-subhead">
								Presented by FICO
							</div>
							<div class="agrev-subhead2">
								The 6 Fundamentals That Must Be Part of Your Originations Environment
							</div>
							<div>Level 7, Duffy/Columbia Room</div>
						</div>
						<div class="agrev-desc">
							<p>Regardless whether you are an established lender, someone new to the business or an investor looking for a good place for your money there are fundamentals you expect to see in an originations function. Learn how Kabbage uses some of these fundamentals to drive one of the most dynamic businesses in the market.</p>
							<div class="agrev-speakers">
								<div class="agrev-speakers-head">
									Speakers:
								</div>
								<div class="agrev-sp">
									<div class="agrev-sp-name">
										Richard Dougherty
									</div>
									<div class="agrev-sp-title">
										Sr. Director, Risk Management Line of Business, FICO
									</div>
								</div>
								<div class="agrev-sp">
									<div class="agrev-sp-name">
										Kathryn Petralia
									</div>
									<div class="agrev-sp-title">
										COO & Co-Founder, Kabbage
									</div>
								</div>
							</div>
						</div>
						<a class="close-reveal-modal" aria-label="Close">&#215;</a>
					</div>
					<!-- end modal -->
				</div>


				<div class="ag13-row">
					<div class="ag13-item ag13-p2p">
						<a href="#" data-reveal-id="usa15-p2p-fit-asset-allocation">

							<div class="ag13-subhead">P2P Lending 101</div>
							<div class="ag13-content">P2P's Fit in Asset Allocation for Family Offices & RIAs<br>
								Jeff Andrews, Lending Club; Alexander Melas-Kyriazi, GHF Capital</div>
							</a>
						</div>
						<!-- modal -->
						<div id="usa15-p2p-fit-asset-allocation" class="reveal-modal agrev" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
							<div class="agrev-head-area">
								<div class="agrev-head">
									P2P Lending 101
								</div>
								<div class="agrev-subhead2">
									P2P's Fit in Asset Allocation for Family Offices & RIAs
								</div>
								<div>Level 7, Empire Complex</div>
							</div>
							<div class="agrev-desc">
								<p>In this intimate “fireside chat” session you will hear from a Family Office about how they evaluated this new asset class and its due diligence process before deciding to invest with Lending Club. </p>
								<div class="agrev-speakers">
									<div class="agrev-speakers-head">
										Speakers:
									</div>
									<div class="agrev-sp">
										<div class="agrev-sp-name">
											Jeff Andrews
										</div>
										<div class="agrev-sp-title">
											VP of RIA and Family Office, Lending Club
										</div>
									</div>
									<div class="agrev-sp">
										<div class="agrev-sp-name">
											Alexander Melas-Kyriazi
										</div>
										<div class="agrev-sp-title">
											GHF Capital
										</div>
									</div>
								</div>
							</div>
							<a class="close-reveal-modal" aria-label="Close">&#215;</a>
						</div>
						<!-- end modal -->
					</div>

					<div class="ag13-row">
						<div class="ag13-item ag13-build">
							<a href="#" data-reveal-id="usa15-building-backoffice-part2">

								<div class="ag13-subhead">Building an Online Lending Platform</div>
								<div class="ag13-content">Building the Back Office - Part 2<br>Datamyx, Professional Bank Services, DemystData</div>
							</a>
						</div>
						<!-- modal -->
						<div id="usa15-building-backoffice-part2" class="reveal-modal agrev" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
							<div class="agrev-head-area">
								<div class="agrev-head">
									Building an Online Lending Platform
								</div>
								<div class="agrev-subhead2">
									Building the Back Office - Part 2
								</div>
								<div>Level 7, SoHo Complex
								</div>
							</div>

							<div class="agrev-desc">
								<p>There are many components to building a successful online lending platform. Here we bring you experts in all the important areas.</p>
								<div class="agrev-speakers-head">
									Speakers:
								</div>
								<div class="agrev-speakers">
									<strong>3:30 pm</strong> Borrower Marketing - Datamyx: <span class="agrev-sp-name">Rich Walker</span><br>
									<strong>3:50 pm</strong> Compliance, Laws & Regulations - Professional Bank Services: <span class="agrev-sp-name">Martin L. Mitchell</span><br>
									<strong>4:10 pm</strong> Credit Data - DemystData: <span class="agrev-sp-name">Mark Hookey</span>
								</div>
							</div>
							<a class="close-reveal-modal" aria-label="Close">&#215;</a>
						</div>
						<!-- end modal -->

					</div>


					<div class="ag13-end">
						&rarr; Ending at 5:30 pm:
					</div>
					<div class="ag13-row">
						<div class="ag13-item ag13-online">
							<a href="#" data-reveal-id="usa15-borrower-side-tech">

								<div class="ag13-subhead">The Online Lending Technology Ecosystem</div>
								<div class="ag13-content">Borrower Side Technology<br>Fundera, Credit Karma and Better Finance</div>
							</a>
						</div>


						<!-- modal -->
						<div id="usa15-borrower-side-tech" class="reveal-modal agrev" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
							<div class="agrev-head-area">
								<div class="agrev-head">
									The Online Lending Technology Ecosystem
								</div>
								<div class="agrev-subhead2">
									Borrower Side Technology
								</div>
								<div>Level 7, Astor Ballroom
								</div>
							</div>

							<div class="agrev-desc">
								<p>Technology is the glue that connects the entire ecosystem together. Learn from the leading technology companies as they explain how they connect investors to platforms or borrowers to platforms.</p>
								<div class="agrev-speakers-head">
									Speakers:
								</div>
								<div class="agrev-speakers">
									<strong>3:30 pm</strong> Fundera: <span class="agrev-sp-name">Jared Hecht, Brayden McCarthy</span><br>
									<strong>4:10 pm</strong> Credit Karma: <span class="agrev-sp-name">Amy Wang</span><br>
									<strong>4:50 pm</strong> Better Finance: <span class="agrev-sp-name">Ryan Gilbert</span>
								</div>
							</div>
							<a class="close-reveal-modal" aria-label="Close">&#215;</a>
						</div>
						<!-- end modal -->

					</div>


				</div>
				<div class="ag13-section">
					<div class="ag13-header"><strong>Beginning at 4:30 pm</strong></div>
					<div class="ag13-end">
						&rarr; Ending at 5:30 pm:
					</div>
					<div class="ag13-row"><div class="ag13-item ag13-under">
						<a href="#" data-reveal-id="usa15-investment-checklist">

							<div class="ag13-subhead">Credit Boot Camp for Alternative Lending</div>
							<div class="ag13-content">Your Investment Checklist: Tying it All Together<br>
								Janice Horan, FICO
							</div>
						</a>
					</div>

					<!-- modal -->
					<div id="usa15-investment-checklist" class="reveal-modal agrev" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
						<div class="agrev-head-area">
							<div class="agrev-head">
								Credit Boot Camp for Alternative Lending
							</div>
							<div class="agrev-subhead">
								Presented by FICO
							</div>
							<div class="agrev-subhead2">
								Your Investment Checklist: Tying it All Together
							</div>
							<div>Level 7, Duffy/Columbia Room</div>
						</div>

						<div class="agrev-desc">
							<p>Data. Check. Compliance. Check. Underwriting. Check. Payment Processing – wait, who said anything about payment processing, or exposure management or collections? Join us for this session in which we’ll discuss the other elements needed to ensure that investments in Alternative Lending pay dividends. </p>
							<div class="agrev-speakers">
								<div class="agrev-speakers-head">
									Speakers:
								</div>
								<div class="agrev-sp">
									<div class="agrev-sp-name">
										Janice Horan
									</div>
									<div class="agrev-sp-title">
										Senior Director, Fair Isaac Advisors Lifecycle Risk Practice for Latin America Caribbean and North America, FICO
									</div>
								</div>
							</div>
						</div>
						<a class="close-reveal-modal" aria-label="Close">&#215;</a>
					</div>
					<!-- end modal -->

				</div>
				<div class="ag13-row"><div class="ag13-item ag13-p2p">
					<a href="#" data-reveal-id="usa15-industry-faqs">

						<div class="ag13-subhead">P2P Lending 101</div>
						<div class="ag13-content">Industry FAQs<br>Jeff Bogan, Lending Club; Sid Jajodia, Lending Club</div>
					</a>
				</div>

				<!-- modal -->
				<div id="usa15-industry-faqs" class="reveal-modal agrev" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
					<div class="agrev-head-area">
						<div class="agrev-head">
							P2P Lending 101
						</div>
						<div class="agrev-subhead2">
							Industry FAQs
						</div>
						<div>Level 7, Empire Complex</div>
					</div>

					<div class="agrev-desc">
						<p>Get all your burning questions about marketplace lending and how it works answered in this open Q&A session with experienced Lending Club executives.</p>
						<div class="agrev-speakers">
							<div class="agrev-speakers-head">
								Speakers:
							</div>
							<div class="agrev-sp">
								<div class="agrev-sp-name">
									Jeff Bogan
								</div>
								<div class="agrev-sp-title">
									Head of Institutional Group, Lending Club
								</div>
							</div>
							<div class="agrev-sp">
								<div class="agrev-sp-name">
									Sid Jajodia
								</div>
								<div class="agrev-sp-title">
									Vice President - Small Business, Lending Club
								</div>
							</div>
						</div>
					</div>
					<a class="close-reveal-modal" aria-label="Close">&#215;</a>
				</div>
				<!-- end modal -->

			</div>

			<div class="ag13-row"><div class="ag13-item ag13-build">
				<a href="#" data-reveal-id="usa15-raising-money">

					<div class="ag13-subhead">Building an Online Lending Platform</div>
					<div class="ag13-content">Raising Money: Equity and Debt Capital<br>CapAccel, Middlemarch Partners</div>
				</a>
			</div>

			<!-- modal -->
			<div id="usa15-raising-money" class="reveal-modal agrev" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
				<div class="agrev-head-area">
					<div class="agrev-head">
						Building an Online Lending Platform
					</div>
					<div class="agrev-subhead2">
						Raising Money: Equity and Debt Capital
					</div>
					<div>Level 7, SoHo Complex
					</div>
				</div>

				<div class="agrev-desc">
					<p>There are many components to building a successful online lending platform. We have assembled experts in virtually every discipline who will share what it takes to create a successful platform.</p>
					<div class="agrev-speakers-head">
						Speakers:
					</div>
					<div class="agrev-speakers">
						<strong>4:30 pm</strong> CapAccel: <span class="agrev-sp-name">Jae Lim, Chris Lalli</span><br>
						<strong>5:00 pm</strong> Middlemarch Partners: <span class="agrev-sp-name">Demetris Papademetriou, Kim Anderson</span>
					</div>
				</div>
				<a class="close-reveal-modal" aria-label="Close">&#215;</a>
			</div>
			<!-- end modal -->
		</div>
	</div>

	<div class="ag13-section">
		<div class="ag13-header"><strong>From 6:00 pm to 8:00 pm</strong></div>
		<div class="ag13-row ag13-row-lendingclub"><div class="ag13-item ag13-party">
			<a href="#" data-reveal-id="usa15-building-backoffice-fraud-prevention">

				<div class="ag13-content">Welcome Cocktail Party<br>Sponsored by LendingClub </div>
				<div class="ag13-subhead">
					Separate ticket required to attend
				</div>
			</a>
		</div>

		<!-- modal -->
		<div id="usa15-inside-fico-score" class="reveal-modal agrev" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
			<div class="agrev-head-area">
				<div class="agrev-head">
					Credit Boot Camp for Alternative Lending
				</div>
				<div class="agrev-subhead">
					Presented by FICO
				</div>
				<div class="agrev-subhead2">
					Inside the FICO<sup>&reg;</sup> Score and Alternative Credit Data<br>
					Level 7, Duffy / Columbia Room
				</div>
			</div>

			<div class="agrev-desc">
				<p>Learn the fundamentals of FICO Scores. What really affects a FICO Score and what doesn’t? Who is scoreable and for what types of consumers are FICO scores applicable? We’ll also explore the use of alternative credit data, and the important considerations when contemplating leveraging new data. </p>
				<div class="agrev-speakers">
					<div class="agrev-speakers-head">
						Speakers:
					</div>
					<div class="agrev-sp">
						<div class="agrev-sp-name">
							Julia Wooding
						</div>
						<div class="agrev-sp-title">
							Principal Consultant &ndash; Scores and Analytics, FICO
						</div>
					</div>
					<div class="agrev-sp">
						<div class="agrev-sp-name">
							David Shellenberger
						</div>
						<div class="agrev-sp-title">
							Senior Director - Scoring and Advanced Analytics
						</div>
					</div>
				</div>
			</div>
			<a class="close-reveal-modal" aria-label="Close">&#215;</a>
		</div>
		<!-- end modal -->

	</div>
</div>
</div>
<h2>April 14 - April 15</h2>
<h3><a href="/usa/2015/agenda">Extended Agenda <i class="fa fa-arrow-circle-right"></i></a></h3>
</div>
</div>
</div>
</div>
