<% title "LendIt USA 2015 Pre-Conference Workshops Page" %>
<% meta_description "View the pre-conference workshops agenda for the LendIt USA 2015 Conference." %>
<% meta_keywords "p2p, online lending, peer-to-peer, LendIt USA, agenda, pre-conference, workshops" %>
<% body_class "usa15-agenda" %>
<div class="general-background">
	<div class="row agenda-main-box">
		<div class="columns">
			<div class="agenda-container">
				<h2>April 13 Agenda</h2>
				<h3>Pre-Conference Workshops</h3>

				<div class="ag13-unified">
					<div class="ag13-section" style="background:#fff;">
						<div class="ag13-row ag13-sponsorship">
							<div class="ag13-sponsor-row">
								<div class="ag13-sponsor-item ag13-sponsor-item-under">
									<span>
										Credit Boot Camp for Alternative Lending
									</span>
									<span>
										Presented by FICO
									</span>
								</div>
								<div class="ag13-sponsor-item ag13-sponsor-item-p2p">
									<span>
										P2P Lending 101
									</span>
									<span>
										Presented by Lend Academy, Family Office Association & Lending Club
									</span>
								</div>
								<div class="ag13-sponsor-item ag13-sponsor-item-online">
									<span>
										The Online Lending Technology Ecosystem
									</span>
								</div>
								<div class="ag13-sponsor-item ag13-sponsor-item-build">
									<span>
										Building an Online Lending Platform
									</span>
								</div>
							</div>
						</div>
					</div>
					<div class="ag13-section">
						<div class="ag13-header"><strong>Beginning at 1:00 pm</strong></div>
						<div class="ag13-end">
							&rarr; Ending at 2:00 pm:
						</div>
						<div class="ag13-row">
							<div class="ag13-item ag13-under">
								<div class="ag13-subhead">Credit Boot Camp for Alternative Lending</div>
								<div class="ag13-content">Inside the FICO<sup>&reg;</sup> Score and Alternative Credit Data</div>
							</div>
						</div>
						<div class="ag13-row">
							<div class="ag13-item ag13-p2p">
								<div class="ag13-subhead">P2P Lending 101</div>
								<div class="ag13-content">Intro to P2P</div>
								<div>Jeff Bogan, Lending Club</div>
							</div>
						</div>
						<div class="ag13-end">
							&rarr; Ending at 3:00 pm:
						</div>
						<div class="ag13-row">
							<div class="ag13-item ag13-online">
								<div class="ag13-subhead">The Online Lending Technology Ecosystem</div>
								<div class="ag13-content">Investor Side Technology featuring: Lend Academy Investments, LendingRobot, Orchard and PeerTrader</div>
							</div>
						</div>
						<div class="ag13-row">
							<div class="ag13-item ag13-build">
								<div class="ag13-subhead">Building an Online Lending Platform</div>
								<div class="ag13-content">Building the Back Office: Credit, Fraud Prevention, Software, Collections, Loan Servicing, Compliance and Declines</div>
							</div>
						</div>
					</div>
					<div class="ag13-section">
						<div class="ag13-header"><strong>Beginning at 2:00 pm</strong></div>
						<div class="ag13-end">
							&rarr; Ending at 3:00 pm:
						</div>
						<div class="ag13-row"><div class="ag13-item ag13-under">
								<div class="ag13-subhead">Credit Boot Camp for Alternative Lending</div>
								<div class="ag13-content">Hot Button Regulatory Trends for Online Lenders</div>
						</div></div>
						<div class="ag13-row"><div class="ag13-item ag13-p2p">
								<div class="ag13-subhead">P2P Lending 101</div>
								<div class="ag13-content">Deep Dive into Lending Club's Platform</div>
						</div></div>
					</div>
					<div class="ag13-section">
						<div class="ag13-header"><strong>From 3:00 pm to 3:30 pm</strong></div>
						<div class="ag13-row">
							<div class="ag13-item ag13-generic">
								<div class="ag13-content">Break</div>
							</div>
						</div>
					</div>
					<div class="ag13-section">
						<div class="ag13-header"><strong>Beginning at 3:30 pm</strong></div>
						<div class="ag13-end">
							&rarr; Ending at 4:30 pm:
						</div>
						<div class="ag13-row">
							<div class="ag13-item ag13-under">
								<div class="ag13-subhead">Credit Boot Camp for Alternative Lending</div>
								<div class="ag13-content">What 6 Things Should a Lender Always Have in Originations</div>
							</div>
						</div>
						<div class="ag13-row">
							<div class="ag13-item ag13-p2p">
								<div class="ag13-subhead">P2P Lending 101</div>
								<div class="ag13-content">Industry FAQs</div>
								<div>Jeff Andrews</div>
							</div>
						</div>
						<div class="ag13-end">
							&rarr; Ending at 5:30 pm:
						</div>
						<div class="ag13-row">
							<div class="ag13-item ag13-online">
								<div class="ag13-subhead">The Online Lending Technology Ecosystem</div>
								<div class="ag13-content">Borrower Side Technology featuring: Fundera, Credit Karma and Better Finance</div>
							</div>
						</div>
						<div class="ag13-row"><div class="ag13-item ag13-build">
								<div class="ag13-subhead">Building an Online Lending Platform</div>
								<div class="ag13-content">Raising Money: Equity and Debt Capital</div>
						</div></div>
					</div>
					<div class="ag13-section">
						<div class="ag13-header"><strong>Beginning at 4:30 pm</strong></div>
						<div class="ag13-end">
							&rarr; Ending at 5:30 pm:
						</div>
						<div class="ag13-row"><div class="ag13-item ag13-under">
								<div class="ag13-subhead">Credit Boot Camp for Alternative Lending</div>
								<div class="ag13-content">Your Investment Checklist: Tying it All Together</div>
						</div></div>
						<div class="ag13-row"><div class="ag13-item ag13-p2p">
								<div class="ag13-subhead">P2P Lending 101 Featuring Lending Club</div>
								<div class="ag13-content">Industry FAQs</div>
						</div></div>
					</div>
					<div class="ag13-section">
						<div class="ag13-header"><strong>From 6:00 pm to 8:00 pm</strong></div>
						<div class="ag13-row ag13-row-lendingclub"><div class="ag13-item ag13-party">
								<div class="ag13-content">Welcome Cocktail Party&mdash;sponsored by LendingClub </div>
								<div class="ag13-subhead">
									(separate ticket required to attend)
								</div>
						</div></div>
					</div>
				</div>

				<h2>April 14 - April 15</h2>
				<h3><a href="/usa/2015/agenda">Extended Agenda <i class="fa fa-arrow-circle-right"></i></a></h3>
			</div>
		</div>
	</div>
</div>
