<% title "LendIt USA 2015 Agenda Page" %>
<% meta_description "View the agenda for the LendIt USA 2015 Conference." %>
<% meta_keywords "p2p, online lending, peer-to-peer, LendIt USA, agenda, conference" %>
<% body_class "usa15-agenda" %>

<div class="general-background">
<div class="row agenda-main-box">
  <div class="columns">
    <h1>Agenda</h1>
    <dl id="magellanTopNav" class="sub-nav ag-nav" data-magellan-expedition="fixed">
      <div class="ag-area">
        <div class="ag-date">
          <div class="ag-group">
            <dd data-magellan-arrival="apr13"><a href="#apr13">April 13</a></dd>
            <dd data-magellan-arrival="apr14"><a href="#apr14">April 14</a></dd>
            <dd data-magellan-arrival="apr15"><a href="#apr15">April 15</a></dd>
          </div>
        </div>
        <div class="ag-track">
          <div class="ag-group">
            <span class="ag-dd ag-track-main "> <b>Main Track</b> </span>
            <span class="ag-dd ag-track-astor "> <b>Astor Room</b> </span>
            <span class="ag-dd ag-track-china "> <b>China Track</b> </span>
            <span class="ag-dd ag-track-demo "> <b>Company Demos</b> </span>
          </div>
        </div>
      </div>
    </dl>
    <a name="apr13" data-magellan-destination="apr13"></a>
    <div class="agenda-container">
    <h2>April 13</h2>


		<div class="preconf-workshops">
			<table cellpadding="0" cellspacing="0" border="0">
				<tbody>
					<tr>
						<th class="preconf-workshop-time">BEGIN</th>
						<th class="preconf-workshop-time">END</th>
						<th>Underwriting for Online Lenders presented by FICO</th>
						<th>P2P Lending 101 presented by Lend Academy, Family Office Association &amp; Lending Club</th>
						<th>The Online Lending Technology Ecosystem</th>
						<th>Building an Online Lending Platform</th>
					</tr>
					<tr>
						<td class="preconf-workshop-time">1:00 PM</td>
						<td class="preconf-workshop-time">2:00 PM</td>
						<td>Building a Credit Model</td>
						<td>Intro to P2P</td>
						<td>Investor Side Technology: Part 1</td>
						<td>Building the Backoffice: Part 1</td>
					</tr>
					<tr>
						<td class="preconf-workshop-time">2:00 PM</td>
						<td class="preconf-workshop-time">3:00 PM</td>
						<td>Trends in Underwriting</td>
						<td>How to Become a Lending Club Investor or Borrower</td>
						<td>Investor Side Technology: Part 2</td>
						<td>Building the Backoffice: Part 2</td>
					</tr>
					<tr>
						<td class="preconf-workshop-time">3:00 PM</td>
						<td class="preconf-workshop-time">3:30 PM</td>
						<td>Break</td>
						<td>Break</td>
						<td>Break</td>
						<td>Break</td>
					</tr>
					<tr>
						<td class="preconf-workshop-time">3:30 PM</td>
						<td class="preconf-workshop-time">4:30 PM</td>
						<td>Regulatory / Compliance</td>
						<td>P2P's Fit in Asset Allocation</td>
						<td>Borrower Side Technology: Part 1</td>
						<td>Raising Capital: Venture Capital</td>
					</tr>
					<tr>
						<td class="preconf-workshop-time">4:30 PM</td>
						<td class="preconf-workshop-time">5:30 PM</td>
						<td>Implementation</td>
						<td>How Family Offices &amp; RIAs Access P2P</td>
						<td>Borrower Side Technology: Part 2</td>
						<td>Raising Capital: Institutional Money</td>
					</tr>
					<tr>
						<td class="preconf-workshop-time">6:00 PM</td>
						<td class="preconf-workshop-time">8:00 PM</td>
						<td colspan="4">Welcome Cocktail Party sponsored by Lending Club (separate ticket required to attend)</td>
					</tr>
				</tbody>
		</table>
	</div>


    </div>
    <a name="apr14" data-magellan-destination="apr14"></a>
    <div class="agenda-container">
    <h2>April 14</h2>
      <div class="agenda-item agenda-main">
        <div class="agenda-row">
          <div class="agenda-ts">
            <span class="agenda-tsfr">8:30</span><span class="agenda-tshp">–</span><span class="agenda-tsto">8:40</span>
          </div>
          <div class="agenda-title"><a href="#">Main track item</a></div>
          <div class="agenda-track">Main Track</div>
        </div>
      </div>
			<div class="agenda-item agenda-astor">
        <div class="agenda-row">
          <div class="agenda-ts">
            <span class="agenda-tsfr">9:25</span><span class="agenda-tshp">–</span><span class="agenda-tsto">9:45</span>
          </div>
          <div class="agenda-title"><a href="#">Global Online Lending Leaders</a></div>
          <div class="agenda-track">Astor Room</div>
        </div>
      </div>
			<div class="agenda-item agenda-demo">
        <div class="agenda-row">
          <div class="agenda-ts">
            <span class="agenda-tsfr">8:40</span><span class="agenda-tshp">–</span><span class="agenda-tsto">9:25</span>
          </div>
          <div class="agenda-title"><a href="#">Company demo track item</a></div>
          <div class="agenda-track">Demo Track</div>
        </div>
      </div>
			<div class="agenda-item agenda-china">
        <div class="agenda-row">
          <div class="agenda-ts">
            <span class="agenda-tsfr">8:40</span><span class="agenda-tshp">–</span><span class="agenda-tsto">9:25</span>
          </div>
          <div class="agenda-title"><a href="#">China track item</a></div>
          <div class="agenda-track">China Track</div>
        </div>
      </div>
      <div class="agenda-item agenda-main">
        <div class="agenda-row">
          <div class="agenda-ts">
            <span class="agenda-tsfr">8:40</span><span class="agenda-tshp">–</span><span class="agenda-tsto">9:25</span>
          </div>
          <div class="agenda-title"><a href="#">Signature Keynote: Renaud Laplanche, Lending Club</a></div>
          <div class="agenda-track">Main Track</div>
        </div>
      </div>
      <div class="agenda-item agenda-main">
        <div class="agenda-row">
          <div class="agenda-ts">
            <span class="agenda-tsfr">9:25</span><span class="agenda-tshp">–</span><span class="agenda-tsto">9:45</span>
          </div>
          <div class="agenda-title"><a href="#">Presentation: Market Analysis - Global Overview with Peter Renton</a></div>
          <div class="agenda-track">Main Track</div>
        </div>
      </div>
      <div class="agenda-item agenda-astor">
        <div class="agenda-row">
          <div class="agenda-ts">
            <span class="agenda-tsfr">9:25</span><span class="agenda-tshp">–</span><span class="agenda-tsto">9:45</span>
          </div>
          <div class="agenda-title"><a href="#">Global Online Lending Leaders</a></div>
          <div class="agenda-track">Astor Room</div>
        </div>
      </div>
      <div class="agenda-item agenda-main">
        <div class="agenda-row">
          <div class="agenda-ts">
            <span class="agenda-tsfr">9:50</span><span class="agenda-tshp">–</span><span class="agenda-tsto">10:35</span>
          </div>
          <div class="agenda-title"><a href="#">Consumer Lending - The Quest For Scale</a></div>
          <div class="agenda-track">Main Track</div>
        </div>
      </div>
      <div class="agenda-item agenda-astor">
        <div class="agenda-row">
          <div class="agenda-ts">
            <span class="agenda-tsfr">9:50</span><span class="agenda-tshp">–</span><span class="agenda-tsto">10:25</span>
          </div>
          <div class="agenda-title"><a href="#">Small Business Lending Innovators</a></div>
          <div class="agenda-track">Astor Room</div>
        </div>
      </div>
      <div class="agenda-item agenda-main">
        <div class="agenda-row">
          <div class="agenda-ts">
            <span class="agenda-tsfr">10:35</span><span class="agenda-tshp">–</span><span class="agenda-tsto">11:05</span>
          </div>
          <div class="agenda-title"><span>Break</span></div>
          <div class="agenda-track">Main Track</div>
        </div>
      </div>
      <div class="agenda-item agenda-astor">
        <div class="agenda-row">
          <div class="agenda-ts">
            <span class="agenda-tsfr">10:35</span><span class="agenda-tshp">–</span><span class="agenda-tsto">11:05</span>
          </div>
          <div class="agenda-title"><span>Break</span></div>
          <div class="agenda-track">Astor Room</div>
        </div>
      </div>
      <div class="agenda-item agenda-main"><div class="agenda-row">
        <div class="agenda-ts">
          <span class="agenda-tsfr">11:05</span><span class="agenda-tshp">–</span><span class="agenda-tsto">11:50</span>
        </div>
        <div class="agenda-title"><a href="#">Bulls vs Bears with Nigel Morris</a></div>
        <div class="agenda-track">Main Track</div>
      </div></div>
      <div class="agenda-item agenda-astor"><div class="agenda-row">
        <div class="agenda-ts">
          <span class="agenda-tsfr">11:05</span><span class="agenda-tshp">–</span><span class="agenda-tsto">11:25</span>
        </div>
        <div class="agenda-title"><a href="#">Borrower Acquisition at Scale</a></div>
        <div class="agenda-track">Astor Room</div>
      </div></div>
      <div class="agenda-item agenda-astor">
        <div class="agenda-row">
          <div class="agenda-ts">
            <span class="agenda-tsfr">11:30</span><span class="agenda-tshp">–</span><span class="agenda-tsto">12:00</span>
          </div>
          <div class="agenda-title"><a href="#">Student Loans</a></div>
          <div class="agenda-track">Astor Room</div>
        </div>
      </div>
      <div class="agenda-item agenda-main">
        <div class="agenda-row">
          <div class="agenda-ts">
            <span class="agenda-tsfr">11:55</span><span class="agenda-tshp">–</span><span class="agenda-tsto">12:35</span>
          </div>
          <div class="agenda-title"><a href="#">Partnering with Banks</a></div>
          <div class="agenda-track">Main Track</div>
        </div>
      </div>
      <div class="agenda-item agenda-astor">
        <div class="agenda-row">
          <div class="agenda-ts">
            <span class="agenda-tsfr">12:05</span><span class="agenda-tshp">–</span><span class="agenda-tsto">12:35</span>
          </div>
          <div class="agenda-title"><a href="#">Big Data in Credit Decisioning</a></div>
          <div class="agenda-track">Astor Room</div>
        </div>
      </div>
      <div class="agenda-item agenda-main">
        <div class="agenda-row">
          <div class="agenda-ts">
            <span class="agenda-tsfr">12:35</span><span class="agenda-tshp">–</span><span class="agenda-tsto">13:35</span>
          </div>
          <div class="agenda-title"><a href="#">Lunch Buffet &amp; Exhibitor Interaction</a></div>
          <div class="agenda-track">Main Track</div>
        </div>
      </div>
      <div class="agenda-item agenda-astor">
        <div class="agenda-row">
          <div class="agenda-ts">
            <span class="agenda-tsfr">12:35</span><span class="agenda-tshp">–</span><span class="agenda-tsto">13:35</span>
          </div>
          <div class="agenda-title"><a href="#">Lunch Buffet &amp; Exhibitor Interaction</a></div>
          <div class="agenda-track">Astor Room</div>
        </div>
      </div>
      <div class="agenda-item agenda-main">
        <div class="agenda-row">
          <div class="agenda-ts">
            <span class="agenda-tsfr">13:35</span><span class="agenda-tshp">–</span><span class="agenda-tsto">14:05</span>
          </div>
          <div class="agenda-title"><a href="#">Special Presentation: Samir Desai, Funding Circle</a></div>
          <div class="agenda-track">Main Track</div>
        </div>
      </div>
      <div class="agenda-item agenda-astor">
        <div class="agenda-row">
          <div class="agenda-ts">
            <span class="agenda-tsfr">13:35</span><span class="agenda-tshp">–</span><span class="agenda-tsto">14:05</span>
          </div>
          <div class="agenda-title"><a href="#">Trends in Credit Underwriting</a></div>
          <div class="agenda-track">Astor Room</div>
        </div>
      </div>
      <div class="agenda-item agenda-main">
        <div class="agenda-row">
          <div class="agenda-ts">
            <span class="agenda-tsfr">14:05</span><span class="agenda-tshp">–</span><span class="agenda-tsto">14:45</span>
          </div>
          <div class="agenda-title"><a href="#">The European Online Lending Opportunity</a></div>
          <div class="agenda-track">Main Track</div>
        </div>
      </div>
      <div class="agenda-item agenda-astor">
        <div class="agenda-row">
          <div class="agenda-ts">
            <span class="agenda-tsfr">14:05</span><span class="agenda-tshp">–</span><span class="agenda-tsto">14:15</span>
          </div>
          <div class="agenda-title"><a href="#">The Intersection of Lending Innovation &amp; Regulation</a></div>
          <div class="agenda-track">Astor Room</div>
        </div>
      </div>
      <div class="agenda-item agenda-astor">
        <div class="agenda-row">
          <div class="agenda-ts">
            <span class="agenda-tsfr">14:15</span><span class="agenda-tshp">–</span><span class="agenda-tsto">14:45</span>
          </div>
          <div class="agenda-title"><a href="#">Regulation: Building Principles-Based Compliance</a></div>
          <div class="agenda-track">Astor Room</div>
        </div>
      </div>
      <div class="agenda-item agenda-main">
        <div class="agenda-row">
          <div class="agenda-ts">
            <span class="agenda-tsfr">14:50</span><span class="agenda-tshp">–</span><span class="agenda-tsto">15:35</span>
          </div>
          <div class="agenda-title"><a href="#">High Yield, Short Duration: Invoice &amp; Receivables</a></div>
          <div class="agenda-track">Main Track</div>
        </div>
      </div>
      <div class="agenda-item agenda-astor">
        <div class="agenda-row">
          <div class="agenda-ts">
            <span class="agenda-tsfr">14:50</span><span class="agenda-tshp">–</span><span class="agenda-tsto">15:20</span>
          </div>
          <div class="agenda-title"><a href="#">Financing Thin File and Underbanked Borrowers</a></div>
          <div class="agenda-track">Astor Room</div>
        </div>
      </div>
      <div class="agenda-item agenda-astor">
        <div class="agenda-row">
          <div class="agenda-ts">
            <span class="agenda-tsfr">15:20</span><span class="agenda-tshp">–</span><span class="agenda-tsto">15:50</span>
          </div>
          <div class="agenda-title"><span>Break</span></div>
          <div class="agenda-track">Astor Room</div>
        </div>
      </div>
      <div class="agenda-item agenda-main">
        <div class="agenda-row">
          <div class="agenda-ts">
            <span class="agenda-tsfr">15:35</span><span class="agenda-tshp">–</span><span class="agenda-tsto">16:05</span>
          </div>
          <div class="agenda-title"><span>Break</span></div>
          <div class="agenda-track">Main Track</div>
        </div>
      </div>
      <div class="agenda-item agenda-astor">
        <div class="agenda-row">
          <div class="agenda-ts">
            <span class="agenda-tsfr">15:50</span><span class="agenda-tshp">–</span><span class="agenda-tsto">16:20</span>
          </div>
          <div class="agenda-title"><a href="#">Purchase Finance</a></div>
          <div class="agenda-track">Astor Room</div>
        </div>
      </div>
      <div class="agenda-item agenda-main">
        <div class="agenda-row">
          <div class="agenda-ts">
            <span class="agenda-tsfr">16:05</span><span class="agenda-tshp">–</span><span class="agenda-tsto">16:35</span>
          </div>
          <div class="agenda-title"><a href="#">Fireside Chat with Greg Gibb, CEO, Lufax</a></div>
          <div class="agenda-track">Main Track</div>
        </div>
      </div>
      <div class="agenda-item agenda-astor">
        <div class="agenda-row">
          <div class="agenda-ts">
            <span class="agenda-tsfr">16:25</span><span class="agenda-tshp">–</span><span class="agenda-tsto">16:55</span>
          </div>
          <div class="agenda-title"><a href="#">Powering the Lending Ecosystem</a></div>
          <div class="agenda-track">Astor Room</div>
        </div>
      </div>
      <div class="agenda-item agenda-main">
        <div class="agenda-row">
          <div class="agenda-ts">
            <span class="agenda-tsfr">16:40</span><span class="agenda-tshp">–</span><span class="agenda-tsto">17:25</span>
          </div>
          <div class="agenda-title"><a href="#">The Largest P2P Market in the World: China</a></div>
          <div class="agenda-track">Main Track</div>
        </div>
      </div>
      <div class="agenda-item agenda-astor">
        <div class="agenda-row">
          <div class="agenda-ts">
            <span class="agenda-tsfr">17:00</span><span class="agenda-tshp">–</span><span class="agenda-tsto">17:30</span>
          </div>
          <div class="agenda-title"><a href="#">Scaling the Individual Investor</a></div>
          <div class="agenda-track">Astor Room</div>
        </div>
      </div>
      <div class="agenda-item agenda-main">
        <div class="agenda-row">
          <div class="agenda-ts">
            <span class="agenda-tsfr">17:30</span><span class="agenda-tshp">–</span><span class="agenda-tsto">18:00</span>
          </div>
          <div class="agenda-title"><a href="#">Closing Keynote: Ron Suber, Prosper</a></div>
          <div class="agenda-track">Main Track</div>
        </div>
      </div>
      <div class="agenda-item agenda-main">
        <div class="agenda-row">
          <div class="agenda-ts">
            <span class="agenda-tsfr">18:00</span><span class="agenda-tshp">–</span><span class="agenda-tsto">19:00</span>
          </div>
          <div class="agenda-title"><a href="#">Cocktail Party - Sponsored by SoFi</a></div>
          <div class="agenda-track">Main Track</div>
        </div>
      </div>
    </div>
    <a name="apr15" data-magellan-destination="apr15"></a>
    <div class="agenda-container">
    <h2>April 15</h2>
      <div class="agenda-item agenda-main">
        <div class="agenda-row">
          <div class="agenda-ts">
            <span class="agenda-tsfr">8:30</span><span class="agenda-tshp">–</span><span class="agenda-tsto">8:40</span>
          </div>
          <div class="agenda-title"><a href="#">Opening Remarks</a></div>
          <div class="agenda-track">Main Track</div>
        </div>
      </div>
      <div class="agenda-item agenda-main">
        <div class="agenda-row">
          <div class="agenda-ts">
            <span class="agenda-tsfr">8:40</span><span class="agenda-tshp">–</span><span class="agenda-tsto">9:25</span>
          </div>
          <div class="agenda-title"><a href="#">Signature Keynote: Renaud Laplanche, Lending Club</a></div>
          <div class="agenda-track">Main Track</div>
        </div>
      </div>
      <div class="agenda-item agenda-main">
        <div class="agenda-row">
          <div class="agenda-ts">
            <span class="agenda-tsfr">9:25</span><span class="agenda-tshp">–</span><span class="agenda-tsto">9:45</span>
          </div>
          <div class="agenda-title"><a href="#">Presentation: Market Analysis - Global Overview with Peter Renton</a></div>
          <div class="agenda-track">Main Track</div>
        </div>
      </div>
      <div class="agenda-item agenda-astor">
        <div class="agenda-row">
          <div class="agenda-ts">
            <span class="agenda-tsfr">9:25</span><span class="agenda-tshp">–</span><span class="agenda-tsto">9:45</span>
          </div>
          <div class="agenda-title"><a href="#">Global Online Lending Leaders</a></div>
          <div class="agenda-track">Astor Room</div>
        </div>
      </div>
      <div class="agenda-item agenda-main">
        <div class="agenda-row">
          <div class="agenda-ts">
            <span class="agenda-tsfr">9:50</span><span class="agenda-tshp">–</span><span class="agenda-tsto">10:35</span>
          </div>
          <div class="agenda-title"><a href="#">Consumer Lending - The Quest For Scale</a></div>
          <div class="agenda-track">Main Track</div>
        </div>
      </div>
      <div class="agenda-item agenda-astor">
        <div class="agenda-row">
          <div class="agenda-ts">
            <span class="agenda-tsfr">9:50</span><span class="agenda-tshp">–</span><span class="agenda-tsto">10:25</span>
          </div>
          <div class="agenda-title"><a href="#">Small Business Lending Innovators</a></div>
          <div class="agenda-track">Astor Room</div>
        </div>
      </div>
      <div class="agenda-item agenda-main">
        <div class="agenda-row">
          <div class="agenda-ts">
            <span class="agenda-tsfr">10:35</span><span class="agenda-tshp">–</span><span class="agenda-tsto">11:05</span>
          </div>
          <div class="agenda-title"><span>Break</span></div>
          <div class="agenda-track">Main Track</div>
        </div>
      </div>
      <div class="agenda-item agenda-astor">
        <div class="agenda-row">
          <div class="agenda-ts">
            <span class="agenda-tsfr">10:35</span><span class="agenda-tshp">–</span><span class="agenda-tsto">11:05</span>
          </div>
          <div class="agenda-title"><span>Break</span></div>
          <div class="agenda-track">Astor Room</div>
        </div>
      </div>
      <div class="agenda-item agenda-main"><div class="agenda-row">
        <div class="agenda-ts">
          <span class="agenda-tsfr">11:05</span><span class="agenda-tshp">–</span><span class="agenda-tsto">11:50</span>
        </div>
        <div class="agenda-title"><a href="#">Bulls vs Bears with Nigel Morris</a></div>
        <div class="agenda-track">Main Track</div>
      </div></div>
      <div class="agenda-item agenda-astor"><div class="agenda-row">
        <div class="agenda-ts">
          <span class="agenda-tsfr">11:05</span><span class="agenda-tshp">–</span><span class="agenda-tsto">11:25</span>
        </div>
        <div class="agenda-title"><a href="#">Borrower Acquisition at Scale</a></div>
        <div class="agenda-track">Astor Room</div>
      </div></div>
      <div class="agenda-item agenda-astor">
        <div class="agenda-row">
          <div class="agenda-ts">
            <span class="agenda-tsfr">11:30</span><span class="agenda-tshp">–</span><span class="agenda-tsto">12:00</span>
          </div>
          <div class="agenda-title"><a href="#">Student Loans</a></div>
          <div class="agenda-track">Astor Room</div>
        </div>
      </div>
      <div class="agenda-item agenda-main">
        <div class="agenda-row">
          <div class="agenda-ts">
            <span class="agenda-tsfr">11:55</span><span class="agenda-tshp">–</span><span class="agenda-tsto">12:35</span>
          </div>
          <div class="agenda-title"><a href="#">Partnering with Banks</a></div>
          <div class="agenda-track">Main Track</div>
        </div>
      </div>
      <div class="agenda-item agenda-astor">
        <div class="agenda-row">
          <div class="agenda-ts">
            <span class="agenda-tsfr">12:05</span><span class="agenda-tshp">–</span><span class="agenda-tsto">12:35</span>
          </div>
          <div class="agenda-title"><a href="#">Big Data in Credit Decisioning</a></div>
          <div class="agenda-track">Astor Room</div>
        </div>
      </div>
      <div class="agenda-item agenda-main">
        <div class="agenda-row">
          <div class="agenda-ts">
            <span class="agenda-tsfr">12:35</span><span class="agenda-tshp">–</span><span class="agenda-tsto">13:35</span>
          </div>
          <div class="agenda-title"><a href="#">Lunch Buffet &amp; Exhibitor Interaction</a></div>
          <div class="agenda-track">Main Track</div>
        </div>
      </div>
      <div class="agenda-item agenda-astor">
        <div class="agenda-row">
          <div class="agenda-ts">
            <span class="agenda-tsfr">12:35</span><span class="agenda-tshp">–</span><span class="agenda-tsto">13:35</span>
          </div>
          <div class="agenda-title"><a href="#">Lunch Buffet &amp; Exhibitor Interaction</a></div>
          <div class="agenda-track">Astor Room</div>
        </div>
      </div>
      <div class="agenda-item agenda-main">
        <div class="agenda-row">
          <div class="agenda-ts">
            <span class="agenda-tsfr">13:35</span><span class="agenda-tshp">–</span><span class="agenda-tsto">14:05</span>
          </div>
          <div class="agenda-title"><a href="#">Special Presentation: Samir Desai, Funding Circle</a></div>
          <div class="agenda-track">Main Track</div>
        </div>
      </div>
      <div class="agenda-item agenda-astor">
        <div class="agenda-row">
          <div class="agenda-ts">
            <span class="agenda-tsfr">13:35</span><span class="agenda-tshp">–</span><span class="agenda-tsto">14:05</span>
          </div>
          <div class="agenda-title"><a href="#">Trends in Credit Underwriting</a></div>
          <div class="agenda-track">Astor Room</div>
        </div>
      </div>
      <div class="agenda-item agenda-main">
        <div class="agenda-row">
          <div class="agenda-ts">
            <span class="agenda-tsfr">14:05</span><span class="agenda-tshp">–</span><span class="agenda-tsto">14:45</span>
          </div>
          <div class="agenda-title"><a href="#">The European Online Lending Opportunity</a></div>
          <div class="agenda-track">Main Track</div>
        </div>
      </div>
      <div class="agenda-item agenda-astor">
        <div class="agenda-row">
          <div class="agenda-ts">
            <span class="agenda-tsfr">14:05</span><span class="agenda-tshp">–</span><span class="agenda-tsto">14:15</span>
          </div>
          <div class="agenda-title"><a href="#">The Intersection of Lending Innovation &amp; Regulation</a></div>
          <div class="agenda-track">Astor Room</div>
        </div>
      </div>
      <div class="agenda-item agenda-astor">
        <div class="agenda-row">
          <div class="agenda-ts">
            <span class="agenda-tsfr">14:15</span><span class="agenda-tshp">–</span><span class="agenda-tsto">14:45</span>
          </div>
          <div class="agenda-title"><a href="#">Regulation: Building Principles-Based Compliance</a></div>
          <div class="agenda-track">Astor Room</div>
        </div>
      </div>
      <div class="agenda-item agenda-main">
        <div class="agenda-row">
          <div class="agenda-ts">
            <span class="agenda-tsfr">14:50</span><span class="agenda-tshp">–</span><span class="agenda-tsto">15:35</span>
          </div>
          <div class="agenda-title"><a href="#">High Yield, Short Duration: Invoice &amp; Receivables</a></div>
          <div class="agenda-track">Main Track</div>
        </div>
      </div>
      <div class="agenda-item agenda-astor">
        <div class="agenda-row">
          <div class="agenda-ts">
            <span class="agenda-tsfr">14:50</span><span class="agenda-tshp">–</span><span class="agenda-tsto">15:20</span>
          </div>
          <div class="agenda-title"><a href="#">Financing Thin File and Underbanked Borrowers</a></div>
          <div class="agenda-track">Astor Room</div>
        </div>
      </div>
      <div class="agenda-item agenda-astor">
        <div class="agenda-row">
          <div class="agenda-ts">
            <span class="agenda-tsfr">15:20</span><span class="agenda-tshp">–</span><span class="agenda-tsto">15:50</span>
          </div>
          <div class="agenda-title"><span>Break</span></div>
          <div class="agenda-track">Astor Room</div>
        </div>
      </div>
      <div class="agenda-item agenda-main">
        <div class="agenda-row">
          <div class="agenda-ts">
            <span class="agenda-tsfr">15:35</span><span class="agenda-tshp">–</span><span class="agenda-tsto">16:05</span>
          </div>
          <div class="agenda-title"><span>Break</span></div>
          <div class="agenda-track">Main Track</div>
        </div>
      </div>
      <div class="agenda-item agenda-astor">
        <div class="agenda-row">
          <div class="agenda-ts">
            <span class="agenda-tsfr">15:50</span><span class="agenda-tshp">–</span><span class="agenda-tsto">16:20</span>
          </div>
          <div class="agenda-title"><a href="#">Purchase Finance</a></div>
          <div class="agenda-track">Astor Room</div>
        </div>
      </div>
      <div class="agenda-item agenda-main">
        <div class="agenda-row">
          <div class="agenda-ts">
            <span class="agenda-tsfr">16:05</span><span class="agenda-tshp">–</span><span class="agenda-tsto">16:35</span>
          </div>
          <div class="agenda-title"><a href="#">Fireside Chat with Greg Gibb, CEO, Lufax</a></div>
          <div class="agenda-track">Main Track</div>
        </div>
      </div>
      <div class="agenda-item agenda-astor">
        <div class="agenda-row">
          <div class="agenda-ts">
            <span class="agenda-tsfr">16:25</span><span class="agenda-tshp">–</span><span class="agenda-tsto">16:55</span>
          </div>
          <div class="agenda-title"><a href="#">Powering the Lending Ecosystem</a></div>
          <div class="agenda-track">Astor Room</div>
        </div>
      </div>
      <div class="agenda-item agenda-main">
        <div class="agenda-row">
          <div class="agenda-ts">
            <span class="agenda-tsfr">16:40</span><span class="agenda-tshp">–</span><span class="agenda-tsto">17:25</span>
          </div>
          <div class="agenda-title"><a href="#">The Largest P2P Market in the World: China</a></div>
          <div class="agenda-track">Main Track</div>
        </div>
      </div>
      <div class="agenda-item agenda-astor">
        <div class="agenda-row">
          <div class="agenda-ts">
            <span class="agenda-tsfr">17:00</span><span class="agenda-tshp">–</span><span class="agenda-tsto">17:30</span>
          </div>
          <div class="agenda-title"><a href="#">Scaling the Individual Investor</a></div>
          <div class="agenda-track">Astor Room</div>
        </div>
      </div>
      <div class="agenda-item agenda-main">
        <div class="agenda-row">
          <div class="agenda-ts">
            <span class="agenda-tsfr">17:30</span><span class="agenda-tshp">–</span><span class="agenda-tsto">18:00</span>
          </div>
          <div class="agenda-title"><a href="#">Closing Keynote: Ron Suber, Prosper</a></div>
          <div class="agenda-track">Main Track</div>
        </div>
      </div>
      <div class="agenda-item agenda-main">
        <div class="agenda-row">
          <div class="agenda-ts">
            <span class="agenda-tsfr">18:00</span><span class="agenda-tshp">–</span><span class="agenda-tsto">19:00</span>
          </div>
          <div class="agenda-title"><a href="#">Cocktail Party - Sponsored by SoFi</a></div>
          <div class="agenda-track">Main Track</div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
