<% title "LendIt USA 2015 Agenda Page" %>
<% meta_description "View the agenda for the LendIt USA 2015 Conference." %>
<% meta_keywords "p2p, online lending, peer-to-peer, LendIt USA, agenda, conference" %>

<main>

  <section>


        <div class="columns medium-12 large-12">
          <div class="eu14-agenda">
            <div class="eu14-header-area">
              <div class="eu14-header">LendIt Europe Agenda </div>
              <div class="eu14-download-agenda"> <a href="https://s3-us-west-2.amazonaws.com/lendit/uploads/lendit-europe-agenda.pdf"> Download the PDF <i class="fa fa-arrow-circle-right"></i></a></div>
            </div>
            <div class="home-agenda-tabs">
              <h3 class="am-button on">Morning</h3>
              <h3 class="pm-button">Afternoon</h3>
            </div>
            <table class="am-agenda">
              <tr>
                <td>8:00 - 9:00</td>
                <td>
                  <div>Breakfast &amp; Registration</div>
                </td>
              </tr>
              <tr>
                <td>9:00 - 9:05</td>
                <td>
                  <div>Opening Remarks</div>
                  <div>Peter Renton, Lend Academy</div>
                </td>
              </tr>
              <tr>
                <td>9:05 - 9:25</td>
                <td>
                  <div>Why P2P Lending is a Good Thing</div>
                  <div>Rhydian Lewis, RateSetter</div>
                </td>
              </tr>
              <tr>
                <td>9:25 - 9:45</td>
                <td>
                  <div>A Banking Analyst's Perspective on P2P</div>
                  <div>Cormac Leech, Liberum</div>
                </td>
              </tr>
              <tr>
                <td>9:45 - 10:30</td>
                <td>
                  <div>Trends in UK Consumer P2P Lending</div>
                  <div>Giles Andrews, Zopa</div>
                  <div>Peter Behrens, RateSetter</div>
                  <div>Nicholas Harding, Lending Works</div>
                  <div>Moderator: Simon Champ, P2P Capital Solutions</div>
                </td>
              </tr>
              <tr>
                <td>10:30 - 10:50</td>
                <td>
                  <div>Morning Tea</div>
                </td>
              </tr>
              <tr>
                <td>10:50 - 11:10</td>
                <td>
                  <div>Global Lessons in Marketplace Lending to Small Businesses</div>
                  <div>Samir Desai, Funding Circle</div>
                </td>
              </tr>
              <tr>
                <td>11:10 - 11:55</td>
                <td>
                  <div>Supporting Small Businesses with P2P Lending</div>
                  <div>Kevin Caley, ThinCats</div>
                  <div>Angus Dent, ArchOver</div>
                  <div>Samir Desai, Funding Circle</div>
                  <div>Nicola Horlick, Money&amp;Co.</div>
                  <div>Anil Stocker, MarketInvoice</div>
                  <div>Moderator: Cormac Leech, Liberum</div>
                </td>
              </tr>
              <tr>
                <td>12:00 - 12:45</td>
                <td>
                  <div>Property Investing: The Next Frontier</div>
                  <div>Christian Faes, LendInvest</div>
                  <div>John Goodall, Landbay</div>
                  <div>Luke Jooste, Funding Circle</div>
                  <div>Stuart Law, Assetz Capital</div>
                  <div>Graham Wellesley, Wellesley &amp; Co.</div>
                  <div>Moderator: John Corey, Property Fortress</div>
                </td>
              </tr>
              <tr>
                <td>12:45 - 13:45</td>
                <td>
                  <div>Lunch</div>
                </td>
              </tr>
            </table>
            <table class="pm-agenda off">
              <tr>
                <td>13:45 - 14:30</td>
                <td>
                  <div>The State of P2P Lending in Continental Europe</div>
                  <div>Charles Egley, Pr&ecirc;t d'Union</div>
                  <div>Raffael Johnen, auxmoney</div>
                  <div>Heikki Koivu, Fixura</div>
                  <div>Michele Novelli, Prestiamoci</div>
                  <div>C&eacute;dric Teissier, Finexkap</div>
                  <div>Moderator: Claus Lehmann, P2P-Banking.com</div>
                </td>
              </tr>
              <tr>
                <td>14:35 - 14:55</td>
                <td>
                  <div>Peer-to-Peer Lending, Born in a Barn</div>
                  <div>Giles Andrews, Zopa</div>
                </td>
              </tr>
              <tr>
                <td>15:00 - 15:40</td>
                <td>
                  <div>Challenges of Cross-Border P2P lending</div>
                  <div>Sebastian Hagman, TrustBuddy</div>
                  <div>Christoph Rieche, iwoca</div>
                  <div>Dominik Steink&uuml;ehler, Lendico</div>
                  <div>P&auml;rtel Tomberg, Bondora</div>
                  <div>Moderator: David Stevenson, AltFi</div>
                </td>
              </tr>
              <tr>
                <td>15:40 - 16:00</td>
                <td>
                  <div>Afternoon Tea</div>
                </td>
              </tr>
              <tr>
                <td>16:00 - 16:30</td>
                <td>
                  <div>Leading Innovation at Big Bank Scale</div>
                  <div>Nigel Morris, QED Investors</div>
                </td>
              </tr>
              <tr>
                <td>16:30 - 17:10</td>
                <td>
                  <div>What the Arrival of Institutional Investors Means for Europe</div>
                  <div>Etienne Boillot, Shepherd Capital</div>
                  <div>Simon Champ, P2P Capital Solutions</div>
                  <div>Geoffrey Richard Miller, GLI Finance Ltd.</div>
                  <div>Charles Moldow, Foundation Capital</div>
                  <div>Moderator: Matt Burton, Orchard</div>
                </td>
              </tr>
              <tr>
                <td>17:10 - 17:40</td>
                <td>
                  <div>A Glimpse of the Future: Next Generation P2P Lending Models</div>
                  <div>David Bradley-Ward, Ablrate</div>
                  <div>Martin Macmillan, Pollen.vc</div>
                  <div>Radoslav Albrecht, Bitbond</div>
                  <div>Moderator: Jason Jones, Lend Academy</div>
                </td>
              </tr>
              <tr>
                <td>17:40 - 18:00</td>
                <td>
                  <div>The Voice of the People: Insights from the Latest Peer-to-Peer Lending Research</div>
                  <div>Bryan Zhang, University of Cambridge</div>
                </td>
              </tr>
              <tr>
                <td>18:00 - 19:30</td>
                <td>
                  <div>Evening Networking &amp; Cocktail Reception</div>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>

  </section>

</main>