<% title "LendIt USA 2015 Agenda Page" %>
<% meta_description "View the agenda for the LendIt USA 2015 Conference." %>
<% meta_keywords "p2p, online lending, peer-to-peer, LendIt USA, agenda, conference" %>
<% body_class "usa15-agenda" %>
<div class="general-background">
	<div class="row agenda-main-box ag-show-main ag-show-astor ag-show-real-estate ag-show-demo ag-show-real-estate">

		<div class="columns">

			<div class="agenda-container" style="border-bottom:1px solid #ccc; margin-bottom:3em; padding-bottom:2em;">
				<h2>April 13 Agenda</h2>
				<h3><a href="/usa/2015/pre-conference-workshops">Pre-Conference Workshops <i class="fa fa-arrow-circle-right"></i></a></h3>
			</div>

			<dl id="magellanTopNav" class="sub-nav ag-nav" data-magellan-expedition="fixed">
				<div class="ag-area">
					<div class="ag-date open">
						<div class="ag-group">
							<!-- <dd data-magellan-arrival="apr13"><a href="#apr13"><span class="ag-date-month">April</span> <span class="ag-date-number">13</span></a></dd> -->
							<dd data-magellan-arrival="apr14"><a href="#apr14"><span class="ag-date-month">April</span> <span class="ag-date-number">14</span></a></dd>
							<dd data-magellan-arrival="apr15"><a href="#apr15"><span class="ag-date-month">April</span> <span class="ag-date-number">15</span></a></dd>
						</div>
					</div>
					<div class="ag-track">
						<div class="ag-track-inner">
							<div class="seltra">
								<div class="seltra-inner">
									<div class="fa fa-location-arrow"></div> <div class="seltra-text"><span class="seltra-sel">Select</span> <span class="seltra-tra">Tracks</span> <span class="fa fa-angle-down"></span></div>
								</div>
							</div>
							<div class="ag-group">
								<span class="ag-dd ag-track-main"><b>Main Track</b></span>
								<span class="ag-dd ag-track-astor"><b>Track 2</b></span>
								<span class="ag-dd ag-track-real-estate"><b>Real Estate Track</b></span>
								<!-- <span class="ag-dd ag-track-china"><b>China Track</b></span> -->
								<span class="ag-dd ag-track-demo"><b>Demo Track</b></span>
								<!-- <span class="ag-dd ag-track-qanda"><b>Q&A</b></span> -->
							</div>
						</div>
					</div>
				</div>
			</dl>
			<!--		<a name="apr13" data-magellan-destination="apr13"></a> -->
			<div class="agenda-container">

				<a name="apr14" data-magellan-destination="apr14"></a>
				<div class="agenda-container">
					<h2>April 14 Agenda</h2>
					<div class="agenda-item agenda-main">
						<div class="agenda-row">
							<div class="agenda-ts">
								<span class="agenda-tsfr">8:30</span><span class="agenda-tshp">–</span><span class="agenda-tsto">8:40</span>
							</div>
							<div class="agenda-title"><span>Opening Remarks</span></div>
							<div class="agenda-track">Main Track</div>
						</div>
					</div>

					<div class="agenda-item agenda-main">
						<div class="agenda-row">
							<div class="agenda-ts">
								<span class="agenda-tsfr">8:40</span><span class="agenda-tshp">–</span><span class="agenda-tsto">9:25</span>
							</div>
							<div class="agenda-title"><a href="#" data-reveal-id="usa15-laplanche">Signature Keynote<br>
								Renaud Laplanche, Lending Club</a></div>
								<div class="agenda-track">Main Track</div>
							</div>

							<div id="usa15-laplanche" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
								<h3>Signature Keynote</h3>
								<p>Main Track</p>
								<p>Renaud Laplanche, Lending Club</p>
								<a class="close-reveal-modal" aria-label="Close">&#215;</a>
							</div>
						</div>
						<div class="agenda-item agenda-china">
							<div class="agenda-row">
								<div class="agenda-ts">
									<span class="agenda-tsfr">8:40</span><span class="agenda-tshp">–</span><span class="agenda-tsto">9:25</span>
								</div>
								<div class="agenda-title"><a href="#" onClick="return false;">China Track</a></div>
								<div class="agenda-track">China Track</div>
							</div>
						</div>
						<div class="agenda-item agenda-qanda">
							<div class="agenda-row">
								<div class="agenda-ts">
									<span class="agenda-tsfr">9:25</span><span class="agenda-tshp">–</span><span class="agenda-tsto">9:45</span>
								</div>
								<div class="agenda-title"><a href="#" onClick="return false;">Q&amp;A</a></div>
								<div class="agenda-track">Q&amp;A</div>
							</div>
						</div>

						<div class="agenda-item agenda-demo">
							<div class="agenda-row">
								<div class="agenda-ts">
									<span class="agenda-tsfr">9:28</span><span class="agenda-tshp">–</span><span class="agenda-tsto">9:38</span>
								</div>
								<div class="agenda-title"><span>Finexkap</span></div>
								<div class="agenda-track">Demo Track</div>
							</div>
						</div>

						<div class="agenda-item agenda-main">
							<div class="agenda-row">
								<div class="agenda-ts">
									<span class="agenda-tsfr">9:25</span><span class="agenda-tshp">–</span><span class="agenda-tsto">9:45</span>
								</div>
								<div class="agenda-title"><a href="#" data-reveal-id="usa15-renton">Presentation: Market Analysis - Global Overview<br>
									Peter Renton, Lend Academy</a></div>
									<div class="agenda-track">Main Track</div>
								</div>

								<div id="usa15-renton" class="reveal-modal" data-reveal>
									<h3>Market Analysis</h3>
									<p>Main Track</p>
									<p>Peter Renton, Lend Academy</p>
									<a class="close-reveal-modal" aria-label="Close">&#215;</a>
								</div>
							</div>
							<div class="agenda-item agenda-astor">
								<div class="agenda-row">
									<div class="agenda-ts">
										<span class="agenda-tsfr">9:30</span><span class="agenda-tshp">–</span><span class="agenda-tsto">10:00</span>
									</div>
									<div class="agenda-title">
										<a href="#" data-reveal-id="usa15-global-online-lending">Global Online Lending Leaders<br>
											Afluenta, Harmoney, SocietyOne, Ovamba, Millennium Trust, Foundation Capital</a>
										</div>
										<div class="agenda-track">Track 2</div>
										<div id="usa15-global-online-lending" class="reveal-modal" data-reveal aria-hidden="true" role="dialog">
											<h3>Global Online Lending Leaders</h3>
											<p>Track 2</p>
											<p>Alejandro Consentino, Afluenta<br>
												Neil Roberts, Harmoney<br>
												Greg Symons, SocietyOne<br>
												Viola Lleuwellyn, Ovamba<br>
												Meg Zwick, Millennium Trust<br>
												Moderator: Rodolfo Gonzalez, Foundation Capital</p>
												<a class="close-reveal-modal" aria-label="Close">&#215;</a>
											</div>
										</div>
									</div>
									<div class="agenda-item agenda-demo">
										<div class="agenda-row">
											<div class="agenda-ts">
												<span class="agenda-tsfr">9:40</span><span class="agenda-tshp">–</span><span class="agenda-tsto">9:50</span>
											</div>
											<div class="agenda-title"><span>The Interface Financial Group</span></div>
											<div class="agenda-track">Demo Track</div>
										</div>
									</div>
									<div class="agenda-item agenda-main">
										<div class="agenda-row">
											<div class="agenda-ts">
												<span class="agenda-tsfr">9:50</span><span class="agenda-tshp">–</span><span class="agenda-tsto">10:35</span>
											</div>
											<div class="agenda-title">
												<a href="#" data-reveal-id="usa15-consumer-lending">Consumer Lending: The Quest For Scale<br>
													Lending Club, Prosper, Credit Karma, LendingTree, Loftopia, Goldman Sachs
												</a>
											</div>
											<div class="agenda-track">Main Track</div>
											<div id="usa15-consumer-lending" class="reveal-modal" data-reveal>
												<h3>Consumer Lending: The Quest For Scale</h3>
												<p>Main Track</p>
												<p>
													Scott Sanborn, Lending Club<br>
													Aaron Vermut, Prosper<br>
													Kenneth Lin, Credit Karma<br>
													Doug Lebda, LendingTree<br>
													Tyler Smith, Loftopia<br>
													Moderator: Heath Terry, Goldman Sachs
													<a class="close-reveal-modal" aria-label="Close">&#215;</a>
												</p>
											</div>
										</div>
									</div>
<!-- 									<div class="agenda-item agenda-demo">
										<div class="agenda-row">
											<div class="agenda-ts">
												<span class="agenda-tsfr">9:53</span><span class="agenda-tshp">–</span><span class="agenda-tsto">10:03</span>
											</div>
											<div class="agenda-title"><span>Finexkap</span></div>
											<div class="agenda-track">Demo Track</div>
										</div>
									</div> -->
									<div class="agenda-item agenda-astor">
										<div class="agenda-row">
											<div class="agenda-ts">
												<span class="agenda-tsfr">10:05</span><span class="agenda-tshp">–</span><span class="agenda-tsto">10:35</span>
											</div>
											<div class="agenda-title"><a href="#" data-reveal-id="usa15-small-biz-innov">Small Business Lending Innovators<br>
												StreetShares, Bond Street, Lighter Capital, LiftForward, ApplePie Capital, Overland
											</a></div>
											<div class="agenda-track">Track 2</div>
											<div id="usa15-small-biz-innov" class="reveal-modal" data-reveal>

												<h3>Small Business Lending Innovators</h3>
												<p>Track 2</p>
												<p>Mark Rockefeller, StreetShares<br>
													David Haber, Bond Street<br>
													BJ Lackland, Lighter Capital<br>
													Jeffrey Rogers, LiftForward<br>
													Denise Thomas, ApplePie Capital<br>
													Moderator: Peter Sterling, Overland</p>
													<a class="close-reveal-modal" aria-label="Close">&#215;</a>

												</div>
											</div>
										</div>
										<div class="agenda-item agenda-demo">
											<div class="agenda-row">
												<div class="agenda-ts">
													<span class="agenda-tsfr">10:06</span><span class="agenda-tshp">–</span><span class="agenda-tsto">10:16</span>
												</div>
												<div class="agenda-title"><span>The Credit Junction</span></div>
												<div class="agenda-track">Demo Track</div>
											</div>
										</div>
										<div class="agenda-item agenda-demo">
											<div class="agenda-row">
												<div class="agenda-ts">
													<span class="agenda-tsfr">10:19</span><span class="agenda-tshp">–</span><span class="agenda-tsto">10:29</span>
												</div>
												<div class="agenda-title"><span>Lenddo</span></div>
												<div class="agenda-track">Demo Track</div>
											</div>
										</div>
										<div class="agenda-item agenda-main">
											<div class="agenda-row">
												<div class="agenda-ts">
													<span class="agenda-tsfr">10:35</span><span class="agenda-tshp">–</span><span class="agenda-tsto">11:05</span>
												</div>
												<div class="agenda-title"><span>Morning Coffee Break</div>
												<div class="agenda-track">Main Track</div>
											</div>
										</div>
										<div class="agenda-item agenda-astor">
											<div class="agenda-row">
												<div class="agenda-ts">
													<span class="agenda-tsfr">10:35</span><span class="agenda-tshp">–</span><span class="agenda-tsto">11:05</span>
												</div>
												<div class="agenda-title"><span>Morning Coffee Break</span></div>
												<div class="agenda-track">Track 2</div>
											</div>
										</div>
										<div class="agenda-item agenda-main"><div class="agenda-row">
											<div class="agenda-ts">
												<span class="agenda-tsfr">11:05</span><span class="agenda-tshp">–</span><span class="agenda-tsto">11:50</span>
											</div>
											<div class="agenda-title"><a href="#" data-reveal-id="usa15-hot-btn-issues">Hot Button Issues in Online Lending<br>
												Mike Cagney, SoFi; Bobby Mehta, ex-TransUnion; Nigel Morris, of QED
											</a></div>
											<div class="agenda-track">Main Track</div>
											<div id="usa15-hot-btn-issues" class="reveal-modal" data-reveal>

												<h3>Hot Button Issues in Online Lending</h3>
												<p>Main Track</p>
												<p>
													Mike Cagney, SoFi<br>
													Bobby Mehta, former President & CEO of TransUnion<br>
													Moderator: Nigel Morris, QED
												</p>
												<a class="close-reveal-modal" aria-label="Close">&#215;</a>

											</div>
										</div></div>

										<div class="agenda-item agenda-demo">
											<div class="agenda-row">
												<div class="agenda-ts">
													<span class="agenda-tsfr">11:08</span><span class="agenda-tshp">–</span><span class="agenda-tsto">11:18</span>
												</div>
												<div class="agenda-title"><span>Orchard</span></div>
												<div class="agenda-track">Demo Track</div>
											</div>
										</div>
										<div class="agenda-item agenda-demo">
											<div class="agenda-row">
												<div class="agenda-ts">
													<span class="agenda-tsfr">11:21</span><span class="agenda-tshp">–</span><span class="agenda-tsto">11:31</span>
												</div>
												<div class="agenda-title"><span>FastPay</span></div>
												<div class="agenda-track">Demo Track</div>
											</div>
										</div>
										<div class="agenda-item agenda-astor"><div class="agenda-row">
											<div class="agenda-ts">
												<span class="agenda-tsfr">11:05</span><span class="agenda-tshp">–</span><span class="agenda-tsto">11:25</span>
											</div>
											<div class="agenda-title" data-reveal-id="usa15-wealth-managers">
												<a href="#">The Financial Advisor's Approach to Marketplace Lending<br>
													LendingRobot, Lend Academy Investments, Private Advisory Group, Nexus Strategies</a>
												</div>
												<div class="agenda-track">Track 2</div>
												<div id="usa15-wealth-managers" class="reveal-modal" data-reveal>

													<h3>The Financial Advisor's Approach to Marketplace Lending</h3>
													<p>Track 2</p>
													<p>
														Emmanuel Marot, LendingRobot<br>
														Bo Brustkern, Lend Academy Investments<br>
														Douglas Bean, Private Advisory Group<br>
														Moderator: Tim Welsh, Nexus Strategies</p>
														<a class="close-reveal-modal" aria-label="Close">&#215;</a>

													</div>
												</div></div>
												<div class="agenda-item agenda-astor">
													<div class="agenda-row">
														<div class="agenda-ts">
															<span class="agenda-tsfr">11:30</span><span class="agenda-tshp">–</span><span class="agenda-tsto">12:00</span>
														</div>
														<div class="agenda-title"><a href="#" data-reveal-id="usa15-credit-underwriting">Trends in Credit Underwriting<br>Equifax, Orchard, LendUp, FICO, Jefferies</a></div>
														<div class="agenda-track">Track 2</div>
														<div id="usa15-credit-underwriting" class="reveal-modal" data-reveal>

															<h3>Trends In Credit Underwriting</h3>
															<p>Track 2</p>
															<p>Jeff Knott, Equifax<br>
																Angela Ceresnie, Orchard<br>
																Sasha Orloff, LendUp<br>
																Tim Van Tassel, FICO<br>
																Moderator: John Hecht, Jefferies</p>
																<a class="close-reveal-modal" aria-label="Close">&#215;</a>

															</div>
														</div>
													</div>
													<div class="agenda-item agenda-demo">
														<div class="agenda-row">
															<div class="agenda-ts">
																<span class="agenda-tsfr">11:34</span><span class="agenda-tshp">–</span><span class="agenda-tsto">11:44</span>
															</div>
															<div class="agenda-title"><span>Funding Circle</span></div>
															<div class="agenda-track">Demo Track</div>
														</div>
													</div>
													<div class="agenda-item agenda-demo">
														<div class="agenda-row">
															<div class="agenda-ts">
																<span class="agenda-tsfr">11:47</span><span class="agenda-tshp">–</span><span class="agenda-tsto">11:57</span>
															</div>
															<div class="agenda-title"><span>Upstart</span></div>
															<div class="agenda-track">Demo Track</div>
														</div>
													</div>

													<div class="agenda-item agenda-main">
														<div class="agenda-row">
															<div class="agenda-ts">
																<span class="agenda-tsfr">11:55</span><span class="agenda-tshp">–</span><span class="agenda-tsto">12:35</span>
															</div>
															<div class="agenda-title"><a href="#" data-reveal-id="usa15-partnering-banks">Partnering with Banks<br>Union Bank, Alliance Partners, Blue Yield, Lending Club, LendKey, Oliver Wyman
															</a></div>
															<div class="agenda-track">Main Track</div>
															<div id="usa15-partnering-banks" class="reveal-modal" data-reveal>

																<h3>Partnering with Banks</h3>
																<p>Main Track</p>
																<p>John Colbourne, Union Bank<br>
																	Brian Graham, Alliance Partners<br>
																	Jeff Danford, Blue Yield<br>
																	Andrew Deringer, Lending Club<br>
																	Vince Passione, LendKey<br>
																	Moderator: Ben Hoffman, Oliver Wyman</p>
																	<a class="close-reveal-modal" aria-label="Close">&#215;</a>

																</div>
															</div>
														</div>
														<div class="agenda-item agenda-demo">
															<div class="agenda-row">
																<div class="agenda-ts">
																	<span class="agenda-tsfr">12:00</span><span class="agenda-tshp">–</span><span class="agenda-tsto">12:10</span>
																</div>
																<div class="agenda-title"><span>SoFi</span></div>
																<div class="agenda-track">Demo Track</div>
															</div>
														</div>
														<div class="agenda-item agenda-demo">
															<div class="agenda-row">
																<div class="agenda-ts">
																	<span class="agenda-tsfr">12:13</span><span class="agenda-tshp">–</span><span class="agenda-tsto">12:23</span>
																</div>
																<div class="agenda-title"><span>LiftForward</span></div>
																<div class="agenda-track">Demo Track</div>
															</div>
														</div>

														<div class="agenda-item agenda-astor">
															<div class="agenda-row">
																<div class="agenda-ts">
																	<span class="agenda-tsfr">12:05</span><span class="agenda-tshp">–</span><span class="agenda-tsto">12:35</span>
																</div>
																<div class="agenda-title"><a href="#" data-reveal-id="usa15-big-data">Big Data and the Future of Financing<br>RetailCapital, OnDeck, Fundera, Upstart, Avant, Orchard</a></div>
																<div class="agenda-track">Track 2</div>
																<div id="usa15-big-data" class="reveal-modal" data-reveal>

																	<h3>Big Data and the Future of Financing</h3>
																	<p>Track 2</p>
																	<p>
																		Glenn Goldman, RetailCapital<br>
																		Noah Breslow, OnDeck<br>
																		Jared Hecht, Fundera<br>
																		Paul Gu, Upstart<br>
																		John Sun, Avant<br>
																		David Snitkof, Orchard</p>
																		<a class="close-reveal-modal" aria-label="Close">&#215;</a>

																	</div>
																</div>
															</div>

															<div class="agenda-item agenda-demo">
																<div class="agenda-row">
																	<div class="agenda-ts">
																		<span class="agenda-tsfr">12:26</span><span class="agenda-tshp">–</span><span class="agenda-tsto">12:36</span>
																	</div>
																	<div class="agenda-title"><span>ID Analytics</span></div>
																	<div class="agenda-track">Demo Track</div>
																</div>
															</div>
															<div class="agenda-item agenda-main">
																<div class="agenda-row">
																	<div class="agenda-ts">
																		<span class="agenda-tsfr">12:35</span><span class="agenda-tshp">–</span><span class="agenda-tsto">1:35</span>
																	</div>
																	<div class="agenda-title"><span>Networking Lunch<br>Sponsored by National Debt Relief</span></div>
																	<div class="agenda-track">Main Track</div>
																</div>
															</div>
															<div class="agenda-item agenda-astor">
																<div class="agenda-row">
																	<div class="agenda-ts">
																		<span class="agenda-tsfr">12:35</span><span class="agenda-tshp">–</span><span class="agenda-tsto">1:35</span>
																	</div>
																	<div class="agenda-title"><span>Networking Lunch<br>Sponsored by National Debt Relief</span></div>
																	<div class="agenda-track">Track 2</div>
																</div>
															</div>
															<div class="agenda-item agenda-main">
																<div class="agenda-row">
																	<div class="agenda-ts">
																		<span class="agenda-tsfr">1:35</span><span class="agenda-tshp">–</span><span class="agenda-tsto">2:05</span>
																	</div>
																	<div class="agenda-title"><a href="#" data-reveal-id="usa15-hodges">Special Presentation<br>Sam Hodges, Funding Circle</a></div>
																	<div class="agenda-track">Main Track</div>
																	<div id="usa15-hodges" class="reveal-modal" data-reveal>

																		<h3>Special Presentation</h3>
																		<p>Main Track</p>
																		<p>Sam Hodges, Funding Circle</p>
																		<a class="close-reveal-modal" aria-label="Close">&#215;</a>

																	</div>
																</div>
															</div>
															<div class="agenda-item agenda-astor">
																<div class="agenda-row">
																	<div class="agenda-ts">
																		<span class="agenda-tsfr">1:35</span><span class="agenda-tshp">–</span><span class="agenda-tsto">2:05</span>
																	</div>
																	<div class="agenda-title"><a href="#" data-reveal-id="usa15-student-lending-scale">Student Lending Begins to Scale<br>SoFi, LendKey, CommonBond, Prodigy Finance, Climb Credit, Credible</a></div>
																	<div class="agenda-track">Track 2</div>
																	<div id="usa15-student-lending-scale" class="reveal-modal" data-reveal>

																		<h3>Student Lending Begins to Scale</h3>
																		<p>Track 2</p>
																		<p>
																			Mike Cagney, SoFi<br>
																			Vince Passione, LendKey<br>
																			David Klein, CommonBond<br>
																			Cameron Stevens, Prodigy Finance<br>
																			Alex Rafael, Climb Credit<br>
																			Moderator: Stephen Dash, Credible</p>
																			<a class="close-reveal-modal" aria-label="Close">&#215;</a>

																		</div>
																	</div>
																</div>

<!-- 																<div class="agenda-item agenda-demo">
																	<div class="agenda-row">
																		<div class="agenda-ts">
																			<span class="agenda-tsfr">1:35</span><span class="agenda-tshp">–</span><span class="agenda-tsto">1:45</span>
																		</div>
																		<div class="agenda-title"><span>CAN Capital</span></div>
																		<div class="agenda-track">Demo Track</div>
																	</div>
																</div> -->

																<div class="agenda-item agenda-demo">
																	<div class="agenda-row">
																		<div class="agenda-ts">
																			<span class="agenda-tsfr">1:48</span><span class="agenda-tshp">–</span><span class="agenda-tsto">1:58</span>
																		</div>
																		<div class="agenda-title"><span>Afluenta</span></div>
																		<div class="agenda-track">Demo Track</div>
																	</div>
																</div>

																<div class="agenda-item agenda-demo">
																	<div class="agenda-row">
																		<div class="agenda-ts">
																			<span class="agenda-tsfr">2:01</span><span class="agenda-tshp">–</span><span class="agenda-tsto">2:11</span>
																		</div>
																		<div class="agenda-title"><span>miiCard</span></div>
																		<div class="agenda-track">Demo Track</div>
																	</div>
																</div>

																<div class="agenda-item agenda-main">
																	<div class="agenda-row">
																		<div class="agenda-ts">
																			<span class="agenda-tsfr">2:05</span><span class="agenda-tshp">–</span><span class="agenda-tsto">2:45</span>
																		</div>
																		<div class="agenda-title"><a href="#" data-reveal-id="usa15-europe-online-lending">The European Online Lending Opportunity<br>
																			Funding Circle, Ratesetter, GLI Finance, Zopa, Bondora, Eiffel eCapital, Liberum
																		</a></div>
																		<div class="agenda-track">Main Track</div>
																		<div id="usa15-europe-online-lending" class="reveal-modal" data-reveal>

																			<h3>The European Online Lending Opportunity</h3>
																			<p>Main Track</p>
																			<p>James Meekings, Funding Circle<br>
																				Peter Behrens, Ratesetter<br>
																				Geoff Miller, GLI Finance<br>
																				Jaidev Janardana, Zopa<br>
																				Partel Tomberg, Bondora<br>
																				Etienne Boillot, Eiffel eCapital<br>
																				ModeratorCormac Leech, Liberum</p>
																				<a class="close-reveal-modal" aria-label="Close">&#215;</a>

																			</div>
																		</div>
																	</div>
																	<div class="agenda-item agenda-astor">
																		<div class="agenda-row">
																			<div class="agenda-ts">
																				<span class="agenda-tsfr">2:05</span><span class="agenda-tshp">–</span><span class="agenda-tsto">2:20</span>
																			</div>
																			<div class="agenda-title"><a href="#" data-reveal-id="usa15-intersection-lending-innov">Presentation: Intersection of Lending Innovation and Regulation<br>Raj Date, Former Deputy Director, CFPB</a></div>
																			<div class="agenda-track">Track 2</div>
																			<div id="usa15-intersection-lending-innov" class="reveal-modal" data-reveal>

																				<h3>Presentation: Intersection of Lending Innovation and Regulation</h3>
																				<p>Track 2</p>
																				<p>Raj Date, Former Deputy Director, CFPB</p>
																				<a class="close-reveal-modal" aria-label="Close">&#215;</a>

																			</div>
																		</div>
																	</div>

																	<div class="agenda-item agenda-demo">
																		<div class="agenda-row">
																			<div class="agenda-ts">
																				<span class="agenda-tsfr">2:14</span><span class="agenda-tshp">–</span><span class="agenda-tsto">2:24</span>
																			</div>
																			<div class="agenda-title"><span>National Debt Relief</span></div>
																			<div class="agenda-track">Demo Track</div>
																		</div>
																	</div>

																	<div class="agenda-item agenda-demo">
																		<div class="agenda-row">
																			<div class="agenda-ts">
																				<span class="agenda-tsfr">2:27</span><span class="agenda-tshp">–</span><span class="agenda-tsto">2:37</span>
																			</div>
																			<div class="agenda-title"><span>Blue Elephant</span></div>
																			<div class="agenda-track">Demo Track</div>
																		</div>
																	</div>

																	<div class="agenda-item agenda-astor">
																		<div class="agenda-row">
																			<div class="agenda-ts">
																				<span class="agenda-tsfr">2:25</span><span class="agenda-tshp">–</span><span class="agenda-tsto">2:55</span>
																			</div>
																			<div class="agenda-title"><a href="#" data-reveal-id="usa15-borrower-acquisition">Borrower Acquisition at Scale<br>Lendio, Datamyx, BetterFinance, Lending Club</a></div>
																			<div class="agenda-track">Track 2</div>
																			<div id="usa15-borrower-acquisition" class="reveal-modal" data-reveal>

																				<h3>Borrower Acquisition at Scale</h3>
																				<p>Track 2</p>
																				<p>Brock Blake, Lendio<br>
																					Rich Walker, Datamyx<br>
																					Ryan Gilbert, BetterFinance<br>
																					Moderator: Scott Sanborn, Lending Club</p>
																					<a class="close-reveal-modal" aria-label="Close">&#215;</a>

																				</div>
																			</div>
																		</div>

																		<div class="agenda-item agenda-demo">
																			<div class="agenda-row">
																				<div class="agenda-ts">
																					<span class="agenda-tsfr">2:40</span><span class="agenda-tshp">–</span><span class="agenda-tsto">2:50</span>
																				</div>
																				<div class="agenda-title"><span>Gil Penchina</span></div>
																				<div class="agenda-track">Demo Track</div>
																			</div>
																		</div>

																		<div class="agenda-item agenda-main">
																			<div class="agenda-row">
																				<div class="agenda-ts">
																					<span class="agenda-tsfr">2:50</span><span class="agenda-tshp">–</span><span class="agenda-tsto">3:35</span>
																				</div>
																				<div class="agenda-title"><a href="#" data-reveal-id="usa15-invoice-rec">Next Generation of Invoice &amp; Receivables<br>
																					FastPay, Taulia, The Interface Financial Group, C2FO, P2Bi, FundBox, Bain Capital Ventures
																				</a></div>
																				<div class="agenda-track">Main Track</div>
																				<div id="usa15-invoice-rec" class="reveal-modal" data-reveal>

																					<h3>Next Generation of Invoice &amp; Receivables</h3>
																					<p>Main Track</p>
																					<p>Jed Simon, FastPay<br>
																						Bertram Meyer, Taulia<br>
																						George Shapiro, The Interface Financial Group<br>
																						Kevin Daniels, C2FO<br>
																						Krista Morgan, P2Bi<br>
																						Eyal Shinar, FundBox<br>
																						Moderator: Matt Harris, Bain Capital Ventures</p>
																						<a class="close-reveal-modal" aria-label="Close">&#215;</a>

																					</div>
																				</div>
																			</div>

																			<div class="agenda-item agenda-demo">
																				<div class="agenda-row">
																					<div class="agenda-ts">
																						<span class="agenda-tsfr">2:53</span><span class="agenda-tshp">–</span><span class="agenda-tsto">3:03</span>
																					</div>
																					<div class="agenda-title"><span>Argon Credit</span></div>
																					<div class="agenda-track">Demo Track</div>
																				</div>
																			</div>

																			<div class="agenda-item agenda-astor">
																				<div class="agenda-row">
																					<div class="agenda-ts">
																						<span class="agenda-tsfr">3:00</span><span class="agenda-tshp">–</span><span class="agenda-tsto">3:30</span>
																					</div>
																					<div class="agenda-title"><a href="#" data-reveal-id="usa15-underbanked-borrowers">Financing Near Prime Borrowers<br>Avant, Zest Financial, National Debt Relief, Freedom Financial, Citigroup, Insikt
																					</a></div>
																					<div class="agenda-track">Track 2</div>
																					<div id="usa15-underbanked-borrowers" class="reveal-modal" data-reveal>

																						<h3>Financing Underbanked Borrowers</h3>
																						<p>Track 2</p>
																						<p>Al Goldstein, Avant<br>
																							Mike Armstrong, Zest Financial<br>
																							Daniel Tilipman, National Debt Relief<br>
																							Joe Toms, Freedom Financial<br>
																							David Mandel, Citigroup<br>
																							Moderator: James Gutierrez, Insikt</p>
																							<a class="close-reveal-modal" aria-label="Close">&#215;</a>

																						</div>
																					</div>
																				</div>

																				<div class="agenda-item agenda-demo">
																					<div class="agenda-row">
																						<div class="agenda-ts">
																							<span class="agenda-tsfr">3:06</span><span class="agenda-tshp">–</span><span class="agenda-tsto">3:16</span>
																						</div>
																						<div class="agenda-title"><span>Assetz Capital</span></div>
																						<div class="agenda-track">Demo Track</div>
																					</div>
																				</div>

																				<div class="agenda-item agenda-demo">
																					<div class="agenda-row">
																						<div class="agenda-ts">
																							<span class="agenda-tsfr">3:19</span><span class="agenda-tshp">–</span><span class="agenda-tsto">3:29</span>
																						</div>
																						<div class="agenda-title"><span>Prosper</span></div>
																						<div class="agenda-track">Demo Track</div>
																					</div>
																				</div>

																				<div class="agenda-item agenda-astor">
																					<div class="agenda-row">
																						<div class="agenda-ts">
																							<span class="agenda-tsfr">3:30</span><span class="agenda-tshp">–</span><span class="agenda-tsto">5:25</span>
																						</div>
																						<div class="agenda-title"><a href="#" data-reveal-id="usa15-pitchit">PitchIt @ LendIt<br>Judges: Theil Capital, Penchina Syndicate, Foundation Capital, GLI Finance</a></div>
																						<div class="agenda-track">Track 2</div>
																						<div id="usa15-pitchit" class="reveal-modal" data-reveal>

																							<h3>PitchIt @ LendIt</h3>
																							<p>Track 2</p>
																							<p>Select companies have the opportunity to openly pitch their businesses to venture capital and angel investors.<br>
																								Judges:<br>
																								Phin Upham, Theil Capital<br>
																								Gil Phenchina, Penchina Syndicate<br>
																								Charles Moldow, Foundation Capital<br>
																								Geoffrey Miller, GLI Finance</p>
																								<a class="close-reveal-modal" aria-label="Close">&#215;</a>

																							</div>
																						</div>
																					</div>
																					<div class="agenda-item agenda-main">
																						<div class="agenda-row">
																							<div class="agenda-ts">
																								<span class="agenda-tsfr">3:35</span><span class="agenda-tshp">–</span><span class="agenda-tsto">4:05</span>
																							</div>
																							<div class="agenda-title"><span>Afternoon Coffee Break<br>Sponsored by Lufax</span></div>
																							<div class="agenda-track">Main Track</div>
																						</div>
																					</div>

																					<div class="agenda-item agenda-main">
																						<div class="agenda-row">
																							<div class="agenda-ts">
																								<span class="agenda-tsfr">4:05</span><span class="agenda-tshp">–</span><span class="agenda-tsto">4:35</span>
																							</div>
																							<div class="agenda-title"><a href="#" data-reveal-id="usa15-gibb">Fireside Chat<br>Greg Gibb, Lufax; Jason Jones, Lend Academy</a></div>
																							<div class="agenda-track">Main Track</div>
																							<div id="usa15-gibb" class="reveal-modal" data-reveal>

																								<h3>Fireside Chat</h3>
																								<p>Main Track</p>
																								<p>Greg Gibb, Lufax<br>
																									Moderator: Jason Jones, Lend Academy</p>
																									<a class="close-reveal-modal" aria-label="Close">&#215;</a>

																								</div>
																							</div>
																						</div>

																						<div class="agenda-item agenda-demo">
																							<div class="agenda-row">
																								<div class="agenda-ts">
																									<span class="agenda-tsfr">4:05</span><span class="agenda-tshp">–</span><span class="agenda-tsto">4:15</span>
																								</div>
																								<div class="agenda-title"><span>Biz2Credit</span></div>
																								<div class="agenda-track">Demo Track</div>
																							</div>
																						</div>
																						<div class="agenda-item agenda-demo">
																							<div class="agenda-row">
																								<div class="agenda-ts">
																									<span class="agenda-tsfr">4:18</span><span class="agenda-tshp">–</span><span class="agenda-tsto">4:28</span>
																								</div>
																								<div class="agenda-title"><span>Merchant Cash & Capital</span></div>
																								<div class="agenda-track">Demo Track</div>
																							</div>
																						</div>
																						<div class="agenda-item agenda-main">
																							<div class="agenda-row">
																								<div class="agenda-ts">
																									<span class="agenda-tsfr">4:40</span><span class="agenda-tshp">–</span><span class="agenda-tsto">5:25</span>
																								</div>
																								<div class="agenda-title"><a href="#" data-reveal-id="usa15-china-mkt">The Largest Internet Finance Market in the World: China<br>
																									Lufax, Dianrong.com, CreditEase, China Rapid Finance, Tencent TenPay, Lend Academy
																								</a></div>
																								<div class="agenda-track">Main Track</div>
																								<div id="usa15-china-mkt" class="reveal-modal" data-reveal>

																									<h3>The Largest Internet Finance Market in the World: China
																									</h3>
																									<p>Main Track</p>
																									<p>Greg Gibb, Lufax<br>
																										Soul Htite, Dianrong.com<br>
																										Ning Tang, CreditEase<br>
																										Dr. Zane Wang, China Rapid Finance<br>
																										Daniel Wu, Tencent TenPay<br>
																										Moderator: Jason Jones, Lend Academy</p>
																										<a class="close-reveal-modal" aria-label="Close">&#215;</a>

																									</div>
																								</div>
																							</div>

																							<div class="agenda-item agenda-main">
																								<div class="agenda-row">
																									<div class="agenda-ts">
																										<span class="agenda-tsfr">5:30</span><span class="agenda-tshp">–</span><span class="agenda-tsto">6:00</span>
																									</div>
																									<div class="agenda-title"><a href="#" data-reveal-id="usa15-suber">Closing Keynote<br>Ron Suber, Prosper</a></div>
																									<div class="agenda-track">Main Track</div>
																									<div id="usa15-suber" class="reveal-modal" data-reveal>

																										<h3>Closing Keynote</h3>
																										<p>Main Track</p>
																										<p>Ron Suber, Prosper</p>
																										<a class="close-reveal-modal" aria-label="Close">&#215;</a>

																									</div>
																								</div>
																							</div>
																							<div class="agenda-item agenda-main">
																								<div class="agenda-row">
																									<div class="agenda-ts">
																										<span class="agenda-tsfr">6:00</span><span class="agenda-tshp">–</span><span class="agenda-tsto">7:00</span>
																									</div>
																									<div class="agenda-title"><span>Cocktail Party<br>Sponsored by SoFi</span></div>
																									<div class="agenda-track">Main Track</div>
																								</div>
																							</div>
																						</div>
																						<a name="apr15" data-magellan-destination="apr15"></a>
																						<div class="agenda-container">
																							<h2>April 15 Agenda</h2>
																							<div class="agenda-item agenda-main">
																								<div class="agenda-row">
																									<div class="agenda-ts">
																										<span class="agenda-tsfr">8:30</span><span class="agenda-tshp">–</span><span class="agenda-tsto">8:40</span>
																									</div>
																									<div class="agenda-title"><span>Opening Remarks</span></div>
																									<div class="agenda-track">Main Track</div>
																								</div>
																							</div>
																							<div class="agenda-item agenda-main">
																								<div class="agenda-row">
																									<div class="agenda-ts">
																										<span class="agenda-tsfr">8:40</span><span class="agenda-tshp">–</span><span class="agenda-tsto">9:10</span>
																									</div>
																									<div class="agenda-title"><a href="#" data-reveal-id="usa15-breslow">Special Presentation<br>Noah Breslow, OnDeck</a></div>
																									<div class="agenda-track">Main Track</div>
																									<div id="usa15-breslow" class="reveal-modal" data-reveal>

																										<h3>Special Presentation</h3>
																										<p>Main Track</p>
																										<p>Noah Breslow, OnDeck</p>
																										<a class="close-reveal-modal" aria-label="Close">&#215;</a>

																									</div>
																								</div>
																							</div>
																							<div class="agenda-item agenda-main">
																								<div class="agenda-row">
																									<div class="agenda-ts">
																										<span class="agenda-tsfr">9:15</span><span class="agenda-tshp">–</span><span class="agenda-tsto">10:00</span>
																									</div>
																									<div class="agenda-title"><a href="#" data-reveal-id="usa15-asset-allocation">Asset Allocation: Where Does the Asset Class Fit?<br>Blackrock, Prime Meridian, Victory Park Capital, Aequitas, Arcadia, Alliance Bernstein</a></div>
																									<div class="agenda-track">Main Track</div>
																									<div id="usa15-asset-allocation" class="reveal-modal" data-reveal>

																										<h3>Asset Allocation: Where Does the Asset Class Fit?</h3>
																										<p>Main Track</p>
																										<p>Brian Stern, Blackrock<br>
																											Don Davis, Prime Meridian<br>
																											Brendan Carroll, Victory Park Capital<br>
																											Tom Goila, Aequitas<br>
																											Andrew Hallowell, Arcadia<br>
																											James Viceconte, Alliance Bernstein<br>
																											Moderator: James Alexander</p>
																											<a class="close-reveal-modal" aria-label="Close">&#215;</a>

																										</div>
																									</div>
																								</div>

																								<div class="agenda-item agenda-demo">
																									<div class="agenda-row">
																										<div class="agenda-ts">
																											<span class="agenda-tsfr">9:15</span><span class="agenda-tshp">–</span><span class="agenda-tsto">9:25</span>
																										</div>
																										<div class="agenda-title"><span>Paynet</span></div>
																										<div class="agenda-track">Demo Track</div>
																									</div>
																								</div>

																								<div class="agenda-item agenda-real-estate">
																									<div class="agenda-row">
																										<div class="agenda-ts">
																											<span class="agenda-tsfr">8:40</span><span class="agenda-tshp">–</span><span class="agenda-tsto">9:10</span>
																										</div>
																										<div class="agenda-title"><a href="#" data-reveal-id="usa15-state-real-estate-lending">State of the Real Estate Online Lending Market<br>Dan Ciporin, Canaan Partners</a></div>
																										<div class="agenda-track">Real Estate Track</div>

																										<div id="usa15-state-real-estate-lending" class="reveal-modal" data-reveal>

																											<h3>State of the Real Estate Online Lending Market</h3>
																											<p>Real Estate Track</p>
																											<p>Dan Ciporin, Canaan Partners</p>
																											<a class="close-reveal-modal" aria-label="Close">&#215;</a>

																										</div>
																									</div>
																								</div>
																								<div class="agenda-item agenda-real-estate">
																									<div class="agenda-row">
																										<div class="agenda-ts">
																											<span class="agenda-tsfr">9:15</span><span class="agenda-tshp">–</span><span class="agenda-tsto">9:45</span>
																										</div>
																										<div class="agenda-title"><a href="#" data-reveal-id="usa15-institutional-investors-re-crowdfunding">Institutional Investors View of Real Estate Crowdfunding<br>UC Funds</a></div>
																										<div class="agenda-track">Real Estate Track</div>
																										<div id="usa15-institutional-investors-re-crowdfunding" class="reveal-modal" data-reveal>

																											<h3>Institutional Investors View of Real Estate Crowdfunding</h3>
																											<p>Real Estate Track</p>
																											<p>Dan Palmier, UC Funds</p>
																											<a class="close-reveal-modal" aria-label="Close">&#215;</a>

																										</div>
																									</div>
																								</div>
																								<div class="agenda-item agenda-real-estate">
																									<div class="agenda-row">
																										<div class="agenda-ts">
																											<span class="agenda-tsfr">9:45</span><span class="agenda-tshp">–</span><span class="agenda-tsto">10:00</span>
																										</div>
																										<div class="agenda-title"><a href="#" data-reveal-id="usa15-rise-crowdfunding">Presentation: The Inevitable Rise of Crowdfunding<br>Richard Swart, UC Berkeley</a></div>
																										<div class="agenda-track">Real Estate Track</div>

																										<div id="usa15-rise-crowdfunding" class="reveal-modal" data-reveal>

																											<h3>Presentation: The Inevitable Rise of Crowdfunding</h3>
																											<p>Real Estate Track</p>
																											<p>Richard Swart, UC Berkeley</p>
																											<a class="close-reveal-modal" aria-label="Close">&#215;</a>

																										</div>
																									</div>
																								</div>

																								<div class="agenda-item agenda-demo">
																									<div class="agenda-row">
																										<div class="agenda-ts">
																											<span class="agenda-tsfr">9:28</span><span class="agenda-tshp">–</span><span class="agenda-tsto">9:38</span>
																										</div>
																										<div class="agenda-title"><span>Kabbage (Karot)</span></div>
																										<div class="agenda-track">Demo Track</div>
																									</div>
																								</div>
																								<!-- 				<div class="agenda-item agenda-real-estate">
																									<div class="agenda-row">
																										<div class="agenda-ts">
																											<span class="agenda-tsfr">9:45</span><span class="agenda-tshp">–</span><span class="agenda-tsto">10:30</span>
																										</div>
																										<div class="agenda-title"><a href="#" onClick="return false;">Real Estate Track</a></div>
																										<div class="agenda-track">Real Estate Track</div>
																									</div>
																								</div> -->


																								<div class="agenda-item agenda-demo">
																									<div class="agenda-row">
																										<div class="agenda-ts">
																											<span class="agenda-tsfr">9:41</span><span class="agenda-tshp">–</span><span class="agenda-tsto">9:51</span>
																										</div>
																										<div class="agenda-title"><span>BitBond</span></div>
																										<div class="agenda-track">Demo Track</div>
																									</div>
																								</div>




																								<div class="agenda-item agenda-main">
																									<div class="agenda-row">
																										<div class="agenda-ts">
																											<span class="agenda-tsfr">10:00</span><span class="agenda-tshp">–</span><span class="agenda-tsto">10:45</span>
																										</div>
																										<div class="agenda-title"><a href="#" data-reveal-id="usa15-summers">Signature Keynote<br>Lawrence H. Summers, Former U.S. Treasury Secretary</a></div>
																										<div class="agenda-track">Main Track</div>
																										<div id="usa15-summers" class="reveal-modal" data-reveal>

																											<h3>Signature Keynote</h3>
																											<p>Main Track</p>
																											<p>Lawrence H. Summers, Former U.S. Treasury Secretary</p>
																											<a class="close-reveal-modal" aria-label="Close">&#215;</a>

																										</div>
																									</div>
																								</div>
																								<div class="agenda-item agenda-main">
																									<div class="agenda-row">
																										<div class="agenda-ts">
																											<span class="agenda-tsfr">10:45</span><span class="agenda-tshp">–</span><span class="agenda-tsto">11:15</span>
																										</div>
																										<div class="agenda-title"><span>Morning Coffee Break</span></div>
																										<div class="agenda-track">Main Track</div>
																									</div>
																								</div>
																								<div class="agenda-item agenda-real-estate">
																									<div class="agenda-row">
																										<div class="agenda-ts">
																											<span class="agenda-tsfr">10:45</span><span class="agenda-tshp">–</span><span class="agenda-tsto">11:15</span>
																										</div>
																										<div class="agenda-title"><a href="#" onClick="return false;">Morning Coffee Break</a></div>
																										<div class="agenda-track">Real Estate Track</div>
																									</div>
																								</div>
																								<div class="agenda-item agenda-main"><div class="agenda-row">
																									<div class="agenda-ts">
																										<span class="agenda-tsfr">11:15</span><span class="agenda-tshp">–</span><span class="agenda-tsto">11:35</span>
																									</div>
																									<div class="agenda-title"><a href="#" data-reveal-id="usa15-mills">Special Presentation: The State of Small Business<br>Karen Mills, Former Administrator of U.S. Small Business Administration</a></div>
																									<div class="agenda-track">Main Track</div>
																									<div id="usa15-mills" class="reveal-modal" data-reveal>

																										<h3>Special Presentation: The State of Small Business</h3>
																										<p><b>Credit Access during the Recovery and How Technology May Change the Game</b></p>
																										<p>Main Track</p>
																										<p>Karen Mills, former Administrator for the Small Business Administration</p>
																										<a class="close-reveal-modal" aria-label="Close">&#215;</a>

																									</div>
																								</div>
																							</div>

																							<div class="agenda-item agenda-real-estate">
																								<div class="agenda-row">
																									<div class="agenda-ts">
																										<span class="agenda-tsfr">11:15</span><span class="agenda-tshp">–</span><span class="agenda-tsto">11:45</span>
																									</div>
																									<div class="agenda-title"><a href="#" data-reveal-id="usa15-retail-inst-platforms">Platforms Shifting from Retail to Institutional Investors<br>AssetAvenue, iFunding, Lending Home, Fundrise, Realty Mogul</a></div>
																									<div class="agenda-track">Real Estate Track</div>
																									<div id="usa15-retail-inst-platforms" class="reveal-modal" data-reveal>

																										<h3>Platforms Shifting from Retail to Institutional Investors</h3>
																										<p>Real Estate Track</p>
																										<p>Chris Ganan, AssetAvenue<br>
																											William Skelley, iFunding<br>
																											James Herbert, Lending Home<br>
																											Dan Miller, Fundrise<br>
																											Jilliene Helman, Realty Mogul</p>
																											<a class="close-reveal-modal" aria-label="Close">&#215;</a>

																										</div>
																									</div>
																								</div>
																								<div class="agenda-item agenda-demo">
																									<div class="agenda-row">
																										<div class="agenda-ts">
																											<span class="agenda-tsfr">
																												11:15</span><span class="agenda-tshp">–</span><span class="agenda-tsto">11:25</span>
																											</div>
																											<div class="agenda-title"><span>Kubo Financiero</span></div>
																											<div class="agenda-track">Demo Track</div>
																										</div>
																									</div>



																									<div class="agenda-item agenda-demo">
																										<div class="agenda-row">
																											<div class="agenda-ts">
																												<span class="agenda-tsfr">11:28</span><span class="agenda-tshp">–</span><span class="agenda-tsto">11:38</span>
																											</div>
																											<div class="agenda-title"><span>Lendico</span></div>
																											<div class="agenda-track">Demo Track</div>
																										</div>
																									</div>
																									<div class="agenda-item agenda-main">
																										<div class="agenda-row">
																											<div class="agenda-ts">
																												<span class="agenda-tsfr">11:40</span><span class="agenda-tshp">–</span><span class="agenda-tsto">12:25</span>
																											</div>
																											<div class="agenda-title"><a href="#" data-reveal-id="usa15-small-biz-lend">Short Term Small Business Lending<br>CAN Capital, Kabbage, Merchant Cash & Capital, Square Capital, PayPal, Lendio</a></div>
																											<div class="agenda-track">Main Track</div>
																											<div id="usa15-small-biz-lend" class="reveal-modal" data-reveal>

																												<h3>Short Term Small Business Lending</h3>
																												<p>Main Track</p>
																												<p>Dan DeMeo, CAN Capital<br>
																													Kathryn Petralia, Kabbage<br>
																													Stephen Sheinbaum, Merchant Cash & Capital<br>
																													Anton Hanebrink, Square Capital<br>
																													Steve Alloca, Paypal<br>
																													Moderator: Brock Blake, Lendio
																												</p>
																												<a class="close-reveal-modal" aria-label="Close">&#215;</a>

																											</div>
																										</div>
																									</div>

<!-- 																									<div class="agenda-item agenda-demo">
																										<div class="agenda-row">
																											<div class="agenda-ts">
																												<span class="agenda-tsfr">11:40</span><span class="agenda-tshp">–</span><span class="agenda-tsto">11:50</span>
																											</div>
																											<div class="agenda-title"><span>BorrowersFirst</span></div>
																											<div class="agenda-track">Demo Track</div>
																										</div>
																									</div> -->
																									<div class="agenda-item agenda-real-estate">
																										<div class="agenda-row">
																											<div class="agenda-ts">
																												<span class="agenda-tsfr">11:50</span><span class="agenda-tshp">–</span><span class="agenda-tsto">12:30</span>
																											</div>
																											<div class="agenda-title"><a href="#" data-reveal-id="usa15-mortgage-mkts">Transforming Mortgage Markets<br>Lenda, SoFi, Privlo, LendingTree, Blend Labs</a></div>
																											<div class="agenda-track">Real Estate Track</div>
																											<div id="usa15-mortgage-mkts" class="reveal-modal" data-reveal>

																												<h3>Transforming Mortgage Markets</h3>
																												<p>Real Estate Track</p>
																												<p>Jason van den Brand, Lenda<br>
																													Paul Fielding, SoFi<br>
																													Michael Slavin, Privlo<br>
																													Nikul Patel, LendingTree<br>
																													Scott Sambucci, Blend Labs</p>
																													<a class="close-reveal-modal" aria-label="Close">&#215;</a>

																												</div>
																											</div>
																										</div>

																									<!-- 	<div class="agenda-item agenda-demo">
																											<div class="agenda-row">
																												<div class="agenda-ts">
																													<span class="agenda-tsfr">11:53</span><span class="agenda-tshp">–</span><span class="agenda-tsto">12:03</span>
																												</div>
																												<div class="agenda-title"><span>Springleaf Financial</span></div>
																												<div class="agenda-track">Demo Track</div>
																											</div>
																										</div> -->

																										<div class="agenda-item agenda-demo">
																											<div class="agenda-row">
																												<div class="agenda-ts">
																													<span class="agenda-tsfr">12:06</span><span class="agenda-tshp">–</span><span class="agenda-tsto">12:16</span>
																												</div>
																												<div class="agenda-title"><span>Insikt</span></div>
																												<div class="agenda-track">Demo Track</div>
																											</div>
																										</div>

																										<div class="agenda-item agenda-demo">
																											<div class="agenda-row">
																												<div class="agenda-ts">
																													<span class="agenda-tsfr">12:19</span><span class="agenda-tshp">–</span><span class="agenda-tsto">12:29</span>
																												</div>
																												<div class="agenda-title"><span>Vouch</span></div>
																												<div class="agenda-track">Demo Track</div>
																											</div>
																										</div>

																										<div class="agenda-item agenda-main">
																											<div class="agenda-row">
																												<div class="agenda-ts">
																													<span class="agenda-tsfr">12:25</span><span class="agenda-tshp">–</span><span class="agenda-tsto">12:30</span>
																												</div>
																												<div class="agenda-title"><span>LendIt Innovator of the Year Award<br>To be revealed at the conference</span></div>
																												<div class="agenda-track">Main Track</div>
																											</div>
																										</div>
																										<div class="agenda-item agenda-main">
																											<div class="agenda-row">
																												<div class="agenda-ts">
																													<span class="agenda-tsfr">12:30</span><span class="agenda-tshp">–</span><span class="agenda-tsto">1:30</span>
																												</div>
																												<div class="agenda-title"><span>Networking Lunch</span></div>
																												<div class="agenda-track">Main Track</div>
																											</div>
																										</div>
																										<div class="agenda-item agenda-real-estate">
																											<div class="agenda-row">
																												<div class="agenda-ts">
																													<span class="agenda-tsfr">12:30</span><span class="agenda-tshp">–</span><span class="agenda-tsto">1:30</span>
																												</div>
																												<div class="agenda-title"><span>Networking Lunch</span></div>
																												<div class="agenda-track">Real Estate Track</div>
																											</div>
																										</div>
																										<div class="agenda-item agenda-main">
																											<div class="agenda-row">
																												<div class="agenda-ts">
																													<span class="agenda-tsfr">1:30</span><span class="agenda-tshp">–</span><span class="agenda-tsto">2:15</span>
																												</div>
																												<div class="agenda-title"><a href="#" data-reveal-id="usa15-emerging">Emerging Online Lending Leaders<br>Upstart, CircleBack Lending, Avant, Assetz Capital, Orchard</a></div>
																												<div class="agenda-track">Main Track</div>
																												<div id="usa15-emerging" class="reveal-modal" data-reveal>

																													<h3>Emerging Online Lending Leaders</h3>
																													<p>Main Track</p>
																													<p>Dave Girouard, Upstart<br>
																														Michael Solomon, CircleBack<br>
																														Al Goldstein, Avant<br>
																														Stuart Law, Assetz Capital<br>
																														Moderator: Matt Burton, Orchard</p>
																														<a class="close-reveal-modal" aria-label="Close">&#215;</a>

																													</div>
																												</div>
																											</div>
																											<div class="agenda-item agenda-real-estate">
																												<div class="agenda-row">
																													<div class="agenda-ts">
																														<span class="agenda-tsfr">1:30</span><span class="agenda-tshp">–</span><span class="agenda-tsto">1:50</span>
																													</div>
																													<div class="agenda-title"><a href="#" data-reveal-id="usa15-future-re-investing">Presentation: The Future of Real Estate Investing<br>Jilliene Helman, Realty Mogul
																													</a></div>
																													<div class="agenda-track">Real Estate Track</div>
																													<div id="usa15-future-re-investing" class="reveal-modal" data-reveal>

																														<h3>Presentation: The Future of Real Estate Investing</h3>
																														<p>Real Estate Track</p>
																														<p>Jilliene Helman, Realty Mogul
																														</p>
																														<a class="close-reveal-modal" aria-label="Close">&#215;</a>

																													</div>
																												</div>
																											</div>

																											<div class="agenda-item agenda-demo">
																												<div class="agenda-row">
																													<div class="agenda-ts">
																														<span class="agenda-tsfr">1:30</span><span class="agenda-tshp">–</span><span class="agenda-tsto">1:40</span>
																													</div>
																													<div class="agenda-title"><span>CommonBond</span></div>
																													<div class="agenda-track">Demo Track</div>
																												</div>
																											</div>


																											<div class="agenda-item agenda-demo">
																												<div class="agenda-row">
																													<div class="agenda-ts">
																														<span class="agenda-tsfr">1:43</span><span class="agenda-tshp">–</span><span class="agenda-tsto">1:53</span>
																													</div>
																													<div class="agenda-title"><span>Direct Lending Investments</span></div>
																													<div class="agenda-track">Demo Track</div>
																												</div>
																											</div>

																											<div class="agenda-item agenda-real-estate">
																												<div class="agenda-row">
																													<div class="agenda-ts">
																														<span class="agenda-tsfr">1:55</span><span class="agenda-tshp">–</span><span class="agenda-tsto">2:25</span>
																													</div>
																													<div class="agenda-title"><a href="#" data-reveal-id="usa15-residential-re-platforms">Residential Real Estate Platforms<br>Patch of Land, Peerstreet, Lending Home, LendInvest, RealtyShares, American Homeowner Preservation</a></div>
																													<div class="agenda-track">Real Estate Track</div>
																													<div id="usa15-residential-re-platforms" class="reveal-modal" data-reveal>

																														<h3>Residential Real Estate Platforms</h3>
																														<p>Real Estate Track</p>
																														<p>Jason Fritton, Patch of Land<br>
																															Brett Crosby, Peerstreet<br>
																															Matt Humphrey, Lending Home<br>
																															Christian Faes, LendInvest<br>
																															Nav Athwal, RealtyShares<br>
																															Moderator: Jorge Newbery, American Homeowner Preservation</p>
																															<a class="close-reveal-modal" aria-label="Close">&#215;</a>

																														</div>

																													</div>
																												</div>


																											<!-- 	<div class="agenda-item agenda-demo">
																													<div class="agenda-row">
																														<div class="agenda-ts">
																															<span class="agenda-tsfr">1:56</span><span class="agenda-tshp">–</span><span class="agenda-tsto">2:06</span>
																														</div>
																														<div class="agenda-title"><span>Dental Equities/Peer United</span></div>
																														<div class="agenda-track">Demo Track</div>
																													</div>
																												</div> -->


																												<div class="agenda-item agenda-demo">
																													<div class="agenda-row">
																														<div class="agenda-ts">
																															<span class="agenda-tsfr">2:09</span><span class="agenda-tshp">–</span><span class="agenda-tsto">2:19</span>
																														</div>
																														<div class="agenda-title"><span>ApplePie Capital</span></div>
																														<div class="agenda-track">Demo Track</div>
																													</div>
																												</div>

																												<div class="agenda-item agenda-main">
																													<div class="agenda-row">
																														<div class="agenda-ts">
																															<span class="agenda-tsfr">2:20</span><span class="agenda-tshp">–</span><span class="agenda-tsto">2:50</span>
																														</div>
																														<div class="agenda-title"><a href="#" data-reveal-id="usa15-installment-loan">Special Presentation: Lessons from the Installment Loan Business<br>Frank Rotman, QED Investors</a></div>
																														<div class="agenda-track">Main Track</div>
																														<div id="usa15-installment-loan" class="reveal-modal" data-reveal>

																															<h3>Special Presentation: Lessons from the Installment Loan Business</h3>
																															<p>Main Track</p>
																															<p>Frank Rotman, QED Investors</p>
																															<a class="close-reveal-modal" aria-label="Close">&#215;</a>

																														</div>
																													</div>
																												</div>


																											<!-- 	<div class="agenda-item agenda-demo">
																													<div class="agenda-row">
																														<div class="agenda-ts">
																															<span class="agenda-tsfr">2:22</span><span class="agenda-tshp">–</span><span class="agenda-tsto">2:32</span>
																														</div>
																														<div class="agenda-title"><span>Nimble</span></div>
																														<div class="agenda-track">Demo Track</div>
																													</div>
																												</div> -->

																												<div class="agenda-item agenda-real-estate">
																													<div class="agenda-row">
																														<div class="agenda-ts">
																															<span class="agenda-tsfr">2:30</span><span class="agenda-tshp">–</span><span class="agenda-tsto">2:45</span>
																														</div>
																														<div class="agenda-title"><a href="#" data-reveal-id="usa15-building-scale-re">Presentation: Building Scale for Real Estate<br>Christian Faes, LendInvest</a></div>
																														<div class="agenda-track">Real Estate Track</div>
																														<div id="usa15-building-scale-re" class="reveal-modal" data-reveal>

																															<h3>Presentation: Building Scale for Real Estate</h3>
																															<p>Real Estate Track</p>
																															<p>Christian Faes, LendInvest</p>
																															<a class="close-reveal-modal" aria-label="Close">&#215;</a>

																														</div>
																													</div>
																												</div>

																												<div class="agenda-item agenda-demo">
																													<div class="agenda-row">
																														<div class="agenda-ts">
																															<span class="agenda-tsfr">2:35</span><span class="agenda-tshp">–</span><span class="agenda-tsto">2:45</span>
																														</div>
																														<div class="agenda-title"><span>SocietyOne</span></div>
																														<div class="agenda-track">Demo Track</div>
																													</div>
																												</div>

																												<div class="agenda-item agenda-demo">
																													<div class="agenda-row">
																														<div class="agenda-ts">
																															<span class="agenda-tsfr">2:48</span><span class="agenda-tshp">–</span><span class="agenda-tsto">2:58</span>
																														</div>
																														<div class="agenda-title"><span>Harmoney</span></div>
																														<div class="agenda-track">Demo Track</div>
																													</div>
																												</div>

																												<div class="agenda-item agenda-real-estate">
																													<div class="agenda-row">
																														<div class="agenda-ts">
																															<span class="agenda-tsfr">2:50</span><span class="agenda-tshp">–</span><span class="agenda-tsto">3:20</span>
																														</div>
																														<div class="agenda-title"><a href="#" data-reveal-id="usa15-energy-platforms">NextGen Energy Finance<br>Kilowatt Financial, Mosaic, Noesis, SolarCity, Open Energy Group</a></div>
																														<div class="agenda-track">Real Estate Track</div>
																													</div>
																													<div id="usa15-energy-platforms" class="reveal-modal" data-reveal>

																														<h3>NextGen Energy Finance</h3>
																														<p>Real Estate Track</p>
																														<p>Dan Pillemer, Kilowatt Financial<br>
																															Billy Parish, Mosaic<br>
																															Scott Harmon, Noesis<br>
																															Connie Chem, SolarCity<br>
																															Graham Smith, Open Energy Group</p>
																															<a class="close-reveal-modal" aria-label="Close">&#215;</a>

																														</div>
																													</div>
																													<div class="agenda-item agenda-main">
																														<div class="agenda-row">
																															<div class="agenda-ts">
																																<span class="agenda-tsfr">2:55</span><span class="agenda-tshp">–</span><span class="agenda-tsto">3:40</span>
																															</div>
																															<div class="agenda-title"><a href="#" data-reveal-id="usa15-securitization">The Growth of Securitization<br>SoFi, OnDeck, First Associates, PeerIQ, Credit Suisse, Moody's, Garrison</a></div>
																															<div class="agenda-track">Main Track</div>
																															<div id="usa15-securitization" class="reveal-modal" data-reveal>

																																<h3>The Growth of Securitization</h3>
																																<p>Main Track</p>
																																<p>Nino Fanlo, SoFi<br>
																																	Zhengyuan Lu, OnDeck<br>
																																	Larry Chiavaro, First Associates<br>
																																	Ram Amwhalia, PeerIQ<br>
																																	Stephanie Yeh, Credit Suisse<br>
																																	Will Black, Moody's<br>
																																	Moderator: John Bunting, Garrison</p>
																																	<a class="close-reveal-modal" aria-label="Close">&#215;</a>
																																</div>
																															</div>
																														</div>

																														<div class="agenda-item agenda-demo">
																															<div class="agenda-row">
																																<div class="agenda-ts">
																																	<span class="agenda-tsfr">3:01</span><span class="agenda-tshp">–</span><span class="agenda-tsto">3:11</span>
																																</div>
																																<div class="agenda-title"><span>Borrowell</span></div>
																																<div class="agenda-track">Demo Track</div>
																															</div>
																														</div>

																														<div class="agenda-item agenda-demo">
																															<div class="agenda-row">
																																<div class="agenda-ts">
																																	<span class="agenda-tsfr">3:14</span><span class="agenda-tshp">–</span><span class="agenda-tsto">3:24</span>
																																</div>
																																<div class="agenda-title"><span>Grouplend</span></div>
																																<div class="agenda-track">Demo Track</div>
																															</div>
																														</div>

																														<div class="agenda-item agenda-real-estate">
																															<div class="agenda-row">
																																<div class="agenda-ts">
																																	<span class="agenda-tsfr">3:25</span><span class="agenda-tshp">–</span><span class="agenda-tsto">3:40</span>
																																</div>
																																<div class="agenda-title"><a href="#" data-reveal-id="usa15-trajectory-re">Presentation: Trajectory of Real Estate<br>Rick Sharga, Auction.com</a></div>
																																<div class="agenda-track">Real Estate Track</div>
																																<div id="usa15-trajectory-re" class="reveal-modal" data-reveal>

																																	<h3>Presentation: Trajectory of Real Estate</h3>
																																	<p>Real Estate Track</p>
																																	<p>Rick Sharga, Auction.com</p>
																																	<a class="close-reveal-modal" aria-label="Close">&#215;</a>

																																</div>
																															</div>
																														</div>

																										<div class="agenda-item agenda-demo">
																											<div class="agenda-row">
																												<div class="agenda-ts">
																													<span class="agenda-tsfr">3:27</span><span class="agenda-tshp">–</span><span class="agenda-tsto">3:37</span>
																												</div>
																												<div class="agenda-title"><span>Arbor Ventures</span></div>
																												<div class="agenda-track">Demo Track</div>
																											</div>
																										</div>

																										<div class="agenda-item agenda-main">
																											<div class="agenda-row">
																												<div class="agenda-ts">
																													<span class="agenda-tsfr">3:40</span><span class="agenda-tshp">–</span><span class="agenda-tsto">4:10</span>
																												</div>
																												<div class="agenda-title"><span>Afternoon Coffee Break</span></div>
																												<div class="agenda-track">Main Track</div>
																											</div>
																										</div>

																										<div class="agenda-item agenda-real-estate">
																											<div class="agenda-row">
																												<div class="agenda-ts">
																													<span class="agenda-tsfr">3:40</span><span class="agenda-tshp">–</span><span class="agenda-tsto">4:10</span>
																												</div>
																												<div class="agenda-title"><span>Afternoon Coffee Break</span></div>
																												<div class="agenda-track">Real Estate Track</div>
																											</div>
																										</div>

																										<div class="agenda-item agenda-main">
																											<div class="agenda-row">
																												<div class="agenda-ts">
																													<span class="agenda-tsfr">4:10</span><span class="agenda-tshp">–</span><span class="agenda-tsto">4:55</span>
																												</div>
																												<div class="agenda-title"><a href="#" data-reveal-id="usa15-long-term-smbiz-lend">Long Term Small Business Lending<br>Funding Circle, Lending Club, Fundation, Biz2Credit, Dealstruck, Prospect Street</a></div>
																												<div class="agenda-track">Main Track</div>
																												<div id="usa15-long-term-smbiz-lend" class="reveal-modal" data-reveal>

																													<h3>Long Term Small Business Lending</h3>
																													<p>Main Track</p>
																													<p>Sam Hodges, Funding Circle<br>
																														Sid Jajodia, Lending Club<br>
																														Sam Graziano, Fundation<br>
																														Rohit Arora, Biz2Credit<br>
																														Ethan Senturia, Dealstruck<br>
																														Moderator: Chris Johnson, Prospect Street</p>
																														<a class="close-reveal-modal" aria-label="Close">&#215;</a>

																													</div>
																												</div>
																											</div>


																											<div class="agenda-item agenda-demo">
																												<div class="agenda-row">
																													<div class="agenda-ts">
																														<span class="agenda-tsfr">4:10</span><span class="agenda-tshp">–</span><span class="agenda-tsto">4:20</span>
																													</div>
																													<div class="agenda-title"><span>Kreditech</span></div>
																													<div class="agenda-track">Demo Track</div>
																												</div>
																											</div>

																											<div class="agenda-item agenda-real-estate">
																												<div class="agenda-row">
																													<div class="agenda-ts">
																														<span class="agenda-tsfr">4:10</span><span class="agenda-tshp">–</span><span class="agenda-tsto">4:40</span>
																													</div>
																													<div class="agenda-title"><a href="#" data-reveal-id="usa15-commercial-re">Commercial Real Estate<br>Plum Lending, RealCrowding, iFunding, Money360, Prodigy Network, Early Shares</a></div>
																													<div class="agenda-track">Real Estate Track</div>
																												</div>
																												<div id="usa15-commercial-re" class="reveal-modal" data-reveal>

																													<h3>Commercial Real Estate</h3>
																													<p>Real Estate Track</p>
																													<p>Bill Fisher, Plum Lending<br>
																														Adam Hooper, RealCrowd<br>
																														William Skelley, iFunding<br>
																														Dan Vetter, Money360<br>
																														Rodrigo Nino, Prodigy Network<br>
																														Moderator: Joanna Schwartz, Early Shares</p>
																														<a class="close-reveal-modal" aria-label="Close">&#215;</a>

																													</div>
																												</div>

																												<div class="agenda-item agenda-demo">
																													<div class="agenda-row">
																														<div class="agenda-ts">
																															<span class="agenda-tsfr">4:23</span><span class="agenda-tshp">–</span><span class="agenda-tsto">4:33</span>
																														</div>
																														<div class="agenda-title"><span>GroundFloor</span></div>
																														<div class="agenda-track">Demo Track</div>
																													</div>
																												</div>

																												<div class="agenda-item agenda-real-estate">
																													<div class="agenda-row">
																														<div class="agenda-ts">
																															<span class="agenda-tsfr">4:45</span><span class="agenda-tshp">–</span><span class="agenda-tsto">5:15</span>
																														</div>
																														<div class="agenda-title"><a href="#" data-reveal-id="usa15-re-crowdfunding-property-types">Real Estate Crowdfunding Property Types<br>LendZoan, Sharestates, MHP Funds, HVS</a></div>
																														<div class="agenda-track">Real Estate Track</div>
																													</div>

																													<div id="usa15-re-crowdfunding-property-types" class="reveal-modal" data-reveal>

																														<h3>Real Estate Crowdfunding Property Types</h3>
																														<p>Real Estate Track</p>
																														<p>Fix & Flip: Haider Nazar, LendZoan<br>
																															Residential Market: Allen Shayanfekr, Sharestates<br>
																															Mobile Home: Eric Siragusa, MHP Funds<br>
																															Hospitality: Bill Sipple, HVS</p>
																															<a class="close-reveal-modal" aria-label="Close">&#215;</a>

																														</div>
																													</div>


																													<div class="agenda-item agenda-demo">
																														<div class="agenda-row">
																															<div class="agenda-ts">
																																<span class="agenda-tsfr">4:36</span><span class="agenda-tshp">–</span><span class="agenda-tsto">4:46</span>
																															</div>
																															<div class="agenda-title"><span>Ascend</span></div>
																															<div class="agenda-track">Demo Track</div>
																														</div>
																													</div>


																													<div class="agenda-item agenda-demo">
																														<div class="agenda-row">
																															<div class="agenda-ts">
																																<span class="agenda-tsfr">4:49</span><span class="agenda-tshp">–</span><span class="agenda-tsto">4:59</span>
																															</div>
																															<div class="agenda-title"><span>Uvamo</span></div>
																															<div class="agenda-track">Demo Track</div>
																														</div>
																													</div>

																													<div class="agenda-item agenda-main">
																														<div class="agenda-row">
																															<div class="agenda-ts">
																																<span class="agenda-tsfr">5:00</span><span class="agenda-tshp">–</span><span class="agenda-tsto">5:45</span>
																															</div>
																															<div class="agenda-title"><a href="#" data-reveal-id="usa15-purchase-fin">Innovation in Purchase Finance<br>Affirm, Paidy, Klarna, FinanceIt, American Healthcare Lending, QED</a></div>
																															<div class="agenda-track">Main Track</div>
																															<div id="usa15-purchase-fin" class="reveal-modal" data-reveal>

																																<h3>Innovation in Purchase Finance</h3>
																																<p>Main Track</p>
																																<p>Rob Pfeifer, Affirm<br>
																																	Russell Cummer, Paidy<br>
																																	Matthew Risley, Klarna<br>
																																	Michael Garrity, FinanceIt<br>
																																	Shaun Sorensen, American Heathcare Lending<br>

																																	Moderator: Frank Rotman, QED</p>
																																	<a class="close-reveal-modal" aria-label="Close">&#215;</a>

																																</div>
																															</div>
																														</div>
																														<div class="agenda-item agenda-real-estate">
																															<div class="agenda-row">
																																<div class="agenda-ts">
																																	<span class="agenda-tsfr">5:20</span><span class="agenda-tshp">–</span><span class="agenda-tsto">5:45</span>
																																</div>
																																<div class="agenda-title"><a href="#" data-reveal-id="usa15-re-data-tech">Real Estate Data & Technology<br>Compstak, OnBoard Informatics, DV01, Real Capital Analytics, Compass</a></div>
																																<div class="agenda-track">Real Estate Track</div>
																																<div id="usa15-re-data-tech" class="reveal-modal" data-reveal>

																																	<h3>Real Estate Data & Technology</h3>
																																	<p>Real Estate Track</p>
																																	<p>Michael Mandel, Compstak<br>
																																		Marc Siden, OnBoard Informatics<br>
																																		Perry Rahbar, DV01<br>
																																		Jim Costello, Real Capital Analytics<br>
																																		Rob Refkin, Compass<br>
																																		Moderator: Ben Thypin</p>
																																		<a class="close-reveal-modal" aria-label="Close">&#215;</a>

																																	</div>
																																</div>
																															</div>

																													<div class="agenda-item agenda-demo">
																														<div class="agenda-row">
																															<div class="agenda-ts">
																																<span class="agenda-tsfr">5:03</span><span class="agenda-tshp">–</span><span class="agenda-tsto">5:13</span>
																															</div>
																															<div class="agenda-title"><span>Pave</span></div>
																															<div class="agenda-track">Demo Track</div>
																														</div>
																													</div>

																															<div class="agenda-item agenda-demo">
																																<div class="agenda-row">
																																	<div class="agenda-ts">
																																		<span class="agenda-tsfr">5:29</span><span class="agenda-tshp">–</span><span class="agenda-tsto">5:39</span>
																																	</div>
																																	<div class="agenda-title"><span>Croudify</span></div>
																																	<div class="agenda-track">Demo Track</div>
																																</div>
																															</div>

																															<div class="agenda-item agenda-main">
																																<div class="agenda-row">
																																	<div class="agenda-ts">
																																		<span class="agenda-tsfr">5:45</span><span class="agenda-tshp">–</span><span class="agenda-tsto">5:55</span>
																																	</div>
																																	<div class="agenda-title"><span>Closing Remarks</span></div>
																																	<div class="agenda-track">Main Track</div>
																																</div>
																															</div>
																														</div>
																													</div>
																												</div>

																											</div>
																										</div>
																									</div>
