<% title "LendIt USA 2015 Agenda Page" %>
<% meta_description "View the agenda for the LendIt USA 2015 Conference." %>
<% meta_keywords "p2p, online lending, peer-to-peer, LendIt USA, agenda, conference" %>
<% body_class "usa15-agenda" %>
<div class="general-background">
	<div class="row agenda-main-box ag-show-main ag-show-astor ag-show-real-estate">

		<div class="columns">
		<div class="spacer-above-nav"></div>
		<dl id="magellanTopNav" class="sub-nav ag-nav" data-magellan-expedition="fixed">
			<div class="ag-area">
				<div class="ag-date open">
					<div class="ag-group">
						<!-- <dd data-magellan-arrival="apr13"><a href="#apr13"><span class="ag-date-month">April</span> <span class="ag-date-number">13</span></a></dd> -->
						<dd data-magellan-arrival="apr14"><a href="#apr14"><span class="ag-date-month">April</span> <span class="ag-date-number">14</span></a></dd>
						<dd data-magellan-arrival="apr15"><a href="#apr15"><span class="ag-date-month">April</span> <span class="ag-date-number">15</span></a></dd>
					</div>
				</div>
				<div class="ag-track">
					<div class="ag-track-inner">
						<div class="seltra">
							<div class="seltra-inner">
								<div class="fa fa-location-arrow"></div> <div class="seltra-text"><span class="seltra-sel">Select</span> <span class="seltra-tra">Tracks</span> <span class="fa fa-angle-down"></span></div>
							</div>
						</div>
						<div class="ag-group">
							<span class="ag-dd ag-track-main"><b>Main Track</b></span>
							<span class="ag-dd ag-track-astor"><b>Track 2</b></span>
							<span class="ag-dd ag-track-real-estate"><b>Real Estate Track</b></span>
							<!-- <span class="ag-dd ag-track-china"><b>China Track</b></span> -->
							<!-- <span class="ag-dd ag-track-demo"><b>Demo Track</b></span> -->
							<!-- <span class="ag-dd ag-track-qanda"><b>Q&A</b></span> -->
						</div>
					</div>
				</div>
			</div>
		</dl>
		<a name="apr13" data-magellan-destination="apr13"></a>
		<div class="agenda-container">
			<h2>April 13 Agenda</h2>
			<h3><a href="/usa/2015/pre-conference-workshops">Pre-Conference Workshops <i class="fa fa-arrow-circle-right"></i></a></h3>

		<a name="apr14" data-magellan-destination="apr14"></a>
		<div class="agenda-container">
			<h2>April 14 Agenda</h2>
			<div class="agenda-item agenda-main">
				<div class="agenda-row">
					<div class="agenda-ts">
						<span class="agenda-tsfr">8:30</span><span class="agenda-tshp">–</span><span class="agenda-tsto">8:40</span>
					</div>
					<div class="agenda-title"><a href="#" onClick="return false;">Opening Remarks</a></div>
					<div class="agenda-track">Main Track</div>
				</div>
			</div>
			<div class="agenda-item agenda-main">
				<div class="agenda-row">
					<div class="agenda-ts">
						<span class="agenda-tsfr">8:40</span><span class="agenda-tshp">–</span><span class="agenda-tsto">9:25</span>
					</div>
					<div class="agenda-title"><a href="#" onClick="return false;">Signature Keynote: Renaud Laplanche, Lending Club</a></div>
					<div class="agenda-track">Main Track</div>
				</div>
			</div>
			<div class="agenda-item agenda-china">
				<div class="agenda-row">
					<div class="agenda-ts">
						<span class="agenda-tsfr">8:40</span><span class="agenda-tshp">–</span><span class="agenda-tsto">9:25</span>
					</div>
					<div class="agenda-title"><a href="#" onClick="return false;">China Track</a></div>
					<div class="agenda-track">China Track</div>
				</div>
			</div>
			<div class="agenda-item agenda-demo">
				<div class="agenda-row">
					<div class="agenda-ts">
						<span class="agenda-tsfr">8:40</span><span class="agenda-tshp">–</span><span class="agenda-tsto">9:25</span>
					</div>
					<div class="agenda-title"><a href="#" onClick="return false;">Demo Track</a></div>
					<div class="agenda-track">Demo Track</div>
				</div>
			</div>
			<div class="agenda-item agenda-qanda">
				<div class="agenda-row">
					<div class="agenda-ts">
						<span class="agenda-tsfr">9:25</span><span class="agenda-tshp">–</span><span class="agenda-tsto">9:45</span>
					</div>
					<div class="agenda-title"><a href="#" onClick="return false;">Q&amp;A</a></div>
					<div class="agenda-track">Q&amp;A</div>
				</div>
			</div>
			<div class="agenda-item agenda-main">
				<div class="agenda-row">
					<div class="agenda-ts">
						<span class="agenda-tsfr">9:25</span><span class="agenda-tshp">–</span><span class="agenda-tsto">9:45</span>
					</div>
					<div class="agenda-title"><a href="#" onClick="return false;">Global Overview: Peter Renton, Lend Academy</a></div>
					<div class="agenda-track">Main Track</div>
				</div>
			</div>
			<div class="agenda-item agenda-astor">
				<div class="agenda-row">
					<div class="agenda-ts">
						<span class="agenda-tsfr">9:30</span><span class="agenda-tshp">–</span><span class="agenda-tsto">10:00</span>
					</div>
					<div class="agenda-title"><a href="#" onClick="return false;">Global Online Lending Leaders<br>Afluenta, Harmoney, SocietyOne, Ovamba, Lend Academy</a></div>
					<div class="agenda-track">Track 2</div>
				</div>
			</div>
			<div class="agenda-item agenda-main">
				<div class="agenda-row">
					<div class="agenda-ts">
						<span class="agenda-tsfr">9:50</span><span class="agenda-tshp">–</span><span class="agenda-tsto">10:35</span>
					</div>
					<div class="agenda-title">
						<a href="#" onClick="return false;">Consumer Lending: The Quest For Scale<br>
							Lending Club, Prosper, Credit Karma, LendingTree, Loftopia
						</a></div>
						<div class="agenda-track">Main Track</div>
					</div>
				</div>
				<div class="agenda-item agenda-astor">
					<div class="agenda-row">
						<div class="agenda-ts">
							<span class="agenda-tsfr">10:05</span><span class="agenda-tshp">–</span><span class="agenda-tsto">10:35</span>
						</div>
						<div class="agenda-title"><a href="#" onClick="return false;">Small Business Lending Innovators</a></div>
						<div class="agenda-track">Track 2</div>
					</div>
				</div>
				<div class="agenda-item agenda-main">
					<div class="agenda-row">
						<div class="agenda-ts">
							<span class="agenda-tsfr">10:35</span><span class="agenda-tshp">–</span><span class="agenda-tsto">11:05</span>
						</div>
						<div class="agenda-title"><span>Morning Coffee Break</span></div>
						<div class="agenda-track">Main Track</div>
					</div>
				</div>
				<div class="agenda-item agenda-astor">
					<div class="agenda-row">
						<div class="agenda-ts">
							<span class="agenda-tsfr">10:35</span><span class="agenda-tshp">–</span><span class="agenda-tsto">11:05</span>
						</div>
						<div class="agenda-title"><span>Morning Coffee Break</span></div>
						<div class="agenda-track">Track 2</div>
					</div>
				</div>
				<div class="agenda-item agenda-main"><div class="agenda-row">
					<div class="agenda-ts">
						<span class="agenda-tsfr">11:05</span><span class="agenda-tshp">–</span><span class="agenda-tsto">11:50</span>
					</div>
					<div class="agenda-title"><a href="#" onClick="return false;">Fireside Chat with Nigel Morris of QED Investors and Mike Cagney of SoFi</a></div>
					<div class="agenda-track">Main Track</div>
				</div></div>
				<div class="agenda-item agenda-astor"><div class="agenda-row">
					<div class="agenda-ts">
						<span class="agenda-tsfr">11:05</span><span class="agenda-tshp">–</span><span class="agenda-tsto">11:25</span>
					</div>
					<div class="agenda-title"><a href="#">Wealth Managers and Self Directed Investors<br>Lending Robot, Lend Academy Investments</a></div>
					<div class="agenda-track">Track 2</div>
				</div></div>
				<div class="agenda-item agenda-astor">
					<div class="agenda-row">
						<div class="agenda-ts">
							<span class="agenda-tsfr">11:30</span><span class="agenda-tshp">–</span><span class="agenda-tsto">12:00</span>
						</div>
						<div class="agenda-title"><a href="#" onClick="return false;">Trends in Credit Underwriting</a></div>
						<div class="agenda-track">Track 2</div>
					</div>
				</div>
				<div class="agenda-item agenda-main">
					<div class="agenda-row">
						<div class="agenda-ts">
							<span class="agenda-tsfr">11:55</span><span class="agenda-tshp">–</span><span class="agenda-tsto">12:35</span>
						</div>
						<div class="agenda-title"><a href="#" onClick="return false;">Partnering with Banks</a></div>
						<div class="agenda-track">Main Track</div>
					</div>
				</div>
				<div class="agenda-item agenda-astor">
					<div class="agenda-row">
						<div class="agenda-ts">
							<span class="agenda-tsfr">12:05</span><span class="agenda-tshp">–</span><span class="agenda-tsto">12:35</span>
						</div>
						<div class="agenda-title"><a href="#" onClick="return false;">Big Data and the Future of Financing<br>OnDeck, Fundera, Upstart, Orchard</a></div>
						<div class="agenda-track">Track 2</div>
					</div>
				</div>
				<div class="agenda-item agenda-main">
					<div class="agenda-row">
						<div class="agenda-ts">
							<span class="agenda-tsfr">12:35</span><span class="agenda-tshp">–</span><span class="agenda-tsto">1:35</span>
						</div>
						<div class="agenda-title"><span>Networking Lunch</span></div>
						<div class="agenda-track">Main Track</div>
					</div>
				</div>
				<div class="agenda-item agenda-astor">
					<div class="agenda-row">
						<div class="agenda-ts">
							<span class="agenda-tsfr">12:35</span><span class="agenda-tshp">–</span><span class="agenda-tsto">1:35</span>
						</div>
						<div class="agenda-title"><span>Networking Lunch</span></div>
						<div class="agenda-track">Track 2</div>
					</div>
				</div>
				<div class="agenda-item agenda-main">
					<div class="agenda-row">
						<div class="agenda-ts">
							<span class="agenda-tsfr">1:35</span><span class="agenda-tshp">–</span><span class="agenda-tsto">2:05</span>
						</div>
						<div class="agenda-title"><a href="#" onClick="return false;">Special Presentation: Sam Hodges, Funding Circle</a></div>
						<div class="agenda-track">Main Track</div>
					</div>
				</div>
				<div class="agenda-item agenda-astor">
					<div class="agenda-row">
						<div class="agenda-ts">
							<span class="agenda-tsfr">1:35</span><span class="agenda-tshp">–</span><span class="agenda-tsto">2:05</span>
						</div>
						<div class="agenda-title"><a href="#" onClick="return false;">Student Lending Begins to Scale<br>SoFi, LendKey, Prodigy Finance, Credible, CommonBond</a></div>
						<div class="agenda-track">Track 2</div>
					</div>
				</div>
				<div class="agenda-item agenda-main">
					<div class="agenda-row">
						<div class="agenda-ts">
							<span class="agenda-tsfr">2:05</span><span class="agenda-tshp">–</span><span class="agenda-tsto">2:45</span>
						</div>
						<div class="agenda-title"><a href="#" onClick="return false;">The European Online Lending Opportunity<br>
							RateSetter, Liberum
						</a></div>
						<div class="agenda-track">Main Track</div>
					</div>
				</div>
				<div class="agenda-item agenda-astor">
					<div class="agenda-row">
						<div class="agenda-ts">
							<span class="agenda-tsfr">2:05</span><span class="agenda-tshp">–</span><span class="agenda-tsto">2:20</span>
						</div>
						<div class="agenda-title"><a href="#" onClick="return false;">Presentation: Intersection of Lending Innovation and Regulation</a></div>
						<div class="agenda-track">Track 2</div>
					</div>
				</div>
				<div class="agenda-item agenda-astor">
					<div class="agenda-row">
						<div class="agenda-ts">
							<span class="agenda-tsfr">2:25</span><span class="agenda-tshp">–</span><span class="agenda-tsto">2:50</span>
						</div>
						<div class="agenda-title"><a href="#" onClick="return false;">Regulation: Building Principles-Based Compliance</a></div>
						<div class="agenda-track">Track 2</div>
					</div>
				</div>
				<div class="agenda-item agenda-main">
					<div class="agenda-row">
						<div class="agenda-ts">
							<span class="agenda-tsfr">2:50</span><span class="agenda-tshp">–</span><span class="agenda-tsto">3:35</span>
						</div>
						<div class="agenda-title"><a href="#" onClick="return false;">High Yield, Short Duration: Invoice &amp; Receivables<br>
							FastPay, Taulia, Interface Financial, C2FO, and P2Bi
						</a></div>
						<div class="agenda-track">Main Track</div>
					</div>
				</div>
				<div class="agenda-item agenda-astor">
					<div class="agenda-row">
						<div class="agenda-ts">
							<span class="agenda-tsfr">2:50</span><span class="agenda-tshp">–</span><span class="agenda-tsto">3:20</span>
						</div>
						<div class="agenda-title"><a href="#" onClick="return false;">Financing Underbanked Borrowers<br>Avant Credit, Insikt
						</a></div>
						<div class="agenda-track">Track 2</div>
					</div>
				</div>
				<div class="agenda-item agenda-astor">
					<div class="agenda-row">
						<div class="agenda-ts">
							<span class="agenda-tsfr">3:35</span><span class="agenda-tshp">–</span><span class="agenda-tsto">4:05</span>
						</div>
						<div class="agenda-title"><span>Afternoon Coffee Break</span></div>
						<div class="agenda-track">Track 2</div>
					</div>
				</div>
				<div class="agenda-item agenda-main">
					<div class="agenda-row">
						<div class="agenda-ts">
							<span class="agenda-tsfr">3:35</span><span class="agenda-tshp">–</span><span class="agenda-tsto">4:05</span>
						</div>
						<div class="agenda-title"><span>Afternoon Coffee Break</span></div>
						<div class="agenda-track">Main Track</div>
					</div>
				</div>
				<div class="agenda-item agenda-astor">
					<div class="agenda-row">
						<div class="agenda-ts">
							<span class="agenda-tsfr">4:05</span><span class="agenda-tshp">–</span><span class="agenda-tsto">4:30</span>
						</div>
						<div class="agenda-title"><a href="#" onClick="return false;">Innovation in Purchase Finance<br>Affirm, Paidy, QED</a></div>
						<div class="agenda-track">Track 2</div>
					</div>
				</div>
				<div class="agenda-item agenda-main">
					<div class="agenda-row">
						<div class="agenda-ts">
							<span class="agenda-tsfr">4:05</span><span class="agenda-tshp">–</span><span class="agenda-tsto">4:35</span>
						</div>
						<div class="agenda-title"><a href="#" onClick="return false;">Fireside Chat with Greg Gibb, Lufax</a></div>
						<div class="agenda-track">Main Track</div>
					</div>
				</div>
				<div class="agenda-item agenda-astor">
					<div class="agenda-row">
						<div class="agenda-ts">
							<span class="agenda-tsfr">4:35</span><span class="agenda-tshp">–</span><span class="agenda-tsto">5:00</span>
						</div>
						<div class="agenda-title"><a href="#" onClick="return false;">Presentation</a></div>
						<div class="agenda-track">Track 2</div>
					</div>
				</div>
				<div class="agenda-item agenda-main">
					<div class="agenda-row">
						<div class="agenda-ts">
							<span class="agenda-tsfr">4:40</span><span class="agenda-tshp">–</span><span class="agenda-tsto">5:25</span>
						</div>
						<div class="agenda-title"><a href="#" onClick="return false;">The Largest P2P Market in the World: China<br>
							Lufax, Dianrong
						</a></div>
						<div class="agenda-track">Main Track</div>
					</div>
				</div>
				<div class="agenda-item agenda-astor">
					<div class="agenda-row">
						<div class="agenda-ts">
							<span class="agenda-tsfr">5:05</span><span class="agenda-tshp">–</span><span class="agenda-tsto">5:30</span>
						</div>
						<div class="agenda-title"><a href="#" onClick="return false;">Borrower Acquisition at Scale<br>BetterFinance</a></div>
						<div class="agenda-track">Track 2</div>
					</div>
				</div>
				<div class="agenda-item agenda-main">
					<div class="agenda-row">
						<div class="agenda-ts">
							<span class="agenda-tsfr">5:30</span><span class="agenda-tshp">–</span><span class="agenda-tsto">6:00</span>
						</div>
						<div class="agenda-title"><a href="#" onClick="return false;">Closing Keynote: Ron Suber, Prosper</a></div>
						<div class="agenda-track">Main Track</div>
					</div>
				</div>
				<div class="agenda-item agenda-main">
					<div class="agenda-row">
						<div class="agenda-ts">
							<span class="agenda-tsfr">6:00</span><span class="agenda-tshp">–</span><span class="agenda-tsto">7:00</span>
						</div>
						<div class="agenda-title"><span>Cocktail Party - Sponsored by SoFi</span></div>
						<div class="agenda-track">Main Track</div>
					</div>
				</div>
			</div>
			<a name="apr15" data-magellan-destination="apr15"></a>
			<div class="agenda-container">
				<h2>April 15 Agenda</h2>
				<div class="agenda-item agenda-main">
					<div class="agenda-row">
						<div class="agenda-ts">
							<span class="agenda-tsfr">8:30</span><span class="agenda-tshp">–</span><span class="agenda-tsto">8:40</span>
						</div>
						<div class="agenda-title"><a href="#" onClick="return false;">Opening Remarks</a></div>
						<div class="agenda-track">Main Track</div>
					</div>
				</div>
				<div class="agenda-item agenda-main">
					<div class="agenda-row">
						<div class="agenda-ts">
							<span class="agenda-tsfr">8:40</span><span class="agenda-tshp">–</span><span class="agenda-tsto">9:10</span>
						</div>
						<div class="agenda-title"><a href="#" onClick="return false;">Special Presentation: Noah Breslow, OnDeck</a></div>
						<div class="agenda-track">Main Track</div>
					</div>
				</div>
				<div class="agenda-item agenda-main">
					<div class="agenda-row">
						<div class="agenda-ts">
							<span class="agenda-tsfr">9:15</span><span class="agenda-tshp">–</span><span class="agenda-tsto">10:00</span>
						</div>
						<div class="agenda-title"><a href="#" onClick="return false;">Asset Allocation: Where Does the Asset Class Fit?<br>Prime Meridian</a></div>
						<div class="agenda-track">Main Track</div>
					</div>
				</div>
				<div class="agenda-item agenda-real-estate">
					<div class="agenda-row">
						<div class="agenda-ts">
							<span class="agenda-tsfr">8:40</span><span class="agenda-tshp">–</span><span class="agenda-tsto">9:10</span>
						</div>
						<div class="agenda-title"><a href="#" onClick="return false;">State of the Real Estate Online Lending Market</a></div>
						<div class="agenda-track">Real Estate Track</div>
					</div>
				</div>
				<div class="agenda-item agenda-real-estate">
					<div class="agenda-row">
						<div class="agenda-ts">
							<span class="agenda-tsfr">9:15</span><span class="agenda-tshp">–</span><span class="agenda-tsto">10:00</span>
						</div>
						<div class="agenda-title"><a href="#" onClick="return false;">Institutional Investors View of Real Estate Crowdfunding</a></div>
						<div class="agenda-track">Real Estate Track</div>
					</div>
				</div>
<!-- 				<div class="agenda-item agenda-real-estate">
					<div class="agenda-row">
						<div class="agenda-ts">
							<span class="agenda-tsfr">9:45</span><span class="agenda-tshp">–</span><span class="agenda-tsto">10:30</span>
						</div>
						<div class="agenda-title"><a href="#" onClick="return false;">Real Estate Track</a></div>
						<div class="agenda-track">Real Estate Track</div>
					</div>
				</div> -->
				<div class="agenda-item agenda-main">
					<div class="agenda-row">
						<div class="agenda-ts">
							<span class="agenda-tsfr">10:00</span><span class="agenda-tshp">–</span><span class="agenda-tsto">10:45</span>
						</div>
						<div class="agenda-title"><a href="#" onClick="return false;">Signature Keynote: Lawrence H. Summers, Former U.S. Treasury Secretary</a></div>
						<div class="agenda-track">Main Track</div>
					</div>
				</div>
				<div class="agenda-item agenda-main">
					<div class="agenda-row">
						<div class="agenda-ts">
							<span class="agenda-tsfr">10:45</span><span class="agenda-tshp">–</span><span class="agenda-tsto">11:15</span>
						</div>
						<div class="agenda-title"><span>Morning Coffee Break</span></div>
						<div class="agenda-track">Main Track</div>
					</div>
				</div>
				<div class="agenda-item agenda-real-estate">
					<div class="agenda-row">
						<div class="agenda-ts">
							<span class="agenda-tsfr">10:45</span><span class="agenda-tshp">–</span><span class="agenda-tsto">11:15</span>
						</div>
						<div class="agenda-title"><a href="#" onClick="return false;">Morning Coffee Break</a></div>
						<div class="agenda-track">Real Estate Track</div>
					</div>
				</div>
				<div class="agenda-item agenda-main"><div class="agenda-row">
					<div class="agenda-ts">
						<span class="agenda-tsfr">11:15</span><span class="agenda-tshp">–</span><span class="agenda-tsto">11:35</span>
					</div>
					<div class="agenda-title"><a href="#" onClick="return false;">Presentation: White Paper<br>Karen Mills, Former Administrator of U.S. Small Business Administration</a></div>
					<div class="agenda-track">Main Track</div>
				</div>
			</div>
			<div class="agenda-item agenda-real-estate">
				<div class="agenda-row">
					<div class="agenda-ts">
						<span class="agenda-tsfr">11:15</span><span class="agenda-tshp">–</span><span class="agenda-tsto">11:45</span>
					</div>
					<div class="agenda-title"><a href="#" onClick="return false;">Platforms Shifting from Retail to Institutional Investors</a></div>
					<div class="agenda-track">Real Estate Track</div>
				</div>
			</div>
			<div class="agenda-item agenda-main">
				<div class="agenda-row">
					<div class="agenda-ts">
						<span class="agenda-tsfr">11:40</span><span class="agenda-tshp">–</span><span class="agenda-tsto">12:25</span>
					</div>
					<div class="agenda-title"><a href="#" onClick="return false;">Short Term Small Business Lending<br>Kabbage</a></div>
					<div class="agenda-track">Main Track</div>
				</div>
			</div>
			<div class="agenda-item agenda-real-estate">
				<div class="agenda-row">
					<div class="agenda-ts">
						<span class="agenda-tsfr">11:50</span><span class="agenda-tshp">–</span><span class="agenda-tsto">12:30</span>
					</div>
					<div class="agenda-title"><a href="#" onClick="return false;">Will Real Estate Crowdfunding Transform the Mortgage Market?</a></div>
					<div class="agenda-track">Real Estate Track</div>
				</div>
			</div>
			<div class="agenda-item agenda-main">
				<div class="agenda-row">
					<div class="agenda-ts">
						<span class="agenda-tsfr">12:25</span><span class="agenda-tshp">–</span><span class="agenda-tsto">12:30</span>
					</div>
					<div class="agenda-title"><a href="#" onClick="return false;">LendIt Innovator of the Year Award</a></div>
					<div class="agenda-track">Main Track</div>
				</div>
			</div>
			<div class="agenda-item agenda-main">
				<div class="agenda-row">
					<div class="agenda-ts">
						<span class="agenda-tsfr">12:30</span><span class="agenda-tshp">–</span><span class="agenda-tsto">1:30</span>
					</div>
					<div class="agenda-title"><span>Networking Lunch</span></div>
					<div class="agenda-track">Main Track</div>
				</div>
			</div>
			<div class="agenda-item agenda-real-estate">
				<div class="agenda-row">
					<div class="agenda-ts">
						<span class="agenda-tsfr">12:30</span><span class="agenda-tshp">–</span><span class="agenda-tsto">1:30</span>
					</div>
					<div class="agenda-title"><span>Networking Lunch</span></div>
					<div class="agenda-track">Real Estate Track</div>
				</div>
			</div>
			<div class="agenda-item agenda-main">
				<div class="agenda-row">
					<div class="agenda-ts">
						<span class="agenda-tsfr">1:30</span><span class="agenda-tshp">–</span><span class="agenda-tsto">1:50</span>
					</div>
					<div class="agenda-title"><a href="#" onClick="return false;">Emerging Online Lending Leaders: Upstart, CircleBack Lending, Avant Credit </a></div>
					<div class="agenda-track">Main Track</div>
				</div>
			</div>
			<div class="agenda-item agenda-real-estate">
				<div class="agenda-row">
					<div class="agenda-ts">
						<span class="agenda-tsfr">1:30</span><span class="agenda-tshp">–</span><span class="agenda-tsto">1:50</span>
					</div>
					<div class="agenda-title"><a href="#" onClick="return false;">Presentation</a></div>
					<div class="agenda-track">Real Estate Track</div>
				</div>
			</div>
			<div class="agenda-item agenda-real-estate">
				<div class="agenda-row">
					<div class="agenda-ts">
						<span class="agenda-tsfr">1:55</span><span class="agenda-tshp">–</span><span class="agenda-tsto">2:25</span>
					</div>
					<div class="agenda-title"><a href="#" onClick="return false;">Residential Real Estate Platforms</a></div>
					<div class="agenda-track">Real Estate Track</div>
				</div>
			</div>
			<div class="agenda-item agenda-main">
				<div class="agenda-row">
					<div class="agenda-ts">
						<span class="agenda-tsfr">2:20</span><span class="agenda-tshp">–</span><span class="agenda-tsto">2:50</span>
					</div>
					<div class="agenda-title"><a href="#" onClick="return false;">Presentation: Lessons from the Installment Loan Business<br>Frank Rotman, QED Investors & Former Head of Installment Loans at Capital One</a></div>
					<div class="agenda-track">Main Track</div>
				</div>
			</div>
			<div class="agenda-item agenda-real-estate">
				<div class="agenda-row">
					<div class="agenda-ts">
						<span class="agenda-tsfr">2:30</span><span class="agenda-tshp">–</span><span class="agenda-tsto">2:45</span>
					</div>
					<div class="agenda-title"><a href="#" onClick="return false;">Presentation</a></div>
					<div class="agenda-track">Real Estate Track</div>
				</div>
			</div>
			<div class="agenda-item agenda-real-estate">
				<div class="agenda-row">
					<div class="agenda-ts">
						<span class="agenda-tsfr">2:50</span><span class="agenda-tshp">–</span><span class="agenda-tsto">3:20</span>
					</div>
					<div class="agenda-title"><a href="#" onClick="return false;">Energy Platforms Take On Online Lending</a></div>
					<div class="agenda-track">Real Estate Track</div>
				</div>
			</div>
			<div class="agenda-item agenda-main">
				<div class="agenda-row">
					<div class="agenda-ts">
						<span class="agenda-tsfr">2:55</span><span class="agenda-tshp">–</span><span class="agenda-tsto">3:40</span>
					</div>
					<div class="agenda-title"><a href="#" onClick="return false;">The Growth of Securitization: SoFi, OnDeck</a></div>
					<div class="agenda-track">Main Track</div>
				</div>
			</div>
			<div class="agenda-item agenda-real-estate">
				<div class="agenda-row">
					<div class="agenda-ts">
						<span class="agenda-tsfr">3:25</span><span class="agenda-tshp">–</span><span class="agenda-tsto">3:40</span>
					</div>
					<div class="agenda-title"><a href="#" onClick="return false;">Presentation</a></div>
					<div class="agenda-track">Real Estate Track</div>
				</div>
			</div>
			<div class="agenda-item agenda-main">
				<div class="agenda-row">
					<div class="agenda-ts">
						<span class="agenda-tsfr">3:40</span><span class="agenda-tshp">–</span><span class="agenda-tsto">4:10</span>
					</div>
					<div class="agenda-title"><span>Afternoon Coffee Break</span></div>
					<div class="agenda-track">Main Track</div>
				</div>
			</div>
			<div class="agenda-item agenda-real-estate">
				<div class="agenda-row">
					<div class="agenda-ts">
						<span class="agenda-tsfr">3:40</span><span class="agenda-tshp">–</span><span class="agenda-tsto">4:10</span>
					</div>
					<div class="agenda-title"><span>Afternoon Coffee Break</span></div>
					<div class="agenda-track">Real Estate Track</div>
				</div>
			</div>
			<div class="agenda-item agenda-main">
				<div class="agenda-row">
					<div class="agenda-ts">
						<span class="agenda-tsfr">4:10</span><span class="agenda-tshp">–</span><span class="agenda-tsto">4:55</span>
					</div>
					<div class="agenda-title"><a href="#" onClick="return false;">Long Term Small Business Lending<br>Lending Club, Fundation, Dealstruck</a></div>
					<div class="agenda-track">Main Track</div>
				</div>
			</div>
			<div class="agenda-item agenda-real-estate">
				<div class="agenda-row">
					<div class="agenda-ts">
						<span class="agenda-tsfr">4:10</span><span class="agenda-tshp">–</span><span class="agenda-tsto">4:40</span>
					</div>
					<div class="agenda-title"><a href="#" onClick="return false;">Commercial Real Estate</a></div>
					<div class="agenda-track">Real Estate Track</div>
				</div>
			</div>
			<div class="agenda-item agenda-real-estate">
				<div class="agenda-row">
					<div class="agenda-ts">
						<span class="agenda-tsfr">4:45</span><span class="agenda-tshp">–</span><span class="agenda-tsto">5:15</span>
					</div>
					<div class="agenda-title"><a href="#" onClick="return false;">Real Estate Crowdfunding Property Types</a></div>
					<div class="agenda-track">Real Estate Track</div>
				</div>
			</div>
			<div class="agenda-item agenda-main">
				<div class="agenda-row">
					<div class="agenda-ts">
						<span class="agenda-tsfr">5:00</span><span class="agenda-tshp">–</span><span class="agenda-tsto">5:45</span>
					</div>
					<div class="agenda-title"><a href="#" onClick="return false;">The Future of Yield</a></div>
					<div class="agenda-track">Main Track</div>
				</div>
			</div>
			<div class="agenda-item agenda-real-estate">
				<div class="agenda-row">
					<div class="agenda-ts">
						<span class="agenda-tsfr">5:20</span><span class="agenda-tshp">–</span><span class="agenda-tsto">5:45</span>
					</div>
					<div class="agenda-title"><a href="#" onClick="return false;">Real Estate Data & Analysis</a></div>
					<div class="agenda-track">Real Estate Track</div>
				</div>
			</div>
			<div class="agenda-item agenda-main">
				<div class="agenda-row">
					<div class="agenda-ts">
						<span class="agenda-tsfr">5:45</span><span class="agenda-tshp">–</span><span class="agenda-tsto">5:55</span>
					</div>
					<div class="agenda-title"><!-- <a href="#" onClick="return false;"> --><span>Closing Remarks</span></div>
					<div class="agenda-track">Main Track</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
