.china15-agenda {
	.general-background {
		font-family:'Open Sans', sans-serif;
		padding-bottom:40px;
		padding-left:10px;
		padding-right:10px;
		h1 {
			font-family:'Open Sans', sans-serif;
			margin-bottom:1em;
			margin-top:1em;
		}
		.itinerary {
			ul {
				list-style-type:none;
				margin:0 0 1em 0;
				padding:0 0 1em 0;
				
				@media #{$medium-up} {
				margin:0 0 2em 0;
				padding:0 0 2em 0;
			}
				border-bottom:1px dotted #ccc;
			}
			[class^="time-"] {
				position:relative;
				padding-left:80px;
				font-weight:600;
				margin-bottom:.25em;
				background:#f5f9ea;
					padding-top:.25em;
					padding-bottom:.25em;
					padding-right:1em;
					font-size:14px;
				
				@media #{$medium-up} {
					font-size:16px;
					padding-top:.5em;
					padding-bottom:.5em;
					padding-left:200px;
				}
				&:before {
					color:$primary-color;
					width:70px;
					position:absolute;
					font-weight:400;
					left:0;
					top:0;
					text-align:right;
					padding-right:10px;

						padding-top:.25em;
					@media #{$medium-up} {
						padding-top:.5em;
						width: 180px;


					}
				}
			}
			.time-0000 {
				padding-left: 0;
				font-weight:600;
					@media #{$medium-up} {
				font-size:20px;
			}
				background:none;
				padding-top:0;
				padding-bottom:0;
				color:$primary-color;
			}
			.time-0001 {
				background:none;
				padding-left:0;
					@media #{$medium-up} {
				
				font-size:20px;
			}
				margin-bottom:1em;
				font-weight:300;
				padding-top:0;
				padding-bottom:0;
				
			}
			.time-0700 {
				&:before {
					content: '07:00';
				}
			}
			.time-0800 {
				&:before {
					content: '08:00';
				}
			}
			.time-0830 {
				&:before {
					content: '08:30';
				}
			}
			.time-0900 {
				&:before {
					content: '09:00';
				}
			}
			.time-0930 {
				&:before {
					content: '09:30';
				}
			}
			.time-1000 {
				&:before {
					content: '10:00';
				}
			}
			.time-1030 {
				&:before {
					content: '10:30';
				}
			}
			.time-1100 {
				&:before {
					content: '11:00';
				}
			}
			.time-1200 {
				&:before {
					content: '12:00';
				}
			}
			.time-1230 {
				&:before {
					content: '12:30';
				}
			}
			.time-1300 {
				&:before {
					content: '13:00';
				}
			}
			.time-1330 {
				&:before {
					content: '13:30';
				}
			}
			.time-1400 {
				&:before {
					content: '14:00';
				}
			}
			.time-1430 {
				&:before {
					content: '14:30';
				}
			}
			.time-1600 {
				&:before {
					content: '16:00';
				}
			}
			.time-1630 {
				&:before {
					content: '16:30';
				}
			}
			.time-1700 {
				&:before {
					content: '17:00';
				}
			}
			.time-1730 {
				&:before {
					content: '17:30';
				}
			}
			.time-1800 {
				&:before {
					content: '18:00';
				}
			}
			.time-1830 {
				&:before {
					content: '18:30';
				}
			}
			.time-1900 {
				&:before {
					content: '19:00';
				}
			}
			.time-1930 {
				&:before {
					content: '19:30';
				}
			}
			.time-2000 {
				&:before {
					content: '20:00';
				}
			}
			.time-2030 {
				&:before {
					content: '20:30';
				}
			}
			.time-2130 {
				&:before {
					content: '21:30';
				}
			}
			.time-2200 {
				&:before {
					content: '22:00';
				}
			}
			.time-2230 {
				&:before {
					content: '22:30';
				}
			}
		}
	}
}
