


// Agenda Container

// general
$primary-color: #8ac10b;

$main-color:#8ac10b; 
$track2-color:#F39B20; 
$realestate-color:#7DAFC0; 
$china-color:#9786BF; 
$demo-color:#E38B96; 
$qanda-color:#C6BF32; 

.spacer-above-nav {
	height:10px;
}

.usa15-agenda .important-callout {
	display:none;
}
.usa15-agenda {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}
.usa15-agenda .general-background {
	padding-bottom:300px;
}
.usa15-agenda .general-background h1 {
	font-family: 'Open Sans', sans-serif;
	margin: 1.2em 0 1em 0;
	padding-bottom:4px;
	border-bottom:2px solid #666;
}
.usa15-agenda .general-background h2 {
	margin: 1em 0 1em 0;
	font-family: 'Open Sans', sans-serif;
	line-height:1em;
	border-top:10px solid #f5f5f5;
	padding-top:20px;
	padding-left:10px;

	font-size: 32px;
	font-weight: 600;
	-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
@media screen and (max-width:700px) {
	text-align:center;
	padding-left:0;
}

}



.agenda-container {
	margin: 0 auto 4em auto;
	h2 {
	}
	.preconf-workshops {
		table {
			border:none;
			th {
				background:$primary-color;
				color:#fff;
				font-weight:600;
				border-left:1px solid lighten($primary-color, 50%);

			}
			td {
				border-bottom: 2px solid #f5f5f5;

			}
			.preconf-workshop-time {
				white-space:nowrap;
			}
		}
	}
	h3 {
		font-family: 'Open Sans', sans-serif;
		font-size:20px;
		font-weight:600;
		margin:1.5em 0 1.5em 10px;
		
@media screen and (max-width:700px) {
	text-align:center;
	margin-left:0;
}
		

	}
}



.agenda-item {
	display: table;
	width:100%;
	border-bottom: 2px solid #f5f5f5;
	@media only screen and (max-width:750px) {
		position: relative;
		padding-top: 35px;
	}
	.agenda-row {
		.agenda-ts {
			@media only screen and (max-width:750px) {
				position: absolute;
				top: 6px;
				left: 4px;
				&:before {
					content: '\f017';
					font-family: FontAwesome;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
				}
			}
			font-size: 14px;
			display: table;
			color: #666;
			text-shadow: 0 1px 2px #fff;
			@media only screen and (min-width: 751px) {
				display: table-cell;
				padding: 10px 4px;
				vertical-align: top;
				width: 100px;
				padding-top: 12px;
			}
			.agenda-tsfr {
				display: table-cell;
				width: 40px;
				text-align: center;
			}
			.agenda-tshp {
				display: table-cell;
				width: 10px;
				text-align: center;
			}
			.agenda-tsto {
				display: table-cell;
				width: 40px;
				text-align: center;
			}
		}
		.agenda-title {
			@media only screen and (max-width: 750px) {
				padding-bottom: 8px;
			}
			@media only screen and (min-width: 751px) {
				display: table-cell;
				padding: 10px 4px;
				vertical-align: top;
			}
			span {
				line-height: 1.3em;
				text-decoration: none;
				display: inline-block;
				padding: 2px 5px;
				-webkit-border-radius: 1px;
				-moz-border-radius: 1px;
				border-radius: 1px;
				font-weight: 600;
				text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
				position: relative;

			}
			a {
				line-height: 1.3em;
				text-decoration: none;
				display: inline-block;
				padding: 2px 5px;
				-webkit-border-radius: 1px;
				-moz-border-radius: 1px;
				border-radius: 1px;
				font-weight: 600;
				text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
				position: relative;
				&:after {
					content: ' \00A0 \f138';
					font-family: FontAwesome;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					position: absolute;
					right: -19px;
					top: 2px;
					opacity: .6;
				}
				&:hover {
					opacity: .8;
				}
			}
			a {
				&:hover:after {
					opacity: 1;
				}
			}
		}
		.agenda-track {
			@media only screen and (max-width: 750px) {
				position: absolute;
				right: 6px;
				top: 6px;
			}
			@media only screen and (min-width: 751px) {
				display: table-cell;
				padding: 10px 4px;
				vertical-align: top;
				white-space: nowrap;
				text-align: right;
				padding-top: 10px;
				padding-right: 10px;
			}
			font-size: 14px;
			text-shadow: 0 1px 2px #fff;
			&:before {
				content: '\f124\00A0';
				font-family: FontAwesome;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}
			.agenda-main & {
				color: #8AC10B;
			}
		}
	}
}

.agenda-item {
	display:none;
}

.agenda-main {
	.ag-show-main & {
		display:table;
	}
	.agenda-title {
		a, span {
			background: $main-color;
			color: #fff;
		}
		a {
			border-right: 24px solid darken($main-color,4%);
		}
	}
	.agenda-track {
		color:$main-color;
	}
}
.agenda-astor { 
	.ag-show-astor & {
		display:table;
	}
	.agenda-title {
		a, span {
			background: $track2-color;
			color: #fff;
		}
		a {
			border-right: 24px solid darken($track2-color,6%);
		}
	}
	.agenda-track {
		color:$track2-color;
	}
}
.agenda-real-estate { 
	.ag-show-real-estate & {
		display:table;
	}
	.agenda-title {
		a, span {
			background: $realestate-color;
			color: #fff;
		}
		a {
			border-right: 24px solid darken($realestate-color,6%);
		}
	}
	.agenda-track {
		color:$realestate-color;
	}
}

.agenda-china { 
	.ag-show-china & {
		display:table;
	}
	.agenda-title {
		a, span {
			background: $china-color;
			color: #fff;
		}
		a {
			border-right: 24px solid darken($china-color,6%);
		}
	}
	.agenda-track {
		color:$china-color;
	}
}
.agenda-demo { 
	.ag-show-demo & {
		display:table;
	}
	.agenda-title {
		a, span {
			background: $demo-color;
			color: #fff;
		}
		a {
			border-right: 24px solid darken($demo-color,6%);
		}
	}
	.agenda-track {
		color:$demo-color;
	}
}
.agenda-qanda { 
	.ag-show-qanda & {
		display:table;
	}
	.agenda-title {
		a, span {
			background: $qanda-color;
			color: #fff;
		}
		a {
			border-right: 24px solid darken($qanda-color,6%);
		}
	}
	.agenda-track {
		color:$qanda-color;
	}
}


// other 
.big-spacer {
	height: 400px;
}


// the pre-conference styles

.preconf-workshops {
	display:none;
}
.ag13-sort-by-time {
	display:none;
}

.ag13-sort-by-topic {
	display:none;
}
.ag13-active-panel {
	display:block;
}
@media screen and (min-width:700px) {
	.ag13-sort-by-time {
		display:none;
	}
	.ag13-sort-by-topic {
		display:none;
	}
	.preconf-workshops {
		display:block;
	}

}







.ag13-section {
	padding-bottom:1em;
	padding-left:10px;
	border-top:1px solid #ddd;
}
.ag13-header {
	font-weight:400;
	padding-top:.5em;
	margin-bottom:.5em;
	font-size:16px;
	color:#333;
}
.ag13-section b {
	font-weight:400;
	color:#333;
	white-space:nowrap;
	background:#EDF7D8;
	box-shadow:0 0 1px #8ac10b  ;
	padding-left:1px;
	padding-right:px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.ag13-section strong {
	font-weight:700;
}
.ag13-section li strong {
	font-weight:600;
}
.ag13-section i {
	white-space:nowrap;
	font-style:normal;
}
.ag13-section li i {
	font-weight:400;
}
.ag13-item {
	margin-bottom:.5em;
	padding-left:8px;
	border-left:4px solid #91B23F;
}
.ag13-item:nth-child(odd) {
	border-color:#A6D430;
}
.ag13-item:last-of-type {
	margin-bottom:0;
}
.ag13-section:nth-child(odd) {
	background:#f5f5f5;
}
.ag13-subhead {
	font-size:14px;
	color:#999;
}
.ag13-content,
.ag13-section li
{
	font-weight:600;
	font-size:15px;
	color:#444;
}
.ag13-section ul {
	margin:0;
	margin-left:5px;
	padding-left:1em;
	list-style-type:square;
}
.ag13-section li {
	margin-bottom:1em;
}
.ag13-section li:last-of-type {
	margin-bottom:0;
}

.ag13-toggle {
	display:table;
	margin:0 auto 1em auto;
	padding-bottom:1em;
	width:100%;
@media screen and (min-width:700px) {
	display:none;
}
	
}
.ag13-toggle span {
	font-size:14px;
	width:50%;
	display:table-cell;
	text-align:center;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	color:$primary-color;
	border-bottom:1px solid #e5e5e5;
	font-weight:600;
}
.ag13-toggle span b {
	font-weight:400;
	background:#f5f5f5;
	padding:7px 12px;
	display:block;
	margin:5px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	cursor:pointer;
	cursor:hand;

}
.ag13-toggle span b:hover {
	background:#f5f5f5;
}

.ag13-toggle .ag13-active {
	border-top:2px solid #e5e5e5;
	background:#fff;
	border-bottom:none;
	color:#333;
	text-decoration:none;
	font-weight:600;
}
.ag13-toggle .ag13-active b {
	text-transform:uppercase;
	font-weight:600;
	background:none;
	text-shadow:none;
}
.ag13-toggle .ag13-active b:hover {
	background:#fff;
}

.ag13-toggle span + span {
	border-left:1px solid #e5e5e5;

}

