@import "usa15-agenda-container";
// ag-nav
.ag-nav {
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 -1px 0 rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.2);
	line-height: 1em;
	padding: 0;
	background: #fafafa;
	margin:0 0 40px 0;
	&.fixed {
		box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 2px 6px rgba(0, 0, 0, 0.3);
	}
}
.ag-area {
	display: table;
	width: 100%;
	max-width: 970px;
	margin: auto;
	box-shadow: -1px 0 0 rgba(0, 0, 0, 0.2) inset;
}
//
// ag-date ------------------------------------------------
//
.ag-date {
	display: table-cell;
	float: none;
	vertical-align: top;
}
.ag-date .ag-group {
	display: table;
	width: 100%;
}
.ag-date dd {
	display: table-cell;
	margin: 0;
	float: none;
}
.ag-nav .ag-date a {
	font-family: 'Open Sans', sans-serif;
	white-space: nowrap;
	background: #fafafa;
	font-size: 18px;
	text-decoration: none;
	color: rgba(0, 0, 0, 0.7);
	text-align: center;
	display: block;
	padding: 10px 10px 10px 10px;
	@media screen and (min-width:751px) {
		box-shadow: 1px 0 0 rgba(0, 0, 0, 0.2) inset;
	}
	&:hover {
		color: #000;
		background: #e5e5e5;
	}
}
.ag-nav .ag-date dd:last-of-type {
	@media screen and (min-width:751px) {
		box-shadow: 1px 0 0 rgba(0, 0, 0, 0.2) ;
	}
	
}
.ag-date .ag-active:last-of-type a {
	@media screen and (min-width:751px) {
		border-right: 1px solid rgba(0, 0, 0, 0.2);
	}
}
.ag-date .ag-active a {
	color: #444;
	position: relative;
	font-weight: 600;
	background: #fff;
	@media screen and (min-width:751px) {
		box-shadow: 0 5px 0 rgba(0, 0, 0, 0.7) inset, 1px 0 0 rgba(0, 0, 0, 0.2) inset, -1px 0 0 rgba(0, 0, 0, 0.2) inset;
		margin-left: -1px;
		margin-right: -1px;
	}
}
.ag-date .ag-active:first-of-type a {
	@media screen and (min-width:751px) {
		box-shadow: 0 5px 0 rgba(0, 0, 0, 0.7) inset, 2px 0 0 rgba(0, 0, 0, 0.2) inset, -1px 0 0 rgba(0, 0, 0, 0.2) inset;
	}
}
.ag-select-date {
	@media screen and (min-width: 751px) {
		display:none;
	}
}

.ag-nav.fixed .ag-date dd.ag-active:first-of-type a {
	@media screen and (min-width:751px) {
		box-shadow: 0 5px 0 rgba(0, 0, 0, 0.7) inset, 1px 0 0 rgba(0, 0, 0, 0.2) inset, -1px 0 0 rgba(0, 0, 0, 0.2) inset;
	}
}
.ag-date dd.ag-active:last-of-type a {
	@media screen and (min-width:751px) {
		box-shadow: 0 5px 0 rgba(0, 0, 0, 0.7) inset, 1px 0 0 rgba(0, 0, 0, 0.2) inset;
	}
}
//
// ag-track ----------------------------------------
//
.ag-track {
	display: table-cell;
	float: none;
	vertical-align: top;
	.ag-group {
		display: table;
		margin: 12px auto 0 auto;
	}
	.ag-dd {
		display: table-cell;
		margin: 0;
		float: none;
		b {
			white-space: nowrap;
			text-align: center;
			color: #444;
			font-size: 12px;
			margin-left: 4px;
			margin-right: 4px;
			text-decoration: none;
			display: block;
			background: #fafafa;
			padding: 3px 6px 3px 0;
			font-weight: 500;
			cursor: pointer;
			cursor: hand;

			&:before {
				content: '\f10c';
				padding-top: 2px;
				width: 14px;
				font-size: 20px;
				height: 22px;
				float: left;
				margin-top: -3px;
				margin-right: 8px;
				font-family: FontAwesome;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}
		}
	}
}
.ag-show-main .ag-track-main b:before,
.ag-show-astor .ag-track-astor b:before,
.ag-show-china .ag-track-china b:before,
.ag-show-demo .ag-track-demo b:before {
	content: '\f058';
}
.ag-dd.ag-track-main b:before {
	color: #8AC10B;
}
.ag-dd.ag-track-astor b:before {
	color: #FFA000;
}
.ag-dd.ag-track-china b:before {
	color: #C487BE;
}
.ag-dd.ag-track-demo b:before {
	color: #84C5C5;
}
// end
