
.page-videos {

	h1 {
		margin-top:.5em;
		margin-bottom:.5em;
	}	
	.videos-main {
		background: white url(brillant.png) center center repeat;
margin-top: 20px;
padding-top: 10px;
padding-bottom:30px;
max-width: 1207px;
margin: auto;
border-left: 1px solid #ccc;
border-right: 1px solid #ccc;
overflow: hidden;
display: block;
	}

	.video-title {
		font-size: 26px;
color: #000;
line-height: 29px;
margin-bottom: 1em;
font-weight: 400;
margin-top:1em;
	}

#wistia_13_requireEmail_first_name {
	margin-right:auto;
}

}
