

.page-video {
	.link-back-to-videos {
		margin-top:1em;
		margin-bottom:1em;
		font-size:18px;

		a {

		&:before {
			content: '\f104 ';
			font-family:FontAwesome;
			padding-right:6px;
			
			
		}	
		&:hover,&:active,&:focus {
			text-decoration:none;
		}
	}

	}
	
	.video-main {
		background: white url(brillant.png) center center repeat;
		margin-top: 20px;
		padding-top: 10px;
		padding-bottom:30px;
		max-width: 1207px;
		margin: auto;
		border-left: 1px solid #ccc;
		border-right: 1px solid #ccc;
		overflow: hidden;
		display: block;
	}
	
	.video-title {
		font-size:24px;
		font-weight:600;
		margin-top:1em;
		
	}	
	.video-description {
		font-size:18px;

	}
}

.page-videos {

	h1 {
		margin-top:.5em;
		margin-bottom:.5em;
	}	
	.videos-main {
		background: white url(brillant.png) center center repeat;
		margin-top: 20px;
		padding-top: 10px;
		padding-bottom:30px;
		max-width: 1207px;
		margin: auto;
		border-left: 1px solid #ccc;
		border-right: 1px solid #ccc;
		overflow: hidden;
		display: block;
	}

	.video-title {
		font-size: 20px;
		font-weight: 400;
		margin-top:1em;
		min-height:72px;
	}

	#wistia_13_requireEmail_first_name {
		margin-right:auto;
	}

	.video-item {
		display:block;
		border:1px solid #ddd;
		background:#fff;
		padding:15px;
		color:#000;
		&:hover {
			text-decoration:none;
			border-color:#ccc;
			img {
				opacity:.8;
			}
		}
		&:active {
			text-decoration:none;
		}
		&:focus {
			text-decoration:none;
		}	
	}

}
