<%= title "LendIt Europe 2014 Conference Photos" %>
<% meta_description "Photos at the LendIt Europe 2014 Peer-to-Peer and Online Lending Conference in London on November 17, 2014" %>
<% meta_keywords "p2p, online lending, peer-to-peer, LendIt, photos, conference" %>


<h1>Photos</h1>

<% @eu14photos.each do |photo| %>
  <%= photo.title %>
  <%= photo.caption %>
  <%= photo.conference.title %>
<% end %>