<%= title "LendIt Europe 2014 Conference Photos" %>
<% meta_description "Photos at the LendIt Europe 2014 Peer-to-Peer and Online Lending Conference in London on November 17, 2014" %>
<% meta_keywords "p2p, online lending, peer-to-peer, LendIt, photos, conference" %>

<h1>LendIt USA 2015 Photos</h1>

<img src="http://www.christophergalluzzo.com/PR/Lendit/Lendit-USA-2015/i-S9Gb3gN/0/M/LND-USA2015-end-slide-template-M.jpg">