<%= title "LendIt Europe 2014 Conference Photos" %>
<% meta_description "Photos at the LendIt Europe 2014 Peer-to-Peer and Online Lending Conference in London on November 17, 2014" %>
<% meta_keywords "p2p, online lending, peer-to-peer, LendIt, photos, conference" %>
<% body_class "pg-photos" %>

<div class="general-background">
	<div class="row row-wide">
		<div class="columns">
			<h1>LendIt USA 2015 Photos</h1>

			<ul class="columns small-block-grid-1 medium-block-grid-2 large-block-grid-3">
				<li>
					<img src="http://www.christophergalluzzo.com/PR/Lendit/Lendit-USA-2015/i-S9Gb3gN/0/M/LND-USA2015-end-slide-template-M.jpg">
				</li>
				<li>
					<img src="http://www.christophergalluzzo.com/PR/Lendit/Lendit-USA-2015/i-S9Gb3gN/0/M/LND-USA2015-end-slide-template-M.jpg">
				</li>
				<li>
					<img src="http://www.christophergalluzzo.com/PR/Lendit/Lendit-USA-2015/i-S9Gb3gN/0/M/LND-USA2015-end-slide-template-M.jpg">
				</li>
				<li>
					<img src="http://www.christophergalluzzo.com/PR/Lendit/Lendit-USA-2015/i-S9Gb3gN/0/M/LND-USA2015-end-slide-template-M.jpg">
				</li>
				<li>
					<img src="http://www.christophergalluzzo.com/PR/Lendit/Lendit-USA-2015/i-S9Gb3gN/0/M/LND-USA2015-end-slide-template-M.jpg">
				</li>
				<li>
					<img src="http://www.christophergalluzzo.com/PR/Lendit/Lendit-USA-2015/i-S9Gb3gN/0/M/LND-USA2015-end-slide-template-M.jpg">
				</li>
			</ul>
		</div>
	</div>
</div>
