.pg-beijing-invite {
	.general-background {
		padding-top:3em;
		padding-bottom:3em;
	background:#fafafa;
	}
	.header-row {
		margin-bottom:1em;
	}

	.main-beijing-invite-image img {
		-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
box-shadow:0 2px 4px #666;
margin:2px auto 2em auto;

	}

}
