footer {
	margin: 0;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	@media (max-width: 960px) {
		border-bottom: none;
	}
	.footer-inside {
		background: #fafafa;
		border-left: 1px solid #ccc;
		max-width: 1207px;
		margin: auto;
		border-right: 1px solid #ccc;
		padding-top: 40px;
		padding-bottom: 40px;
		@media (max-width: 960px) {
			border-left: none;
			border-right: none;
		}
		@media (max-width: 550px) {
			padding-top: 20px;
			padding-bottom: 20px;
		}
	}
	.container {
		width: 960px;
		margin: auto;
		@media (min-width: 960px) {
			padding: 0;
		}
		@media (max-width: 960px) {
			width: auto;
		}
	}
	.column1 {
		width: 430px;
		float: left;
		@media (max-width: 960px) {
			float: none;
			margin-bottom: 30px;
			width: auto;
		}
	}
	h2 {
		margin-top: 0;
		font-size: 16px;
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
		margin-bottom: 10px;
	}
	.bottom-link-area {
		text-align:right;
		@include clearfix;
		@media (max-width: 550px) {
			padding-left:80px;
		}
	}
	.bottom-links {
		a {
			display:inline-block;
			margin:0 0 0 1em;
			white-space:nowrap;
		}
	}
	// -------------------------------------
	// social
	.social {
		width: 100%;
		display: table;
		list-style-type: none;
		margin: 0;
		padding: 6px 0 0 0;
		li {
			text-transform: uppercase;
			padding: 0 0 0 0;
			display:table-cell;
			a {
				box-sizing: border-box;
				-moz-box-sizing: border-box;
				color: #6775B6;
				padding-top: 14px;
				margin-left:2px;
				margin-right:2px;
				font-size: 16px;
				font-family: 'Verlag A', 'Verlag B', verlag;
				font-weight: 600;
				height: 46px;
				-webkit-border-radius: 2px;
				-moz-border-radius: 2px;
				border-radius: 2px;
				margin-bottom: 2px;
				display: block;
				background: url(social.png) center 0 no-repeat;
				opacity: .8;
				font: 0/0 a;
				text-shadow: none;
				color: transparent;
				box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
				@media (max-width: 550px) {
					padding-left: 54px;
				}
				&:hover {
					text-decoration: none;
					opacity: 1;
				}
				i {
					display: none;
				}
				&.twitter {
					background-position: center -50px;
					color: #00B8F0;
				}
				&.googleplus {
					background-position: center -100px;
					color: #EF4B32;
				}
				&.youtube {
					background-position: center -150px;
					color: #D4221E;
				}
				&.email {
					background-position: center -200px;
					color: #808080;
				}
				&.linkedin {
					background-position: center -250px;
					color: #808080;
				}
			}
		}
	}
	.call-us {
		.panel {
			padding:1em 2px;
		}
		white-space:nowrap;
		text-align:center;
		font-family:'Open Sans', sans-serif;
		font-size:16px;
		@media screen and (max-width:800px) {
			font-size:14px;
		}
		i {
			font-size:24px;
			@media screen and (max-width:800px) {
				font-size:20px;
			}
		}
	}
}
/* ------------------------
get updates form! */
	footer .get-updates  {
		.get-updates-responses {
			display: none;
			float: left;
			padding-top: 20px;
		}
		#mce-responses {
			float: left;
			padding-top: 20px;
		}
		.ldformrow {
			width:100%;
			display:table;
		}
		.ldformcol {
			display:table-cell;
			padding:4px;
		}
		.ldformrow-other {
			.ldformcol-button {
				width:70px;
				.button {
					border: 1px solid #89be2e;
					font-family: 'Verlag A', 'Verlag B', verlag;
					color: #89be2e;
					background: #fff;
					padding: 4px 10px;
					letter-spacing: .3pt;
					font-weight: 500;
					&:hover {
						background: #89be2e;
						color: #fff;
					}
				}
			}
		}
	}
