.important-callout {
	position:relative;
	margin:auto;
	background:#f0f0f0;
	
	.important-callout-inner {
		max-width:1207px;
		background: #f5f9ea;
		margin:auto;
		border-bottom:1px solid #A6D05B;
		border-bottom:1px solid #ccc;
		@media (min-width:961px) {
			border-left:1px solid #ccc;
			border-right:1px solid #ccc;
		}
		.important-callout-container {
			width:100%;
			padding:10px 0;
			max-width:970px;
			margin:auto;
			padding-left:10px;
			@include clearfix;
			div {
				display:inline-block;

			}
			div:nth-child(2) {
				@media #{$medium-up} {

				float:right;
			}
				a {
				color:orange;
				&:hover {
					background:orange;
					color:#fff;
				}
			}
			}

			@media (min-width:961px) {
				
				padding-left:0;
			}
		}
	}
	a {
		//background:$primary-color url(https://s3-us-west-2.amazonaws.com/lendit/2015-03-06-lattice-background.png) center center repeat;
		font-weight:600;
		color:$primary-color ;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
		padding:2px 10px;
		display:inline-block;
		font-family:'Open Sans', sans-serif;
		text-decoration:none;
		color:$primary-color;
		&:hover {
			opacity:1;
			color:#fff;
				background:$primary-color;
				
		}
	}
}
