.pg-podcasts {
	.general-background {
		padding-bottom:4em;
		font-family:'Open Sans', sans-serif;
		h1 {
			margin-top:.5em;
			margin-bottom:1em;
		font-family:'Open Sans', sans-serif;
		}
		.panel {
			position:relative;
			padding-top:80px;
			background:#fafafa;
			-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
			
		}

		.podcast-item-embed {
			min-height:67px;

			iframe {
				width:100% !important;
			background:#fafafa url(ajax-loader.gif) center 40px no-repeat;
			}
		}
		.podcast-title {
			position:absolute;
			z-index:1;
			width:100%;
			top:0;
			left:0;
			padding:20px;
			font-size:18px;
			color:#444;
			
		}
		

	}

}
.podcast-actions {
	margin-bottom:2em;
	> div {
		display:inline-block;
		a {
			
			font-weight:600;
			margin-right:10px;
			border:1px solid #e5e5e5;
			background:#fafafa;
			padding:4px 10px;
			display:block;
			text-shadow:1px 1px 1px #fff;
			&:hover {
				border-color:$primary-color;
				text-shadow:1px 1px 1px darken($primary-color,10%) ;
				background:$primary-color;
				color:#fff;
				text-decoration:none;
			}
			&:active,
			&:focus {
				text-decoration:none;
			}
		}
	
	}

}
