.pg-press {
	.general-background {
		font-family:'Open Sans', sans-serif;
		padding-bottom:40px;
		min-height:600px;

		[class^="press-"] {
			margin-bottom:2em;
			h2 {
				margin-top:1em;
				margin-bottom:1.3em;
				font-family:'Open Sans', sans-serif;
				font-size:18px;
				font-weight:600;
				border-bottom:2px dotted #ccc;
				padding-bottom:1em;
			}
		}
		dl {
			display:table;
			padding:0;
			margin:0 0 1em 0;

		}
		dt {
			margin:0;

			font-weight:400;
			color:#ccc;
			@media #{$medium-up} {
				display:table-cell;
				width:180px;
			}
		}
		dd {
			margin:0;


			@media #{$medium-up} {

				display:table-cell;
			}
			a {

				font-weight:600;
				position:relative;

				@media #{$medium-up} {
					&:hover:before {
						left:-20px;
						top:0;
						position:absolute;
						content:'\f08e';
						-webkit-font-smoothing: antialiased;
						-webkit-transform: matrix(1, 0, 0, 1, 0, 0);
						font-family: FontAwesome;
						font-stretch: normal;
						font-style: normal;
						font-variant: normal;
						font-weight: normal;
						height: 28px;
						line-height: 28px;
						text-rendering: auto;
						transform: matrix(1, 0, 0, 1, 0, 0);


					}
				}
			}
		}
	}
}
