/*
	Global vars
*/

/* Colors */
$green: #8BBF28;
$gray: #707070;
$light-gray: #DBDBDB;

/* Fonts */
.main-font { font-family: Arial; }

/* Bootstrap overrides */
.container {
	width: 1280px;
}

/* Structure */
html, body {
  @extend .main-font;
}

body {
  background-color: #fff;
  color: white;
}

/* Modules/Mixins */
@mixin clearfix {
  display: inline-block;
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  * html & { height: 1px }
}

@mixin button($bg-color:transparent, $b-color: #fff, $b-width: 2px, $b-style: solid) {
	background-color: $bg-color;
	border: {
		width: $b-width;
		color: $b-color;
		style: $b-style;
	}
}

/* Elements */
button {
	@include button();
}

form {
	.split {
		width: 100%;
		@include clearfix;
		&:after { display: inline-block; }
		> * {
			width: 49%;
			float: left;
			&:last-child {
				float: right;
			}
			input { width: 100%; }
		}
	}
	input[type='text'],
	input[type='email'] {
		box-shadow: inset 2px 2px 4px $light-gray;
		border: 2px solid $light-gray;
		padding: 4px 2px 2px 4px;
		color: $light-gray;
		font-style: italic;
		width: 100%;
	}
}

/* Navigation */
nav {
	position: relative;
	margin-bottom: -112px;
	min-height: 112px;
	.container {
		position: relative;
		min-height: 112px;
	}
	background: rgba(255, 255, 255, .15);
	font-size: 26px;
	.nav-logo {
		float: left;
		img {
			height: 100px;
		}
	}
	ul {
		position: absolute;
		bottom: 0;
		right: 0;
		list-style: none;
		margin: 0;
		padding: 0 0 0 0;
		float: right;
		display: inline-block;
		li {
			float: left;
			padding-right: 30px;
			margin-bottom: 4px;
			&:last-child {
/* 				padding-right: 0; */
			}
			&:hover {
				border-bottom: 4px solid $green;
				margin-bottom: 0px;
			}
			a {
				color: #fff;
				text-decoration: none;
				&:hover {
					text-decoration: none;
					color: inherit;
				}
				&.active {
					color: $green;
					font-weight: bold;
				}
			}
		}
	}
}

/* Header */
header.head {
	background-position: 0px -80px;
	min-width: 1280px;
	padding-top: 162px;
	padding-bottom: 50px;
	background-image: url('https://s3-us-west-2.amazonaws.com/lendit/london_image_lendit_cropped.jpg');
	background-size: 100%;
	text-align: center;
	h2 {
		font-size:45px;
		font-weight: lighter;
		margin-bottom: 50px;
	}
	button {
		box-shadow: inset 0 0 1em #000;
		width: 400px;
		padding: 20px 40px 20px 20px;
		color: #fff;
		position: relative;
		.icon {
			position: absolute;
			right: 20px;
			top: 50%;
			margin-top: -24px;
		}
		a {
			color: inherit;
			&:hover {
				text-decoration: none;
			}
		}
		span:first-of-type {
			font-size: 44px;
			letter-spacing: 0.1em;
		}
		span:last-of-type {
			font-size: 32px;
		}
	}
	button:first-of-type {
		margin-right: 23px;
		@include button(transparent, $green, 5px);
	}
	button:last-of-type {
		margin-left: 23px;
		@include button($green, $green, 5px);
		&:hover {
			background-color: rgba(139, 191, 40, 0.8);
		}
	}
}

/* Footer */
footer {
	color: $gray;
	.get-updates {
		h2 {
			margin-top: 0px;
			font-size: 26px;
		}
		form {
			width: 80%;
			.split { margin-bottom: 10px; }
		}
	}
	& > .container > div {
		margin: 20px 0;
		float: left;
		height: 130px;
		padding: 0 10px;
	}
	.first { width: 40%; }
	.middle, .last {
		width: 30%;
		font-style: italic;
	}
	.first, .middle { border-right: 1px solid $gray; }
	.last {
		& > div {
			float: left;
			width: 50%;
		}
		& > ul {
			float: right;
			width: 50%;
			li {
				float: left;
				margin-right: 10px;
				i {
					font-size:35px;
				}
			}
		}

	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	a {
		color: $gray;
		&:hover {
			color: $green;
			text-decoration: none;
		}
	}
}
/*
Old CSS
.get-updates {
  background-color: #1abc9c;
  height: 200px;
  width: 1000px;
}

header {
  color: #2ecc71;
  background-color: #2C3E50;
}

nav {
  background-color: #0082BC;
  color: #FFF;
}

nav a:link, nav a:visited {
  color: #FFF;
  text-decoration: none;
}

nav a:hover {
  color: #34495E;
}

footer {
  background-color: #2C3E50;
}

main {
  color: #2C3E50;
  background-color: #ECF0F1;
  height: 120%;
}
 */


