// Variables
$linkcolor: #89BE2E;
$hovercolor: #86BD33;
// Mixins
@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}
@mixin hide-text{
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
}
// Base
* {outline:none;}
%clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
html {
}
body {
	padding:126px 0 0 0;
	font-family:'Verlag A', 'Verlag B', verlag;
	background:#f0f0f0;
	font-weight:200;
	letter-spacing:.3pt;
	font-size:16px;
	color:#333;
	@extend %clearfix;
	position:relative;
	padding-bottom:100px;
}
body.conferences {
	padding:84px 0 0 0;
	
}
a {
	color:$linkcolor;
	&:hover {
		color:$hovercolor;
	}
}
.container {
	width:960px;
	margin:auto;
}
.cols {
	@extend %clearfix;
}
.cols p {
	color:#000;
	font-size:18px;

}
.cols li {
	font-size:16px;
	font-weight:400;
	color:#000;
}
hr {
	border-top:1px solid #ccc;
}
.subhero {
	background:#fff url(brillant.png) center center repeat;
	margin-top:20px;
	padding-top:10px;
	max-width:1207px;
	margin:auto;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
	overflow: hidden;
	display: block;
}
// Form-Elements
input[type=text],
input[type=email],
textarea
{
	display:block;
	margin:0;
	padding:3px 0 1px 4px;
	border:1px solid #999;
	border-top:1px solid #ccc;
	border-right:1px solid #ddd;
	border-bottom:1px solid #e5e5e5;
	border-left:1px solid #ddd;
	letter-spacing:.3pt;
	-webkit-border-radius:0;
	border-radius:0;
	box-shadow:0 1px 1px rgba(0,0,0,0.2) inset;
	color:#444;
	font-weight:400;
	font-size:18px;
	text-overflow:ellipsis;
	line-height:20px;
}
p,li {
	line-height:1.5em;
}
input[type=text]:hover,
input[type=email]:hover  /* */
{
	border-top: 1px solid #999;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #aaa;
	box-shadow: 0 1px 3px rgba(0,0,0,0.2) inset;
}
input[type=text]:focus,
input[type=email]:focus /* */
{
	outline: 0;
	border-top: 1px solid #666;
	border-right: 1px solid #999;
	border-bottom: 1px solid #aaa;
	border-left: 1px solid #999;
	box-shadow: 0 1px 3px rgba(0,0,0,0.3) inset;
}
input[type=text]::-webkit-input-placeholder,
input[type=email]::-webkit-input-placeholder /* */
{
	color: #d5d5d5;
	padding-top: 1px;
}
input[type=text]:focus::-webkit-input-placeholder,
input[type=email]:focus::-webkit-input-placeholder /* */
{ color: #ccc; }
input[type=text]:-moz-placeholder,
input[type=email]:-moz-placeholder /* */
{
	color: #d5d5d5;
	padding-top: 1px;
}
input[type=text]:focus:-moz-placeholder,
input[type=email]:focus:-moz-placeholder /* */
{ color: #ccc; }
input[type=text]::-moz-placeholder,
input[type=email]::-moz-placeholder /* */
{
	color: #d5d5d5;
	padding-top: 1px;
}
input[type=text]:focus::-moz-placeholder,
input[type=email]:focus::-moz-placeholder /* */
{ color: #ccc; }
input[type=text]:-ms-input-placeholder,
input[type=email]:-ms-input-placeholder /* */
{
	color: #d5d5d5;
	padding-top: 1px;
}
input[type=text]:focus:-ms-input-placeholder,
input[type=email]:focus:-ms-input-placeholder /* */
{ color: #ccc; }
button {
	letter-spacing:.3pt;
}
// Nav
.navbar {
	min-height:0;
	margin-bottom:0;
}
.nav-bar-default {
	border-bottom:1px solid red !important;
}
.navbar-default {
	background:#fff;
}
nav {

	background:#fff;


	.container {

		  
		padding-bottom:20px;
		border-left:1px solid #ccc;
		border-right:1px solid #ccc;
		width:100%;
		display:table;
		float:none;

		max-width:1207px;
		margin:auto;
		.nav-col {
			display:inline;
		}
		.nav-logo {
			margin-left:20px;
			float:left;
			body.conferences & {
				display:none;
			}
			a {
				display:block;
				margin-top:15px;
				width:100px;
				height:90px;
				background:url(lendit_new_logo_grey.png) center center no-repeat;
				background-size:110px;
				img {
					display:none;
					max-height:70px;
				}
			}
		}
		ul {
			padding-left:0;
			>div {
				display:inline;
			}


			margin-right:10px;
			margin-top:40px;
			float:right;
			font-family:'Verlag A', 'Verlag B', verlag;
			font-weight:500;
			font-size:16px;
			list-style-type:none;
			.conferences & {
				margin-top:20px;
			}
			@extend %clearfix;
			li {
				float:left;
				a {
					text-transform:uppercase;
					display:block;
					padding:10px 20px;
					margin-left:5px;
					margin-right:5px;
					@include border-radius(2px);
					&:hover {
						background:#f0f0f0;
						text-decoration:none;
					}
				}
			}
		}
	}
}
// Footer
footer {
	margin:0;
	border-bottom:1px solid #ccc;
	.footer-inside {
		background:#fafafa;
		border-left:1px solid #ccc;
		max-width:1207px;
		margin:auto;
		border-right:1px solid #ccc;
		padding-top:40px;
		padding-bottom:40px;
		.container {
			width:960px;
			margin:auto;
			@extend clearfix;
			.column1 {
				width:430px;
				float:left;
				h2 {
					margin-top:0;
					font-size:20px;
					font-family:'Verlag A', 'Verlag B', verlag;
					font-weight:600;
					margin-bottom:20px;
				}
			}
			.column2 {
				float:right;
				width:430px;
				h2 {
					font-size:20px;
					font-family:'Verlag A', 'Verlag B', verlag;
					font-weight:600;
					margin-top:0;
					margin-bottom:20px;
				}
				.social {
					border-bottom:1px dotted #ccc;
					width:100%;
					display:table;
					list-style-type:none;
					margin:0;
					padding:6px 0 0 0;
					li {
						text-transform:uppercase;
						padding:0 0 20px 0;
						float:left;
						a {
							box-sizing:border-box;
							-moz-box-sizing:border-box;
							color:#6775B6;
							padding-left:55px;
							padding-top:14px;
							font-size:16px;
							font-family:'Verlag A', 'Verlag B', verlag;
							font-weight:600;
							width:50px;
							float:left;
							height:48px;
							margin-bottom:2px;
							display:block;
							background: url(social.png) 0 0 no-repeat;
							opacity:.8;
							@include hide-text;
							i {
								display:none;
							}
							&:hover {
								text-decoration:none;
								opacity:1;
							}
							&.twitter { background-position: 0 -50px; color:#00B8F0; }
							&.googleplus { background-position: 0 -100px; color:#EF4B32;}
							&.youtube { background-position: 0 -150px; color:#D4221E;}
							&.email { background-position: 0 -200px; color:#808080;}
							&.linkedin { background-position: 0 -250px; color:#808080;}
						}
					}
				}
			}
		}
	}
}
footer {
	border-top:1px solid #ccc;

	.contactus {
		float:right;
		list-style-type:none;
		padding-left:0;
		margin-left:0;
		display:table;
		li {
			display:table-cell;
			padding-top:20px;
			padding-left:20px;
			font-weight:500;
		}
	}
}
.get-updates {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	#mc_embed_signup {
		@extend clearfix;
		.split {
			padding-bottom:10px;
			display:table;
			.mc-field-group:nth-child(1) {
				display:table-cell;
				&:before {
					font-size:14px;
					content:'First';
					text-transform:uppercase;
					font-weight:400;
				}
			}
			.mc-field-group:nth-child(2) {
				display:table-cell;
				padding-left:9px;
				&:before {
					font-size:14px;
					content:'Last';
					text-transform:uppercase;
					font-weight:400;
				}
			}
			.mc-field-group {
				margin-right:10px;
				input[type=text] {
					padding:6px 0 6px 6px;
					box-sizing:border-box;
					-moz-box-sizing:border-box;
				}
			}
			&+ .mc-field-group {
				display:table;
				float:none;
				input[type=email] {
					float:none;
					width:316px ;
					padding:6px 0 6px 6px;
				}
				&:before {
					font-size:14px;
					content:'Email';
					text-transform:uppercase;
					font-weight:400;
					position:relative;
				}
			}
		}
		.clear {
			position:relative;
			.button {
				margin-right:20px;
				border:1px solid $linkcolor;
				color:$linkcolor;
				background:#fff;
				padding: 4px 10px;
				position:absolute;
				left:325px;
				top:-35px;
				letter-spacing: .3pt;
				font-weight:500;
				&:hover {
					background:$linkcolor;
					color:#fff;
				}
			}
		}
	}
	.get-updates-responses {
		display: none;
		float:left;
		padding-top:20px;
	}
	#mce-responses {
		float: left;
		padding-top: 20px;
	}
}
// Headers
h1 {
	font-family:'Verlag A', 'Verlag B', verlag;
	font-size:32px;
	font-weight:600;
	top:0;
}
h2 {
	font-family:'Verlag Cond A', 'Verlag Cond B', 'verlag condensed';
	font-size:28px;
}
// Home
body.conferences  {
	header {
		min-width:960px;
		background:#eee url(https://s3-us-west-2.amazonaws.com/lendit/home/hero-2014-london.jpg) center center no-repeat;
		background-size:1207px 451px  ;
		min-height:400px;
		@extend clearfix;
		.container {
			width:960px;
			height:400px;
			margin:auto;
			box-sizing:border-box;
			-moz-box-sizing:border-box;
			.logo {
				margin-top:100px;
				background:url(https://s3-us-west-2.amazonaws.com/lendit/home/logo-2014-london.png) left center no-repeat;
				background-size: 415px 158px;
				padding-left:210px;
				box-sizing:border-box;
				-moz-box-sizing:border-box;
				width:420px;
				padding-top:28px;
				height:148px;
				float:left;
				font-family:'Verlag A', 'Verlag B', verlag;
				font-size:32px;
				font-weight:550;
				color:#fff;
				text-shadow:0 1px 3px rgba(0, 0, 0, 0.5);
				i {
					color:$linkcolor;
					font-weight:200;
				}
			}
			.header-buttons {
				height:400px;
				box-sizing:border-box;
				-moz-box-sizing:border-box;
				background: rgba(0, 0, 0, 0.5);
				box-shadow:-1px 0 0 rgba(255, 255, 255, 0.2), 1px 0 0 rgba(255, 255, 255, 0.2);
				padding-top:135px;
				width:300px;
				float:right;
				width:300px;
				.button-register, .button-recap {
					box-sizing:border-box;
					-moz-box-sizing:border-box;
					display:block;
					width:100%;
					background:none;
					border:none;
					text-align:left;
					background: rgba(0, 0, 0, 0.5);
					padding:0;
					a {
						box-shadow:0 -1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 rgba(255, 255, 255, 0.3) inset;
						padding:12px 0 8px 60px;
						display:block;
						text-shadow:0 1px 3px rgba(0, 0, 0, 0.5);
						span {
							color:#fff;
							text-transform:uppercase;
							display:block;
							font-size:16px;
							font-family:'Verlag Cond A', 'Verlag Cond B', verlag;
							font-weight:500;
							box-sizing:border-box;
							-moz-box-sizing:border-box;
						}
						strong {
							color:$linkcolor;
							display:block;
							font-size:20px;
							font-weight:400;
							color:#91E41D;
						}
						&:before {
							margin-left:-60px;
							margin-top:-12px;
							box-sizing:border-box;
							-moz-box-sizing:border-box;
							background: url(fontawesome-angle.png) -52px center no-repeat;
							float:left;
							width:46px;
							content:'\00A0';
							height:70px ;
							box-shadow:1px 0 0 rgba(255, 255, 255, 0.3) ;
							opacity:.95;
						}
						&:hover {
							background:#000;
							text-decoration:none;
							box-shadow:0 -1px 0 rgba(255, 255, 255, 0.4) inset, 0 1px 0 rgba(255, 255, 255, 0.4) inset;
						}
						&:hover:before {
							opacity:1;
							background-position:18px center;
							transition:all .2s ease-in-out;
							box-shadow:1px 0 0 rgba(255, 255, 255, 0.4) ;
							background-color:#91E41D;
						}
					}
				}
				.button-register {
					margin-bottom:20px;
					a {
						span {
							font-size:18px;
						}
						strong {
							font-family: 'Verlag Comp A', 'Verlag Comp B', 'verlag compressed';
							font-weight:500;
							font-size:36px;
							line-height:36px;
						}
						&:before {
							height:80px;
						}
					}
				}
			}
		}
	}
}
.conferences .tab-home  {background:#eee; color:#999;}
.conferences nav ul {margin-bottom:20px;}
.conferences header {
}
.conferences main {
	background:#eee;
}
.conferences section {
	background:#fff;
	max-width:1207px;
	margin:auto;
	padding-bottom:50px;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
}
.conferences h1 {
	background:url(brillant.png) center center repeat;
	margin-top:0;
	margin-bottom:0;
	padding-top:30px;
	padding-bottom:30px;
	text-align:center;
	color:#000;
	font-size:38px;
	border-bottom:1px solid #ccc;
	margin-bottom:20px;
}
.conferences h1 span {
	font-family: 'Verlag Cond A', 'Verlag Cond B', 'verlag condensed';
	font-weight:200;
}
.conferences .container .col1 {
	float:left;
	width:430px;
}
.conferences .container .col1 .intro {
	font-weight:500;
}
.conferences .container .col2 p {
	font-weight:500;
}
.conferences .col2 li {
	margin-bottom:4px;
}
.conferences .container .col2 {
	float:right;
	width:430px;
}
.conferences .container .col1 .secondary {
	a {
		font-weight:bold;
	}
	font-size:16px;
}
.conferences nav >.container {padding-bottom:0;}
// Speakers
.speakers .subhero .container {
	padding-bottom:30px;
}
.speakers-intro {
	margin-bottom:30px;
	.speakers-signup {
		margin-top:-76px;
		margin-right:0;
		float:right;
		a	{
			font-size:16px;
			font-weight:500;
			background:#fff;
			border:1px solid $linkcolor;
			display:block;
			button {
				border:none;
				background:none;
				padding:4px 10px;
			}
			&:hover {
				background:$linkcolor;
				color: #fff;
			}
		}
	}
	p {
		font-size:18px;
	}
}
.current-speakers {
	display:table;
	width:980px;
	margin-left:-20px;
	display:table;
	padding-bottom: 20px;
	a.current-speaker {
		display:block;
		float:left;
		background:#fff;
		color:#777;
		position:relative;
		box-shadow:1px 1px 0 rgba(0, 0, 0, 0.1) inset, -1px -1px 0 rgba(0, 0, 0, 0.1) inset;
		&:after {
			border-radius:100%;
			margin-right:10px;
			margin-bottom:12px;
			opacity:.9;
			padding:8px 14px;
			background:#fff;
			color:#777;
			font-weight:300;
			content: '...';
			float:right;
			position:absolute;
			right:0;
			bottom:0;
			width: 39px;
			overflow:hidden;
			text-align:right;
			white-space:nowrap;
		}
		&:hover:after {
			color:$linkcolor;
			opacity:1;
		}
		.speaker {
			width:300px;
			box-sizing:border-box;
			-moz-box-sizing:border-box;
			padding:20px 18px 20px 20px;
			.speaker-top {
				@extend %clearfix;
				.speaker-image {
					float:left;
					width:137px;
					height:166px;
					margin-right:18px
				}
				.speaker-top-info {
					font-family: 'Verlag Cond A', 'Verlag Cond B', 'verlag condensed';
					margin-bottom:18px;
					@extend %clearfix;
					margin-left:20px;
					.speaker-name {
						font-size:28px;
						color:#000;
						line-height:29px;
						margin-bottom:8px;
						font-weight:400;
					}
					.speaker-title {
						font-size:14px;
						text-transform:uppercase;
						font-weight:300;
						margin-right:20px;
						line-height:18px;
						color:#999;
						margin-bottom:8px;
					}
					.speaker-company {
						font-size:25px;
						color:#999;
						line-height:24px;
					}
				}
			}
		}
		&:hover {
			background:#fff;
			box-shadow:1px 1px 0 rgba(0, 0, 0, 0.2) inset, -1px -1px 0 rgba(0, 0, 0, 0.2) inset;
		}
		&:active {
			opacity:.8;
		}
		&:first-of-type {
			margin-right:40px;
		}
		&:last-of-type {
			margin-left:40px;
		}
	}
}
.current-speaker-bio {
	padding-bottom: 30px;
	overflow: hidden;
	height: 100%;
}
.show-more-height {
	height: 200px;
}
.past-speakers {
	background:#fff;
	max-width:1207px;
	margin:auto;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	.container {
		margin-left:-40px;
		padding-bottom:30px;
		width:1000px;
		margin:auto;
		h2 {
			padding-left:20px;
			font-family:'Verlag A', 'Verlag B', 'verlag';
			font-weight:600;
			font-size:18px;
			text-transform:uppercase;
			margin-top:40px;
			margin-bottom:10px;
		}
		.speaker {
			a {
				color:#777;
				&:hover {
					text-decoration:none;
					color:#777;
				}
			}
			width:180px;
			box-sizing:border-box;
			-moz-box-sizing:border-box;
			height:270px;
			padding:15px 15px 15px 15px;
			margin:5px 8px 20px 5px;
			float:left;
			.speaker-top {
				.speaker-image {
					height:150px;
					width:150px;
					display:block;
					margin-bottom:8px;
				}
				.speaker-top-info {
					.speaker-name {
						font-weight:600;
						color:#000;
					}
					.speaker-title {
					}
					.speaker-company {
					}
				}
				.speaker-bio {
					display:none;
				}
			}
			&:hover {
				box-shadow:1px 1px 0 rgba(0, 0, 0, 0.2) inset, -1px -1px 0 rgba(0, 0, 0, 0.2) inset;
				background:#fafafa;
				a {
					text-decoration:none;
				}
			}
			&:active {
				opacity:.8;
				a {
					text-decoration:none;
				}
			}
		}
	}
}
#cboxOverlay {
	top:0 !important;
	height:100%;
	position:absolute;
	width:100%;
	opacity:.12;
	background:#fff;
	z-index:1031;

}
#colorbox {
	outline:none;
	background: rgba(0, 0, 0, 0.15) ;
	z-index:1032;
}
#cboxCurrent {display:none !important}
#cboxPrevious {
	top:45px;
	left:301px;
	position:absolute;
	border:none;
	background:none;
	color:$linkcolor;
	text-transform:capitalize;
	font-weight:300;
	&:before {
		content:'\f104';
		padding-right:5px;
		float:left;
		font-family:fontawesome;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}
#cboxNext {
	top:45px;
	right:307px;
	position:absolute;
	border:none;
	background:none;
	color:$linkcolor;
	text-transform:capitalize;
	font-weight:300;
	&:after {
		float:right;
		padding-left:5px;
		content:'\f105';
		font-family:fontawesome;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}
#cboxClose {
	@include hide-text;
	background: url(close-colorbox.png) 10px 8px no-repeat;
	background-size:14px;
	right:45px;
	top:44px;
	position:absolute;
	border:none;
	height:34px;
	width:34px;
}
.speakers main {
}
.speaker-colorbox-title {
	position: absolute;
	top: 32px;
	font-weight: 600;
	text-transform: uppercase;
}
.speakers {
	#colorbox {
		#cboxWrapper {
			#cboxLoadedContent {
				box-sizing:border-box;
				-moz-box-sizing:border-box;
				.speaker-container {
					position:relative;
					margin:15px 15px 0 15px;
					height:400px;
					padding:30px;
					background:#fff;
					box-sizing:border-box;
					@extend %clearfix;
					&:before {
						content: '\00A0';
						text-transform:uppercase;
						display:block;
						font-family:'Verlag A', 'Verlag B', verlag;
						font-weight:600;
						font-size:18px;
						text-transform:uppercase;
						margin-bottom:20px;
						z-index:2;
					}
					.speaker-top-info {
						float:left;
						vertical-align:top;
						width:150px;
						.speaker-image {
							height:150px;
							width:150px;
							margin-bottom:10px;
							margin-top:8px;
						}
						.speaker-image-lg {
							width:137px;
							height:166px;
							margin-bottom:10px;
							margin-top:8px;
						}
						.speaker-name {
							font-weight:600;
							color:#000;
						}
						.speaker-title {
						}
						.speaker-company {
						}
					}
					.speaker-bio-mask {
						background: #c00;
						position:absolute;
						border-bottom:0;
						background:#fff;
						width:520px;
						right:20px;
						top:0;
						height:80px;
					}
					.speaker-bio-text {
						background:url(modal-shadow.png) 0 80px no-repeat;
						position:relative;
						float:left;
						vertical-align:top;
						top:0;
						right:0;
						position:absolute;
						padding-top:76px;
						width:530px;
						padding-right:40px;
						height:400px;
						overflow:auto;
						.speaker-bio-text-inner {
							margin-top:70px;
							background:url(modal-shadow-cover.png) 0 0 no-repeat;
							margin-top:2px;
							padding-bottom:40px;
						}
					}
				}
			}
		}
	}
}
.speaker-signup {
	padding-top:20px;
	padding-bottom:40px;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	max-width:1207px;
	margin:auto;
	.ss-required-asterisk {
		color:#f00;
	}
	.required-message {
		display: none;
		color:#f00;
		opacity:.5;
	}
	h1 {
		margin-top:30px;
		margin-bottom:20px;
	}
	#ss-submit {
		border:1px solid #777;
		background:#777;
		color:#fff;
		font-size:18px;

		padding: 6px 20px;
		letter-spacing: .3pt;
		font-weight:500;
		&:hover {
			border:1px solid $linkcolor;
			background:$linkcolor;
			color:#fff;
		}

	}
	.ss-q-title {
		font-size:18px;
	}
	select {
		display:block;
		width:300px;
	}
	textarea {
		width:100%;
	}
	.ss-form-entry {
		margin-bottom:20px;
	}
	.ss-secondary-text {
		font-weight:300;
	}
	.floating-fields {
		display:table;
		width:970px;
		margin-left:-18px;
		.ss-form-question {
			float:left;
			margin-left:18px;
			input {
				width:298px;
				padding:4px 6px
			}
		}
	}
}
// Sponsors
.sponsors main {
	section {
		margin-bottom:40px;
	}
	.sponsors-main {
		background:#fff;
		max-width:1207px;
		margin:auto;
		border-left:1px solid #ccc;
		border-right:1px solid #ccc;
		h2 {
			font-weight:600;
		}
	}
}
.sponsor-images {
	@extend %clearfix;
	.image-container {
			border:1px solid #ddd;
			margin:0 10px 10px 0;
		float:left;
		img {
			display:block;
			width:125px;
			height:95px;
			margin:5px;
		}
	}
}
.sponsors .subhero {
	font-size:18px;
}
.sponsors main {
}
.sponsors main .cols {
	margin-bottom:30px;
}
.sponsors main .col1 {
	h2 {
		margin-top:0;
		font-size:20px;
		font-family:'Verlag A', 'Verlag B', verlag;
		font-weight:600;
		text-transform:uppercase;
		margin-top:40px;
		margin-bottom:30px;
	}
	width:445px;
	float:left;
}
.sponsors main .col2 {
	h2 {
		margin-top:38px;
	}
	width:420px;
	float:right;
}
// About
.welcome main {
	.subhero .container {
		padding-bottom:30px;
	}

	.main-about{
		padding-bottom:40px;
		h2 {
			font-weight:600;
		}
	}
}
.welcome .subhero .col2 p {
	font-size:16px;
}
.welcome main .cols {
	@extend %clearfix;
}
.welcome main .col1 {
	width:540px;
	float:left;
}
.welcome main .col2 {
	width:300px;
	float:right;
}
.main-about {
	max-width:1207px;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	margin:auto;
	background:#fff;
	.col1 {
		h2 {
			font-size:18px;
			font-family:'Verlag A', 'Verlag B', verlag;
			font-weight:600;
			margin-top:40px;
			margin-bottom:30px;
		}
	}
}
.welcome {
	h2 {
		margin-top:30px;
		font-weight:600;
	}
}
.event-image {
	margin-bottom:12px;
}
.event-image img {
	width:540px;
	height:200px;
}
.about-event {
	margin-bottom:40px;
}
// Quotes
.quote-container {
	margin-top:20px;
	margin-bottom:20px;
}
.quote-container:nth-child(even) {
	color:#3A8E02;
}
.quote-container:nth-child(odd) {
	color:#444;
}
.quote-container:before {
	color:#ccc;
	padding-bottom:20px;
	content:'\f006 \f006 \f006';
	font-family:fontawesome;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display:block;
	text-align:center;

}
.quote-container:first-of-type:before {
	display:none;

}
.quote {
	font-weight:600;
	font-size:18px;
}
.quote-speaker {
	margin-top:12px;
}
// Terms of use

.terms-of-use {
	max-width:1207px;
	margin:auto;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	padding-top:40px;
	padding-bottom:40px;

}

// Thank you after speaker signup
.thank-you-speaker {
	background:#fff;
	max-width:1207px;
	margin:auto;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	padding-top:40px;
	padding-bottom:40px;
	min-height: 300px;

}

h1 {

	text-rendering:optimizeLegibility;
}


.conferences .tab-home  {background:#eee; color:#999;}
.sponsors .tab-sponsors  {background:#eee; color:#999;}
.speakers .tab-speakers  {background:#eee; color:#999;}
.welcome .tab-about  {background:#eee; color:#999;}




@media (max-width:900px) {






	nav .container {
		border-left:none;
		border-right:none;
	}

	
	.subhero, .sponsors main .sponsors-main, footer .footer-inside{
		border-left:none;
		border-right:none;
	}
	footer {
		border-bottom:none;
	}

	body.sponsors main .col1 {
		h2 {
			margin-left:16px;
		}
		float:none;
		width:auto;
		.sponsor-images {
			margin-left:16px;
			display:table;
			width:auto;
			border:none;

			margin-bottom:0;

		}
	}

		body.sponsors main .col2 {
			padding-left:15px;
			padding-right:15px;
			width:auto;
			float:none;
		}

		.sponsors-main>.container {
			padding:0;
		}


nav	.container {
		padding:0 0 20px 0;

	}
	nav .container ul li a {
		padding:10px;
	}
	




	body.conferences header .container {
		width:auto;
		display:table-cell;
		vertical-align:bottom;
		text-align:right;
		padding-right:0;
		padding-left:0;
		height:380px;
		background:url(https://s3-us-west-2.amazonaws.com/lendit/home/logo-2014-london.png) 20px 80px no-repeat;

		background-size:374px 143px;
		//			background-size:332px 127px;
	}
	body.conferences header {
		min-width:0;
		display:table;
		width:100%;
		background-position: -180px -50px;

		min-height:0;


	}
	.container {
		width:auto;
	}
	.conferences .container .col1 {
		float:none;
		width:auto;
	}

	.conferences .container .col2 {
		float:none;
		width:auto;
	}
	.conferences .container .col2:before {
		content: 'Preliminary Agenda';
		font-size:24px;
		font-family: 'Verlag Cond A', 'Verlag Cond B', 'verlag condensed';
		font-weight:600;
		margin-top:20px;
		display:block;

	}
	body.conferences header .container .logo {
		display:none;
		float:none;
		margin:0 0 30px 0;
		padding-top:0;
	}
	body.conferences header .container .header-buttons {

		padding-top:0;
		height:auto;
		margin:auto;
		display:table;
		background:none;
		box-shadow:none;
		width:100%;

	}
	body.conferences header .container .header-buttons .button-register a strong,
	body.conferences header .container .header-buttons .button-recap a strong
	{
		font-size:21px;
		line-height:inherit;
		font-family:'Verlag Cond A', 'Verlag Cond B', 'verlag condensed';
	}
	body.conferences header .container .header-buttons .button-register a span, body.conferences header .container .header-buttons .button-recap a span {
		font-family:'Verlag A', 'Verlag B', verlag;

	}
	body.conferences header .container .header-buttons .button-register a:before {
		height:70px;

	}
	body.conferences header .container .header-buttons .button-register a span {

		font-size:16px;
	}


	body.conferences header .container .header-buttons .button-register, 
	body.conferences header .container .header-buttons .button-recap 
	{

		margin:0 0 0 10px;
		float:none;

		display:table-cell;
		width:50%;
		box-shadow: -1px 0 0 rgba(255, 255, 255, 0.5) inset;
	}
	body.conferences header .container .header-buttons .button-register a, body.conferences header .container .header-buttons .button-recap a {
	}
	body.conferences header .container .header-buttons .button-register a, 
	body.conferences header .container .header-buttons .button-recap a {

		background: rgba(0, 0, 0, 0.5);

	}

	body.conferences header .container .header-buttons .button-register a:hover, 
	body.conferences header .container .header-buttons .button-recap a:hover {

		box-shadow: -1px 0 0 rgba(255, 255, 255, 0.5) inset;

	}

	footer .footer-inside .container {
		width:auto;

	}
	footer .footer-inside .container .column1 {
		float:none;
		margin-bottom:30px;
		width:auto;
	}
	footer .footer-inside .container .column2 {
		float:none;
		width:auto;
	}


	body.speakers {
		.speakers-signup {
			margin:20px 0 15px 0;
			float:none;
			display:table;
			width:auto;
		}


	}

}

@media (max-width:767px) {

	body {
	padding:50px 0 0 0;
		
	}
	body.conferences {
	padding:50px 0 0 0;
		
	}


	

	nav .container {

		padding-bottom:0;
		
		border:none;
		.nav-logo {
			display:none;
		}
		ul {
			float:none;
			display:table;
			width:100%;
			padding:0;
			margin:4px auto 0 auto;
		>div {
			display:table-row;
			float:none;
		}
			
			li {
				float:none;
				display:table-cell;
				width:33%;
				padding:4px;

					box-sizing:border-box;
					-moz-box-sizing:border-box;


				text-align:center;
				a {
					width:100%;
					padding:4px 0;
					text-align:center;
					margin:2px;
				}
			}
		}
	}
}

@media (max-width:550px) {
	body.conferences header .container .header-buttons .button-register a:before {
		display:none;
		
	}
	body.conferences header .container .header-buttons .button-recap a:before {
		display:none;
	}


	body {
	padding:50px 0 0 0;
		
	}
	body.conferences {
	padding:50px 0 0 0;
	
		
	}
	



	body.conferences main {
		background:none;
	}
	body.conferences header {
		background-position:-910px -130px;
		background-size:2173px 812px  ;


	} body.conferences header .container {
		background-position:center 50px;
		background-size:300px 114px ;
		text-align:left;
		height:280px

	}

	body.conferences header .container .header-buttons .button-register a, body.conferences header .container .header-buttons .button-recap a {
		padding-left:15px;
	}

	body.conferences header .container .header-buttons .button-register a span
	{
		font-size:14px;
		font-weight:500;

	}
	body.conferences header .container .header-buttons .button-recap a span {

		font-size:14px;
		font-weight:500;
	}

	body.conferences header .container .header-buttons .button-register a strong
	{
		font-family:'Verlag Cond A', 'Verlag Cond B', 'verlag condensed';
		font-weight:600;
	}

	body.conferences header .container .header-buttons .button-recap a strong
	{
		font-family:'Verlag Cond A', 'Verlag Cond B', 'verlag condensed';
		font-weight:500;
	}


	.conferences h1 {
		font-size:24px;
		padding:0;
		padding-top:30px;
		margin-left:15px;
		margin-bottom:0;
		margin-bottom:10px;

		margin-right:15px;
		border:none;
		background:#fff;
		text-align:center;
	}

	p.intro {
		font-size:18px;
		line-height:130%;
		font-weight:400;
		margin:1em 0;
	}

	p.intro+hr {
		display:none;
	}

	p.secondary {
		font-size:18px !important;
		line-height:130%;
		font-weight:400;
		margin:1em 0;

	}
	.conferences .col2 ul {
		padding-left:18px;
	}
	.conferences .col2 li {
		margin-bottom:.4em;
		line-height:1.25em;
	}

	footer .footer-inside {
		padding-top:20px;
		padding-bottom:20px;
	}
	body {
		padding-bottom:0;
	}
	footer .footer-inside .container .column1 h2, 
	footer .footer-inside .container .column2 h2 {
		font-family:'Verlag Cond A', 'Verlag Cond B', 'verlag condensed';
		font-size:23px;
	}

	.get-updates #mc_embed_signup .split .mc-field-group input[type=text] {
		width:140px;
	}

	.get-updates #mc_embed_signup .split + .mc-field-group input[type=email] {
		width:195px;
	}

	.get-updates #mc_embed_signup .clear .button {
		left:204px;
	}


	footer .footer-inside .container .column2 .social li a {
		padding-left:54px;
	}







}
