<% body_class "pg-podcasts" %>

<div class="general-background">
	<div class="row">
		<div class="columns">
			<h1>Podcasts</h1>

		  <div>
        <a href="https://itunes.apple.com/us/podcast/lendit-conference/id962047495" target="_blank">Subscribe via iTunes</a>  |  <a href="http://liaudio.lendit.libsynpro.com/rss" target="_blank">RSS Feed</a>  |  <a href="http://www.stitcher.com/podcast/lendit-conference?refid=stpr" target="_blank">Listen on Stitcher</a>
      </div>

			<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3" data-equalizer>
				<% @eu14podcasts.each do |podcast| %>
					<li>
						<div class="panel" data-equalizer-watch>
							<div class="podcast-title">
								<%= raw podcast.video.title %>
							</div>

							<div class="podcast-item-embed">
								<%= raw podcast.audio_embed %>
							</div>
						</div>
					</li>
				<% end %>
			</ul>


		</div>
	</div>
</div>
