
body.conferences header .container {
	@media (max-width: 550px) {
		background-position:center 90px;

	}

}

			.ny15 {
				color:#666;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				font-family: 'Open Sans', sans-serif;
			}
			.ny15-h1 {
				color:#666;
				font-size:46px;
				line-height:1.1em;
				margin-bottom:.5em;
				font-family: 'Verlag Cond A', 'Verlag Cond B', 'verlag condensed';
				font-weight:400;
			}
			.ny15-attendperyr { width:100%; }
			.ny15-icon {
				min-height:47px; 
				background-size:70px;
				background-repeat:no-repeat;
				background-attachment:0 0;
				padding-left:85px;
				line-height:1.2em;
				box-sizing:border-box;
				padding-right:30px;
			}
			p.ny15-icon {
				display:table;
				font-weight:700;
				font-size:1.1em;
				margin:1.4em 0 0 0;
			}
			p.ny15-icon:first-of-type {
				margin-top:0;
			}
			p.ny15-icon span {
				display:table-cell;
				vertical-align:middle;
				height:70px;
			}
			ul.ny15-icon {
				padding-left:98px;
				margin-left:0;
				list-style-type:square;
			}
			ul.ny15-icon > div {
				font-weight:700;
				color:#9CC83D;
				margin-left:-18px;
				padding-top:1em;
				font-size:1.1em;
				margin-bottom:1.2em;
			}
			ul.ny15-icon li {
				margin-bottom:.85em;
				font-size:1.1em;
				font-weight:500;
			}
			.ny15-icon-decision {background-image:url(https://s3-us-west-2.amazonaws.com/lendit/photos/ny15-icon-decision.png);}
			.ny15-icon-extens {background-image:url(https://s3-us-west-2.amazonaws.com/lendit/photos/ny15-icon-extens.png);}
			.ny15-icon-floors {background-image:url(https://s3-us-west-2.amazonaws.com/lendit/photos/ny15-icon-floors.png);}
			.ny15-icon-keynote {background-image:url(https://s3-us-west-2.amazonaws.com/lendit/photos/ny15-icon-keynote.png);}
			.ny15-icon-otherhigh {background-image:url(https://s3-us-west-2.amazonaws.com/lendit/photos/ny15-icon-otherhigh.png);}
			.ny15-icon-parties {background-image:url(https://s3-us-west-2.amazonaws.com/lendit/photos/ny15-icon-parties.png);}
			.ny15-icon-preconf {background-image:url(https://s3-us-west-2.amazonaws.com/lendit/photos/ny15-icon-preconf.png);}
			.ny15-icon-space {background-image:url(https://s3-us-west-2.amazonaws.com/lendit/photos/ny15-icon-space.png);}
			.ny15-header {
				color:#9CC83D;
				border-bottom:2px solid #9CC83D;
				font-weight:700;
				padding-bottom:.25em;
				margin-bottom:1em;
				font-size:1.1em;
			}
			.ny15-callout-image {
				background:url(https://s3-us-west-2.amazonaws.com/lendit/photos/ny15-lattice-light.jpg) center center no-repeat;
				background-size:cover;
				padding:10px;
			}
			.ny15-intro {
				margin-bottom:.5em;

			}
			.ny15-intro p {
				font-size:18px;
			}
			.ny15-attendee-map-link {
				background:url(https://s3-us-west-2.amazonaws.com/lendit/photos/ny15-lattice-light.jpg) center center no-repeat;
			}
			.ny15-attendee-map-link a {
				display:block;
				border:1px solid #fff;
				position:relative;
				padding:10px;
			}
			.ny15-attendee-map-link img {
				display:block;
				opacity:.9;
			}
			.ny15-attendee-map-link a:hover {
				border:1px solid #9CC83D;
			}
			.ny15-attendee-map-link a:hover img {
				opacity:1;
			}
			.ny15-attendee-map-link a:after {
				content:'Click to View';
				padding:4px 12px;
				font-size:14px;
				color:#9CC83D;
				border:1px solid #9CC83D;
				-webkit-border-radius: 2px;
				-moz-border-radius: 2px;
				border-radius: 2px;
				right:3px;
				bottom:3px;
				display:block;
				position:absolute;
				background:#fff;
				font-weight:400;
			}
			.ny15-attendee-map-link a:hover:after {
				background:#9CC83D;
				color:#fff;
			}
			.ny15-wide-quote {
				background:#f5f9ea;
				padding:1.5em;
				-webkit-border-radius: 6px;
				-moz-border-radius: 6px;
				border-radius: 6px;
				margin-bottom:1.5em;
			}
			.ny15-wide-quote-strong {
				font-weight:700;
				margin-bottom:6px;
			}
			.ny15-wide-quote-attribute {
				text-align:right;
				margin-top:12px;
				line-height:1.2em;
				font-weight:400;
			}
		
.ny15-moreinfo {
	background:#fafafa;
	padding-top:1em;
	padding-bottom:1em;
	text-align:center;
	font-size:1.1em;
	font-weight:400;
}
