<%= title "LendIt Europe 2015 Speakers Page" %>
<% meta_description "LendIt Europe 2015 Conference speakers are esteemed European leaders in the peer-to-peer industry." %>
<% meta_keywords "p2p, online lending, peer-to-peer, LendIt, speakers, presenters, Europe" %>
<% body_class "usa15-speakers" %>

<div class="general-background" >

  <div class="row">
    <div class="columns">
      <section class="speakers-intro">
        <div class="speakers-intro-left">
          <h1>LendIt Europe 2015 Speakers Guide</h1>
        </div>
      </section>
    </div>
  </div>

  <div class="row">
    <div class="columns">
      Thank you for agreeing to participate as a speaker at LendIt Europe 2015 (link to lendit.co/europe). This page will provide you with some general information and instructions to help you prepare for the conference.<br /><br />
      This page will be updated as we get closer to the event. You will be notified by email when we make any changes.<br /><br />
      In the meantime, please feel free to contact any of the LendIt team members listed below if you have any questions or need assistance. We look forward to seeing you in October!<br /><br />

      <h4>GENERAL INFORMATION</h4>
      Conference Dates and Location:<br />
      20-21 October<br />
      Hilton London Metropole<br />
      225 Edgware Road, London, W21Ju, United Kingdom<br />
      +44-207-402-4141<br /><br />

      Welcome Party Date and Location:<br />
      19 October, Time TBD<br />
      The Landmark London Hotel<br />
      222 Marlyebone Road, London, NW1 6JQ, United Kingdom<br /><br />

      <h4>REGISTRATION INFORMATION</h4>
      All speakers will be registered for all conference activities by a member of the Delegate Affairs Team &mdash; this is includes a speaker pass to LendIt Europe 2015 and a ticket to the Welcome Party. You will receive an email confirmation of this transaction shortly if you have not already received. If you had already registered for the conference, your registration fee will be refunded.<br /><br />

      <h4>DISCOUNT CODES</h4>
      If you would like to bring additional members of your team, please have them use the unique discount code provided to you in the Welcome Email. If your team members have already registered, please let us know and we will apply the discount and issue a refund.<br /><br />

      <h4>TRAVEL AND HOTEL INFORMATION</h4>
      Speakers are responsible for booking their own travel and accommodations. LendIt has a hotel block reserved at the Hilton London Metropole from 18 October-22 October. Book your hotel here (insert link) before 18th September to receive our special rate.<br /><br />

      <h4>BIO AND HEADSHOT</h4>
      <ul>
      <li>Your bio: 100 words or less, please include your full name, company, and title</li>
      <li>Your headshot: high-resolution, print-quality JPEG - 4”x6” or larger at 300 dpi</li>
      <li>Your mobile number</li>
      <li>Your company’s Twitter handle</li>
      <li>Your Twitter handle</li>
      </ul>

      Please submit the requested information to Aaron Lua (aaron@lendit.co) as soon as possible.<br /><br />

      <h4>OTHER INFORMATION</h4>
      As we get closer to LendIt Europe 2015, a member of the LendIt team will schedule a Panel Planning Call for each of the conference’s panel discussions.<br /><br />

      We will also notify you by email and post here the suggested presentation specs for keynotes, company demos etc.<br /><br />

      <h4>CONTACT US!</h4>
      Lisa Jones, Director of Delegate Affairs - <a href="mailto:lisa@lendit.co">lisa@lendit.co</a><br />
      Aaron Lua, Delegate Affairs Team - <a href="mailto:aaron@lendit.co">aaron@lendit.co</a><br />
      Nora Steinman, Operations and Communications Manager - <a href="mailto:nora@lendit.co">nora@lendit.co</a>

    </div>
  </div>

</div>