<%= title "LendIt Speakers Page" %>
<% meta_description "Bacon ipsum dolor sit amet pork loin flank turducken shank tongue doner. Swine shankle pork belly ball tip prosciutto." %>
<% meta_keywords "p2p, online lending, peer-to-peer, LendIt, speakers, presenters" %>
<%= canonical_tag -%>

<main>
  <h1>SPEAKERS</h1>

  <section>
    <p>
      Join the ranks of these esteemed industry leaders who have participated at LendIt conferences!
    </p>

    <a href="/speakers/sign-up"><button>Sign Up To Be A Speaker</button></a>

  </section>
</main>