<%= title "LendIt Conference Speakers Sign-Up Page" %>
<% meta_description "LendIt USA 2015 Conference speakers are esteemed leaders in the peer-to-peer industry." %>
<% meta_keywords "p2p, online lending, peer-to-peer, LendIt, speakers, presenters, signup" %>
<%= canonical_tag -%>


<div class="speaker-signup">
	<div class="container">
		<!-- <form action="https://docs.google.com/forms/d/1HwAaNXKB3e1GfX7zeMGmM7BUvsbs4LbCkktdwYIDmFY/formResponse" method="POST" id="ss-form" target="_self" onsubmit="">
			-->
			<script type="text/javascript">var submitted=false;</script>
			<iframe name="hidden_iframe" id="hidden_iframe"
				style="display:none;" onload="if(submitted)
				{window.location='/speakers/thank-you';}">
			</iframe>

			<div class="row">
				<div class="columns">
					<h1>Become a LendIt Speaker</h1>
					<form action="https://docs.google.com/forms/d/1HwAaNXKB3e1GfX7zeMGmM7BUvsbs4LbCkktdwYIDmFY/formResponse" method="post"
						target="hidden_iframe" id="commentForm" onsubmit="submitted=true;">
						<ol role="list" class="ss-question-list" style="padding-left: 0">
							<div class="ss-form-question errorbox-good" role="listitem">
								<div dir="ltr" class="ss-item ss-item-required ss-select">
									<div class="ss-form-entry">
										<label class="ss-q-item-label" for="entry_2033523509">
											<div class="ss-q-title">For which event are you requesting a speaking role?
												<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
												<span class="ss-required-asterisk">*</span>
											</div>
											<div class="ss-q-help ss-secondary-text" dir="ltr"></div>
										</label>
										<select name="entry.2033523509" id="entry_2033523509" aria-label="For which event are you requesting a speaking role?  " aria-required="true" required="">
											<!--             <option value=""></option>
											<option value="LendIt Europe (Nov 17, 2014)">LendIt Europe (Nov 17, 2014)</option> -->
											<option value="LendIt 2015 (April 2015)">LendIt 2015 (April 2015)</option>
										</select>
										<div class="required-message">This is a required question</div>
									</div>
								</div>
							</div>







							<div class="ss-form-question errorbox-good" role="listitem">
								<div dir="ltr" class="ss-item ss-item-required ss-paragraph-text">
									<div class="ss-form-entry">
										<label class="ss-q-item-label" for="entry_1292503175">
											<div class="ss-q-title">What topic would you like to cover?
												<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
												<span class="ss-required-asterisk">*</span></div>
											<div class="ss-q-help ss-secondary-text" dir="ltr">Please be descriptive &amp; specific</div>
										</label>
										<textarea name="entry.1292503175" rows="8" cols="0" class="ss-q-long required" id="entry_1292503175" dir="auto" aria-label="What topic would you like to cover? Please be descriptive &amp; specific " aria-required="true" required=""></textarea>
										<div class="error-message" id="944190585_errorMessage"></div>
										<div class="required-message">This is a required question</div>
									</div>
								</div>
							</div>
							<div class="ss-form-question errorbox-good" role="listitem">
								<div dir="ltr" class="ss-item ss-item-required ss-paragraph-text">
									<div class="ss-form-entry">
										<label class="ss-q-item-label" for="entry_366935380">
											<div class="ss-q-title">Demonstrate why you are a good person to present this topic.
												<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
												<span class="ss-required-asterisk">*</span></div>
											<div class="ss-q-help ss-secondary-text" dir="ltr">Please be descriptive &amp; specific</div>
										</label>
										<textarea name="entry.366935380" rows="8" cols="0" class="ss-q-long required" id="entry_366935380" dir="auto" aria-label="Demonstrate why you are a good person to present this topic. Please be descriptive &amp; specific " aria-required="true"></textarea>
										<div class="error-message" id="1420722364_errorMessage"></div>
										<div class="required-message">This is a required question</div>
									</div>
								</div>
							</div>
							<!-- -->
							<div class="floating-fields">
								<div class="ss-form-question errorbox-good" role="listitem">
									<div dir="ltr" class="ss-item-required  ss-text">
										<div class="ss-form-entry">
											<label class="ss-q-item-label" for="entry_1257535469">
												<div class="ss-q-title">Your First Name
													<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
													<span class="ss-required-asterisk">*</span>
												</div>
												<div class="ss-q-help ss-secondary-text" dir="ltr"></div>
											</label>
											<input type="text" name="entry.1257535469" value="" class="ss-q-short required" id="entry_1257535469" dir="auto" aria-label="Your First Name  " aria-required="true" required="" title="This is a required field">
											<div class="error-message" id="725307640_errorMessage"></div>
											<div class="required-message">This is a required question</div>
										</div>
									</div>
								</div>
								<div class="ss-form-question errorbox-good" role="listitem">
									<div dir="ltr" class="ss-item ss-item-required ss-text">
										<div class="ss-form-entry">
											<label class="ss-q-item-label" for="entry_2102658306">
												<div class="ss-q-title">Your Last Name
													<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
													<span class="ss-required-asterisk">*</span>
												</div>
												<div class="ss-q-help ss-secondary-text" dir="ltr"></div>
											</label>
											<input type="text" name="entry.2102658306" value="" class="ss-q-short required" id="entry_2102658306" dir="auto" aria-label="Your Last Name  " aria-required="true" required="" title="">
											<div class="error-message" id="1882253842_errorMessage"></div>
											<div class="required-message">This is a required question</div>
										</div>
									</div>
								</div>
								<div class="ss-form-question errorbox-good" role="listitem">
									<div dir="ltr" class="ss-item ss-item-required ss-text">
										<div class="ss-form-entry">
											<label class="ss-q-item-label" for="entry_847095557">
												<div class="ss-q-title">Your Email Address
													<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
													<span class="ss-required-asterisk">*</span>
												</div>
												<div class="ss-q-help ss-secondary-text" dir="ltr">
												</div>
											</label>
											<input type="email" name="entry.847095557" value="" class="ss-q-short required" id="entry_847095557" dir="auto" aria-label="Your Email Address  " title="">
											<div class="error-message" id="88664581_errorMessage"></div>
											<div class="required-message">This is a required question</div>
										</div>
									</div>
								</div>
								<div class="ss-form-question errorbox-good" role="listitem">
									<div dir="ltr" class="ss-item  ss-text">
										<div class="ss-form-entry">
											<label class="ss-q-item-label" for="entry_387482791">
												<div class="ss-q-title">Your Primary Phone
													<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
													<span class="ss-required-asterisk">*</span>
												</div>
												<div class="ss-q-help ss-secondary-text" dir="ltr"></div>
											</label>
											<input type="text" name="entry.387482791" value="" class="ss-q-short required" id="entry_387482791" dir="auto" aria-label="Your Primary Phone  " aria-required="true" required="" title="">
											<div class="error-message" id="1693748862_errorMessage"></div>
											<div class="required-message">This is a required question</div>
										</div>
									</div>
								</div>
								<div class="ss-form-question errorbox-good" role="listitem">
									<div dir="ltr" class="ss-item ss-item-required ss-text">
										<div class="ss-form-entry">
											<label class="ss-q-item-label" for="entry_1010104473">
												<div class="ss-q-title">Your Company Name
													<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
													<span class="ss-required-asterisk">*</span>
												</div>
												<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
											<input type="text" name="entry.1010104473" value="" class="ss-q-short required" id="entry_1010104473" dir="auto" aria-label="Your Company Name  " aria-required="true" required="" title="">
											<div class="error-message" id="838800406_errorMessage"></div>
											<div class="required-message">This is a required question</div>
										</div>
									</div>
								</div>
								<div class="ss-form-question errorbox-good" role="listitem">
									<div dir="ltr" class="ss-item ss-item-required ss-text">
										<div class="ss-form-entry">
											<label class="ss-q-item-label" for="entry_1066791531">
												<div class="ss-q-title">Your Job Title
													<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
													<span class="ss-required-asterisk">*</span>
												</div>
												<div class="ss-q-help ss-secondary-text" dir="ltr"></div>
											</label>
											<input type="text" name="entry.1066791531" value="" class="ss-q-short required" id="entry_1066791531" dir="auto" aria-label="Your Job Title  " aria-required="true" required="" title="">
											<div class="error-message" id="386576309_errorMessage"></div>
											<div class="required-message">This is a required question</div>
										</div>
									</div>
								</div>
							</div>
							<!-- -->
							<div class="ss-form-question errorbox-good" role="listitem">
								<div dir="ltr" class="ss-item ss-item-required ss-select">
									<div class="ss-form-entry">
										<label class="ss-q-item-label" for="entry_855841674">
											<div class="ss-q-title">What Best Describes You?
												<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
												<span class="ss-required-asterisk">*</span>
											</div>
											<div class="ss-q-help ss-secondary-text" dir="ltr"></div>
										</label>
										<select name="entry.855841674" id="entry_855841674" aria-label="What Best Describes You?  " aria-required="true" required="">
											<option value=""></option>
											<option value="Attorney">Attorney</option>
											<option value="Data provider">Data provider</option>
											<option value="Educator">Educator</option>
											<option value="Family office investor">Family office investor</option>
											<option value="Financial adviser">Financial adviser</option>
											<option value="Individual investor">Individual investor</option>
											<option value="Institutional investor">Institutional investor</option>
											<option value="Investment banker">Investment banker</option>
											<option value="Media">Media</option>
											<option value="Lending Platform">Lending Platform</option>
											<option value="Press">Press</option>
											<option value="Regulator/Legislator">Regulator/Legislator</option>
											<option value="Service Provider">Service Provider</option>
											<option value="Traditional bank or other financial firm">Traditional bank or other financial firm</option>
											<option value="Venture Capitalist">Venture Capitalist</option>
										</select>
										<div class="required-message">This is a required question</div>
									</div>
								</div>
							</div>
							<input class="required" type="hidden" name="draftResponse" value="[,,&quot;-5426528595553557963&quot;]
							">
							<input type="hidden" name="pageHistory" value="0">
							<input type="hidden" name="fbzx" value="6571475748287100787">
							<div class="ss-item ss-navigate">
								<table id="navigation-table">
									<tbody>
										<tr>
											<td class="ss-form-entry goog-inline-block" id="navigation-buttons" dir="ltr"><input type="submit" name="submit" value="Submit" id="ss-submit">
												<div class="ss-password-warning ss-secondary-text" style="display:none;">Never submit passwords through Google Forms.</div></td>
											<td id="progress-container"><div id="progress-bar" class="jfk-progressBar-nonBlocking progress-bar-horizontal goog-inline-block"></div>
												<div id="progress-label" class="progress-label" style="display:none;">100%: You made it.</div></td>
										</tr>
									</tbody>
								</table>
							</div>
						</ol>
					</form>
				</div>
			</div>

		</div>
	</div>

