<%= title "LendIt Conference Speakers Sign-Up Page" %>
<% meta_description "LendIt USA 2015 Conference speakers are esteemed leaders in the peer-to-peer industry." %>
<% meta_keywords "p2p, online lending, peer-to-peer, LendIt, speakers, presenters, signup" %>

<div class="speaker-signup">
	<div class="container">

		<script type="text/javascript">var submitted=false;</script>
		<iframe name="hidden_iframe" id="hidden_iframe"
		style="display:none;" onload="if(submitted)
		{window.location='/speakers/thank-you';}">
		</iframe>


			<div class="row">
				<div class="columns">
					<h1>Become a LendIt Speaker</h1>
					<form action="https://docs.google.com/forms/d/1jfqp8WWdA8MTS2lqvEReY4-NJ7ZKuf-YDOEQENBRKKA/formResponse" method="POST" id="ss-form" target="hidden_iframe" onsubmit="submitted=true;">
						<ol role="list" class="ss-question-list" style="padding-left: 0">
							<div class="ss-form-question errorbox-good" role="listitem">
								<div dir="ltr" class="ss-item ss-item-required ss-select">
									<div class="ss-form-entry">
										<label class="ss-q-item-label" for="entry_1632248203">
											<div class="ss-q-title">For which event are you requesting a speaking role?
												<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
												<span class="ss-required-asterisk" aria-hidden="true">*</span>
											</div>
											<div class="ss-q-help ss-secondary-text" dir="ltr"></div>
										</label>
										<select name="entry.1632248203" id="entry_1632248203" aria-label="For which event are you requesting a speaking role?  " aria-required="true" required="">
											<option value=""></option>
											<option value="LendIt USA 2015 (April 2015)">LendIt USA 2015 (April 2015)</option>
											<option value="LendIt Europe 2015 (October 2015)">LendIt Europe 2015 (October 2015)</option>
										</select>
										<div class="required-message">This is a required question</div>
									</div>
								</div>
							</div>

							<div class="ss-form-question errorbox-good" role="listitem">
								<div dir="ltr" class="ss-item ss-item-required ss-text">
									<div class="ss-form-entry">
										<label class="ss-q-item-label" for="entry_696809751">
											<div class="ss-q-title">First Name
												<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
												<span class="ss-required-asterisk" aria-hidden="true">*</span>
											</div>
											<div class="ss-q-help ss-secondary-text" dir="ltr"></div>
										</label>
										<input type="text" name="entry.696809751" value="" class="ss-q-short" id="entry_696809751" dir="auto" aria-label="First Name  " aria-required="true" required="" title="">
										<div class="error-message" id="1969484987_errorMessage"></div>
										<div class="required-message">This is a required question</div>
									</div>
								</div>
							</div>

							<div class="ss-form-question errorbox-good" role="listitem">
								<div dir="ltr" class="ss-item ss-item-required ss-text">
									<div class="ss-form-entry">
										<label class="ss-q-item-label" for="entry_1072665029">
											<div class="ss-q-title">Last Name
												<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
												<span class="ss-required-asterisk" aria-hidden="true">*</span>
											</div>
											<div class="ss-q-help ss-secondary-text" dir="ltr"></div>
										</label>
										<input type="text" name="entry.1072665029" value="" class="ss-q-short" id="entry_1072665029" dir="auto" aria-label="Last Name  " aria-required="true" required="" title="">
										<div class="error-message" id="1172655878_errorMessage"></div>
										<div class="required-message">This is a required question</div>
									</div>
								</div>
							</div>

							<div class="ss-form-question errorbox-good" role="listitem">
								<div dir="ltr" class="ss-item ss-item-required ss-text">
									<div class="ss-form-entry">
										<label class="ss-q-item-label" for="entry_1655810441">
											<div class="ss-q-title">Email Address
												<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
												<span class="ss-required-asterisk" aria-hidden="true">*</span>
											</div>
											<div class="ss-q-help ss-secondary-text" dir="ltr"></div>
										</label>
										<input type="text" name="entry.1655810441" value="" class="ss-q-short" id="entry_1655810441" dir="auto" aria-label="Email Address  " aria-required="true" required="" title="">
										<div class="error-message" id="264272588_errorMessage"></div>
										<div class="required-message">This is a required question</div>
									</div>
								</div>
							</div>

							<div class="ss-form-question errorbox-good" role="listitem">
								<div dir="ltr" class="ss-item ss-item-required ss-text">
									<div class="ss-form-entry">
										<label class="ss-q-item-label" for="entry_1484707058">
											<div class="ss-q-title">Primary Phone
												<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
												<span class="ss-required-asterisk" aria-hidden="true">*</span>
											</div>
											<div class="ss-q-help ss-secondary-text" dir="ltr"></div>
										</label>
										<input type="text" name="entry.1484707058" value="" class="ss-q-short" id="entry_1484707058" dir="auto" aria-label="Primary Phone  " aria-required="true" required="" title="">
										<div class="error-message" id="115134702_errorMessage"></div>
										<div class="required-message">This is a required question</div>
									</div>
								</div>
							</div>

							<div class="ss-form-question errorbox-good" role="listitem">
								<div dir="ltr" class="ss-item ss-item-required ss-text">
									<div class="ss-form-entry">
										<label class="ss-q-item-label" for="entry_19653283">
											<div class="ss-q-title">Company Name
												<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
												<span class="ss-required-asterisk" aria-hidden="true">*</span>
											</div>
											<div class="ss-q-help ss-secondary-text" dir="ltr"></div>
										</label>
										<input type="text" name="entry.19653283" value="" class="ss-q-short" id="entry_19653283" dir="auto" aria-label="Company Name  " aria-required="true" required="" title="">
										<div class="error-message" id="1975284387_errorMessage"></div>
										<div class="required-message">This is a required question</div>
									</div>
								</div>
							</div>

							<div class="ss-form-question errorbox-good" role="listitem">
								<div dir="ltr" class="ss-item ss-item-required ss-text">
									<div class="ss-form-entry">
										<label class="ss-q-item-label" for="entry_2071884495">
											<div class="ss-q-title">Job Title
												<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
												<span class="ss-required-asterisk" aria-hidden="true">*</span>
											</div>
											<div class="ss-q-help ss-secondary-text" dir="ltr"></div>
										</label>
										<input type="text" name="entry.2071884495" value="" class="ss-q-short" id="entry_2071884495" dir="auto" aria-label="Job Title  " aria-required="true" required="" title="">
										<div class="error-message" id="568958994_errorMessage"></div>
										<div class="required-message">This is a required question</div>
									</div>
								</div>
							</div>

							<div class="ss-form-question errorbox-good" role="listitem">
								<div dir="ltr" class="ss-item ss-item-required ss-select">
									<div class="ss-form-entry">
										<label class="ss-q-item-label" for="entry_1489349417">
											<div class="ss-q-title">What Best Describes You?
												<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
												<span class="ss-required-asterisk" aria-hidden="true">*</span>
											</div>
											<div class="ss-q-help ss-secondary-text" dir="ltr"></div>
										</label>
										<select name="entry.1489349417" id="entry_1489349417" aria-label="What Best Describes You?  " aria-required="true" required="">
											<option value=""></option>
											<option value="Attorney">Attorney</option> <option value="Data provider">Data provider</option>
											<option value="Educator">Educator</option> <option value="Family office investor">Family office investor</option>
											<option value="Financial adviser">Financial adviser</option>
											<option value="Individual investor">Individual investor</option>
											<option value="Institutional investor">Institutional investor</option>
											<option value="Investment banker">Investment banker</option>
											<option value="Media">Media</option>
											<option value="Lending Platform">Lending Platform</option>
											<option value="Press">Press</option>
											<option value="Regulator/Legislator">Regulator/Legislator</option>
											<option value="Service Provider">Service Provider</option>
											<option value="Traditional bank or other financial firm">Traditional bank or other financial firm</option>
											<option value="Venture Capitalist">Venture Capitalist</option>
										</select>
										<div class="required-message">This is a required question</div>
									</div>
								</div>
							</div>

							<div class="ss-form-question errorbox-good" role="listitem">
								<div dir="ltr" class="ss-item ss-item-required ss-paragraph-text"><div class="ss-form-entry">
									<label class="ss-q-item-label" for="entry_1829500157">
										<div class="ss-q-title">Which topic would you like to cover?
											<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
											<span class="ss-required-asterisk" aria-hidden="true">*</span>
										</div>
										<div class="ss-q-help ss-secondary-text" dir="ltr">Please be descriptive &amp; specific</div>
									</label>
									<textarea name="entry.1829500157" rows="8" cols="0" class="ss-q-long" id="entry_1829500157" dir="auto" aria-label="Which topic would you like to cover? Please be descriptive &amp; specific " aria-required="true" required=""></textarea>
									<div class="error-message" id="841328431_errorMessage"></div>
									<div class="required-message">This is a required question</div>
								</div>
							</div>
						</div>

						<div class="ss-form-question errorbox-good" role="listitem">
							<div dir="ltr" class="ss-item ss-item-required ss-paragraph-text">
								<div class="ss-form-entry">
									<label class="ss-q-item-label" for="entry_2056241339">
										<div class="ss-q-title">Demonstrate why you are a good person to present this topic.
											<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
											<span class="ss-required-asterisk" aria-hidden="true">*</span>
										</div>
										<div class="ss-q-help ss-secondary-text" dir="ltr">Please be descriptive &amp; specific</div>
									</label>
									<textarea name="entry.2056241339" rows="8" cols="0" class="ss-q-long" id="entry_2056241339" dir="auto" aria-label="Demonstrate why you are a good person to present this topic. Please be descriptive &amp; specific " aria-required="true" required=""></textarea>
									<div class="error-message" id="1243961870_errorMessage"></div>
									<div class="required-message">This is a required question</div>
								</div>
							</div>
						</div>

						<input type="hidden" name="draftResponse" value="[,,&quot;1954952317962058329&quot;]
						">
						<input type="hidden" name="pageHistory" value="0">
						<input type="hidden" name="fbzx" value="1954952317962058329">
						<div class="ss-item ss-navigate">
							<table id="navigation-table">
								<tbody>
									<tr>
										<td class="ss-form-entry goog-inline-block" id="navigation-buttons" dir="ltr">
											<input type="submit" name="submit" value="Submit" id="ss-submit" class="jfk-button jfk-button-action ">

										</td>
									</tr>
								</tbody>
							</table>
						</div>


					</ol>
				</form>
			</div>
		</div>

	</div>
</div>