

<h2>No Transition + fixed width and height (75% of screen size)</h2>
<p><a class="group3" href="https://s3-us-west-2.amazonaws.com/lendit/sponsors/lendit-usa-2015/afluenta.psd-th.jpeg" title="Me and my grandfather on the Ohoopee.">Afluenta</a></p>
<p><a class="group3" href="https://s3-us-west-2.amazonaws.com/lendit/sponsors/lendit-usa-2015/applepie.psd-th.jpeg" title="On the Ohoopee as a child">Apple Pie</a></p>
<p><a class="group3" href="https://s3-us-west-2.amazonaws.com/lendit/sponsors/lendit-usa-2015/asset-avenue.psd-th.jpeg" title="On the Ohoopee as an adult">Asset Avenue</a></p>
<p><a class="group3" href="https://s3-us-west-2.amazonaws.com/lendit/sponsors/lendit-usa-2015/afluenta.psd-th.jpeg" title="Me and my grandfather on the Ohoopee.">Afluenta</a></p>
<p><a class="group3" href="https://s3-us-west-2.amazonaws.com/lendit/sponsors/lendit-usa-2015/applepie.psd-th.jpeg" title="On the Ohoopee as a child">Apple Pie</a></p>
<p><a class="group3" href="https://s3-us-west-2.amazonaws.com/lendit/sponsors/lendit-usa-2015/asset-avenue.psd-th.jpeg" title="On the Ohoopee as an adult">Asset Avenue</a></p>
<p><a class="group3" href="https://s3-us-west-2.amazonaws.com/lendit/sponsors/lendit-usa-2015/afluenta.psd-th.jpeg" title="Me and my grandfather on the Ohoopee.">Afluenta</a></p>
<p><a class="group3" href="https://s3-us-west-2.amazonaws.com/lendit/sponsors/lendit-usa-2015/applepie.psd-th.jpeg" title="On the Ohoopee as a child">Apple Pie</a></p>
<p><a class="group3" href="https://s3-us-west-2.amazonaws.com/lendit/sponsors/lendit-usa-2015/asset-avenue.psd-th.jpeg" title="On the Ohoopee as an adult">Asset Avenue</a></p>
<p><a class="group3" href="https://s3-us-west-2.amazonaws.com/lendit/sponsors/lendit-usa-2015/afluenta.psd-th.jpeg" title="Me and my grandfather on the Ohoopee.">Afluenta</a></p>
<p><a class="group3" href="https://s3-us-west-2.amazonaws.com/lendit/sponsors/lendit-usa-2015/applepie.psd-th.jpeg" title="On the Ohoopee as a child">Apple Pie</a></p>
<p><a class="group3" href="https://s3-us-west-2.amazonaws.com/lendit/sponsors/lendit-usa-2015/asset-avenue.psd-th.jpeg" title="On the Ohoopee as an adult">Asset Avenue</a></p>
<p><a class="group3" href="https://s3-us-west-2.amazonaws.com/lendit/sponsors/lendit-usa-2015/afluenta.psd-th.jpeg" title="Me and my grandfather on the Ohoopee.">Afluenta</a></p>
<p><a class="group3" href="https://s3-us-west-2.amazonaws.com/lendit/sponsors/lendit-usa-2015/applepie.psd-th.jpeg" title="On the Ohoopee as a child">Apple Pie</a></p>
<p><a class="group3" href="https://s3-us-west-2.amazonaws.com/lendit/sponsors/lendit-usa-2015/asset-avenue.psd-th.jpeg" title="On the Ohoopee as an adult">Asset Avenue</a></p>
<p><a class="group3" href="https://s3-us-west-2.amazonaws.com/lendit/sponsors/lendit-usa-2015/afluenta.psd-th.jpeg" title="Me and my grandfather on the Ohoopee.">Afluenta</a></p>
<p><a class="group3" href="https://s3-us-west-2.amazonaws.com/lendit/sponsors/lendit-usa-2015/applepie.psd-th.jpeg" title="On the Ohoopee as a child">Apple Pie</a></p>
<p><a class="group3" href="https://s3-us-west-2.amazonaws.com/lendit/sponsors/lendit-usa-2015/asset-avenue.psd-th.jpeg" title="On the Ohoopee as an adult">Asset Avenue</a></p>
<p><a class="group3" href="https://s3-us-west-2.amazonaws.com/lendit/sponsors/lendit-usa-2015/afluenta.psd-th.jpeg" title="Me and my grandfather on the Ohoopee.">Afluenta</a></p>
<p><a class="group3" href="https://s3-us-west-2.amazonaws.com/lendit/sponsors/lendit-usa-2015/applepie.psd-th.jpeg" title="On the Ohoopee as a child">Apple Pie</a></p>
<p><a class="group3" href="https://s3-us-west-2.amazonaws.com/lendit/sponsors/lendit-usa-2015/asset-avenue.psd-th.jpeg" title="On the Ohoopee as an adult">Asset Avenue</a></p>
<p><a class="group3" href="https://s3-us-west-2.amazonaws.com/lendit/sponsors/lendit-usa-2015/afluenta.psd-th.jpeg" title="Me and my grandfather on the Ohoopee.">Afluenta</a></p>
<p><a class="group3" href="https://s3-us-west-2.amazonaws.com/lendit/sponsors/lendit-usa-2015/applepie.psd-th.jpeg" title="On the Ohoopee as a child">Apple Pie</a></p>
<p><a class="group3" href="https://s3-us-west-2.amazonaws.com/lendit/sponsors/lendit-usa-2015/asset-avenue.psd-th.jpeg" title="On the Ohoopee as an adult">Asset Avenue</a></p>

