<%= title "LendIt Conference Team thanks you!" %>
<% meta_description "LendIt USA Conference speakers are esteemed leaders in the peer-to-peer industry." %>
<% meta_keywords "p2p, online lending, peer-to-peer, LendIt, conference" %>
<%= canonical_tag -%>

<main>
  <div class="thank-you-speaker">
    <div class="container">
      <h1>Thank You</h1>
      <section>
        <p>Thank you for submitting your presentation idea! We will be in touch once we have fully considered your request.</p>



        <p>Click <a href="/">here</a> to return to the LendIt homepage.</p>
        <%#= image_tag "lendIt-banner-300x250.jpg" %>
      </section>
    </div>
  </div>
</main>`