<main>
  <div class="thank-you-speaker">
    <div class="container">
      <section>
        <p>Thank you for submitting your presentation idea! We will be in touch once we have fully considered your request.</p>

        <p>Click <a href="/">here</a> to return to the LendIt homepage.</p>
      </section>
    </div>
  </div>
</main>