<footer>
	<div class="footer-inside">
		<div class="row">
			<div class="columns small-24 medium-10 large-10">
				<%= render '/layouts/get_updates' %>
			</div>
			<div class="columns small-15 medium-9 large-9">
				<div class="footer-header">
					Connect with us<span>
						 on Social Media
					</span>:
				</div>
				<ul class="social">
					<li><a href="https://www.facebook.com/LenditConference" target="_blank" class="facebook"><i class="fa fa-facebook-square"></i>Facebook</a></li>
					<li><a href="https://twitter.com/lenditconf" target="_blank" class="twitter"><i class="fa fa-twitter-square"></i>Twitter</a></li>
					<li><a href="https://www.linkedin.com/groups/LendIt-Conference-4942480?home=&gid=4942480&trk=anet_ug_hm" class="linkedin" target="_blank"><i class="fa fa-linkedin-square"></i>LinkedIn</a></li>
					<li><a href="http://youtube.com/lenditconference" target="_blank" class="youtube"><i class="fa fa-youtube-square"></i>YouTube</a></li>
					<li><a href="mailto:bladimir@lendit.co" class="email">Email</a></li>
				</ul>

			</div>
			<div class="columns small-9 medium-5 large-5 call-us">
				<div class="panel">
					<div>
						<i class="fa fa-phone-square"></i>
					</div>
					<div>
						Call us at
					</div>
					<div>
						<b>
							646-930-6361
						</b>
					</div>
			</div>
			</div>
		</div>
		<div class="row">
			<div class="columns">
				<div class="bottom-link-area">
					<div class="bottom-links">
						<a href="/networking">Networking</a>
						<a href="/press">Press</a>
						<a href="/team">Team</a>
						<a href="/archives">Archives</a>
						<a href="mailto:info@lendit.co">Contact Us</a>
						<a href="/volunteers">Volunteers</a>
						<a href="/terms-of-use">Terms of Use</a>
						<a href="/privacy">Privacy</a>
					</div>
			</div>
		</div>
		</div>
	</div>
</footer>
