<nav>
	<div class="container">
		<div class="nav-logo">
			<!-- <a href="/"><%#= image_tag 'https://s3-us-west-2.amazonaws.com/lendit/lendi-logo-header.png', :title => 'LendIt logo', :alt => 'LendIt' %></a> -->

			<a href="/"><%= image_tag 'https://s3-us-west-2.amazonaws.com/lendit/lenditlogo_toscale_header_nodrpshadow.png', :title => 'LendIt logo', :alt => 'LendIt' %></a>

		</div>
		<ul>
			<li><a href="/" class="tab-home">Home</a></li>
			<li><a href="/sponsors" class="tab-sponsors">Sponsors</a></li>
			<li><a href="/speakers" class="tab-speakers">Speakers</a></li>
			<li><a href="https://www.youtube.com/user/LendItConference/" target="_blank" class="tab-videos">Videos</a></li>
			<li><a href="/about" class="tab-about">About</a></li>
			<li><a href="#" class="tab-register">Register</a></li>
		</ul>
  </div>
</nav>
