<div class="navbar-area">
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="logo-area">
				<a href="/" class="nav-logo"></a>
			</div>
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">

					<ul id="menu-main-menu" class="nav navbar-nav">

						<li class="menu-item"><a href="/">Home</a></li>
						<li><a href="/sponsors">Sponsors</a></li>
						<li><a href="/speakers">Speakers</a></li>
						<li><a href="/videos">Videos</a></li>

<!-- 						<li class="menu-item menu-item-has-children dropdown">
							<a title="Videos" href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">Videos
							<span class="caret"></span>
							</a>

							<ul role="menu" class="dropdown-menu">
								<li class="menu-item"><a href="/europe/2014/videos">LendIt Europe 2014 Videos</a></li>
								<li class="menu-item"><a href="/usa/2014/videos">LendIt USA 2014 Videos</a></li>
							</ul>
						</li> -->

						<li><a href="http://blog.lendit.co/">Blog</a></li>

						<li class="menu-item menu-item-has-children dropdown">
							<a title="Conferences" href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">
								Conferences
								<span class="caret"></span>
							</a>

							<ul role="menu" class="dropdown-menu">
								<li class="menu-item"><a href="/europe">LendIt Europe</a></li>
								<li class="menu-item"><a href="/usa">LendIt USA</a></li>
							</ul>

						</li>
						<li><a href="/about">About</a></li>
						<li class="menu-item menu-item-has-children dropdown">
							<a title="Register" href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">Register
							<span class="caret"></span>
							</a>

							<ul role="menu" class="dropdown-menu">
								<li class="menu-item"><a href="http://register.lendit.co/d/t4qbfm/4W" onclick="_gaq.push(['_link', 'http://register.lendit.co/d/t4qbfm/4W']); return false;" target="_blank">LendIt USA</a></li>
							</ul>
						</li>

					</ul>

				</div>
			</div>
		</div>
	</nav>
</div>




