<div>
  <a href="/">LOGO</a>
</div>
<ul>
  <li><a href="/sponsors">SPONSORS</a></li>
  <li><a href="/speakers">SPEAKERS</a></li>
  <li><a href="/videos">VIDEOS</a></li>
  <li><a href="/about">ABOUT</a></li>
</ul>