<div class="nav-logo">
  <a href="/">LOGO</a>
</div>
<div class="nav-bar">
  <ul>
    <li><a href="/sponsors">SPONSORS</a></li>
    <li><a href="/speakers">SPEAKERS</a></li>
    <li><a href="/videos">VIDEOS</a></li>
    <li><a href="/about">ABOUT</a></li>
    <li><a href="#">BUY TICKETS!</a></li>
  </ul>
</div>