<div class="nav-container">
<nav id="nav" role="navigation">

	<a href="#nav" title="Show navigation">Show navigation</a>
	<a href="#" title="Hide navigation">Hide navigation</a>
	<ul class="clearfix">
		<li><a href="/">Home</a></li>
		<li>
			<a href="/" aria-haspopup="true"><span>Conferences</span></a>
			<ul>
				<li><a href="/europe">Europe</a></li>
				<li><a href="/nyc">NYC</a></li>
				<li><a href="/china">China</a></li>
			</ul>
		</li>
		<li><a href="/sponsors">Sponsors</a></li>
		<li><a href="/speakers">Speakers</a></li>
		<li><a href="https://www.youtube.com/user/LendItConference/">Videos</a></li>
		<li><a href="/about">About</a></li>
		<li>
			<a href="/" aria-haspopup="true"><span>Register</span></a>
			<ul>
				<li><a href="http://register.lendit.co/europe" onclick="_gaq.push(['_link', 'http://register.lendit.co/europe']); return false;" target="_blank">Europe</a></li>
				<li><a href="#">NYC</a></li>
			</ul>
		</li>
	</ul>
</nav>
</div>




