<nav>
	<div class="container">
		<div class="nav-logo">
			<a href="/"><%= image_tag 'https://s3-us-west-2.amazonaws.com/lendit/lendi-logo-header.png', :title => 'LendIt logo', :alt => 'LendIt' %></a>
<!-- 			<a href="/"><%#= image_tag 'https://s3-us-west-2.amazonaws.com/lendit/lenditlogo_toscale_header_nodrpshadow.png', :title => 'LendIt logo', :alt => 'LendIt' %> -->
		</div>
		<ul>
			<li><a href="/sponsors" class="active">SPONSORS</a></li>
			<li><a href="/speakers">SPEAKERS</a></li>
			<li><a href="https://www.youtube.com/user/LendItConference/" target="_blank">VIDEOS</a></li>
			<li><a href="/about">ABOUT</a></li>
			<li><a href="#">BUY TICKETS!</a></li>
		</ul>
  </div>
</nav>
