<div class="nav-container">
<nav id="nav" role="navigation">

	<a href="#nav" title="Show navigation">Show navigation</a>
	<a href="#" title="Hide navigation">Hide navigation</a>
	<ul class="clearfix">
		<li><a href="/">Home</a></li>
		<li>
			<a href="/" aria-haspopup="true"><span>Conferences</span></a>
			<ul>
				<li><a href="#">Europe</a></li>
				<li><a href="#">NYC</a></li>
				<li><a href="#">China</a></li>
			</ul>
		</li>
		<li><a href="/sponsors">Sponsors</a></li>
		<li><a href="/speakers">Speakers</a></li>
		<li><a href="https://www.youtube.com/user/LendItConference/">Videos</a></li>
		<li>
			<a href="/about" aria-haspopup="true"><span>About</span></a>
			<ul>
				<li><a href="http://register.lendit.co/europe" onclick="_gaq.push(['_link', 'http://register.lendit.co/europe']); return false;" target="_blank">Register</a></li>
				<li><a href="http://register.lendit.co/europe" onclick="_gaq.push(['_link', 'http://register.lendit.co/europe']); return false;" target="_blank">Europe</a></li>
				<li><a href="">NYC</a></li>
			</ul>
		</li>
	</ul>
</nav>
</div>




<!-- 
<div class="nav-logo">
	<a href="/"><%= image_tag 'https://s3-us-west-2.amazonaws.com/lendit/lenditlogo_toscale_header_nodrpshadow.png', :title => 'LendIt logo', :alt => 'LendIt' %></a>
</div>
-->
